[2022-09-06 17:56] #1721 closed

[2022-09-06 18:05] Pradumnasaraf opened #1728 "[DOCS] Add the LinkFree CLI step in README"
### Description

Add LinkFree CLI option to create your JSON file in `To Add Your Profile in the README. Something like creating an option for manual and CLI.

The addition should also include the command and the explanation of how to create the file through CLI

[code]

![Screenshot from 2022-09-10 21-48-39](https://user-images.githubusercontent.com/51878265/189492331-c7e7e07d-0fcc-426c-8689-7f50

[2022-09-08 09:01] Ann-design-max commented on #1069
@EmmaDawsonDev @eddiejaoude I believe what @KendallDoesCoding was referring to should look like this. Let me know if this is something we want to build upon
![Announcement Bar A](https://user-images.githubusercontent.com/62697124/189080540-0c437308-8696-4b6c-8832-ebe1bc62ff27.png)
![Announcement Bar B](https://user-images.githubusercontent.com/62697124/189080546-3284916f-a351-4b6e-93ba-95b7a01e3f2

[2022-09-08 09:22] Ann-design-max opened #1732 "[Number of Filter Results] <Enhancing the Search Experience>"
### Description

As number of profiles expand, adding the no of profiles showing based on searched keyword and filter applied. Here is a simple UI solution I thought about. I am more inclined to the A view (single row) arrangement cause this way the profiles wont be pushed down the viewport as compared to the B view where it's a two row arrangement.

 I will be happy to work on this if assigned

[2022-09-08 10:32] eddiejaoude commented on #1069
I think we have done something similar in the new version 2 which is in the "nextjs" branch - I can take another look when I get back home

[2022-09-08 16:13] izzarzn opened #1736 "[DOCS] <Add a direct link to add profile for Linkfree in Readme File>"
### Description

We can make adding of profile more accessible by adding a link in Readme File to add user profile directly.a

### Screenshots

![Screenshot 2022-09-08 at 9 40 12 PM](https://user-images.githubusercontent.com/65058286/189172659-a4c36103-514f-4428-b203-d9c8b6b161d8.png)

### Additional information

_No response_

[2022-09-08 16:42] izzarzn commented on #1736
![Screenshot 2022-09-08 at 10 11 30 PM](https://user-images.githubusercontent.com/65058286/189178551-afdbf891-c851-4378-a549-28cb314bbc04.png)

[2022-09-08 22:54] eddiejaoude commented on #1732
Thank you for the suggestion Ann! 👍 We are migrating the project from React + PrimeReact to NextJS + TailwindCSS, so you might want to look at the branch/pull request with the on going work and contribute there, here is the link https://github.com/EddieHubCommunity/LinkFree/pull/1471

[2022-09-10 09:27] Niravprajapati1 commented on #972
we can do this with this component https://www.primefaces.org/primereact/tabview/

[2022-09-10 22:12] HondaChan14 commented on #1728
Hello can I be assigned to this?

[2022-09-11 00:47] Panquesito7 commented on #1728
Sure, feel free to work on it! 🙂

[2022-09-11 10:49] Maaz-Code opened #1745 "Adding my Profile! [Maaz Ahmed]"
### What would you like to share?

Hello! I also want to add my profile and links to the project. So will be making a PR for this. Thank you!

![image](https://user-images.githubusercontent.com/65590762/189523372-b64d14fe-e51a-4b5a-9e25-bf4606e9ab2e.png)

### Additional information

_No response_

[2022-09-11 12:01] #1745 closed

[2022-09-12 17:23] EmmaDawsonDev commented on #1732
Nice idea. I like the idea of having them all in one line like in sample A but I wonder if it would be more logical to have the search/dropdown on the left and then number of profiles on the right.

[2022-09-13 20:19] data2kinyungu commented on #1736
That would be great. However I think that hide the abstraction of adding the profile for Linkfree

[2022-09-13 20:20] data2kinyungu commented on #1736
That would be great. However I think that hide the abstraction of adding the profile for Linkfree

[2022-09-15 04:20] #1215 closed

[2022-09-15 04:27] #1334 closed

[2022-09-16 03:47] ngdream opened #1761 "add the dev.to icon"
### Description

dev.to is a social media for developers

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-16 07:30] KlausMikhaelson commented on #1761
Hey @ngdream are we supposed to just add this social in the readme ? would like to work on it

[2022-09-16 07:36] #1761 closed

[2022-09-17 16:34] Saha-7 commented on #1728
Hello maintainers can you assigned me to this issue, I have already progressed a lot & pushed it into my forked repo.

[2022-09-18 04:59] Saha-7 commented on #1728
It will be really helpful for the beginners to add their profile in the LinkFree project by reading the Readme.MD file.
waiting for your reply.

[2022-09-18 08:11] Pradumnasaraf commented on #1728
Hey, @Saha-7 this issue is already assigned to @HondaChan14. Please look for some other issues.

[2022-09-19 12:12] Rounak-28 opened #1770 "`share` icon in not aligned properly"
### Description

In profile eg. `linkfree.eddiehub.io/eddiejaoude`  the share icon is not aligned properly.

### Screenshots

![linkfree](https://user-images.githubusercontent.com/95576871/191014380-7f41bf64-0fd3-4595-b289-0e21e9b0313e.jpg)

### Additional information

_No response_

[2022-09-19 13:32] abitsalihu commented on #1770
Hey, I would like to help with this issue. :)

[2022-09-20 03:18] HondaChan14 commented on #1728
No worries if he has already has it sent. I have no issues with letting him take this :)

[2022-09-20 03:28] Pradumnasaraf commented on #1728
You can work on it. No worries. Will be waiting for your PR. If you have any issue let us know!

[2022-09-22 17:34] greenchapeljohn opened #1785 "[DOCS] Not Obvious what version of node the project runs on"
### Description

Project fails to build if node is v18
Redeme should be updated with node version

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-23 05:22] Rajeevjewar commented on #1770
I want to work on it.

[2022-09-24 06:18] BoseSj commented on #27
Hi, I want to work on this issue. Please let me know, how to understand the problem and go through it.

[2022-09-24 17:26] #1785 closed

[2022-09-24 17:31] #1770 closed

[2022-09-25 06:21] #1285 closed

[2022-09-25 06:21] steveanthony999 commented on #1285
Great job!

[2022-09-25 14:07] eddiejaoude opened #1796 "[FEATURE] User to list events they are going to"
### Description

It would be great to see what events people are going to, some field ideas

- date + time
- title
- description
- link
- location (or virtual and type: space, live etc)

Then later on we can display all up and coming events for everyone on the platform

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-25 15:27] anirudhp26 commented on #1796
Hey there, @eddiejaoude , I would like to contribute to this feature!

[2022-09-25 17:42] anirudhp26 commented on #1796
@imlakshay08 Hey I just got assigned, now I want to know should we make users edit their profiles whenever they get to know about any event or we should make separate directory ( public/events ) where users will save the events they are attending in the format of json files ( username_eventname.json )

[2022-09-25 17:55] imlakshay08 commented on #1796
Seperate directory sounds good.

[2022-09-25 17:56] anirudhp26 commented on #1796
Great then let's wait for approval

[2022-09-25 17:56] anirudhp26 commented on #1796
I already made the route and Event Page

[2022-09-25 17:58] Shubhdeep12 opened #1798 "[FEATURE] To add google tracking id for user profile."
### Description

It would be helpful for a user to see the analytics and if we support adding google analytics tracking id in json file.
It would be helpful.

Please confirm if this is a valid feature.
I would love to do this.

---

By Eddie

- I think the field `gAnalytics` can be added to people's profiles
- if `gAnalytics` is available in the profile, then add to their profile page

[2022-09-25 17:58] anirudhp26 commented on #1796
![image](https://user-images.githubusercontent.com/107875381/192158050-8b0ae57c-0140-4da6-a349-7c2afae50148.png)

Does this button look good? @imlakshay08

[2022-09-25 18:00] imlakshay08 commented on #1796
Yes. Sure.

[2022-09-25 18:00] imlakshay08 commented on #1796
This is looks awesome.

[2022-09-26 06:23] anirudhp26 commented on #1798
Can I know more about this feature you suggested?

[2022-09-27 03:23] VarathaRamanujam commented on #935
great

[2022-09-27 09:13] eddiejaoude opened #1811 "Add hacktoberfest topic + automate exclude label for profiles"
### What would you like to share?

- add hacktoberfest label to repo
- automate with Reviewpad adding label `hacktoberfest-invalid` if there is a profile change

### Additional information

_No response_

[2022-09-27 09:21] #1811 closed

[2022-09-27 10:13] eddiejaoude commented on #1796
Thank you all for the collaboration, the initial idea was so that each person can add events to their data and it be displayed on their profile, then we can also collect the data to show what events are coming up on a separate page.

Something like this...

[code]

This data would appear on my profile page in this situation. Then there could be an overall events page to display everyone's events t

[2022-09-27 10:58] anirudhp26 commented on #1796
Sure! I'll implement the idea you suggested @eddiejaoude

[2022-09-27 11:18] eddiejaoude commented on #1796
Great 👍 , it would be better if you did it from the `nextjs` branch, so it is not lost when we migrate to v2

Some tips
- keep the pull requests very small, we can merge little and often
- create the pull request early using `draft` pull request to save you wasting any time

[2022-09-27 17:22] AgniveshChaubey commented on #1798
Hey @Shubhdeep12, I wanna work on this issue! I am new to opensource contribution, so it'd be more helpful to me if some more info is provided.

[2022-09-27 17:31] anirudhp26 commented on #1796
@imlakshay08 Do you have experience using Next.js?

[2022-09-27 17:35] Shubhdeep12 commented on #1798
Hi @anirudhp26 @AgniveshChaubey
Thanks for the interest in the feature.
I also want to do this but want to confirm whether this is valid or not.
Explanation - In order to create a linkfree page, we need to create a json file, so what i am suggesting is the support to have a google analytics tracking id in the json file, so that user can have the analytics of his/her linkfree page.
@eddiejaoude sor

[2022-09-27 17:38] anirudhp26 commented on #1798
@Shubhdeep12 ohh so you mean to track info like whose profile is viewed more, all ?
This can be a great feature as well

[2022-09-27 17:49] imlakshay08 commented on #1796
Nope buddy. But, I can try.

[2022-09-29 17:15] Pradumnasaraf opened #1829 "Improve the .dockerignore file to reduce the build image size"
### Description

improve the .dockerignore file to reduce the build size

[2022-10-01 02:47] OmAvhad commented on #1829
Hello @Pradumnasaraf,
I am a newbie want to start to contribute for opensource and want to participate for hacktober fest.

Can I work on this issue ?

[2022-10-01 03:17] OmAvhad commented on #1829
@Pradumnasaraf and could you please mark other issues hacktober label

[2022-10-01 03:46] Keshraf opened #1838 "[FEATURE] Add Dark Mode"
### Description

EddieHub is a community of developers and open-source enthusiasts. And who doesn't love dark mode more than them? I would like to add dark mode support.

Please assign this issue to me and attach the Hackoberfest label.

### Screenshots

_No response_

### Additional information

🌚

[2022-10-01 06:22] Vedant-Manjrekar commented on #1672
@schmelto  @ChinmayMhatre i would like to work on this issue.

[2022-10-01 07:53] Vedant-Manjrekar commented on #1672
@schmelto how is this,
1. Added **search profiles** next to the search icon for better understanding of its use case as mentioned by @AkshithBellare
2. A **"see profiles 🔎 for inspiration"** instead of "See profile for an example" which redirects user to the search profile page as mentioned by @nathgoutam93

Ready add a PR if changes are approved.

<img width="1065" alt="Screenshot 2022-10-01 at 1

[2022-10-01 07:57] krshkodes commented on #1672
Looks good 👍

[2022-10-01 08:00] vasucp1207 commented on #1838
Hey, @Keshraf I am looking to work on this but can you please tell me which place on the home page, I will add the toggle for the theme switch because we have to adjust the header if we implement this on the home page.

<img width="1440" alt="Screenshot 2022-10-01 at 1 28 17 PM" src="https://user-images.githubusercontent.com/85363195/193399487-48724755-949d-4ad5-a37e-d7ce30882c03.png">

[2022-10-01 08:03] Keshraf commented on #1838
Hey @vasucp1207, actually I added this issue as I wanted to work on it. I am waiting for a maintainer to assign this issue to me. You can create more issues and work on them instead

[2022-10-01 08:04] krshkodes commented on #1838
We would want it on the navbar, also we need to look up media queries as well

[2022-10-01 08:15] vasucp1207 commented on #1838
Sorry, @Keshraf I do not read the full description.

[2022-10-01 08:16] Keshraf commented on #1838
Not a problem. Don't worry about it. There are a lot more things you contribute to!

[2022-10-01 08:23] EmmaDawsonDev commented on #1838
Sure @Keshraf go ahead. Please make this addition to the next-js branch instead of the current main branch so that it will be included in v2 of linkfree

[2022-10-01 08:24] Keshraf commented on #1838
Okay understood. Thank you for letting me know!

[2022-10-01 09:30] vasucp1207 opened #1847 "[OTHER] Greetings Github Actions"
## About the issue

As there are more and more Contributors come to the project, I think adding a GitHub action when they pull-request to greet them is a good idea. Assign this issue to me if it sounds good.

[2022-10-01 09:35] #1847 closed

[2022-10-01 09:55] Vedant-Manjrekar commented on #1838
Hey actually i have worked on this issue already, as it was raised earlier as well, so if @Keshraf is not able to implement this feature i can help, just do let me know.

[2022-10-01 10:06] EmmaDawsonDev commented on #1838
Oh sorry, I didn't know someone was already working on this. What's the issue number?

[2022-10-01 10:10] Vedant-Manjrekar commented on #1838
It's #1032

[2022-10-01 10:14] EmmaDawsonDev commented on #1838
Ok, this is a bit difficult since the issue was never assigned and the last message is from august so it looks abandoned but we can do like this.

Vedant - make your PR to the main branch as it looks like you made yours in prime react (no need to ask to make a PR)
Keshraf - make a version for the next-js branch instead.

hope that works for everyone

[2022-10-01 10:15] Keshraf commented on #1838
That works for me!

[2022-10-01 10:17] Vedant-Manjrekar commented on #1672
May i make a PR ?

[2022-10-01 10:20] Vedant-Manjrekar commented on #1838
Works for me as well.

[2022-10-01 12:08] SaiRev0 commented on #1611
Hey!! If this issue is still open I would like to work on the issue. If its not assigned to anyone please assign it to me

[2022-10-01 12:47] sanyamgandhak commented on #1736
Hi there , Please assign this task to me

[2022-10-01 13:22] sanyamgandhak commented on #1432
Hi there , Assign it to me

[2022-10-01 13:24] vasucp1207 opened #1854 "[FEATURE] Timeline animation major update"
### Description

Hey, after spending hours on implementing the new timeline feature see how it looks after the updating.

https://user-images.githubusercontent.com/85363195/193411579-ce8f0fc7-24c9-4240-ac4a-5288a6437476.mov

It looks great, assign me this issue for the update.

[2022-10-01 14:28] krshkodes commented on #1672
Sure @Vedant-Manjrekar, I that for any issue you first see if anyone else isn't working and ask for assignment on the issue and open the PR!

[2022-10-01 14:29] FrancescoXX commented on #1829
@Pradumnasaraf  I can work on this one , if you need help

[2022-10-01 14:30] FrancescoXX commented on #965
let me know if you need me on this one

[2022-10-01 16:43] EmmaDawsonDev commented on #1854
I think there is already an open PR for this. Might be best to check the comments there and what the progress status is

[2022-10-01 16:59] vasucp1207 commented on #1854
Hey, @EmmaDawsonDev I did not find any issue like this can you link that issue.

[2022-10-01 18:51] Pradumnasaraf commented on #1829
Thank you @FrancescoXX . The PR is already out.

[2022-10-01 21:17] EmmaDawsonDev commented on #1854
I just looked at it again and they were animating the links not the timeline so ignore me :)

[2022-10-01 21:43] vasucp1207 commented on #1854
Ok, Thanks for assigning the issue to me.

[2022-10-01 21:57] vasucp1207 commented on #1854
Hey @EmmaDawsonDev, I make the PR let me know for any further discussion.

[2022-10-02 10:46] VG-1 commented on #1728
Hey @Pradumnasaraf can you please assign this to me?

[2022-10-02 10:52] vasucp1207 opened #1862 "[OTHER] Shareicons color changing in version 0.76.5"
### What would you like to share?

Why ShareIcons not changing the color accordingly on hovering in the latest version

https://user-images.githubusercontent.com/85363195/193450340-0ddc2218-082b-4057-ac1e-47f286f30330.mov

Inform me for any required help

### Additional information

_No response_

[2022-10-03 07:12] #1829 closed

[2022-10-03 12:58] RedHeadphone commented on #1862
there is hover effect CSS for it but it's not working
https://github.com/EddieHubCommunity/LinkFree/blob/536787f1af539c764f253234d1ebcd42d5ff72ca/src/Components/Profile.css#L44
I would like to fix this

[2022-10-03 13:07] nicoleww commented on #1384
Hey! This issue is still open, am I free to start working on this?

[2022-10-03 13:29] RedHeadphone commented on #1862
seems to be working fine in localhost

[2022-10-03 14:42] vasucp1207 commented on #1862
Yeah, but it is not working on live site.

[2022-10-03 14:44] Favalcodes commented on #1706
@eddiejaoude can I give this a try?

[2022-10-03 16:04] anirudhp26 commented on #1796
@imlakshay08 Hey I completed the Feature can you check if it's good?

[2022-10-04 04:20] joshi-kaushal commented on #1470
I would love to help with this issue. I glanced through https://github.com/EddieHubCommunity/LinkFree/pull/1471 and the [nextjs](https://github.com/EddieHubCommunity/LinkFree/tree/nextjs) branch. Is there anything that I can do here?

[2022-10-04 05:37] eddiejaoude commented on #1470
hey @joshi-kaushal we have a lot to do, I need to create some issues for this, but for now, here are some ideas

- search codebase in `nextjs` branch for `@TODO`
- improve documentation to get project running with mongo db (gitpod config probably needs updating also)
- fix failing tests
- check for missing features (main features ones only, as I am keen to deploy this soon)

[2022-10-04 06:49] stemount commented on #27
Did LinkFree ever get this functionality?

[2022-10-04 07:15] eddiejaoude commented on #27
I don't think so, if features are going to are added, probably best to add it to the `nextjs` branch though

[2022-10-04 12:05] oxyli6z commented on #1247
Hello everyone, can i be assigned to do it? It will be my first pr and i think its a nice starting point

[2022-10-04 12:17] SavvasStephanides opened #1881 "[FEATURE] Accessibility: Announce search results size while typing in the search box"
### Description

Currently there's no way for a user relying on a screen reader to know how many results are visible while typing in the search bar. It would be nice if this would be announced. For example "6 search results".

### Screenshots

_No response_

### Additional information

This can be accomplished with a ["live region"](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/A

[2022-10-04 15:03] #1247 closed

[2022-10-04 15:04] goobric commented on #1247
issue is now closed

[2022-10-04 15:13] EmmaDawsonDev opened #1883 "[DOCS] Create DOCS folder"
### Description

Create a folder named docs in the root of the project.
Inside the docs folder create a folder named contributing.
Move the contributing.md file into the contributing folder.
Update links to contributing.md in the readme with correct file path.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 15:35] ShorunTech commented on #1883
can this be assign to me, i will work on it

[2022-10-04 15:50] EmmaDawsonDev commented on #1883
Go ahead @ShorunTech

[2022-10-04 16:30] shorya258 commented on #1883
if they're not working on this issue, can I?

[2022-10-04 17:04] EmmaDawsonDev commented on #1883
@restacksyj please stop making new PRs and let @ShorunTech solve the issue,thanks.

[2022-10-04 17:16] vaibhavmishra4g commented on #1883
Could you assign this to me if still available?

[2022-10-04 17:19] EmmaDawsonDev commented on #1883
It’s already assigned, but don’t worry as more issues will be posted in the coming days.

[2022-10-04 17:30] vaibhavmishra4g commented on #1883
sorry for not reading I'm cancelling my pr

[2022-10-04 18:50] DenseOriginal commented on #1324
I can knock this one out quickly, do you guys have any preference as to what solution should be implemented? Replacing `Graduation Hat` with `graduation-hat`, or adding `Graduation Hat` as valid icon?

[2022-10-04 18:55] EmmaDawsonDev commented on #1324
I think adding the alternative version to the icons file is better than changing lots of profiles. Feel free to take a look

[2022-10-04 19:38] ShorunTech commented on #1883
Successful make the PR from another branch. Thank you Emma for your help.

[2022-10-05 04:07] #1324 closed

[2022-10-05 06:00] RedHeadphone commented on #1862
Not sure but is this causing an issue?
https://github.com/EddieHubCommunity/LinkFree/blob/main/package.json#L28

[2022-10-05 06:04] RedHeadphone commented on #1862
I can try updating this library version
https://github.com/EddieHubCommunity/LinkFree/blob/main/package.json#L57
to latest 5.0.0 version
https://www.npmjs.com/package/@fullhuman/postcss-purgecss

or we can use this https://www.npmjs.com/package/purgecss

waiting for reply! let me know what should I do?

[2022-10-05 07:53] kiritocode1 commented on #1881
Id love to work on this issue , assign me this pweese 😄

[2022-10-05 08:22] EmmaDawsonDev commented on #1883
It’s already assigned and a PR made. More issues will be posted in the coming days

[2022-10-05 08:27] ShorunTech commented on #1883
👍❤️

[2022-10-05 09:28] chints87 opened #1901 "[FEATURE] Add functionality to change hamburger menu icon status"
### Description

For mobile view (Next.js), click on hamburger item should transform from hamburger menu icon to close icon

### Screenshots

**Before Clicking Hamburger Menu Icon**
![image](https://user-images.githubusercontent.com/10020129/194027326-b60d9daa-521c-4b03-a3ad-28073597813a.png)

**After Clicking Hamburger Menu Icon**
![image](https://user-images.githubusercontent.com/10020129/194027

[2022-10-05 09:33] Dhruv1969Karnwal commented on #1901
Please Sir, assign me this issue i can do it as early as possible.

[2022-10-05 10:39] chints87 commented on #1901
I already have worked on it, but am ok if @Dhruv1969Karnwal wants to give it a try. Happy to help if you run into issues. :)

[2022-10-05 19:19] solucompme opened #1906 "Vercel Deployment Error : Failed to compile"
### Description

Hi ! I tried to deploy a second instance of LinkTree on Vercel. I deployed one last week without any issues and I did the same way for the second one, because when I tried to update the profiles data, it suddently stop updating and each deployment shows errors.

This is the log I got from the deployment screen on vercel

[15:15:09.585] Cloning github.com/**_MYACCOUNTPATH_** (I hid

[2022-10-05 19:23] EmmaDawsonDev commented on #1906
Could this be due to the github action/vercel outage that happened earlier today?

[2022-10-05 19:24] #1883 closed

[2022-10-05 19:27] EmmaDawsonDev opened #1907 "[DOCS] Contributing icons docs"
### Description

Add a file to the docs/contributing folder called contributing-icons.md

In the file give full instructions for how to fork and clone the project, add the icons to the following 3 files:
icons.md
GetIcons.js
links.json

Then add instuctions for how to commit and add the correct files and make a pull request

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 19:28] solucompme commented on #1906
No I got this issue since last week with my first deployment. (I was able to make changes and update to files and suddently after I modified a name in a profile file, every deployments failed with the same error log.)

I fork a new repository in my github account from this repository (without any change) (EddyJouade Community) start a second deployment and still have the exact same error log.

[2022-10-05 19:31] EmmaDawsonDev opened #1908 "[DOCS] Contributing to next js branch"
### Description

In the docs/contributing folder create a file called contributing-to-nextJS-branch.md

Provide full instructions for how to fork, clone, contribute and make a pull request to contribute to the nextJS branch (use contributing.md but modify to fit the needs of this particular contribution.

Provide a screenshot highlighting folks to uncheck the 'Fork main branch only' option when fo

[2022-10-05 19:34] EmmaDawsonDev commented on #1906
Did you follow the instructions for single user mode? https://github.com/EddieHubCommunity/LinkFree#single-user-mode

[2022-10-05 19:48] solucompme commented on #1906
No since it's not a single user usage

[2022-10-05 23:37] irfanariyaz commented on #1908
Can I try  this issue?

[2022-10-06 04:52] shambashib20 commented on #1907
Can I do it? Can I work on this issue?

[2022-10-06 06:45] eddiejaoude commented on #1906
Not sure I understand what you are trying to do here @solucompme ?

Also why is this more secure? Does this mean you have more than 1 GitHub account?

[2022-10-06 06:46] chints87 opened #1910 "[FEATURE] Add Modal Component"
### Description

Modal component would be used to display navigation menu in mobile view and then also used to insert child components for success , error messages etc.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-06 06:46] chints87 commented on #1910
Could this be assigned to me

[2022-10-06 06:55] kartikgajjar7 commented on #1854
hey @vasucp1207  you raised pr for this ?

[2022-10-06 07:11] virtual-designer commented on #1907
I've been already working on it

[2022-10-06 07:19] vasucp1207 commented on #1854
Yes

[2022-10-06 10:12] EmmaDawsonDev commented on #1907
@virtual-designer in the future it’s best to ask to be assigned before making a PR. It prevents 2 or more people working on the same task unnecessarily

[2022-10-06 10:15] vasucp1207 commented on #1908
Hey, @EmmaDawsonDev I just submit the PR regarding this issue take a look at that and tell me about any further changes.

[2022-10-06 10:17] EmmaDawsonDev commented on #1908
@vasucp1207 please see that someone asked to assigned 11hours ago. It’s not good etiquette to make a PR on an issue someone else was hoping to do.

[2022-10-06 15:27] vasucp1207 commented on #1908
I close the PR

[2022-10-06 18:05] irfanariyaz commented on #1908
Thanks for assigning me this issue @EmmaDawsonDev

[2022-10-07 10:09] Ayush-Kanduri opened #1915 "[OTHER] My PR got merged but still my LinkTree link is not working"
### What would you like to share?

My PR got Merged successfully but still, my profile is not available with LinkTree under my name. It has the following error as mentioned below with the image.

![err](https://user-images.githubusercontent.com/76626529/194529706-5bbe52c9-4f2f-4903-847b-05728c4ceb69.png)

Name: Ayush Kanduri
Username: Ayush-Kanduri
LinkTree Link: https://linkfree.eddiehub.io/Ayush

[2022-10-07 10:56] EmmaDawsonDev commented on #1915
Please wait for manual deployment 😊

[2022-10-07 10:56] #1915 closed

[2022-10-07 22:24] eddiejaoude opened #1920 "[FEATURE] Move from Cypress to Playwright"
### Description

Currently the tests are written in [Cypress with Cucumber](https://github.com/EddieHubCommunity/LinkFree/tree/main/cypress/integration), however these need to be moved to Playwright (similar to the [Finder](https://github.com/EddieHubCommunity/good-first-issue-finder) project)

http://playwright.dev

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 09:39] Paramhans-Singh opened #1922 "[FEATURE] Adding Event Calendar for timeline & milestones"
### Description

- Sharing events in Event Calendar as timeline / milestones

- We can filter by event types

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 17:19] asdsyd commented on #1907
Is this issue still open for contribution? thanks.

[2022-10-08 17:27] EmmaDawsonDev commented on #1907
@asdsyd There's currently an open PR

[2022-10-08 18:25] #1032 closed

[2022-10-08 19:10] EmmaDawsonDev opened #1926 "Links can't be seen in dark mode"
### Description

The links are almost invisible on the homepage when dark mode is activated. Provide a different color for the links when dark mode is activated

### Screenshots

<img width="469" alt="image" src="https://user-images.githubusercontent.com/57045550/194723707-8ff643f3-fe9f-4c5a-bfa0-8b871569a522.png">

### Additional information

_No response_

[2022-10-08 19:11] EmmaDawsonDev opened #1927 "Dark mode toggle is not reachable with keyboard navigation"
### Description

<img width="74" alt="image" src="https://user-images.githubusercontent.com/57045550/194723734-c74a9280-e4cd-4c3b-a27e-98f058311116.png">

The toggle button in the header is unreachable with the tab key when navigating by keyboard. It should be possible to reach it and activate it just by tabbing through the site.

### Screenshots

_No response_

### Additional information

_No res

[2022-10-08 19:13] dhruvdabhi101 commented on #1926
I would like to contribute to this issue.

[2022-10-08 19:22] EmmaDawsonDev commented on #1926
Sure, go ahead @dhruvdabhi101

[2022-10-08 19:38] Shivam-Katare opened #1928 "Profile names are not visible on hovering"
### Description

The profile names are not visible in dark mode. The color of the name should be black but it is white because of that, the names are not visible.

### Screenshots

![Screenshot (87)](https://user-images.githubusercontent.com/91705825/194724453-9082c9f6-ae5a-459f-b339-43d400aa2616.png)
![Screenshot (88)](https://user-images.githubusercontent.com/91705825/194724455-b3a00d91-b0a3-49d

[2022-10-08 20:44] vasucp1207 commented on #1927
Hey, @EmmaDawsonDev I want to work on this issue

[2022-10-08 21:14] EmmaDawsonDev commented on #1928
Sure, go ahead

[2022-10-08 22:17] vasucp1207 commented on #1927
Hey, @EmmaDawsonDev PR done take a look at that.

[2022-10-09 10:12] #1862 closed

[2022-10-09 22:39] Manmohan11 opened #1937 "[OTHER]-keyboard shortcut for seachbox"
### What would you like to share?

'ctrl+k' should take us to the search box

### Additional information

@EmmaDawsonDev Can I take start working on this issue?

[2022-10-10 02:08] petercr commented on #1920
Hey Eddie 🙋🏻‍♂️ is no one is on this issue, I would be happy to do it.

I've been meaning to play around with Playwright, and this seems like a good opportunity.

Thanks and cool project 👍🏻

[2022-10-11 12:26] eddiejaoude opened #1944 "[FEATURE] Add React components and pages to Storybook"
### Description

All React components and pages need to be added to Storybook (in the `nextjs` branch)

- [x] `components/user/UserLink.js` https://github.com/EddieHubCommunity/LinkFree/blob/nextjs/stories/components/user/UserLink.stories.js
- [x] `components/user/UserMilestone.js` https://github.com/EddieHubCommunity/LinkFree/blob/nextjs/stories/components/user/UserMilestone.stories.js
- [ ] `com

[2022-10-11 12:47] manav-06 commented on #1944
hi @eddiejaoude , you can assign this to me

[2022-10-11 13:35] dunnjacoba opened #1945 "[FEATURE] Add component UserPreview to Storybook"
### Description

All React components and pages need to be added to Storybook (in the nextjs branch)

- [ ] <code>component/user/UserPreview.js</code>

Steps to follow...

1. Create story file in stories/components with the same filename as the component but add .stories.js
2. Import the component into the story file
3. Set the default arguments by looking at the requirements from the component
4.

[2022-10-11 13:36] dunnjacoba commented on #1945
Can I get assigned this task to complete?

[2022-10-11 13:45] eddiejaoude commented on #1944
Please create an issue for the item in the list that you want to do and we can assign that to you @manav-06

[2022-10-11 19:12] vasucp1207 opened #1948 "[FEATURE] Add NavLink to the Storybook in nextjs branch"
### Description

- Hey, Kindly assign this issue to me, so that I can start to work on this.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-12 14:47] DeeptanshuDas commented on #1944
Hi can I contribute in this project

[2022-10-12 18:49] pranay202 opened #1951 "[Fix] readability issues"
### Description

Needs better color combinations of text color and background color of buttons to increase readability.

### Screenshots

![image](https://user-images.githubusercontent.com/68046838/195423572-f6407e46-80ad-4b3b-816e-079a3c3f2773.png)

### Additional information

_No response_

[2022-10-12 19:36] Prasundas99 commented on #1944
Hi @eddiejaoude ,
I want to contribute to:

`components/navbar/NavLink.js`

Is it open to contribute?

[2022-10-13 03:59] eddiejaoude opened #1953 "[FEATURE] Move automated tests from Cypress to Playwright"
### Description

Currently the tests are written in [Cypress with Cucumber](https://github.com/EddieHubCommunity/LinkFree/tree/main/cypress/integration), however these need to be moved to Playwright (similar to the [Finder](https://github.com/EddieHubCommunity/good-first-issue-finder) project)

http://playwright.dev

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-13 04:00] eddiejaoude commented on #1953
Closing as duplicate

[2022-10-13 04:00] #1953 closed

[2022-10-13 04:00] eddiejaoude commented on #1920
Hi Peter, sure sounds great 👍

[2022-10-13 05:24] FrancescoXX commented on #1944
I never user storybook but I can do this live today, if you assign this to me

[2022-10-13 06:15] jsvigneshkanna commented on #1951
I would like to take this issue fix

[2022-10-13 06:35] zhaobenny opened #1955 "[FEATURE] Add Navbar to Storybook"
### Description

components/navbar/Navbar.js in #1944

I want to give this a try, please assign me to it :)

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-13 07:40] pranay202 commented on #1951
I'm working on this. Once assigned, I'll start the procedures.

[2022-10-13 09:09] eddiejaoude commented on #1944
Yes @DeeptanshuDas @Prasundas99 yes, great 👍

[2022-10-13 09:10] eddiejaoude commented on #1944
@FrancescoXX that is awesome 👍 We are not assign this issue, because it is a collection of many issues, so you can pick one from the list in the issue description - there are actually many more to do, I can update the list in the issue description

[2022-10-13 09:14] eddiejaoude commented on #1955
Assigned

[2022-10-13 09:39] Purva2803 opened #1956 "UPDATE README.md"
### What would you like to share?

hey, Eddie, I want to contribute  by adding some documentation in README.md please give me a chance to make it more interesting and I can show my technical writing skills as well.

### Additional information

_No response_

[2022-10-13 11:45] Prasundas99 opened #1957 "[FEATURE] Add component NavLink to Storybook"
### Description
 All React components and pages need to be added to Storybook (in the nextjs branch)

 * [x]  `components/navbar/NavLink.js`

 Steps to follow...

1. Create story file in stories/components with the same filename as the component but add .stories.js
 2. Import the component into the story file
 3. Set the default arguments by looking at the requirements from the component
 4. Run n

[2022-10-13 12:19] ranjankuldeep opened #1958 "[FEATURE] Add Component Footer to NextJs Project"
### Description

#1944

# ```components/footer.js ```
Please assign it to me.

### Screenshots

<img width="783" alt="Screenshot 2022-10-13 at 5 41 54 PM" src="https://user-images.githubusercontent.com/95350799/195592813-3535c11d-6705-47d3-bba5-f83381ec364d.png">

### Additional information

_No response_

[2022-10-13 12:54] itsagift commented on #1944
Hi, I can add the UserPreview component.

[2022-10-13 12:56] itsagift commented on #1944
Hi, I can add the "popular" page.

[2022-10-13 13:01] itsagift opened #1959 "[FEATURE] Add Pages/Popular component to Storybook"
### Description

pages/popular.js in [#1944](https://github.com/EddieHubCommunity/LinkFree/issues/1944)

Would love to be assigned to add pages/popular.js.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-14 05:35] VedanthB commented on #1958
I'd like to work on this

[2022-10-14 08:01] Aladdin4u opened #1962 "[FEATURE] adding image inline to GitHub username when searching user"
### Description

Show the user image inline with username inside the search component

### Screenshots

![download](https://user-images.githubusercontent.com/101972392/195794476-7fc52323-684b-435e-806c-f26784b19e70.png)

### Additional information

_No response_

[2022-10-14 14:04] Atharv181 opened #1964 "Increase width of search section"
### What would you like to share?

Increase width of search space and add more space between two components
![image](https://user-images.githubusercontent.com/73999654/195866349-72fdb55c-907b-4644-b217-e9d3741f1735.png)

### Additional information

_No response_

[2022-10-14 15:42] KlausMikhaelson commented on #1962
@Aladdin4u Hey is this issue approved ? if yes than are you looking forward to work on it ? if no than would really like to work on it ! can you assign it to me ?

[2022-10-14 15:46] Manmohan11 commented on #1937
@eddiejaoude please assign me to this, i want to work on this

[2022-10-14 17:09] Aladdin4u commented on #1962
You can work it @KlausMikhaelson

[2022-10-14 17:15] Pradumnasaraf commented on #1728
Hey @HondaChan14 are you still working on the issue?

[2022-10-14 19:16] Atharv181 opened #1972 "Search icon not properly aligned"
### What would you like to share?

Icons are not properly aligned in navbar
![image](https://user-images.githubusercontent.com/73999654/195923809-93e5727e-c36e-49b1-94f7-be8947eb74ca.png)
![image](https://user-images.githubusercontent.com/73999654/195923843-a00a81ab-d530-4e3c-baf1-707f3f25ac95.png)

### Additional information

_No response_

[2022-10-15 02:45] petercr commented on #1920
Eddie,

Okay I went and joined the EddieHub so I should be good to go with the Org and the assignment 👍🏻

I'll go ahead and start planning this one out.

Thanks

[2022-10-15 03:52] Saha-7 commented on #1728
@Pradumnasaraf If he is not working on this issue, then I am available immediately.

[2022-10-15 07:28] eddiejaoude commented on #1920
Thanks @petercr , please create the issue for the test you will do, and we can assign that to you - this issue is an `epic` and won't be assigned as it is too big

[2022-10-15 16:00] EmmaDawsonDev commented on #1962
Hi! We had images before but it ended up maxing out the GitHub api which is why we removed them. Unless we can find a way to not hit the rate limit then unfortunately we can’t show images on the small name chips.

[2022-10-15 16:04] EmmaDawsonDev commented on #1956
Please be specific about what you would like to add and where. Currently there is too much information in the readme and we are trying to slim it down and provide links to more specific documentation elsewhere

[2022-10-15 16:05] EmmaDawsonDev commented on #1951
Wow, yeah. That’s not a good colour combo!

[2022-10-15 16:08] EmmaDawsonDev commented on #1957
Closing as this is a duplicate

[2022-10-15 16:09] EmmaDawsonDev commented on #1948
Sure, go ahead.

[2022-10-15 16:10] EmmaDawsonDev commented on #1945
Closed by #1946

[2022-10-15 16:10] #1945 closed

[2022-10-15 17:05] petercr commented on #1920
Thanks Eddie 🙌🏻 yeah this does _seem_ like it might be a little big for just one issue/PR.

Then I'd have to think of if you wanted me to squash the **18 commits** in that PR... 😂

I will just open an issue for a specific test and make a PR for that issue 👍🏻

[2022-10-15 17:11] vasucp1207 commented on #1948
Thanks for assigning this issue to me.

[2022-10-15 17:37] RKC3000 commented on #1944
Hello @eddiejaoude ,
I want to work on pages/search.js.

[2022-10-15 18:53] Prasundas99 commented on #1957
Hi, should I close my PR too? I got a  goahead from Eddie to work in this issue

[2022-10-15 19:48] DenysLins commented on #1972
Hey guys, can I work on this?

[2022-10-15 21:05] EmmaDawsonDev commented on #1957
Oh, sorry then there’s been a mixup.

[2022-10-15 21:06] EmmaDawsonDev commented on #1948
Apologies @vasucp1207 but there’s already a pr made for this as Eddie assigned it to someone else in another issue.

[2022-10-15 21:07] EmmaDawsonDev commented on #1957
No, don’t close it. I’ll tell the other person to stop working on it. I don’t think they made a pr yet.

[2022-10-15 21:11] EmmaDawsonDev commented on #1948
Closing as duplicate

[2022-10-15 21:11] #1948 closed

[2022-10-16 01:57] eddiejaoude commented on #1944
@RKC3000 great, please create an issue and PR for that specific story 🤓

[2022-10-16 05:13] Purva2803 commented on #1956
hello @EmmaDawsonDev, the README.md contains so much information I want to make it more specific about the project and I also want to add some resources which are new for the folks or they don't know much about it like Kubernetes, and docker so they can get some idea about and also they will be aware of the main purpose of the project and get to know how things actually work, I will work on it if

[2022-10-16 06:58] RKC3000 commented on #1944
OK @eddiejaoude

Can you clear me on one thing?

To contribute I have to follow docs/CONTRIBUITING.md

[2022-10-16 20:28] #1907 closed

[2022-10-16 21:00] Akshu-on-github opened #1980 "Menu on Mobile Devices"
### Description

The navigation menu is permanently open on mobile devices. The hamburger menu seems to be broken as well, as clicking on it gives no observable response.

### Screenshots

![image](https://user-images.githubusercontent.com/61582763/196057991-df9858f8-9774-45e3-808d-82cf6e255315.png)

### Additional information

_No response_

[2022-10-16 21:01] LinuxGamer commented on #1980
Can I be assigned to this.

[2022-10-16 21:21] DenysLins commented on #1964
Hello @EmmaDawsonDev, can I work on this?

[2022-10-17 03:51] Supratim30 commented on #1980
Hey, would like to fix the issue.

[2022-10-17 06:07] Pradumnasaraf commented on #1728
Hey, @VG-1 you can go ahead.

@Saha-7 try finding some other issues as requested 1st.

[2022-10-17 06:54] schmelto opened #1984 "NextJS - name not displayed correctly"
### Description

Name not displayed correctly on mobile

### Screenshots

![6606DDFC-23E4-46CF-AD15-9342709172E1](https://user-images.githubusercontent.com/30869493/196108763-66f56db0-9fb8-4fbf-a45b-6ff1d2a8df72.jpeg)

### Additional information

I’m using an iPhone 13 mini

[2022-10-17 09:56] k99sharma commented on #1984
Hey, I looked in the code. This is happening because of the text size. We can reduce the text size from `text-2xl` to `text-xl` and it will fit perfectly.

![Screenshot (36)](https://user-images.githubusercontent.com/54969439/196148183-c5fd851c-f079-404c-91cd-e8043e7ab669.png)

[2022-10-17 11:32] schmelto commented on #1984
@k99sharma is it also looking good in desktop mode?

[2022-10-17 12:29] k99sharma commented on #1984
It seems good to me in the desktop too. I'll open a PR to fix this issue.

![Screenshot (59)](https://user-images.githubusercontent.com/54969439/196177047-9827caf6-9de3-4f35-aa1d-0fa3917538eb.png)

[2022-10-17 18:07] k99sharma commented on #1980
Hey, Is this issue still open?

[2022-10-18 11:22] dan-mba opened #1987 "[FEATURE] NextJS - bump React to 18"
### Description

React 18 has been out for 6 months.
It is compatible with [NextJS](https://nextjs.org/docs/advanced-features/react-18/overview) & [Storybook](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react18-new-root-api).

With a major redevelopment in progress, now would be a good time to migrate React.
Are there any known blockers for React 18?

I would like to work on th

[2022-10-18 17:39] RKC3000 opened #1989 "[FEATURE] Add page pages/search.js to Storybook"
### Description

### Description
All React components and pages need to be added to Storybook (in the nextjs branch)

- [ ] pages/search.js

### Screenshots

_No response_

### Additional information

#1944 search component in the nextjs branch for storybook.

[2022-10-18 18:45] k99sharma commented on #1980
Are you still working on it? I can make a PR for this issue.

[2022-10-18 20:55] LinuxGamer commented on #1980
Yes I'm working on this ATM, but idk whether I'll be able to fix it so if I can't, I'll tag you and let you know. :)

[2022-10-19 07:49] E-fais opened #1994 "Update react-router-dom v6"
### Description

Update react router dom to latest version.
Change “Switch” to Routes.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-19 07:58] pavandeveloperr opened #1995 "[FEATURE] Add cross button to close ShareProfile Pop-up"
### Description

Below attached image describes that shareProfile dialog box doesn't have close button or cross icon to close the dialog box. I would love to work on this feature , please assign  me to contribute on this feature.

cons - Without Close icon this dialog box doesn't close and the user has to click come other side on the screen to close the dialog box.

### Screenshots

<img width="95

[2022-10-19 13:51] LinuxGamer commented on #1980
Hi, @k99sharma @eddiejaoude , I would like to step away from this issue please, I've got a lot of things happening in my personal life and in my brain with other projects, and I'd like to offer ksharma the opportunity to take over, they showed interest the other day. I don't want to hold up a bug fix which could be worked on by someone else.
Thanks,
CJ

[2022-10-19 16:45] Anuj-Kumar-AJ opened #1999 "In Dark Theme,White Glow causes eye-strain while seeing the Profile names in component/Search"
### Description

For the dark Themes, In Component/Search, when we hover over the profile lists, the white glow causes the text to not be visible easily because the text is the same as white color.

### Screenshots

![2022-10-19](https://user-images.githubusercontent.com/45460554/196753195-d2408d6d-15dd-403d-905f-47c55be6d742.jpg)

### Additional information

_No response_

[2022-10-19 16:46] Anuj-Kumar-AJ commented on #1999
I would like to work on it, can you assign this to me :)

[2022-10-19 16:47] k99sharma commented on #1980
Maybe you can checkout other issues after sometime @LinuxGamer.

[2022-10-19 17:17] LinuxGamer commented on #1980
Yes, I plan to once I've sorted out scheduling and prioritising things XD

[2022-10-19 21:44] petercr commented on #1920
Eddie,

It looks like there is an implementation of Cucumber and Playwright together already on GitHub && NPM.
[Link to the cucumber-playwright repo](https://github.com/Tallyb/cucumber-playwright)

There is the possibility that we could port all of the existing cypress tests written in cucumber and just switch out cypress for playwright.  Instead of re-writing all the tests.

Is that something you

[2022-10-19 23:29] eddiejaoude commented on #1920
Thanks Peter for doing that research. The community were not keen on Cucumber, so we decided to rewrite using vanilla Playwrght

[2022-10-20 12:57] aayushbisen commented on #1994
Can I work on this issue? @E-fais

[2022-10-20 14:45] ManishBisht777 commented on #1995
hi i can fix this issue can you assign it to me

[2022-10-20 16:05] pavandeveloperr commented on #1995
i alread fixed it ... i am waiting maintainers to assign me

[2022-10-20 16:07] ManishBisht777 commented on #1995
Ok

[2022-10-20 16:47] petercr commented on #1920
Awesome 👍🏻 cucumber looks great...
but if you are used to writing tests in JS/TS it does seems like an extra step.

If you _can write_ the tests, you **probably should** write the tests 😂

Thanks for all the info 🙌🏻

[2022-10-20 19:23] E-fais commented on #1994
Btw i am not a maintainer here, but still all your genuine PR will get merged.
Go ahead and create a PR !

[2022-10-20 23:35] #1955 closed

[2022-10-21 12:22] eddiejaoude commented on #1796
Feature completed in v2 of LinkFree

[2022-10-21 12:22] #1796 closed

[2022-10-21 16:27] #1937 closed

[2022-10-21 17:37] MAX-786 commented on #1944
Hey, @eddiejaoude can you assign this `components/user/UserPreview.js`  issue to me? Thanks

[2022-10-21 17:44] eddiejaoude commented on #1944
@MAX-786 what is the issue number?

[2022-10-21 18:17] MAX-786 opened #2012 "[FEATURE] Add Component /Footer to NextJs Project"
### Description

Please assign this `component/footer` issue to me mentioned in #1944 .

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-21 18:18] MAX-786 commented on #1944
@eddiejaoude #2012 can you please assign it?

[2022-10-21 22:38] itsagift commented on #1959
@eddiejaoude Can you add the hacktoberfest label to this one somehow since it was on the original issue?

[2022-10-21 22:43] eddiejaoude commented on #2012
The `Footer` component has already been done here https://github.com/EddieHubCommunity/LinkFree/blob/nextjs/stories/components/Footer.stories.js

[2022-10-21 22:43] #2012 closed

[2022-10-21 22:44] eddiejaoude commented on #1944
@MAX-786 the footer component has already been checked off the list

[2022-10-21 22:45] eddiejaoude commented on #1959
The whole repo is part of hacktoberfest, no extra label is required 🤓 - I will close this issue as the PR has been merged

[2022-10-21 22:45] #1959 closed

[2022-10-22 00:10] itsagift commented on #1959
@eddiejaoude Ah sorry I'm still new to the rules! thanks so much

[2022-10-22 03:10] Tharunkumar001 commented on #1984
Can I work on this issue? @k99sharma

[2022-10-22 05:12] k99sharma commented on #1984
This issue is already fixed. You can look for other issues 👍🏻. @Tharunkumar001

[2022-10-22 09:21] skarthikeyan96 opened #2016 "[Accessibility Issue] : missing aria label for the profile dropdown"
### What would you like to share?

Aria label missing for the profile dropdown

**Lighthouse audit of the production site**

![Screenshot 2022-10-22 at 2 49 02 PM](https://user-images.githubusercontent.com/23126394/197331691-36c22539-1fd8-4fb7-9cbc-6628f82b16f6.png)

### Additional information

_No response_

[2022-10-22 10:15] pavandeveloperr opened #2018 "[FEATURE] Add cross button to close the share dialog box #1995"

[2022-10-22 10:17] #2018 closed

[2022-10-22 11:49] thamerla opened #2019 "[OTHER] Licensing of user profile data"
### What would you like to share?

So, as I was reflecting on #1712 - I was thinking about the issue that currently the user profile data hasn't been licensed separately to the project. Since the project is licensed under MIT - that's not just a permissive license to the code, but also to the data, including processing of it.

What are your thoughts on it? Move the data to a dedicated data license

[2022-10-22 13:30] E-fais commented on #1994
@aayushbisen what is the status, are you working on it ?

[2022-10-22 13:39] aayushbisen commented on #1994
Sorry I don't have the time right now.

Someone else can take if they want.

[2022-10-23 05:07] kumarsonsoff3 commented on #1987
Closing this issue, since it's fixed by #2007 .

[2022-10-23 05:07] #1987 closed

[2022-10-23 08:10] deepanshu1334 commented on #1972
can you assign this to time

[2022-10-23 09:30] devXprite opened #2022 "[OTHER] Open Profile Links in New Tab"
### What would you like to share?

I think profile links should be open in new tab instead of current tab because it's very difficult to view all links in a single tab. even in linktree profile links are open in a new tab.

### Additional information

I want to work on this issue.

[2022-10-23 09:40] MAX-786 commented on #1944
okay @eddiejaoude , is there any left where i can contrubute?

[2022-10-23 09:41] E-fais commented on #1994
It’s completely fine , let me do it then 👍

[2022-10-23 10:02] eddiejaoude commented on #1944
Yes there are @MAX-786 , you can check in the `stories` folder https://github.com/EddieHubCommunity/LinkFree/tree/nextjs/stories

[2022-10-23 14:33] rsinghcodes opened #2023 "[FEATURE] Add Font to Profile"
### Description

I want to add fonts to profile. Currently, the website is using the default web browser font, however we can use a custom font.

### Screenshots

_No response_

### Additional information

So, please assign it to me, I'll add a google font that will look good.

[2022-10-23 14:51] kartikgajjar7 opened #2025 "[FEATURE] adding profile picture of users in chip"
### Description

add profile picture of user with the name in chip with presentable look

review PR for this : #2024

thank you.

### Screenshots

![197398631-0e45664d-9657-4156-bea7-96cf0f3289f4](https://user-images.githubusercontent.com/97971066/197398853-ecb8d122-627f-4c14-ae71-ab14a14d6970.jpg)
![new](https://user-images.githubusercontent.com/97971066/197398477-81228c29-b0fc-4eff-a3d3-fec18d45

[2022-10-23 15:11] Vishrut19 commented on #2025
I would like to checkout this issue ! @eddiejaoude

[2022-10-23 16:18] MAX-786 commented on #1944
thanks @eddiejaoude, I will surely do that.

[2022-10-23 16:53] eddiejaoude commented on #2025
The images were removed because it hit the rate limit of GitHub's API. So we need to think of a solution before implementation. Maybe on the search it needs on show no one at first and only when people start typing

[2022-10-23 17:21] MAX-786 opened #2027 "In Dark Mode in Search section white Box-shadow creates eye strain"
### Description

## Issue
In Dark mode in the search section while hovering over the user component white box-shadow creates eye strain and the user name is not visible.
## Solution
We can simply fix this by adding this `color:black !important` in `.p-chip:hover` pseudo class .

### Screenshots

This is the issue:
![Screenshot (23)](https://user-images.githubusercontent.com/99530996/197406073-0c64

[2022-10-23 17:23] MAX-786 commented on #2027
Hi @eddiejaoude, can you please assign this issue to me? Thanks

[2022-10-23 18:01] pranay202 commented on #1951
Hi @EmmaDawsonDev, can you please guide me regarding the file in which I have to make the changes.

[2022-10-23 18:05] kartikgajjar7 commented on #2025
mean only  when we start typing on searchbar only then pictures should be present ?and normally only username will be there when searchbar is empty

[2022-10-23 19:00] Vishrut19 commented on #2023
Can I take this issue ? @eddiejaoude

[2022-10-23 19:56] eddiejaoude commented on #2025
I mean something like... after people type 3 characters then the results start appearing, this should reduce the requests to GitHub

[2022-10-23 20:15] kartikgajjar7 commented on #2025
oh yes this is working well....now chips will come if user add at least 3 characters only....

https://user-images.githubusercontent.com/97971066/197415993-cd39df59-20ee-4efa-aa85-e47887990d48.mp4

[2022-10-23 21:19] eddiejaoude commented on #2023
I think we need to discuss the pros/cons of adding a not default font

[2022-10-24 09:07] schmelto commented on #1951
@EmmaDawsonDev does something like an inversion of the color make sense here?
I have implemented something similar to this to one of my projects.
There I implemented a function that calculates the text color based on the background color and sets the text black or white depending on the contrast.

[code]
https://github.com/schmelto/Portfolio/blob/main/js/issues.js#L145-L170

[2022-10-24 09:18] eddiejaoude commented on #2027
sure @MAX-786  👍

[2022-10-24 09:55] k99sharma commented on #1989
Hey, Is this issue still open?

[2022-10-24 16:33] EmmaDawsonDev commented on #1951
Inversion might work. But I think what we need is something that can take the hex code and work out whether it would have higher contrast with black or white text. Otherwise we're gonna get some really weird button color combinations. This problem only occurs because users are allowed to specify their own background color in the json

[2022-10-24 16:34] EmmaDawsonDev commented on #1951
I believe the buttons are related to the milestone cards so should be in that component or if they're not you should be able to look in that file to see where they're being imported from

[2022-10-24 21:57] petercr opened #2031 "2nd & 3rd Tests for Profile page using Playwright"
### Description

Hey Eddie 🙋🏻‍♂️ I'm opening this issue after our discussion on issue #1920 about adding more Playwright tests to the project.

Currently I have written the code for both the 2nd and 3rd test cases you left comments for.
However, for some reason Firefox keeps adding an extra `click` onto the profile 🤷🏻‍♂️

I did want to open the issue though so no one else ends up wasting their tim

[2022-10-25 06:45] skarthikeyan96 commented on #2027
We already seem to have issue created for the above mentioned problem and also the PR has been raised for the same

https://github.com/EddieHubCommunity/LinkFree/issues/1999
https://github.com/EddieHubCommunity/LinkFree/pull/2014

cc @eddiejaoude

[2022-10-25 19:59] RKC3000 commented on #1989
Yes, I am working on this
You can select one from #1944

[2022-10-26 01:30] petercr commented on #2031
Here's the code for the tests, maybe you can help figure out why Firefox keeps coming up with an extra visit.
It seems like it should work 🤔

[code]

Even the `console.log` count is off by 1 in Firefox, so I'm not sure this isn't a bug 🐛
Let me know what you think.

[2022-10-26 09:12] devXprite opened #2032 "Store dark/light mode preference in local storage"
### Description

When a user switch between dark/light mode, the value should be stored in local storage and retrieved on page load to set the default mode.

### Screenshots

_No response_

### Additional information

I want to work on this issue.

[2022-10-26 14:20] CBID2 opened #2033 "Missing commas in Notes section"
### Description

Hi there! I was reading through the Notes section and noticed that the introductory phrases are missing commas after them (see screenshot for reference). Can I be assigned with this task please? Making those changes, will make the directions a bit more clearer.

### Screenshots

![31629B30-F717-4C6E-90AB-B084F0570CB6](https://user-images.githubusercontent.com/105683440/198051558-4

[2022-10-26 15:03] GalaxyLittlepaws opened #2034 "[FEATURE] Dark/Light Mode Automatically Based on System Preference"
### Description

It would be great if the website checked the system to see if the user prefers dark or light mode automatically.

This would save time searching for and tapping the icon if the user wants dark mode and prefers it.

### Screenshots

_No response_

### Additional information

I would like to work on this and add the feature.

[2022-10-27 01:47] petercr commented on #2031
Never mind I put in an `if/else` statement to handle the Firefox edge case counting.
Now both the 2nd and 3rd tests all pass.

I will go ahead and push up a PR tomorrow with the code for the tests.
And that PR should take care of this issue 👍🏻

[2022-10-27 03:36] Abhi-paul16 commented on #2034
I want to work on this..

[2022-10-27 06:48] Akshu-on-github commented on #2019
Nice catch, thanks for pointing this out!

I think that either of these would be best. I'm not sure how it'll affect previously collected data, but I think protecting the data that we have rn is paramount

I think we should have this whether we choose to update our licence(s) or not - after all, those who add their data are obviously doing so on a platform where their data is openly available. I t

[2022-10-27 13:48] k99sharma commented on #1989
Sure

[2022-10-27 15:00] k99sharma opened #2043 "[OTHER] Incomplete tests in profile.spec.js file"
### What would you like to share?

There are incomplete tests in **profile.spec.js** file.

![Screenshot (68)](https://user-images.githubusercontent.com/54969439/198325310-10e5f36c-1c59-4a3f-93d5-14e1ee5f3162.png)

### Additional information

_No response_

[2022-10-27 15:02] k99sharma commented on #2043
I can try to fix these tests. Can you assign this to me?

[2022-10-27 15:18] k99sharma opened #2044 "[UI] Remove underline from title in pages"
### Description

The underlined title can be mistaken for links. We can remove the underline and make the title a bit large.

### Screenshots

![Screenshot (69)](https://user-images.githubusercontent.com/54969439/198329043-8e658a0e-03c3-4948-9794-04542937a783.png)

### Additional information

_No response_

[2022-10-27 18:59] Panquesito7 commented on #2019
AFAIK, we would need to ask all those who added a profile of theirs if they accept to license their profile under a certain license.

[2022-10-28 06:14] #1926 closed

[2022-10-28 06:18] dhruvdabhi101 commented on #2044
I would like to work on this issue

[2022-10-28 06:29] k99sharma commented on #2044
@dhruvdabhi101 I already have a PR ready, maybe you can look for other issues.

[2022-10-28 06:30] k99sharma commented on #2044
@eddiejaoude What do you think?

[2022-10-28 06:31] dhruvdabhi101 commented on #2044
okay sir.

[2022-10-28 06:47] 0x2811aryan commented on #2023
Can I take this issue ? @eddiejaoude

[2022-10-28 06:53] Vishrut19 commented on #2023
yes @eddiejaoude I will discuss with you on discord

[2022-10-28 10:29] eddiejaoude commented on #2044
Sounds good, please open the PR, I didn't see it?

[2022-10-28 11:04] dan-mba opened #2052 "[NextJS] Migrate to new Image components"
### Description

#2042 migrated the NextJS branch to version 13.
This release created a new [Image](https://nextjs.org/blog/next-13#nextimage) component.
The migration to Next 13 uses the legacy Image component.
There is a [codemod](https://nextjs.org/docs/advanced-features/codemods#next-image-experimental-experimental) available to do most of the work, but it might be preferable to use tailwind c

[2022-10-28 20:03] rsinghcodes commented on #2023
@eddiejaoude, I would love to discuss. Thanks!

[2022-10-29 08:46] #2027 closed

[2022-10-29 08:47] eddiejaoude commented on #2027
oh thank you @skarthikeyan96 , sorry I missed this, let me look now

[2022-10-29 08:48] eddiejaoude commented on #1999
@Anuj-Kumar-AJ sorry people already created PRs

[2022-10-29 09:01] #1999 closed

[2022-10-29 09:13] #2044 closed

[2022-10-29 09:14] #2016 closed

[2022-10-29 09:16] eddiejaoude commented on #2025
can you raise a PR and we can take a better look

[2022-10-29 09:17] eddiejaoude commented on #1980
This issue has been resolved. Thank you everyone for your support and collaboration

[2022-10-29 09:17] #1980 closed

[2022-10-29 10:34] kartikgajjar7 commented on #2025
yes sure

[2022-10-29 11:24] kartikgajjar7 commented on #2025
kindly check pr related this issue #2024
thanks

[2022-10-29 19:30] #2031 closed

[2022-10-30 16:47] #2032 closed

[2022-10-30 17:50] DivvSaxena opened #2067 "[FEATURE] Profile description to use markdown"
### Description

Create Profile description.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-30 17:52] eddiejaoude commented on #2067
Great idea! Thanks @Cahllagerfeld

Q. how do we handle markdown in the json? (idea: have a markdown file for the bio, e.g. `eddiejaoude.md`)

[2022-10-30 17:53] Cahllagerfeld commented on #2067
potential package that we can use: [react-markdown](https://github.com/remarkjs/react-markdown)

[2022-10-30 18:35] eddiejaoude opened #2068 "[FEATURE] LinkFree new domain (shorter)"
### Description

Please check the domain is available first

Example: `link.free`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-30 18:39] eddiejaoude opened #2069 "[OTHER] Competitors"
### What would you like to share?

LinkFree competitors...

- https://limey.io
- https://linktr.ee
- https://bio.link
- https://bio.fm

### Additional information

_No response_

[2022-10-30 18:51] #2043 closed

[2022-10-30 21:05] LinuxGamer opened #2070 "Mobile hover on link buttons"
### Description

When hovering on link buttons on mobile it doesn't show right.

### Screenshots

![31504B75-A9B2-42CC-B705-9EBB64BA9365](https://user-images.githubusercontent.com/83363242/198901422-1f6209ea-6a79-446f-aee4-27df06651c82.png)

### Additional information

_No response_

[2022-10-31 05:10] k99sharma opened #2072 "[UI] Change footer position to bottom of page"
### What would you like to share?

The footer should be at the bottom of the page.

![Screenshot (79)](https://user-images.githubusercontent.com/54969439/198935666-17e3bace-cba1-4937-8b28-d46ec46d93ae.png)

### Additional information

_No response_

[2022-10-31 05:14] k99sharma commented on #2072
@eddiejaoude What do you think? I made a PR to fix this issue.

[2022-10-31 08:11] eddiejaoude commented on #2072
Great idea 👍 Yes raise the PR

[2022-10-31 08:13] #2072 closed

[2022-10-31 11:03] jaynarayan-vaishnav opened #2078 "[OTHER] Add components for Navlink to Stories."
### What would you like to share?

Add the Components of navlink from the components to the Stories folder.

### Additional information

_No response_

[2022-10-31 11:37] jaynarayan-vaishnav opened #2080 "[OTHER] Add Test for concise search"
### What would you like to share?

Add test for searching the whole user name and get only the concise profile as searched in the search box.

### Additional information

_No response_

[2022-10-31 13:53] jaynarayan-vaishnav opened #2084 "[OTHER] Test for popular profile."
### What would you like to share?

Test for the most popular profile  to appear at the top of the list when opening the popular page.

### Additional information

_No response_

[2022-10-31 13:55] jaynarayan-vaishnav opened #2085 "[OTHER] Test for popular profile navigation to profile page."
### What would you like to share?

add a test for popular profile so that when we click on the profile it opens the profile page.

### Additional information

_No response_

[2022-10-31 15:10] dan-mba commented on #2068
FYI `.free` seems to be exclusive to Amazon, but is not available in Route 53 (AWS domain registration service).

`.fr` for France & `.ee` for Estonia seem to have some citizenship specific requirements.

[2022-11-01 08:59] ayushhagarwal commented on #1043
Hello @vikasganiga05 , I see the issue is not closed. Is any work still pending here, if Yes I would like to work on it.

Thanks!

[2022-11-01 17:22] DeeptanshuDas commented on #1958
can i work on this issue

[2022-11-02 09:55] Trikcode opened #2095 "[OTHER] UNABLE TO INSTALL CYPRESS APP"
### What would you like to share?

When I run yarn install! I get this
[TITLE]  Downloading Cypress      55% 393s
[TITLE]  Downloading Cypress      55% 394s
[TITLE]  Downloading Cypress      55% 395s
[TITLE]  Downloading Cypress      55% 396s
[TITLE]  Downloading Cypress      55% 397s
[TITLE]  Downloading Cypress      55% 398s
[TITLE]  Downloading Cypress      55% 399s
[TITLE]  Downloading Cypress

[2022-11-03 07:42] #2025 closed

[2022-11-03 14:09] eddiejaoude opened #2106 "[FEATURE] Google analytics"
### Description

Add google analytics to the project to track where people come from.

Use environment variable to inject in analytics code

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 16:25] vijay-jaisankar commented on #2106
Here are some links that might be helpful in this endeavour:

- https://www.npmjs.com/package/@google-analytics/data
- https://support.google.com/sites/answer/97459?hl=en

[2022-11-04 16:29] CBID2 opened #2112 "[DOCS] <Change in grammar>"
### Description

I'm thinking "milestones" should be capitalized since it's a separate section.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 16:45] eddiejaoude commented on #2112
PR https://github.com/EddieHubCommunity/LinkFree/pull/2113 closed as the json data structure should not be capitalised

[2022-11-04 16:45] #2112 closed

[2022-11-04 16:55] eddiejaoude opened #2115 "[FEATURE] Milestones to use color and icon"
### Description

In the new milestone section `v2` the color and icon information in the json is not currently used

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 16:56] vijay-jaisankar opened #2116 "[FEATURE] Repo size badge"
### Description

In the README an icon that specifies how large the repo size is would be great for people looking to clone the repo.

### Screenshots

For example: ![repo-size](https://camo.githubusercontent.com/0e2bfc14dfa1b2d010cdda8f2b4d4ae92e333c66aab25e98183078984335dcc7/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f7265706f2d73697a652f65636c697073652f73756d6f2e737667)

### Add

[2022-11-04 17:07] eddiejaoude opened #2118 "[FEATURE] Homepage to display application statistics per day"
### Description

Display 3 stats on homepage per day

- users
- profile views
- link clicks

The data is stored here https://github.com/EddieHubCommunity/LinkFree/blob/main/models/Stats.js

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 17:07] vijay-jaisankar commented on #2118
https://d3-graph-gallery.com/ and https://www.chartjs.org/ are  great graphing libraries for this purpose

[2022-11-04 17:18] vijay-jaisankar commented on #2069
- https://tap.bio/@tap.bio
- https://lnk.bio/
- https://shorby.com/

[2022-11-04 17:32] satyamkale27 commented on #2116
I would like to add this feature please assign it to me

[2022-11-04 19:21] eddiejaoude commented on #2115
Done
<img width="1262" alt="Screenshot 2022-11-04 at 19 20 43" src="https://user-images.githubusercontent.com/624760/200058129-e46b3a05-87a4-46ba-b85a-ea29748eb99c.png">

[2022-11-04 19:21] #2115 closed

[2022-11-04 20:05] eddiejaoude commented on #2067
Completed

<img width="883" alt="Screenshot 2022-11-04 at 20 05 14" src="https://user-images.githubusercontent.com/624760/200065041-400c72b6-5337-4268-a193-f3e6d3b1fbfa.png">

[2022-11-04 20:05] #2067 closed

[2022-11-04 20:25] marioenpi1012 commented on #2070
Hello LinuxGamer, I fixed the issue with the links. I hope they accept the pull request. Have a great day

[2022-11-04 21:20] eddiejaoude commented on #2106
Thank you @vijay-jaisankar 👍

[2022-11-05 04:51] CBID2 opened #2125 "[FEATURE] <Change Backgrounds>"
### Description

Hi there! I was going through [this review of Linktree](https://www.wanderschool.com/2020/08/14/should-you-use-linktree-the-pros-and-cons/). It mentioned that the **only** pro users are given the option to change their background. I think what can make Linkfree stand out is giving a similar option for free. What do you think?

### Screenshots

_No response_

### Additional informa

[2022-11-05 08:35] eddiejaoude commented on #2106
Feature added in https://github.com/EddieHubCommunity/LinkFree/commit/a89e6e5bb147d4e63ad70eb8a9d1ac616dc9de77

[2022-11-05 08:35] #2106 closed

[2022-11-05 08:57] eddiejaoude opened #2128 "[DEPLOY] NextJS + Mongo (v2)"
### What would you like to share?

Use new DO app and update DNS

Steps to deploy...

1. [x] merge `main` into `nextjs` branch
   - [x] resolve conflicts
   - [x] move `public/data/` to `data`
1. [x] push to `nextjs` branch and test on beta.linkfree.eddiehub.io
1. [x] delete DNS of `linkfree.eddiehub.io` on v1 app, then add to v2 app
   - [x] add `v1` subdomain to v1 app
1. [x] test linkfree.eddie

[2022-11-05 15:19] Cahllagerfeld commented on #2067
Nice, wouldn't have thought that I would be such a low-hanging fruit 🎉

[2022-11-05 15:23] eddiejaoude opened #2132 "[FEATURE] Social icons"
### Description

- Display social icons at the top of the profile under the bio text

<img width="1042" alt="Screenshot_2022-11-09_at_9 09 40_AM" src="https://user-images.githubusercontent.com/624760/200786847-ca8f1e51-8f59-4e61-b777-4ea65e9cbd0c.png">

- The profile json will need new field for each socials, here are 2 examples

[code]

### Screenshots

_No response_

### Additional information

[2022-11-05 15:48] CBID2 opened #2133 "Profile page customization"
### Description

Hi @eddiejaoude! I did some more research on Linkfree and noticed that a common complaint is that free users can’t customize [their landing page ](https://www.producthunt.com/questions/what-are-the-pros-and-cons-of-using-linktree). Maybe we could add this feature to stand out?

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-05 15:49] #911 closed

[2022-11-05 15:58] #1972 closed

[2022-11-05 16:00] #1964 closed

[2022-11-05 16:10] #2034 closed

[2022-11-05 16:22] #2070 closed

[2022-11-05 16:41] CBID2 opened #2134 "Deploy app on a cron job"
### Description

GitHub Action to deploy the changes from that day

- Digital Ocean CLI to deploy not from changes on `main` (existing GitHub in the marketplace?)
- Digital Ocean Token required in the Org's Secrets

https://docs.digitalocean.com/reference/doctl/reference/apps/create-deployment/

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-05 16:42] #1470 closed

[2022-11-05 16:59] eddiejaoude commented on #2128
DEPLOYED 🎉

[2022-11-05 16:59] #2128 closed

[2022-11-05 17:50] eddiejaoude commented on #2133
Thanks Chrissy! What sort of customisations do you think would be a good idea?

[2022-11-05 21:38] CBID2 commented on #2133
Different colors, button shapes, and an option to upload a background that they already have. Lol, that's all I can think of for the moment.

[2022-11-05 22:53] eddiejaoude commented on #482
This has now been completed and deployed, thank you all for the suggestion 👍

[2022-11-05 22:53] #482 closed

[2022-11-05 22:54] eddiejaoude commented on #501
Lots of great collaboration everyone, thank you 👍 I think for now maybe we can use one of the EddieHub Mascots

We have some great new features with the new version that got released today

[2022-11-05 22:54] #501 closed

[2022-11-05 22:56] eddiejaoude commented on #522
Wow lots of great collaboration ❤️  love it! I am going to close this as we have a new release, maybe a new issue can be created for the new version

[2022-11-05 22:56] #522 closed

[2022-11-05 22:57] eddiejaoude commented on #616
A new version of LinkFree got released. We have a lot more flexibility now

I will close this and a new issue can be created

[2022-11-05 22:57] #616 closed

[2022-11-05 22:57] eddiejaoude commented on #766
Now with the new version using NextJS, we have image optimisation - I will close this and if required a new one can be opened

[2022-11-05 22:57] #766 closed

[2022-11-05 22:59] eddiejaoude commented on #965
thanks @FrancescoXX 👍

I think this is taken care of now, in the latest version. A new issue can be raised with specific information if it is still required

[2022-11-05 22:59] #965 closed

[2022-11-05 23:00] eddiejaoude commented on #972
We now have a new version of the app using new technology, NExtJS and TailWind - I will close this issue but a new one can be raised if still required

[2022-11-05 23:00] #972 closed

[2022-11-05 23:01] eddiejaoude commented on #1043
2 PRs have been merged, so I think this issue is now complete.

[2022-11-05 23:01] #1043 closed

[2022-11-05 23:03] eddiejaoude commented on #1069
We have this on the home page now, and we also have the data for how many today, we can display this also or a graph for the amount per day. I will close this and maybe a new specific issue could be created

<img width="1509" alt="Screenshot 2022-11-05 at 23 02 52" src="https://user-images.githubusercontent.com/624760/200144706-7c70564f-b4ac-4206-ad35-cedbfc115b46.png">

[2022-11-05 23:03] #1069 closed

[2022-11-05 23:04] #1118 closed

[2022-11-05 23:05] eddiejaoude commented on #1123
I will closing this issue as we have a whole new version of the app, a new issue can be created if required

[2022-11-05 23:05] #1123 closed

[2022-11-06 02:27] vasucp1207 commented on #2132
Hey, @eddiejaoude, I am interested to work on this assign this to me.

[2022-11-06 02:29] vasucp1207 commented on #2080
Hey, @jaynarayan-vaishnav I am interested in this assign this to me.

[2022-11-06 02:29] vasucp1207 commented on #2084
Hey, @jaynarayan-vaishnav I am interested in this assign this to me.

[2022-11-06 03:24] ManishBisht777 opened #2141 "[FEATURE] New design for profile section"
### Description

 we can have a new design for profile section instead of a plain one to make our profiles look more promising

although i am not clear with the idea but here is something which is in my head

### Screenshots

![image](https://user-images.githubusercontent.com/89926834/200152385-a1c64c6a-4f96-4253-bad3-839e6223edae.png)

### Additional information

_No response_

[2022-11-06 04:09] jaynarayan-vaishnav commented on #2084
Ig this issue is already merged maybe you could reach out to the project maintainers and ask them about this @vasucp1207

[2022-11-06 04:56] Panquesito7 opened #2142 "[BUG] The image in the main page looks blurry"
### Description

Now that the project has been ported to Next.js, there have probably been some changes to the images or other changes that affected the quality of the image on the main page. You can check it out and it doesn't look HD at all.

### Screenshots

![image](https://user-images.githubusercontent.com/51391473/200154931-357af4d2-527e-461c-93dc-ccde1a42dac9.png)

### Additional informatio

[2022-11-06 06:00] CBID2 commented on #2141
This looks great so far @ManishBisht777! The design is simple yet attractive. Have you thought of anything for the milestone section?

[2022-11-06 06:07] CBID2 opened #2143 "[DOCS] Step-by-Guide-for adding Linkfree to GH profile"
### Description

I was scrolling through the Linkfree website to see if there was a guide on how to add the link of my Linkfree profile to my GitHub and Linkedin profiles, and I didn’t see one. I think it’ll be beneficial to add this section there.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-06 06:28] ManishBisht777 commented on #2141
i created a design for milestones section also , here is the rough idea for that

![image](https://user-images.githubusercontent.com/89926834/200157423-38a5f290-facd-452e-a649-c91246f70c7a.png)

[2022-11-06 06:30] ManishBisht777 commented on #2141
there is also a lot of possibilities by playing with colors

[2022-11-06 09:05] eddiejaoude commented on #1431
Thank you for the suggestion 👍 We now have a cli tool and also a UI tool to help people create their profiles

[2022-11-06 09:05] #1431 closed

[2022-11-06 09:06] eddiejaoude commented on #1432
This has now been added back but only shows results after 3 search characters are added

[2022-11-06 09:06] #1432 closed

[2022-11-06 09:07] eddiejaoude commented on #1438
hey everyone, apologies for my slow reply. The new version of the LinkFree project is out now using NextJS and TailWind

Now the whole block is clickable, not sure if this is better? I will close this issue and we can create a new one that is more relevant to the latest app version

[2022-11-06 09:07] #1438 closed

[2022-11-06 09:08] eddiejaoude commented on #1455
this has now been merged

[2022-11-06 09:08] #1455 closed

[2022-11-06 09:08] eddiejaoude commented on #1480
this has now been merged

[2022-11-06 09:08] #1480 closed

[2022-11-06 09:09] eddiejaoude commented on #1497
This issue doesn't seem to be working on, so we can reassign it

[2022-11-06 09:10] eddiejaoude commented on #1570
hey everyone, apologies for my slow reply. The new version of the LinkFree project is out now using NextJS and TailWind

I will close this issue, but please feel free to create a new issue and we can assign it to you

[2022-11-06 09:10] #1570 closed

[2022-11-06 09:10] eddiejaoude commented on #1577
We are doing end to end testing and that is giving us good confidence, but also struggling to get completed, I think we should focus on that first

[2022-11-06 09:10] #1577 closed

[2022-11-06 09:11] eddiejaoude commented on #1594
Bumped to v2

[2022-11-06 09:11] #1594 closed

[2022-11-06 09:11] eddiejaoude commented on #1601
I don't think we should add a link to LinkTree

[2022-11-06 09:11] #1601 closed

[2022-11-06 09:11] ManishBisht777 opened #2146 "User not found"
### Description

# Issue
If someone try to access page with the url like - "https://linkfree.eddiehub.io/manishbisht" there is actually no user in the database with the name so it only shows a empty page with a image "AA"

# Expected
If a user is not found in the database then it " User not found " should be visible on the screen

### Screenshots

![Uploading image.png…]()

### Additional informat

[2022-11-06 09:12] eddiejaoude commented on #1606
The new version of the LinkFree project is out now using NextJS and TailWind

I will close this issue, but please feel free to create a new issue if still needed

[2022-11-06 09:12] #1606 closed

[2022-11-06 09:13] eddiejaoude commented on #1611
It will be a profile page, especially as people can now use markdown (or they could use milestones or events section)

[2022-11-06 09:13] #1611 closed

[2022-11-06 09:13] eddiejaoude commented on #1612
Thank you! I think this has now been solved

[2022-11-06 09:13] #1612 closed

[2022-11-06 09:14] ManishBisht777 commented on #2146
I looked into the code and instead of using logical expression ( && )  we can we a ternary expression  ( User ? ( ) : ( ) )    to handle the user not found edge case

![image](https://user-images.githubusercontent.com/89926834/200160791-988587a4-2ba2-4b12-b691-877b70c72646.png)

[2022-11-06 09:15] ManishBisht777 commented on #2146
I looked into the code and instead of using logical expression ( && )  we can we a ternary expression  ( User ? ( ) : ( ) )    to handle the user not found edge case

![image](https://user-images.githubusercontent.com/89926834/200160791-988587a4-2ba2-4b12-b691-877b70c72646.png)

[2022-11-06 09:15] eddiejaoude commented on #2146
Thanks for creating the issue 👍 a 404 page is important

[2022-11-06 09:16] eddiejaoude commented on #2146
We redirect to the search page with a message

[2022-11-06 09:30] ManishBisht777 commented on #2146
can i work in this issue?

[2022-11-06 09:42] eddiejaoude commented on #2146
Sorry Manish, I just saw your comment. I started it already, we can both pair on it. Are you in the EddieHub Discord, let's chat in there?

[2022-11-06 09:50] eddiejaoude commented on #2146
I think this issue can be split up into a few sections

- [x] redirect to search page if profile not found (Eddie)
- [ ] alert box on the search page
- [ ] condition for alert box on search page... (Eddie)
   - [ ] profile not found (query param trigger)
   - [ ] when searching and no results found
- [ ] automated testing to test both
   - [ ] no results displayed, type 3 wrong characters, still n

[2022-11-06 09:53] eddiejaoude commented on #1328
This is now allowed with the use of markdown in the bio 👍

[2022-11-06 09:53] #1328 closed

[2022-11-06 09:57] RakeshSangem opened #2147 "[DOCS] remove misleading gif instruction"
### Description

As the project migrated from `React` to `NextJS` so we don't have public folder in the NextJS.

In few folder structure the user need to add the in `data/<username>.json` so it might mistlead the user.

So I wanted to remove that gif.

Thanks!

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-06 11:48] eddiejaoude commented on #2132
Sure, something like this...

<img width="378" alt="Screenshot 2022-11-06 at 11 47 47" src="https://user-images.githubusercontent.com/624760/200168758-b8f9a675-3d7e-4b15-acad-1ec108524505.png">

[2022-11-06 12:39] CodingSpecies opened #2155 "LinkFree name not clear on home page"
### What would you like to share?

I don't think think that on the homepage it is very clear the that the site is called Linkfree.
In the screenshot below it says: `It is an open-source alternative to Linktree implemented in JavaScript`. The use of `it is` makes it seem a bit vague and not clear that what is trying to be described it actually Linkfree.

And on the homepage, it doesn't actually sta

[2022-11-06 12:42] eddiejaoude commented on #2155
Great point! It should say `LinkFree is an Open Source ...`

[2022-11-06 12:42] CodingSpecies commented on #2155
However, I can say that LinkFree looks amazing now. I remember when LinkFree was first established, and when I see it now, there is such a positive difference and change.

[2022-11-06 12:43] eddiejaoude commented on #2155
Thank you @CodingSpecies ! We have more features coming soon too

Don't forget to enable your profile so you can see the stats

[2022-11-06 12:45] CodingSpecies commented on #2155
@eddiejaoude how do I enable my profile? I have already made a profile, but I am not sure if I need to do anything else to enable the stats. Thanks.

[2022-11-06 12:47] eddiejaoude commented on #2155
yes you need to add another json property to `true`, because it is off by default, more info in the readme, but any questions lets chat in EddieHub Discord so we don't pollute this issue

[2022-11-06 12:55] CodingSpecies opened #2156 "Links returning 404 pages in README.md"
### Description

The profile links, where it says add your profile, are returning 404 pages when clicked.
https://github.com/EddieHubCommunity/LinkFree#-to-add-your-profile

![image](https://user-images.githubusercontent.com/70807500/200171910-7c399f61-0a7e-45f9-be48-ec558c002157.png)

[2022-11-06 12:57] eddiejaoude commented on #2156
Great spot! Thank you! The files have moved directories, they are no longer in the `public/data` folder but in the root of the project in `data/`

[2022-11-06 13:47] ManishBisht777 commented on #2141
i want to work on this

[2022-11-06 14:17] Atharv181 opened #2159 "GitHub link open in same page"
### What would you like to share?

When we click on GitHub (present on navigation bar) the repo is opening in same tab. We should open new tab for opening github repo.
![image](https://user-images.githubusercontent.com/73999654/200175943-5da2d43d-6d22-44c3-acf9-100a91929c4d.png)

### Additional information

_No response_

[2022-11-06 15:59] CBID2 opened #2162 "Profile views number not appearing"
### Description

Hi there! I noticed that the profile views number only appears on @eddiejaoude’s profile (see screenshots below). Could this possibly be a bug?

### Screenshots

![6448987D-C176-443A-8173-369645898DDC](https://user-images.githubusercontent.com/105683440/200181151-b841ecba-d921-46f9-a616-572495c6af76.jpeg)
![0AACD105-7842-459C-8710-B964B2536F09](https://user-images.githubuserconten

[2022-11-06 16:07] Panquesito7 opened #2163 "[BUG] Links to inspirational profiles are broken"
### Description

Due to the new update, the links to [three inspirational profiles](https://github.com/EddieHubCommunity/LinkFree#-to-add-your-profile) are broken now. This must be fixed as soon as possible.

**Steps to contribute**

_If you've already forked the repository, skip to step 3_

1. Fork the repository [**here**](https://github.com/EddieHubCommunity/LinkFree/fork).
2. Make a new branch

[2022-11-06 17:12] CodingSpecies commented on #2163
@Panquesito7 should #2156 be closed now you have opened a new issue with instructions?
Thank you.

[2022-11-06 19:27] eddiejaoude commented on #2156
Closing as a duplicate! Thank you @CodingSpecies

[2022-11-06 19:27] #2156 closed

[2022-11-06 19:32] #2146 closed

[2022-11-06 19:41] eddiejaoude commented on #2162
By default the data is kept private, you need to enable in your profile for it to be made visible

[code]

Here is the full example in the README https://github.com/EddieHubCommunity/LinkFree#-to-add-your-profile

[2022-11-06 19:41] #2162 closed

[2022-11-06 19:44] eddiejaoude commented on #2141
I would recommend doing each small improvement at a time, it is very difficult to review big changes

Smaller and more PRs are best

[2022-11-06 19:44] Akshu-on-github commented on #2163
Is this issue up for grabs? If so, I'd love to help out!

[2022-11-06 19:45] eddiejaoude commented on #2163
I think so 👍  Yes go for it @Akshu-on-github

[2022-11-06 19:46] Akshu-on-github commented on #2163
Awesome, I'll open a PR soon

[2022-11-06 19:53] Akshu-on-github commented on #2163
And it should be done!

[2022-11-06 19:56] #2163 closed

[2022-11-06 19:56] eddiejaoude commented on #2163
Merged, thank you 👍

[2022-11-06 22:34] eddiejaoude commented on #1672
The new version of LinkFree is out, I will close this issue, feel free to create a new issue for the new version if still relevant

[2022-11-06 22:34] #1672 closed

[2022-11-06 22:35] eddiejaoude commented on #1706
Great idea, yes please give it a go 👍

[2022-11-06 22:39] eddiejaoude commented on #1798
We now have stats for the profile page and links

Can we have individual google analytics for each page?

[2022-11-06 22:41] eddiejaoude commented on #1854
This was merged in 👍

[2022-11-06 22:41] #1854 closed

[2022-11-06 22:44] eddiejaoude commented on #1906
Closing as no activity for 4 weeks

[2022-11-06 22:44] #1906 closed

[2022-11-06 22:48] eddiejaoude commented on #1920
I am going to close this epic, there are still more tests to be written though

[2022-11-06 22:48] #1920 closed

[2022-11-06 22:49] eddiejaoude commented on #1922
Events section in json file has been added in the new version

The new version of LinkFree is out, I will close this issue, feel free to create a new issue for the new version if still relevant

[2022-11-06 22:49] #1922 closed

[2022-11-06 22:49] eddiejaoude commented on #1927
The new version of LinkFree is out, I will close this issue, feel free to create a new issue for the new version if still relevant

[2022-11-06 22:49] #1927 closed

[2022-11-06 22:50] eddiejaoude commented on #1928
Merged

[2022-11-06 22:50] #1928 closed

[2022-11-06 22:50] eddiejaoude commented on #1944
I will close this EPIC and people can create new issues for each Story

[2022-11-06 22:50] #1944 closed

[2022-11-06 22:50] eddiejaoude commented on #1951
The new version of LinkFree is out, I will close this issue, feel free to create a new issue for the new version if still relevant

[2022-11-06 22:50] #1951 closed

[2022-11-06 22:51] eddiejaoude commented on #1956
The new version of LinkFree is out, I will close this issue, feel free to create a new issue for the new version if still relevant

Please make new issues that are specific to each change - small and often is better

[2022-11-06 22:51] #1956 closed

[2022-11-06 22:53] eddiejaoude commented on #1958
Footer component has been added to Storybook

Please create specific issues for any future work

[2022-11-06 22:53] #1958 closed

[2022-11-06 22:54] eddiejaoude commented on #1962
The new version of the project has images 👍

[2022-11-06 22:54] #1962 closed

[2022-11-06 22:55] eddiejaoude commented on #1984
Issue is fixed, I will close

[2022-11-06 22:55] #1984 closed

[2022-11-06 22:56] eddiejaoude commented on #1994
The new version of LinkFree is out that uses NextJS

[2022-11-06 22:56] #1994 closed

[2022-11-06 22:58] eddiejaoude commented on #2023
It would be interesting to see the performance of the app before/after - I see some sites loading 7MB for fonts and I just leave

But TBH for now I think let's focus on performance and other improvements

[2022-11-06 22:59] eddiejaoude commented on #2033
I think this section has now be removed, as we only have a single branch because `nextjs` was merged into `main`

[2022-11-06 22:59] #2033 closed

[2022-11-06 22:59] eddiejaoude commented on #2080
PR has been merged

[2022-11-06 22:59] #2080 closed

[2022-11-07 02:51] ManishBisht777 commented on #2141
Thanks @eddiejaoude
This issue can be divided into many parts

1) profile section
      1.1) make layout and style it
      1.2) integrated to existing ui
2) socials section
      2.1) make ui for individual social component
      2.2) combine it with the main container
      2.3) Integra it to existing system
3) milestones section
      3.1) make layout and style it
      3.2) integrate it with s

[2022-11-07 02:54] Shivam-Katare opened #2168 "[FEATURE] Show number of Events"
### Description

 - In the events section, there is a blank page showing whenever there are no events. Instead of this, some message or text should be shown whenever there are no events available

### Screenshots

### Example

![Blue Red and Yellow typhography Welcome To Graphic Design Facebook Cover (1600 × 840 px) (1600 × 840 px) (1600 × 840 px) (1)](https://user-images.githubusercontent.com/917

[2022-11-07 08:17] MeetHrishii commented on #2168
Thanks for notifying. I will work on this and resolve this issue ASAP.

[2022-11-07 10:06] eddiejaoude commented on #2141
I would recommend creating an issue for each section, so that it can be reviewed and merged as we go along

[2022-11-07 10:09] ManishBisht777 commented on #2141
Sure i am planning to do the same

[2022-11-07 10:12] eddiejaoude commented on #2168
This is a great idea 👍

We have just added something similar for the search page when there are no result, we could move that alert to a component and re-use that - so it is consistent https://github.com/EddieHubCommunity/LinkFree/blob/main/pages/search.js#L65

[2022-11-07 10:22] Shivam-Katare commented on #2168
Hey @eddiejaoude, can I try to work on this issue?

[2022-11-07 10:26] eddiejaoude commented on #2168
Sure I will assign it to you

[2022-11-07 12:11] ManishBisht777 opened #2171 "[FEATURE] New styles for profile section header"
### Description

we can change the profile section from
##this
![image](https://user-images.githubusercontent.com/89926834/200306857-ac97f273-4cf2-49f5-ad1f-02b90936b7ea.png)

## to this
![image](https://user-images.githubusercontent.com/89926834/200306959-448dc154-bf9e-4ac8-8d76-d6f5a6a959a8.png)

hence making it more promising in continuity with #2141

### Screenshots

_No response_

### Additio

[2022-11-07 12:12] ManishBisht777 commented on #2171
This issue can be divided into 2 parts

1) making ui for the page (working on)
2) integrating and making it dynamic

[2022-11-07 14:36] Ekj0t opened #2173 "[FEATURE] A video and documented guide to make website"
### Description

### Video and Documentation
A proper video and well documented guide on how non-tech users can make a their portfolio website using LinkFree and make their online presence using the tools of the community out there.

Hope to see this feature available for all soon.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-07 15:25] ManishBisht777 opened #2174 "Change number of views for large numbers eq 1000 -> 1k"
### Description

# issue
if views go up very much its hard to actually view how much view it actually has instead we can use 1k, 2k, 3k, 1m

## from
![image](https://user-images.githubusercontent.com/89926834/200347664-506c5810-7b87-4c2b-83c0-48787882b4d1.png)

## to
![image](https://user-images.githubusercontent.com/89926834/200348196-5efe91dc-a733-4b4f-9bff-a1abe8550523.png)

it is a bit more cl

[2022-11-07 15:27] eddiejaoude opened #2175 "[FEATURE] Issue template form that creates the json file with a GitHub Action"
### Description

1. Issue template
2. GitHub Action creates json and writes file using GitHub username

Note: I don't think this is flexible enough as the form is fixed, for example 3 links

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-07 15:28] eddiejaoude opened #2176 "[FEATURE] Login in with OAuth"
### Description

Ideas after authenticated:
- Login to see your stats

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-07 16:22] ManishBisht777 commented on #2171
![image](https://user-images.githubusercontent.com/89926834/200361440-5724298a-768a-49fe-862f-e67fc622c3a4.png)

[2022-11-07 16:24] ManishBisht777 commented on #2171
![image](https://user-images.githubusercontent.com/89926834/200361679-468e2be0-dfd9-4aab-9cf2-abe295e711fe.png)

[2022-11-08 00:23] vasucp1207 commented on #2175
@Hey, @eddiejaoude I want to work on this, but can you explain more about this issue to me.

[2022-11-08 10:12] schmelto commented on #2068
linkfree.org is still available

[2022-11-08 14:57] vasucp1207 commented on #2174
@schmelto I am working on this.

[2022-11-08 15:56] eddiejaoude commented on #2174
@vasucp1207 please only work on 1 issue at a time, this one is currently assigned to you https://github.com/EddieHubCommunity/LinkFree/issues/2132

[2022-11-08 15:56] ManishBisht777 commented on #2132
@eddiejaoude can you elaborate it a little?

[2022-11-08 16:03] eddiejaoude commented on #2132
btw @ManishBisht777 this is assigned to @vasucp1207

[2022-11-08 16:08] ManishBisht777 commented on #2132
ohh , i didn't notice sorry @eddiejaoude

[2022-11-08 16:10] vasucp1207 commented on #2174
Hey, @eddiejaoude but I completed this one.

[2022-11-08 16:17] ManishBisht777 opened #2182 "[FEATURE] New design for socials section"
### Description

this issue is with continuity with #2171

the links section design can be changed from horizontal to grid-type style like

### Screenshots

![image](https://user-images.githubusercontent.com/89926834/200618098-95e3e2d6-8022-4390-b778-e931f86c93ca.png)

### Additional information

_No response_

[2022-11-08 16:17] ManishBisht777 commented on #2182
i am working on this

[2022-11-08 17:07] eddiejaoude commented on #2175
@vasucp1207 you already have another ticket assigned to you, please only do 1 issue at a time

[2022-11-08 17:09] eddiejaoude commented on #2171
If the issue is being split up in to smaller issues, please close this issue to avoid confusion and PRs can be created for each smaller issue

[2022-11-08 17:14] ManishBisht777 commented on #2141
closing this one this has been spilt into multiple issues

[2022-11-08 17:14] #2141 closed

[2022-11-08 17:15] ManishBisht777 commented on #2171
I have created a pull request for this, I am closing #2141

[2022-11-08 17:16] ManishBisht777 commented on #2171
I have created a pull request for this, I am closing #2141 as the issue is been split up into #2171, #2182 and one more issue that is not created yet

[2022-11-08 17:17] #2142 closed

[2022-11-09 09:06] eddiejaoude opened #2187 "[FEATURE] QR code page from profile"
### Description

It would be great to have a page that generates a QR for people to use to share their profile link that others can scan

- link from profile page to unique QR code page
- QR code page to have only the name, bio, pic, and then the QR code big
- QR code to be url to users profile page

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-09 09:13] eddiejaoude opened #2188 "[FEATURE] Script to seed data on dev (inc. gitpod)"
### Description

When creating a new environment all numbers are 0, it would be great to have some example profiles with some stats too

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-09 09:16] #2174 closed

[2022-11-09 09:19] LinuxGamer commented on #2159
Can I be assigned to this issue?

[2022-11-09 09:31] eddiejaoude commented on #2159
Sure, done

[2022-11-09 09:59] #2155 closed

[2022-11-09 20:29] developer-diganta opened #2194 "Horizontal Scroll Bar on landing page"
### Description

An overflow results in a scroll bar on the landing page.

### Screenshots

![image](https://user-images.githubusercontent.com/65999534/200935151-75c1f64f-f472-419b-9caf-04bfdf10820a.png)

### Additional information

If this seems relevant, can I work on it?

[2022-11-10 04:18] Vishrut19 commented on #2187
@eddiejaoude so basically you need a qr code generator to generate unique QR code for each user ?

[2022-11-10 08:53] eddiejaoude commented on #2187
@Vishrut19 yes, I added more info to the description

[2022-11-10 12:05] dan-mba commented on #2194
I found the problem.

In Chrome, the vertical scrollbar causes the width of 100vw to overflow.

Adding a class of `max-w-[100%]` to the div that is the parent of the img should fix the problem.

Go ahead and submit a Pull Request for this

[2022-11-10 13:10] #2168 closed

[2022-11-10 14:49] schmelto opened #2197 "When adding more commits to a PR labeling is not correct"
### Description

When adding more commits to a PR the label action for using label `small`, `medium` etc. is not removing the old label if the state changes from for example small to medium.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-10 15:14] dan-mba commented on #2197
In the label-pull-request-with-size section of [reviewpad.yml](https://github.com/EddieHubCommunity/LinkFree/blob/a09b120bc29259e950a0ccd0d977e67b4bf5b7de/reviewpad.yml#L28) the actions need to be modified to remove labels.

There is an example in the Reviewpad [removeLavels](https://docs.reviewpad.com/guides/built-ins#removelabels) documentation.

[2022-11-10 18:09] pratushrai0309 commented on #2143
Hi can someone guide me on this issue?

[2022-11-10 18:13] CBID2 commented on #2143
Maybe you can look at the format of the current guides and use them as a reference for creating the guide?

[2022-11-11 00:06] eddiejaoude opened #2198 "[DOCS] Events json in the README"
### Description

We can now have events in our profile json, we need to document this

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-11 06:31] eddiejaoude opened #2199 "[FEATURE] Automated tests to move to PageObject model"
### Description

Automated tests to move to PageObject model

Official Playwright documentation https://playwright.dev/docs/pom

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-11 06:37] eddiejaoude opened #2200 "[FEATURE] Accessibility checks to run as part of automated testing"
### Description

Playwright has accessibility testing built in, but we need to config it https://playwright.dev/docs/accessibility-testing

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-11 07:45] eddiejaoude commented on #2132
Discussion from EddieHub Discord, to be more flexible and can support the same icons as the links

[code]

[2022-11-11 12:01] eddiejaoude opened #2203 "[FEATURE] Documentation to be loaded into the app"
### Description

Markdown files could be loaded into the app, so they can be seen directly on there

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-11 12:58] eddiejaoude commented on #2200
YES please, that would be great 👍 I will assign it to you

[2022-11-11 15:28] #1301 closed

[2022-11-11 16:50] krupalitrivedi opened #2207 "[DOCS] Add Linkfree_profile generator: UI version to ReadMe"
### Description

### Description

Adding @schmelto 's Linkfree profile generator to the ReadMe will be amazing!
The link to the repo can be found here: https://github.com/schmelto/LinkFree_generator

Suggestions discussed on the live stream:
- Add a *note* above the existing note with the following content: (you can use your content)
"You can generate the code for your profile using Tom's Linkfree

[2022-11-11 22:07] eddiejaoude commented on #1069
how else would they increase?

[2022-11-11 22:07] eddiejaoude commented on #2194
@dan-mba thank you 👍

[2022-11-11 23:01] dan-mba commented on #2194
@eddiejaoude Well it was my PR that caused this issue, so i wanted to know why.
I normally use Firefox, so I didn't know the difference in how it & Chrome handle 100vw & scroll bars.

[2022-11-11 23:14] arpitapandya commented on #2199
Hey, @eddiejaoude can you assign me to work on this issue?:blush:

[2022-11-12 00:12] eddiejaoude commented on #2199
Sure @arpitapandya 👍

[2022-11-12 04:56] pratushrai0309 commented on #2143
Would be helpful 🙂

[2022-11-12 05:01] CBID2 commented on #2143
I'm visualizing a written guide with screenshots that show users how they can add a link to their Linkfree profile on their Github profile, social media accounts, Linkedin, and their website.  I came up with this because I was trying to do this myself and thought that other members might be having the same problem. Does that make sense now?

[2022-11-12 05:18] pratushrai0309 commented on #2143
Actually I was asking if you could help me how to write the guide?

[2022-11-12 05:23] CBID2 commented on #2143
Sure! Formatting wise, I think we could do something like this[Getting Started](https://help.twitter.com/en/resources/twitter-guide/twitter-101/how-to-set-up-your-twitter-account-twitter-help)

[2022-11-12 06:38] vasucp1207 opened #2213 "[FEATURE] Timeline for latest version"
### Description

- Improve user timeline for the user version.

### Screenshots

https://user-images.githubusercontent.com/85363195/201461094-88e303e3-ec59-4286-803b-89deb7d0ed84.mov

#### @eddiejaoude assign this to me the implementation is almost complete.

[2022-11-12 08:02] eddiejaoude commented on #2213
It looks good, I think this takes a lot of vertical space, and we have more information coming. We should probably discuss it, maybe if you have started the changes, can you create a draft PR so it can be discussed

[2022-11-12 09:54] Rishav1707 commented on #2194
@developer-diganta Will you assign this problem to me??

[2022-11-12 11:13] #2194 closed

[2022-11-12 11:20] ManishBisht777 opened #2221 "[FEATURE] Popular Page styles"
### Description

Changing popular styles section to a more compact grid style view to fit more profiles in the same space like

### Screenshots

![image](https://user-images.githubusercontent.com/89926834/201471568-5b55fdeb-4e19-47a5-90d2-b9eba9ab79df.png)

### Additional information

_No response_

[2022-11-12 11:20] ManishBisht777 commented on #2221
i am working on this

[2022-11-12 12:38] ManishBisht777 commented on #2221
@eddiejaoude this is how it is looking for now
![image](https://user-images.githubusercontent.com/89926834/201474257-1f1ef5f7-b9d3-402a-ab8d-4b5689f30a0a.png)

[2022-11-12 12:39] ManishBisht777 commented on #2221
Also, the search page is also affected by the same I will address that after this pr gets merged
![image](https://user-images.githubusercontent.com/89926834/201474318-df78b737-07ab-48e2-acff-f08228bfceb1.png)

[2022-11-12 16:30] furkanmutlu commented on #2187
Hi @eddiejaoude , can you assign me to work on this issue ?

[2022-11-12 17:12] Harsh-Daga commented on #2197
Hey . I would like to work on this issue :)

[2022-11-12 17:21] Harsh-Daga commented on #2197
Hey ,
I would like to work on this issue if it is not resolved yet :)

[2022-11-12 21:07] ahdbk opened #2226 "[DOCS] Storybook example link broken"
### Description

In the readme file the link to Storybook example is broken. The Url point to the nextjs branch that doesn't exist anymore

[code]
😎

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-13 00:40] #2226 closed

[2022-11-13 07:41] #2022 closed

[2022-11-13 07:58] schmelto commented on #2197
@Harsh-Daga go for it

[2022-11-13 08:11] Sriparno08 opened #2229 "[DOCS] Add Missing Preposition & Change in Guidelines"
### Description

Hey EddieHub, I have found an issue in the **README.md** file!

In the below screenshot, we can see an arrow under the **A Note for Hacktoberfest Participants** section, located in README.md. This arrow suggests that the "Maintainers will opt-in these PRs" portion should be changed to "Maintainers will opt-in **to** these PRs" as the preposition "**to**" is missing from the portio

[2022-11-13 08:13] Sriparno08 commented on #2229
I would also like to work on this issue!

[2022-11-13 22:07] eddiejaoude commented on #2221
@ManishBisht777 it looks good, but we cannot fix after the merge because it will break the search page

[2022-11-13 22:10] eddiejaoude commented on #2187
Sure 👍

[2022-11-13 22:17] eddiejaoude commented on #2229
Thank you raising the issue 👍

The project has the `hackatobefest` topic, so it is all opt in now, but profile update PRs have the label `invalid` as not to count for hackatoberfest - if you could update the message to explain this, that would be great 👍

[2022-11-14 02:36] Sriparno08 commented on #2229
Thanks for interacting, @eddiejaoude 👍

I have updated the message! Please have a look!

[2022-11-14 03:36] ManishBisht777 commented on #2221
@eddiejoude should i fix that i this pr itself?

[2022-11-14 12:04] eddiejaoude commented on #2229
Thanks for updating 👍

[2022-11-14 12:20] Sriparno08 commented on #2229
You're welcome, Eddie!

Also, can I work on this issue please?

[2022-11-16 06:02] Rishav-12 commented on #2197
Hey, I was looking at the open issues and noticed that this issue has been resolved by PR #2230. I think this can be closed now.

[2022-11-16 07:01] #2197 closed

[2022-11-16 18:27] victoriacheng15 opened #2241 "[OTHER] update actions version for checkout and setup-node"
### What would you like to share?

Saw this warning in the `Actions` tab.

Checked the `build.yml` file and saw older version of setup-node and checkout as well. Both should have v3 now and uses node 16.

[code]
![image](https://user-images.githubusercontent.com/35031228/202261210-ab83e0c1-0e9b-4883-8426-9b1f3d288be7.png)

### Additional information

It may ok not to update soon, however, GitHub p

[2022-11-17 04:42] ManishBisht777 commented on #2221
@eddiejaoude i update the following changes to a new component and reverted the changes in prev component

[2022-11-17 15:25] money8203 commented on #2125
@CBID2 It's a great idea, we should definitely try it out.

[2022-11-18 14:10] dan-mba opened #2243 "Release action uses unmaintained actions/create-release"
### Description

The GitHub action [actions/create-release](https://github.com/actions/create-release) is no longer maintained.

The repo lists 4 maintained actions to consider switching to.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-18 17:55] money8203 commented on #2125
Yeah sure! ping me whenever you are stuck or needed any kind of guidance.

[2022-11-18 18:55] CBID2 commented on #2125
Great thanks

[2022-11-19 03:49] HEGADE opened #2244 "[FEATURE] <description>"
### Description

hi, popular profile page can be redesigned instead of using a row-wise display of the profile info, we can display it column-wise using a grid and card-like design with some animation maybe

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-19 07:09] vasucp1207 commented on #2198
@eddiejaoude, I am interested to work on this can you explain this in detail?

[2022-11-19 09:47] #2187 closed

[2022-11-19 13:23] #2116 closed

[2022-11-20 04:55] CBID2 commented on #2125
Hey @money8203! :) Here's a [rough draft of my solution](https://codepen.io/CB_ID2/pen/VwdyKbm). I followed [this tutorial] ( https://www.geeksforgeeks.org/design-background-color-changer-using-html-css-and-javascript/) to create it. For some reason, the CSS and JS is not working.

[2022-11-20 16:46] amandamartin-dev opened #2249 "[OTHER] Improvement: Update Github link to icon instead of text"
### What would you like to share?

In the header of the linkfree page to the right, the Github link is currently text.  This should be updated to the Octocat icon.

Exact location in a red box in the ss below
![Image of linkfree site cropped to show Github as text in upper right corner](https://user-images.githubusercontent.com/97615019/202914510-c26eb8d8-ba5b-4bd5-8929-d6cc52df7560.png)

### Addi

[2022-11-20 16:49] eddiejaoude commented on #2249
Thank you Amanda! 👍

Just to let you know we have an Icon component that you might be able to use or use it's code for ideas
https://github.com/EddieHubCommunity/LinkFree/blob/main/components/Icon.js

[2022-11-20 16:51] amandamartin-dev commented on #2249
Fantastic! And happy to take on  this issue as well as my first

[2022-11-20 16:56] amandamartin-dev opened #2250 "[OTHER] Improvement: Increase discoverability of clickable QR code"
### What would you like to share?

The animated QR code on the user image is clickable, but this is not obvious.  It would increase the UX of the site to make it easier to know that this is a link

Image shows the location of the QR code at the bottom left of the user profile image
![screenshot of linkfree page with a red arrow pointing to the qr code location](https://user-images.githubuserconten

[2022-11-20 16:57] eddiejaoude commented on #2249
Great! I will assign it to you 👍

[2022-11-20 17:32] yrs147 opened #2253 "[FEATURE] Changing the Mastodon Icon on Linkfree profile"
### Description

 It would be better if the linkfree profile shows the actual mastodon icon on the profile.
I would like to work on this issue @eddiejaoude.

### Screenshots

![Screenshot 2022-11-20 225708](https://user-images.githubusercontent.com/98258627/202916688-38d948f4-9916-4492-b5d9-0aec624ccf2e.png)

### Additional information

_No response_

[2022-11-20 20:23] amandamartin-dev commented on #2249
My code is complete, but I am having a terrible time getting the tests to run.  I am very unfamiliar with how to debug playwright tests, but after many warnings about dependencies and then finally getting the tests to run - they all timeout. Any thoughts are welcome here!
I am working in gitpod, macOS 12.5.1, chrome - current

[2022-11-20 21:12] eddiejaoude commented on #2249
Oh no sorry to hear you had issues running the tests @amandamartin-dev - can you share a screenshot and we can try to solve it for you and the next person

I would recommend pushing your changes to a pull request and let Github Actions run the tests because I think they will pass

[2022-11-20 21:28] amandamartin-dev commented on #2249
@eddiejaoude You were correct! Just more configuration issues likely but this was certainly low risk to PR.  Let me know if I have missed anything if you (or to any other reviewer) notice something I should have done differently in this process or my code choices.

Here are the screenshots, definitely config related so I can surely take another stab next time I work on an issue and see if i can ge

[2022-11-20 21:32] eddiejaoude commented on #2249
Oh it looks like it cannot get access to MongoDB, we should raise a bug for that (would you like another green square?)

[2022-11-20 21:36] amandamartin-dev commented on #2249
Ahhh, I thought it was me! I will open that up soon.

[2022-11-20 21:45] #2249 closed

[2022-11-20 21:45] eddiejaoude commented on #2249
Great, thank you 👍

[2022-11-21 10:40] Pradumnasaraf opened #2255 "Remove outdated Gitpod demo from the README"
### Description

Remove the outdated Gitpod demo from the README. The demo was based on v1 of the project

Things to remove
- Heading along with the GIF

<img width="1191" alt="Screenshot 2022-11-21 at 4 07 17 PM" src="https://user-images.githubusercontent.com/51878265/203030107-eae5be6e-3658-44a0-a8be-7b20b728d5aa.png">

[2022-11-21 11:01] ShorunTech commented on #2255
Let me work on this right away.

[2022-11-21 11:05] Pradumnasaraf commented on #2255
I have assigned you the issue @ShorunTech. You can start working on it.
Thank you

[2022-11-21 12:41] amandamartin-dev opened #2257 "Unable to connect to DB in gitpod - tests failing"
### Description

When running tests in gitpod in the browser IDE, tests fail due to no DB connection.  Suspect a configuration issue.

**Steps to recreate:**
1. create a branch
2. run project in gitpod
3. in terminal, run command: npm test

See error in SS below

![db_connect_error](https://user-images.githubusercontent.com/97615019/203057266-3b25ae9a-9229-4b57-b0dd-cfafa013e770.jpg)

### Screensh

[2022-11-21 13:07] amandamartin-dev commented on #2257
Please see the screenshots below for example errors

test failure
![test_error_example](https://user-images.githubusercontent.com/97615019/203062927-558bcd3b-2d61-4b44-b845-23b384063dbb.jpg)

DB error
![db_connect_error](https://user-images.githubusercontent.com/97615019/203063000-f76d19ba-04b2-4f2a-b5da-5e88e7f2c5f6.jpg)

[2022-11-21 13:57] ShorunTech commented on #2255
I deleted the previous fork project, which I don't have to in the first place but because it was bringing conflict for me.
I had to create new PR and also create new branch. but I guess it's resolved now.

[2022-11-21 16:23] eddiejaoude opened #2259 "[FEATURE] Testimonials for people's profiles"
### Description

It would be great if people could leave each other testimonials, then the user can select which ones they want to appear on their profile

Possible technical solution, we have their profile as `data/eddiejaoude.json`, and testimonial files could go in a matching folder, for example `data/eddiejaoude/sarajaoude.json` (where `sarajaoude` is the author of that testimonial)

[code]

#

[2022-11-21 20:16] #2241 closed

[2022-11-22 07:56] YuriDevAT commented on #2200
Hey Eddie! 👋🏽   May you assign someone else for this issue? I am still facing problems with connecting to the DB, storybook complaining that it is not installed after several removes, reinstalled, and completely new forks of the project itself, the same is for playwright.

If the ticket it still available in January, I would come back to it. 😇

[2022-11-22 07:58] money8203 commented on #2200
Hey can someone tell me what it is about and how can I contribute to it ?

[2022-11-22 09:35] eddiejaoude commented on #2200
@YuriDevAT sounds like it is something we need to fix/improve on the project, let me know if you want to work through together, because I am sure others are having similar challenges and I would like to improve the developer experience on the project

[2022-11-22 10:53] YuriDevAT commented on #2200
I do face problems with another OS project as well, everything was working fine during Hacktober, but now.. I think it has something to do with my node. Should I have time this weekend, I will let your team know in Discord if someone has time to help me via screen sharing. I hope this is fine with you. Sorry for the inconvenience.

[2022-11-22 10:56] eddiejaoude commented on #2200
Yes let us know in EddieHub Discord and we can help 👍  no problem, it happens to us all

[2022-11-22 13:53] dan-mba commented on #2257
I opened a PR that should fix this.

It installs all the Playwright dependencies & runs tests one at a time because our size Gitpod instance can't handle parallel tests.

[2022-11-22 15:35] DeeptanshuDas commented on #2250
Hi can I work on this issue?

[2022-11-23 16:28] yrs147 commented on #2253
Hey I've fixed the issue
![Screenshot 2022-11-23 215803](https://user-images.githubusercontent.com/98258627/203598520-fbf8887a-2e82-400a-a67f-74562bb319aa.png)

Which branch should I make a pull request to?

[2022-11-23 16:29] yrs147 commented on #2253
hey I've fixed this issue , which branch should I make a pull request to?
![Screenshot 2022-11-23 215803](https://user-images.githubusercontent.com/98258627/203598672-fc62afe1-95ba-417f-ae88-fd017beb3857.png)

[2022-11-23 16:44] yrs147 commented on #2253
?

[2022-11-23 20:34] Njong392 opened #2267 "[FEATURE] Change cursor to pointer for QR code"
### Description

I noticed the recent addition of a QR code to all user profiles. The hopping animation is cool, but what if on hover, we changed the cursor to a pointer to further show users that it's clickable? Not sure how this would be accessibility-wise, but

### Screenshots

![QR cod around my name with pointer over it on hover](https://user-images.githubusercontent.com/81039882/203641144-07

[2022-11-23 23:27] #2257 closed

[2022-11-23 23:27] eddiejaoude commented on #2257
Thank you all, great to have been made aware of this bug and now it is fixed 🔥

[2022-11-24 08:36] ThorOnTheRocks commented on #2267
Great idea! I think as long as it's keyboard-focusable it should be fine regarding accessibility...but not 100% sure.
Let me know if nobody works on that I would love to do it

[2022-11-24 10:56] Njong392 commented on #2267
I'm just now waiting to hear from the maintainers. But sure. You can take the issue if they approve it 😇

[2022-11-24 11:39] Rishav-12 commented on #2243
Hey, can I try working on this?

[2022-11-24 15:02] #2159 closed

[2022-11-24 18:09] Atharv181 commented on #2159
Thank you!

[2022-11-25 17:20] CBID2 opened #2274 "[Feature] Display preview of a post (YouTube, tweet, blog post) with a link"
### Description

Hi there. It would be cool for Linkfree to preview content that users add to their profile.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-25 20:20] joeshajan commented on #2274
Hey, @CBID2 I would like to add this feature. Can you explain some more details?

[2022-11-25 21:01] CBID2 commented on #2274
@eddiejaoude, can you help me explain this feature?

[2022-11-25 21:14] eddiejaoude commented on #2274
I think similar to how we have the social icons, we could have a selected piece of content that is previewed.

For example
- if they add a YouTube link, it would embed the video
- if they add a Tweet link, it would show the tweet

They can only have 1 item at a time, so their json file would have the additional field...

[code]

[2022-11-25 22:44] CBID2 opened #2276 "[FEATURE] <>"
### Description

 It would be cool to have an option to make preview dynamic to load latest post.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-25 22:47] CBID2 opened #2277 "[FEATURE] PWA version of Linkfree"
### Description

Hi there. I think it would be great for there to be a mobile version of Linkfree, just in case if users need to make changes to their profile but via their smartphone or tablet.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-25 22:50] CBID2 opened #2278 "[FEATURE] offline version of Linkfree (PWA)"
### Description

Having access to user profiles offline would be great when there is limited internet.

We can make LinkFree into a PWA https://www.npmjs.com/package/next-pwa

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-26 04:35] joeshajan commented on #2274
@eddiejaoude where is it displayed? Right below the tags on the profile page or somewhere else.

[2022-11-26 12:10] eddiejaoude opened #2281 "[FEATURE] Help button to link to GitHub Discussions"
### Description

Add a help icon and link to GitHub Discussions

<img width="1467" alt="Screenshot 2022-11-26 at 12 09 16" src="https://user-images.githubusercontent.com/624760/204088162-c412ae49-3f09-43c8-b721-8f6d0c4a7b4b.png">

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-26 16:24] joeshajan commented on #2281
@eddiejaoude I would like to work on this. Can you assign this to me?

[2022-11-26 16:40] joeshajan commented on #2281
Do we need to fix the position of the button?

[2022-11-26 17:09] joeshajan commented on #2281
![image](https://user-images.githubusercontent.com/69904519/204100542-e8427a03-c84b-4806-9148-345a6537753e.png)

@eddiejaoude What do you think about this?

[2022-11-26 18:59] rwiteshbera commented on #2267
I love to work on it. hi, @Njong392 , Will you please assign me this issue?

[2022-11-26 21:35] eddiejaoude commented on #2132
This was completed and merged 👍

[2022-11-26 21:35] #2132 closed

[2022-11-27 09:27] #2281 closed

[2022-11-28 10:51] loftwah opened #2286 "Profile heading characters should be limited"
### Description

The amount of characters that can be used in a profile heading should be limited to what can be displayed in a card on the popular profiles pages. My profile is in the popular profiles page now and I noticed that I've used more characters than I probably should have. Instead of extending the cards I think it would be better to limit the amount of characters. I'll update mine and s

[2022-11-28 16:34] MirzaHasnat commented on #2286
@eddiejaoude @loftwah  Hi ! Can I take this issue ?

[2022-11-28 20:15] Balastrong opened #2288 "Standardize padding on main pages"
### Description

I noticed that `padding-top` and `padding-left` on the main pages (`/popular`, `/search` and `/events`) are not consistent, giving a weird effect when switching between them.

The popular page has the class `.p-5` on the first element, giving 1.25 rem on both top and left paddings.
Instead, search and events have on their first elements the class `.px-6` giving 1.5 rem on left and

[2022-11-28 20:16] Balastrong commented on #2288
If you think it makes sense, I'll be happy to submit a PR for this :)

[2022-11-28 22:21] amandamartin-dev commented on #2267
I opened an issue for this a few days ago..  is there a way to combine into one so we don't have duplicate work?

Issue #2250

[2022-11-28 22:36] eddiejaoude commented on #2267
Thanks all for the great idea and discussions. I will close this as it is a duplicate of https://github.com/EddieHubCommunity/LinkFree/issues/2250

[2022-11-28 22:36] #2267 closed

[2022-11-29 00:02] loftwah commented on #2286
I'm good with that. Let me know if you need anything.

[2022-11-29 07:07] AAYUSH-droid commented on #2288
Would like to work on this issue. Can you assign me?

[2022-11-29 21:42] LinuxGamer opened #2294 "Not all profiles have view counts."
### Description

I was looking at the popular profile pages and saw mine there, I went to check the view count on the profile and it wasn't there, so I checked Eddie's and Pradumna's and they have it. There is other profiles on popular that don't have view counts.

### Screenshots

![4F8D9EB8-FBB2-443F-B1C0-6157F219CA58](https://user-images.githubusercontent.com/83363242/204654067-3c6bb3b7-d72a-43

[2022-11-29 21:47] LinuxGamer opened #2295 "[MOBILE] Github link doesn't open in new tab"
### Description

Same as #2159 but on mobile devices.

### Screenshots

### Additional information
Browser - Opera Touch
OS - iOS 15.7

[2022-11-29 21:55] eddiejaoude commented on #2294
It is off by default, you can enable it with `"displayStatsPublic": true,`, see the official example here in the docs...

https://github.com/EddieHubCommunity/LinkFree#-to-add-your-profile

[2022-11-29 22:24] LinuxGamer commented on #2294
Ok, I'll close this issue now :) XD

[2022-11-29 22:24] #2294 closed

[2022-11-29 22:39] eddiejaoude commented on #2294
no worries, thank you for asking and closing 👍

[2022-11-30 01:55] arpitapandya commented on #2199
Hey, @eddiejaoude I am sorry for taking longer than I expected, Almost ready, I will submit PR by next week.

[2022-11-30 07:33] eddiejaoude commented on #2199
no problem @arpitapandya , when you get time.

Remember you don't need to do it all, you can do 1 example - actually it is best to keep it small, make a small improvement and submit a pull request

[2022-11-30 07:35] arpitapandya commented on #2199
Oh Thanks @eddiejaoude I thought I have to write all the test cases

[2022-11-30 07:41] eddiejaoude commented on #2199
oh no, not at all, it is better if you don't as it is much more difficult to review so many changes - maybe select 1 test file

[2022-11-30 13:04] joeshajan commented on #2295
Hey @LinuxGamer can I take this issue?

[2022-11-30 16:24] LinuxGamer commented on #2295
@joeshajan sure, a maintainer can assign you to the issue :)

[2022-11-30 18:58] eddiejaoude opened #2302 "[FEATURE] GitHub Action to display LinkFree testimonials in our GitHub Profiles"
### Description

GitHub Action to display LinkFree testimonials in our GitHub Profiles

https://github.com/EddieHubCommunity/LinkFree/tree/beta/data/eddiejaoude

<img width="1644" alt="Screenshot 2022-11-30 at 18 58 14" src="https://user-images.githubusercontent.com/624760/204884937-7d2bf239-c561-4bf3-90ce-56277cb33c56.png">

### Screenshots

_No response_

### Additional information

_No response