[2021-09-10 16:23] iason9 opened #1 "Create React App"

[2021-09-10 16:23] rohan-kulkarni-25 opened #2 "Add Prime React to Project"
Can have a look here https://primefaces.org/primereact/showcase/#/setup

[2021-09-10 16:24] kkhitesh commented on #1
Add -clean-cra template to create your app without icons test scripts,etc.

[2021-09-10 16:24] FayasNoushad commented on #1
Live stream going on :- https://youtube.com/c/eddiejaoude

[2021-09-10 16:27] SaNsK11 opened #3 "Update Readme"

[2021-09-10 16:27] kkhitesh opened #4 "Edit README.md"

[2021-09-10 16:28] iason9 commented on #4
Duplicate issue #3

[2021-09-10 16:29] verma-kunal opened #5 "A quick-start guide in README"
Adding a quick start guide in readme, to help new contributors

[2021-09-10 16:29] stemount opened #6 "Inherit the EddieHubCommunity template!"
We skipped using the EddieHubCommunity template! PR is open but not sure if you can add a template retrospectively to a repo!

[2021-09-10 16:29] iason9 commented on #5
duplicate issue #3 and #4

[2021-09-10 16:33] verma-kunal opened #10 "Add CODE_OF_CONDUCT"
adding the code_of_conduct file

[2021-09-10 16:37] kaiwalyakoparkar opened #12 "Add License"
The current project does not have a license. So I suggest MIT standard license as of now

[2021-09-10 16:41] SaNsK11 opened #13 "Add avatar and bio"

[2021-09-10 16:41] kaiwalyakoparkar opened #14 "Add avatar and bio"
We need avatar image and bio for the profile of the person

[2021-09-10 16:49] kaiwalyakoparkar opened #18 "Add the social links"

[2021-09-10 16:49] kkhitesh opened #19 "Add social links"

[2021-09-10 16:49] rohan-kulkarni-25 opened #20 "Add Socials"
- LinkedIn
- Twitter
- Discord
- Instagram

[2021-09-10 16:49] SaNsK11 opened #21 "Add social links"

[2021-09-10 16:53] Flolight opened #22 "Add github repo link in the footer"
Add github repo link in the footer so people know where to contribute.

[2021-09-10 16:55] nhcarrigan opened #23 "Convert to Angular"
💜 💜 💜 💜 💜 💜 💜 💜 💜 💜

[2021-09-10 16:55] unnati914 opened #24 "Adding Contributing Guidelines"
We should add a CONTRIBUTING.md file to the root folder of the repository.

This file should include:
- Steps to set up a local instance of the project
- Instructions to add the JSON file
  - Include an example of formatting (emphasise `github.com/<username>.png` for avatars)
- Requirements for submitting a PR
  - Conventional commit messages

[2021-09-10 17:02] stemount opened #25 "Explore React's accessibility docs to ensure aria tags, alt tags etc are correct."
React has really good accessibility support, and it would be good for someone to explore the React docs and ensure that this has all the aria labels, alt tag on the avatar of the persons name, all this good stuff.

[2021-09-10 17:05] FayasNoushad opened #26 "GitHub Page"
Please host on github page.

[2021-09-10 17:05] FayasNoushad commented on #26
For reviewing live stream viewers.

[2021-09-10 17:06] stemount opened #27 "Load data/*.json file from domain name or from the URL"
To support routes:

`thisproject.com/stemount` would load stemount.json

but if you use this project for your own domain, you could load in this order:

[code]

[2021-09-10 17:06] aryasoni98 commented on #24
I would like to work on it

[2021-09-10 17:07] aryasoni98 commented on #12
I would like to work on it

[2021-09-10 17:07] KrishSavani opened #28 "feat: Add color as a property in the socials in member json file"
Add color as a property in the socials in member json file

[2021-09-10 17:08] rohan-kulkarni-25 opened #29 "Can use githubusername.png as image"
https://github.com/EddieHubCommunity/Members/blob/6fd9ba89a2ae06b184147ef5bea65662f2f19bc2/public/data/eddiejaoude.json#L4

In this line we can use
https://github.com/eddiejaoude.png

- This will help us to keep the link updating as you update the profile pic

[2021-09-10 17:18] #12 closed

[2021-09-10 17:28] kkhitesh opened #33 "Add name to profile"

[2021-09-10 17:28] mohan-murali opened #34 "Feat: Add Name to Profile"

[2021-09-10 17:28] Soham041201 opened #35 "Shall we style the links to the center and change the width?"

[2021-09-10 17:36] stemount opened #36 "[Thread] Suggestions of names of the project"
Suggestions coming in hot.................... 3 ................2.................1

[2021-09-10 17:36] ashwinexe opened #37 "Adding different colors to different links"

[2021-09-10 17:38] nhcarrigan commented on #36
`EddiePodLinkTreeHub: The only social link you'll ever need (Powered by Angular)`

[2021-09-10 17:40] #29 closed

[2021-09-10 17:43] stemount opened #39 "Add common things to the .gitignore (IDEs)"
Use a tool like toptal https://www.toptal.com/developers/gitignore?templates=visualstudiocode,phpstorm+all

[2021-09-10 17:45] Cahllagerfeld opened #41 "Gitpodify Project"

[2021-09-10 17:47] iason9 opened #42 "Load data of member according to the url"
load data of profile using the slug in the url

[2021-09-10 17:50] #28 closed

[2021-09-10 18:03] stemount opened #51 "GitHub action for linting the data/*.json files"
We need to catch in the pull request GitHub action that the file doesn't have a trailing comma, or the JSON file is malformed.

This would stop the necessity for someone to reply to a pull request, it would prevent a merge!

[2021-09-10 18:11] Recognizeyourself opened #52 "Just practicing on how to create issue - Ignore"
Hello

[2021-09-10 18:11] vijay-jaisankar opened #53 "React LinkTree Project Name Idea"
How about ```LinkFree```?
For the Linktree clone

[2021-09-10 18:12] stemount commented on #36
LinkFREE

[2021-09-10 18:13] stemount commented on #53
Clone of #36

[2021-09-10 18:30] #41 closed

[2021-09-10 18:39] stemount commented on #36
![image](https://user-images.githubusercontent.com/150512/132901772-4f14dc8e-05d9-4c99-9c38-bbdbe539b8a1.png)

[2021-09-10 18:52] Soham041201 opened #58 "Update ReadMe to add data in JSON"

[2021-09-10 19:01] Shofiya2003 commented on #20
Hello. Can I work on this issue?

[2021-09-10 20:29] eddiejaoude opened #60 "Screenshot"
<img width="799" alt="Screenshot 2021-09-10 at 21 29 19" src="https://user-images.githubusercontent.com/624760/132914060-a1ce5f13-d2df-4dac-8fad-345a71da7edd.png">

[2021-09-10 20:29] #60 closed

[2021-09-10 21:05] vijay-jaisankar commented on #36
Thanks @stemount
Sorry, I didn't see the notification about the duplicated issue earlier.

[2021-09-10 21:05] vijay-jaisankar commented on #53
Thanks for the heads up (and for recommending the name there :) )

I'll close this issue then.

[2021-09-10 21:05] #53 closed

[2021-09-10 23:24] eddiejaoude commented on #1
Thank you all 👍

[2021-09-10 23:24] #1 closed

[2021-09-10 23:24] eddiejaoude commented on #2
Thank you 👍

[2021-09-10 23:24] #2 closed

[2021-09-10 23:25] eddiejaoude commented on #3
Thank you 👍

[2021-09-10 23:25] #3 closed

[2021-09-10 23:25] eddiejaoude commented on #4
Thank you 👍

[2021-09-10 23:25] #4 closed

[2021-09-11 02:38] adithyapaib opened #62 "Gitpod link dosent deply correct application"
When clicked on Apply with gitpod the app running doesn't show the correct web page
![Screenshot (205)](https://user-images.githubusercontent.com/40488244/132933458-86a6cf7f-21a0-474d-8755-cad87a1621dd.png)

[2021-09-11 04:36] FayasNoushad opened #64 "Socials"
Can i add more socials? Like `telegram`, `youtube`, `instagram` etc.

[2021-09-11 06:38] Recognizeyourself commented on #51
Can't understand what it is. Can you brief me a little more? (P.s: i am new to GitHub)

[2021-09-11 07:04] Krishnapro opened #68 "Add profile link"

[2021-09-11 07:56] eddiejaoude opened #69 "Deploy project"
**Update: ingress config is not loading, there is no service running, could this be the issue?**

Deployed to Kubernetes

<img width="1672" alt="Screenshot 2021-09-11 at 08 49 10" src="https://user-images.githubusercontent.com/624760/132940840-1566a280-bb73-4ef8-93cf-a157c6ab457a.png">

### DNS looks ok

works: api.eddiehub.org

[code]

fails: linkfree.eddiehub.org

[code]

## Kubernetes config

A

[2021-09-11 07:59] Cahllagerfeld commented on #62
For me Gitpod works fine
It seems like you arent having a url-parameter to display a users profile.
![grafik](https://user-images.githubusercontent.com/43843195/132940951-093ac13a-ac17-490e-bc0e-e144c1808ae2.png)

[2021-09-11 08:26] FayasNoushad commented on #69
Temporarily Deployed for you :- https://eddie-hub-community-link-free.vercel.app/

[2021-09-11 08:28] FayasNoushad commented on #69
Eddiejaoude :- https://eddie-hub-community-link-free.vercel.app/Eddiejaoude
FayasNoushad :- https://eddie-hub-community-link-free.vercel.app/FayasNoushad

[2021-09-11 10:00] #52 closed

[2021-09-11 13:22] eddiejaoude commented on #69
Thank you 🤓

[2021-09-11 13:27] FayasNoushad commented on #69
You can user vercel or netlify ( free servers ) and no more problems for deploying.

[2021-09-11 17:14] Recognizeyourself opened #73 "Cant run on my local machine. Help needed !!"
![image](https://user-images.githubusercontent.com/35026190/132955815-3049d1d9-f157-404d-8eda-b15705a8b78e.png)

Help needed !!

[2021-09-11 23:32] eddiejaoude commented on #73
hi @Recognizeyourself , did you run `npm install`?

If you can share the steps you have taken, we can help you better

[2021-09-11 23:37] eddiejaoude commented on #69
Fixed, we are now deploying to our Kubernetes cluster 🎉

[2021-09-11 23:37] #69 closed

[2021-09-12 03:01] #35 closed

[2021-09-12 04:23] FayasNoushad opened #75 "Search support"
Please add search support for members.

[2021-09-12 05:12] Recognizeyourself commented on #73
I just tried doing `npn install` and it worked. Thankyou Again.

[2021-09-12 05:12] #73 closed

[2021-09-12 07:03] mohan-murali commented on #62
Its probably working for you cause for you base URL itself is the origin name. But during the live stream the base URL was coming as origin/linkFree which was causing the issue. I remember facing this issue and I resolved it by setting the baseName in the router to window.location.host/linkFree. But that will not work in local as in local we don't have linkFree. So what I ended up doing is somethi

[2021-09-12 07:04] #34 closed

[2021-09-12 09:51] eddiejaoude commented on #64
yes we need to add more types 👍

[2021-09-12 09:51] eddiejaoude opened #79 "Display deployed version"

[2021-09-12 09:51] #79 closed

[2021-09-12 09:51] eddiejaoude commented on #5
This is now done 👍

[2021-09-12 09:51] #5 closed

[2021-09-12 09:51] eddiejaoude commented on #13
Thank you! This is now done 👍

[2021-09-12 09:51] #13 closed

[2021-09-12 09:52] eddiejaoude commented on #14
Thank you! This is now done 👍

[2021-09-12 09:52] #14 closed

[2021-09-12 09:52] eddiejaoude commented on #19
Thank you! This is now done 👍

[2021-09-12 09:52] #19 closed

[2021-09-12 09:52] eddiejaoude commented on #18
Thank you! This is now done 👍

[2021-09-12 09:52] #18 closed

[2021-09-12 09:52] FayasNoushad commented on #64
Ok

[2021-09-12 09:52] #64 closed

[2021-09-12 09:52] eddiejaoude commented on #20
Thank you! This is now done 👍

[2021-09-12 09:52] #20 closed

[2021-09-12 09:53] eddiejaoude commented on #21
Thank you! This is now done 👍

[2021-09-12 09:53] #21 closed

[2021-09-12 09:53] eddiejaoude commented on #22
Thank you! This is now done 👍

[2021-09-12 09:53] #22 closed

[2021-09-12 09:53] eddiejaoude commented on #26
Thank you! This is now done 👍 Hosted on our Kubernetes cluster http://linkfree.eddiehub.org/

[2021-09-12 09:53] #26 closed

[2021-09-12 09:54] eddiejaoude commented on #33
Thank you, this is now done 👍

[2021-09-12 09:54] #33 closed

[2021-09-12 09:55] eddiejaoude commented on #42
Thank you, this is now done 👍

[2021-09-12 09:55] #42 closed

[2021-09-12 09:56] FayasNoushad opened #80 "Telegram"
Please create a group on telegram ( instant messaging application ).

[2021-09-12 09:56] FayasNoushad commented on #80
telegram.org/apps
web.telegram.org

[2021-09-12 10:35] eddiejaoude commented on #58
Thank you, the has now been completed 👍

[2021-09-12 10:35] #58 closed

[2021-09-12 11:52] eddiejaoude opened #84 "filter out socials that do not match config"
in file `src/Components/Links.js`

[2021-09-12 12:06] adithyapaib opened #85 "Add meta tags and add issue template"
Add meta tags and add issue template

[2021-09-12 19:13] #84 closed

[2021-09-13 08:41] krishdevdb commented on #23
Not sure why, could you provide a reason? \:D

[2021-09-13 11:22] schmelto commented on #68
You can add your profile by opening a pr described [here](https://github.com/EddieHubCommunity/LinkFree#to-add-your-profile)

[2021-09-13 11:24] schmelto commented on #10
see https://github.com/EddieHubCommunity/LinkFree/commit/1bd96ae0ad6c951b0730b39ec223131bb06b6230

[2021-09-13 11:24] #10 closed

[2021-09-13 11:25] suhail34 opened #91 "Spelling mistake in README.md"
After Add your Profile to the home page
Currently it says : Update the file public/data/_list.json with the following object to thje collection:
Need to be fixed as : Update the file public/data/_list.json with the following object to the collection:

[2021-09-13 11:26] schmelto commented on #91
-> https://github.com/EddieHubCommunity/LinkFree/blame/main/README.md#L45

[2021-09-13 11:39] schmelto commented on #36
think this one can be closed now :) if not feel free to reopen

[2021-09-13 11:39] #36 closed

[2021-09-13 11:41] #91 closed

[2021-09-13 11:43] schmelto commented on #85
partly duplicate with #6

[2021-09-13 12:08] Cahllagerfeld opened #95 "Sort Homepage-List alphabetically"
The `_list.json` from the `public` folder could be sorted in an alphabetical order.

[2021-09-13 12:10] Cahllagerfeld opened #96 "Tooltip for Homepage-Avatars"
When hovering a Avatar, the username of the hubber could be displayed with a tooltip

[2021-09-13 12:10] FayasNoushad commented on #95
Shorted by followers is best.

[2021-09-13 12:15] rohan-kulkarni-25 opened #97 "[ BUG ] Title of React App is not changes"
https://github.com/EddieHubCommunity/LinkFree/blob/c3b3e03660172c098300ca05f6ea86b59682c32f/public/index.html#L27

We should add the `app name` here instead of `REACT APP`

[2021-09-13 12:34] Krishnapro commented on #68
ok thank you

[2021-09-13 12:34] #68 closed

[2021-09-13 13:54] orama254 opened #104 "It Worked, But how? 🤔"
Add a brief walkthrough of how you solved the github pages deployment bug from the last stream. It ended without a solution so maybe you can add how you tackled it in a separate video.

### The video mentioned
[Linktree alternative Youtube Livestream(starts at 3:01:00)](https://youtu.be/Jorl_vcp-Ew?t=10917)

[2021-09-13 14:06] nhcarrigan commented on #23
Angular needs no reason 😆

[2021-09-13 14:24] #97 closed

[2021-09-13 15:39] rohan-kulkarni-25 commented on #80
Hey @FayasNoushad , I don't exactly get what you are trying to say ! Can you please ellaborate

[2021-09-13 15:41] rohan-kulkarni-25 commented on #95
Yes ! I think that will be betterway

[2021-09-13 15:46] Pulkit007 opened #106 "Add more links like linkedIn, Instagram in the LinkFree"
We should add support for additional social platforms such as:

- LinkedIn
- Instagram
- Discord

Each social should have support for the platform's icon.

[2021-09-13 15:54] FayasNoushad commented on #80
A support group needed in telegram like discord community.

[2021-09-13 15:56] FayasNoushad opened #107 "Not centered"
Home page profiles not centered.

[2021-09-13 15:56] Soham041201 opened #108 "feat: Show the name of the person when hovered on the avatar"

[2021-09-13 15:59] Soham041201 commented on #108
Thinking about adding a feature of showing a name of the person, when the user hovers over the avatar

[2021-09-13 16:08] eddiejaoude commented on #23
Thank you for the suggestion

[2021-09-13 16:08] #23 closed

[2021-09-13 16:10] rohan-kulkarni-25 opened #109 "[ FEAT ] FAVICON LOGO ( LINKFREE LOGO )"
We will be needing one logo which we can add on favicon and also in readme

[2021-09-13 16:10] #80 closed

[2021-09-13 16:11] Cahllagerfeld commented on #37
Twitterblue: #00ACEE

[2021-09-13 16:13] SaNsK11 opened #110 "Change the profile photo opacity on hover"
We can add a `:hover` CSS selector to fade the avatar in/out on hover.

[2021-09-13 16:13] rohan-kulkarni-25 opened #111 "[ DOCS ] Readme Restructure"
We can add the fork or clone guidelines like setup details in `contribution.md` so we can get more space to express our idea and our purpose of this project.

[2021-09-13 16:15] verma-kunal commented on #37
can i work on adding the Twitter colour?

[2021-09-13 16:17] Soham041201 opened #113 "feat: Home Page for LinkFree Project"

[2021-09-13 16:19] nhcarrigan commented on #25
An excellent tool to use for testing accessibility is https://wave.webaim.org/. Not sure if it tests for aria labels, but it is a great starting point.

[2021-09-13 16:25] Recognizeyourself opened #116 "Can We have GIF's in Profile Picture"
Like the way we have png file in Profile Pic, We can use Dynamic gifs in the profile picture.

[2021-09-13 16:26] nhcarrigan commented on #51
This could be achieved using `ESLint` and adding an action to run `npm run lint`, as a potential example approach.

[2021-09-13 16:26] verma-kunal commented on #37
/assign

[2021-09-13 16:27] nhcarrigan commented on #62
Hey folks,

Is this issue still valid or should we close it?

[2021-09-13 16:28] SaNsK11 opened #119 "Add margin on top"
We should add a small margin on the top of the page to create spacing between the content and the browser window.

[2021-09-13 16:28] nhcarrigan commented on #85
Updating issue to minimise scope to `meta` tags, resolving duplicate issue.

[2021-09-13 16:29] verma-kunal commented on #37
Youtube Red: #FF0000 (i guess this is the one)

[2021-09-13 16:30] SaNsK11 opened #121 "Make the avatars centered"

[2021-09-13 16:30] Yash-verma18 opened #122 "Sharing the status along with links"
Like When someone hovers over Twitter link, We can show Twitter Followers and bio, following.

And When someone hovers over Github link, We can show Most popular Repositories of him, Total contribution, Github Stats.

[2021-09-13 16:31] rohan-kulkarni-25 commented on #122
Idea is good but can you please explain how can we implement the following or not feature ?

[2021-09-13 16:31] FayasNoushad commented on #122
Already #107

[2021-09-13 16:32] nhcarrigan commented on #104
Restricting this issue to `staff only` as Eddie will need to create the video.

[2021-09-13 16:34] SaNsK11 opened #123 "Add a dark theme for night"
We should add a toggle for users to switch between dark and light mode.

[2021-09-13 16:34] nhcarrigan commented on #108
Closing this as duplicate of #96

[2021-09-13 16:34] #108 closed

[2021-09-13 16:35] nhcarrigan commented on #109
We should use this issue to discuss potential favicon options. Once an icon has been chosen, we can open this up for contributions.

[2021-09-13 16:36] nhcarrigan commented on #111
Closing as duplicate of #24

[2021-09-13 16:36] #111 closed

[2021-09-13 16:37] nhcarrigan commented on #116
Because we are using GitHub's `username.png` format for avatars, we will not be able to support GIF formats as GitHub does not support GIF formats.

[2021-09-13 16:37] #116 closed

[2021-09-13 16:38] FayasNoushad commented on #121
Duplicate of #107

[2021-09-13 16:39] #121 closed

[2021-09-13 16:40] nhcarrigan commented on #122
This is achievable, but would require that we add an API to the project and set up API keys and endpoints to fetch this data.

Going to leave this open for @eddiejaoude to discuss if this is within the intended scope of the project.

[2021-09-13 16:41] nhcarrigan commented on #113
Going to open this one up for discussion for what we would like the content of the home page to be.

[2021-09-13 16:42] rohan-kulkarni-25 commented on #123
Yes that can be done !! Thanks for idea @SaNsK11

[2021-09-13 16:42] Recognizeyourself commented on #116
Thanks for Clarifying !! 😅🙌

[2021-09-13 16:43] Soham041201 commented on #113
A basic nav-bar and a body to start with. We can also add a horizontal scroll bar or something to search through the profiles

[2021-09-13 16:45] vikasganiga05 opened #127 "Add customization for social links UI"
Add some customization for links UI like, change social icons, font, etc.

[2021-09-13 16:45] StarTrooper08 commented on #106
Dev.to forem link can be added can I add it??

[2021-09-13 16:45] Recognizeyourself commented on #122
Unfortunately, I am too noob in the front end to actually implement this. but @nhcarrigan comment made me confident.

[2021-09-13 16:45] Soham041201 commented on #113
Should I raise a PR for the Nav Bar?

[2021-09-13 16:46] lavanyayangala opened #128 "add your youtube link- below the links"
###  Youtube link in the link below -follow me on youtube
**#first **pr****
![image](https://user-images.githubusercontent.com/74892542/133124148-436c33a3-3137-481a-ad80-a568381cef8e.png)

[2021-09-13 16:47] StarTrooper08 opened #129 "Dev.to forem[Discussion+issue]"
Can we add devto in social section?

[2021-09-13 16:47] smirwtb opened #130 "Add linkedIn Profile with logo"
It will be great to connect more social profiles to follow as per the viewer feasibility

[2021-09-13 16:49] Recognizeyourself opened #131 "More Animation and Reactive web elements."
Some dynamic animation. Whenever user scrolls, click on the link,

[2021-09-13 16:49] voidz7 commented on #128
![image](https://user-images.githubusercontent.com/62803658/133124383-11077faa-3de2-4539-8ff5-593f00f3aa4f.png)

You can do that using
![image](https://user-images.githubusercontent.com/62803658/133124537-b229f4c9-ac23-48f7-9046-7f805ba90f72.png)

in your data.json file 🍔

[2021-09-13 16:49] vikasganiga05 opened #133 "Add accent color for the user profile"
Add accent color for the user profile. So they can change the badge color.

[2021-09-13 16:51] smirwtb opened #134 "Add personal portofolio website and Newsletter"
It will be great if viewers get more about ongoing and developed projects along with the Newsletter (optional) for a regular updates to subscribers.

[2021-09-13 16:52] guptasajal411 opened #135 "Increase `scale` of buttons on hover"
When hovered, the links will get a little bigger which looks cool and interactive as well! 💥
If you like the idea, can you please assign me this issue, I'd love to work on this 🥳

Check out this GIF:
![linkfree-hover](https://user-images.githubusercontent.com/70312106/133126728-ae25d709-3f1b-4659-9402-ab720aad6626.gif)

[2021-09-13 16:56] kishoreandra commented on #130
I see there is no linkedin icon yet [issue reference](https://github.com/primefaces/primeicons/issues/477)

[2021-09-13 16:59] lavanyayangala commented on #128
ok thankyou! @voidz7

[2021-09-13 17:00] spy-1234 commented on #123
I want to do the issue.

[2021-09-13 17:01] smirwtb commented on #130
Adding Discord/Slack will also be great !!

[2021-09-13 17:03] fahim9898 opened #137 "Add space"
On the footer add space character after GitHub logo

[2021-09-13 17:04] rajivransom opened #138 "The color of the circle above the avatar should match with github color :)"
code : #6e5494

[2021-09-13 17:05] Nikhil-1503 opened #139 "Aligning the number partially on top of the profile picture"
It would look better if the number showing would be partially on top of the profile picture.

[2021-09-13 17:06] guptasajal411 commented on #135
Done with the changes, looks like this:
![linkfree-hover](https://user-images.githubusercontent.com/70312106/133126728-ae25d709-3f1b-4659-9402-ab720aad6626.gif)

[2021-09-13 17:07] spy-1234 commented on #119
I want to do this issue for development

[2021-09-13 17:09] nhcarrigan commented on #128
Closing this as resolved then. 🙂

[2021-09-13 17:09] #128 closed

[2021-09-13 17:10] rohan-kulkarni-25 commented on #135
Yes nice idea but will like to suggest you something try to make a change that if one button is scaled then other should not have impact of scale on it

[2021-09-13 17:12] nhcarrigan commented on #134
Having another think about this, I think for the portfolio pages we need a slightly different approach.

The JSON should have a `websites` property (note the plural) which is an **array** of objects in the following structure:

[code]

Then the front end needs to iterate over this array and generate a button for each object in the array.

This approach will allow us to use custom URLs for multiple

[2021-09-13 17:14] nhcarrigan commented on #129
Going to refer this to #134 for related discussion.

[2021-09-13 17:17] guptasajal411 commented on #135
Pull Request: https://github.com/EddieHubCommunity/LinkFree/pull/140

[2021-09-13 17:21] nhcarrigan commented on #131
Animations are great! However, we need to ensure that any animations we add are not detrimental to the accessibility and UX of the website.

I think this issue would be a great place to discuss planned animations.

[2021-09-13 17:22] nhcarrigan commented on #133
What do you mean by badge colour?

I'm all for customisation, but what are we customising here? 😅

[2021-09-13 17:24] nhcarrigan commented on #133
Answered my own question - this is the badge in question:

![image](https://user-images.githubusercontent.com/63889819/133129050-99d46b37-7ac9-4eca-af6e-a1d9e51771a8.png)

[2021-09-13 17:25] nhcarrigan commented on #138
We are going to close this in favour of #133 to allow users more customisation over their personal profile.

[2021-09-13 17:25] #138 closed

[2021-09-13 17:29] anuraghazra opened #141 "[improve]: add error handling and loading states"
Currently there is no error handling logic in the fetch requests and no loading states in the application.

TODO:
- Add catch clauses in fetch
- Add loading state to render a progressbar

[2021-09-13 17:30] nhcarrigan commented on #139
![image](https://user-images.githubusercontent.com/63889819/133129747-1397c947-0b59-4b79-bc22-bae58d206962.png)

CSS could be used to position this so it has a wee bit of an overlap, akin to the red notification badges you get on mobile.

[2021-09-13 17:32] nhcarrigan commented on #127
Going to close this as I've expanded #133 to cover customisation. Feel free to add additional relevant details there.

[2021-09-13 17:32] #127 closed

[2021-09-13 17:37] itsarghyadas opened #144 "Add Responsive Card type hover effect in the home where all member's profile are showing..."
So,
     1. When we hover in the main home page where all member's profile are showing...
     2. The pointed profile will hover with responsive card hover effect with the profile photo and the username.

[2021-09-13 17:39] Soham041201 opened #145 "Add a Nav-bar in the home page"

[2021-09-13 17:40] Recognizeyourself commented on #131
For sure !! Excited for where it will go now!!

[2021-09-13 17:41] nhcarrigan commented on #145
Closing as part of #113 - please add relevant information there.

[2021-09-13 17:41] #145 closed

[2021-09-13 17:43] rajivransom opened #146 "Github green squares as a low opacity background image will look cool."

[2021-09-13 17:49] Soham041201 commented on #113
Added a basic Nav bar in the home Page. Contains two basic  links home and links.

[2021-09-13 23:51] PuneetDabral commented on #137
sir can i ?

[2021-09-14 03:46] toth2000 commented on #141
Can I work on this issue?

[2021-09-14 03:48] FayasNoushad commented on #141
Ofcourse. Owner saying contribution first collaboration second. 👍

[2021-09-14 04:33] SriSatyaT commented on #144
@itsarghyadas I want to give it a shot for this issue.

[2021-09-14 05:19] Soham041201 opened #159 "feat: Automate the process of adding the data to the data/_list.json file"
After adding the links in the data folder, Another extra step is required (adding the avatar and username in data/_link.json file) to show the data on the home page. Is there a way to automate that or add the recently added JSON data to the _link.json file?

![Screenshot from 2021-09-14 10-44-31](https://user-images.githubusercontent.com/79072777/133199032-e3c50b71-cab2-4bea-ad8a-19e11c7aef98.png)

[2021-09-14 06:02] Sin-Sumit opened #161 "Change the LinkTree in About Section."
In the About section, it is mentioned as LinkTree, it should be LinkFree.

[2021-09-14 06:26] #135 closed

[2021-09-14 06:55] Sin-Sumit opened #165 "Add some space between the profiles."
Add white spaces in between the profiles make good look.

[2021-09-14 08:43] guptasajal411 commented on #110
Nice idea, can I work on this?

[2021-09-14 08:57] verma-kunal opened #169 "feat: Auto generate the list data from the json files"
`public/data/*.json` to be combined and generated to `public/list.json`

[2021-09-14 09:10] eddiejaoude commented on #169
Great thank you 👍 This has now be completed here https://github.com/EddieHubCommunity/LinkFree/pull/168

[2021-09-14 09:10] #169 closed

[2021-09-14 09:18] FayasNoushad opened #170 "Not adding some social icons"
I forked this repository and added some social media buttons. But not adding icons. Use icons from [Simple Icons](https://simpleicons.org). There are so many icons available.

[2021-09-14 10:26] kaiwalyakoparkar opened #171 "Add me my profile to LinkFree"
I am Kaiwalya Koparkar, I would like to add my profile to linkfree

[2021-09-14 11:10] schmelto commented on #171
you can add your profile described [here](https://github.com/EddieHubCommunity/LinkFree#to-add-your-profile)

[2021-09-14 11:15] schmelto commented on #161
Yes that is right.
![image](https://user-images.githubusercontent.com/30869493/133247793-b42f54b8-6a5a-4109-aa03-3f3f6384cdfa.png)
but linkfree should be an alternative to linktree so the about section seems to be fine from my side.

[2021-09-14 11:17] schmelto commented on #159
already closed in https://github.com/EddieHubCommunity/LinkFree/pull/168

[2021-09-14 11:17] #159 closed

[2021-09-14 11:23] kaiwalyakoparkar commented on #171
Thank you @schmelto, Done :+1:

[2021-09-14 11:24] qwe123coder opened #173 "Add qwe123pro to the list"
I am Anirudh Anup, I would like to add my profile to linkfree

[2021-09-14 11:40] #171 closed

[2021-09-14 13:17] siddhantprateek opened #176 "Update the UI design in the `README` file"
**Current State:**
![Screenshot from 2021-09-14 18-40-04](https://user-images.githubusercontent.com/43869046/133264018-0ba2a79a-3cb8-4c06-b1cc-f8269e58fc1d.png)

**Desired State:**
![Screenshot from 2021-09-14 18-38-52](https://user-images.githubusercontent.com/43869046/133264110-2d1debf6-225e-4dd6-b90a-d9f548976204.png)

[2021-09-14 13:27] Sin-Sumit commented on #161
Yes, it is an alternative to LinkTree.
I get this.
Closing this issue.

[2021-09-14 13:27] #161 closed

[2021-09-14 14:37] Aayushi-Mittal commented on #176
Hi, Can I take up this issue?

[2021-09-14 14:49] qwe123coder commented on #176
yea go ahead

[2021-09-14 15:26] Flolight commented on #139
Nice idea indeed!
I proposed a PR for the following here: https://github.com/EddieHubCommunity/LinkFree/pull/181
<img width="323" alt="image" src="https://user-images.githubusercontent.com/9541039/133286811-d41b8ea6-e065-4586-9d35-f952280d9847.png">

[2021-09-14 15:38] Flolight opened #182 "Old repository name still in Contributing.md"
"Members" is still the repository name in the Contributing.md file.
This can be confusing and should be changed by the new repo name "LinkFree".

[2021-09-14 17:13] #182 closed

[2021-09-14 18:21] Kunal0007 opened #186 "Update the hover effect and background colors of links"
Before :
![image](https://user-images.githubusercontent.com/73381050/133451899-e8cc35e9-d248-403a-ad3a-adb5b57faca6.png)

After :
![image](https://user-images.githubusercontent.com/73381050/133312042-fe693072-0c44-4d88-be6a-8d1f99803839.png)
![image](https://user-images.githubusercontent.com/73381050/133312137-3aca7dc5-a90d-44be-8d31-843f3b4f88e9.png)
![image](https://user-images.githubusercontent

[2021-09-14 18:21] Kunal0007 commented on #186
Should I make a PR for this update?

[2021-09-14 18:47] rajivransom opened #187 "Add green squares as a background image with low opacity on users page"
![Screenshot 2021-09-15 001524](https://user-images.githubusercontent.com/67317263/133316130-c9be29bf-1b1e-4623-a035-6b7ef4d641ba.png)

[2021-09-15 03:21] Soham041201 commented on #106
Anybody working on this?

[2021-09-15 05:17] rohan-kulkarni-25 opened #188 "[ FEAT ] Way to Add user Data"
### Current Way
- We ask the user to create a PR and add their data into json file.

### New Way
- We can get that data from POST req through form. That will avoid the PR for data addition and we can focus more on productivity.

### Detailed Explanation
- We can write a script ( Node ) in that when the user submits data we will take a post req from that route and write that using fs module.
- Curr

[2021-09-15 05:19] rohan-kulkarni-25 commented on #176
Folks ! Please ask the issue author if they want to work on this issue or not ! IF not then you can go ahead. No issues this time it is small work but keep in mind always.

[2021-09-15 05:33] rohan-kulkarni-25 commented on #187
Hey, Thanks for Suggesting but I personally think this will look cluttered and will destroy our objective to keep the shape of image as circle ( as we can keep that square also ).
( PERSONAL OPINION )

[2021-09-15 05:36] rohan-kulkarni-25 commented on #187
Duplicate of #146

[2021-09-15 05:59] #146 closed

[2021-09-15 06:33] #176 closed

[2021-09-15 06:37] schmelto commented on #188
Do you also thought about deleting users, delete links, update links, add links for current users? And how you want to achive this?

[2021-09-15 07:49] rohan-kulkarni-25 commented on #188
Yes we can do that with help of CRUD operations. ! I will make one repository where will implement the same feature if that work well then we will use the same logic for our project.

[2021-09-15 07:57] RagibAjmal commented on #123
@spy-1234  Are you working  on this  issue ?
If not can I work on this issue

[2021-09-15 07:58] subhodynamics opened #191 "Number of links appear on hover on homepage itself"
The number of links added now can be seen only when someone gets into the profile, that number can be made more useful to one when it appears on the homepage when hovered over the profile logo, along with the user name.
![image](https://user-images.githubusercontent.com/75271901/133393890-075fd8d1-7759-4ef7-9018-3793f775274c.png)

![image](https://user-images.githubusercontent.com/75271901/1333939

[2021-09-15 07:59] schmelto commented on #188
One other thougth of my side. Is a review process necessary? What about a reviewing process of the newly added links? In Github we have a PR review process. Do we need something similar when using CRUD operations?

[2021-09-15 08:09] rohan-kulkarni-25 commented on #188
I think we can ignore that as we can make a validation while crud but I got a new point here that if we allow to edit or delete request then anyone can delete anyone's data. I am thinking on it. Because if we are able to do this then all PR with data addition can be handled here and we can focus on applications features.

[2021-09-15 08:14] rohan-kulkarni-25 commented on #188
Yes got a solution for this

- From the automated CRUD process we will just add new user.
- for Update Del the data we can raise PR as that will be more appropriate so we can review them and the number of PR will be less so we can manage that.

[2021-09-15 08:16] #139 closed

[2021-09-15 13:55] rohan-kulkarni-25 commented on #188
## Closing This Issue

- As While working on this I got to know that we can't use fs package to create a new file in repository.

[2021-09-15 13:55] #188 closed

[2021-09-15 13:58] rohan-kulkarni-25 commented on #186
### Just a suggestion
- Do mention the before and after with words while adding two screenshots
- You can also use Markdown table

[2021-09-15 14:04] rohan-kulkarni-25 opened #197 "[ SECURITY ] Deployment site shows not secured and redirects"
![image](https://user-images.githubusercontent.com/76584243/133448183-98736cdd-f6ad-436d-9931-d52d38457571.png)

[2021-09-15 14:11] FayasNoushad commented on #197
Yeah, You are right. Not enforced `https`.  Site not provided a layer of encryption.

[2021-09-15 14:28] RagibAjmal commented on #123
/assign

[2021-09-15 14:30] RagibAjmal commented on #123
@SaNsK11 I woulld like to work on this can you assign this to me

[2021-09-15 15:22] ZaidKhan2002 commented on #110
I would like to work on this issue. Can I work ?

[2021-09-15 15:24] ZaidKhan2002 commented on #123
I would like to work on this issue. Can I work?

[2021-09-15 15:33] ShlokMohanty commented on #130
adding mailing lists and IRC's will that be helpful or no need of that?

[2021-09-15 15:44] SaNsK11 commented on #123
@RagibAjmal sure go ahead.

[2021-09-15 19:20] StarTrooper08 commented on #106
yep I m working to add devto forem

[2021-09-16 03:59] rohan-kulkarni-25 opened #204 "[ BUG ] Github Actions failing when we review or request changes in PR"
![image](https://user-images.githubusercontent.com/76584243/133547132-a6669a07-a696-44b9-b4a0-30bfa6f0737b.png)

## I think this are the runs when I reviewed PR or asked for changes. I don't know why this happens ? Please let me know the possible reason for this

[2021-09-16 05:24] rohan-kulkarni-25 commented on #109
# Closing Issue will shift to [Discussion](https://github.com/EddieHubCommunity/LinkFree/discussions/206#discussion-3575864)

[2021-09-16 05:25] #109 closed

[2021-09-16 06:58] rohan-kulkarni-25 opened #208 "[ Improvement ] Adding Max-width to Links Bar"
When we see the links of profile in full screen the width don't look good. We can add a property max width so the width will not go beyond that and will be responsive also

![image](https://user-images.githubusercontent.com/76584243/133564938-b4b3a0d4-a19c-454a-b25c-db301a8b9d38.png)

I will like to fix it

[2021-09-16 08:57] schmelto opened #211 "[BUG] Firebase Key is required -> not needed in statistics workflow"
https://github.com/EddieHubCommunity/LinkFree/runs/3619349397?check_suite_focus=true

[2021-09-16 09:05] rohan-kulkarni-25 commented on #211
I think #204 is due to this issue only

[2021-09-16 09:07] schmelto commented on #211
oh yes :) I will close mine

[2021-09-16 09:07] #211 closed

[2021-09-16 09:08] schmelto commented on #204
Issue is because of invalid firebase key. We no longer use firebase in our projects. Thus means we can remove it form the statistics workflow.

[2021-09-16 09:08] schmelto commented on #204
An example log can be found here https://github.com/EddieHubCommunity/LinkFree/runs/3619349397?check_suite_focus=true

[2021-09-16 09:14] rohan-kulkarni-25 commented on #204
yeah !
If I am not wrong then we need to remove this line right
https://github.com/EddieHubCommunity/LinkFree/blob/e5192ba99e4ab45e811578a1dc97e146cb19e699/.github/workflows/community.yml#L33

[2021-09-16 10:01] ashutosh887 commented on #204
I wanted to start contributing to this project
Could someone guide me a bit

[2021-09-16 11:13] schmelto commented on #204
Yes from line 26 until 33 it should be removed

[2021-09-16 11:15] schmelto commented on #204
You can work on this issue if you want as described above the issue here is the failing github action workflow due there is the statistics workflow we no longer need.

**What you have to do:**

Remove the line 26 until 33 from the yml file

If you need some help please let us know

[2021-09-16 11:24] rohan-kulkarni-25 commented on #204
Hey @ashutosh887 As Tom suggested you can follow the steps below ⬇️

- Fork Repository
- Clone
- Create new branch ( suggested name : Community Action )
- Navigate to `.github/workflows/community.yml` in your version
- Edit the file
https://github.com/EddieHubCommunity/LinkFree/blob/e5192ba99e4ab45e811578a1dc97e146cb19e699/.github/workflows/community.yml#L26
https://github.com/EddieHubCommunity/Li

[2021-09-16 12:41] technophile-04 commented on #208
can i try to fix this ??

[2021-09-16 12:42] FayasNoushad commented on #208
@rohan-kulkarni-25 adding that.

[2021-09-16 12:47] technophile-04 commented on #208
ohh ok so its already taken

[2021-09-16 14:11] rohan-kulkarni-25 commented on #208
Yes actually PR #209 is for this issue

[2021-09-16 15:09] aayush89890 opened #214 "Align Home Page Avatars To Center"
### **Home Page Avatars are not alligned to Center.**

![image](https://user-images.githubusercontent.com/37421316/133636916-7bedef77-7ed9-47fb-a87a-7a111d0d60c2.png)

### **Expected:**

![image](https://user-images.githubusercontent.com/37421316/133637107-3062010e-dde1-4928-9cfe-944a58f6df55.png)

[2021-09-16 15:14] FayasNoushad commented on #214
Duplicate of #107

[2021-09-16 15:26] Sin-Sumit opened #216 "Steps numbering miss one number in contributing guidelines."
A number is missing in contributing guidelines.

[2021-09-16 20:08] CodingSpecies opened #218 "Add custom favicon"
In the `public` folder, maybe we could add a custom favicon, than the pdefault react logo? Thank you.

[2021-09-16 20:15] CodingSpecies opened #220 "Add CodingSpecies"
#219

[2021-09-16 21:51] #216 closed

[2021-09-17 04:15] aayush89890 opened #222 "Getting Username on Hover over Avatar"
We can show the username once a person hover over an Avatar.

## Expected Behaviour
![Screenshot (59)](https://user-images.githubusercontent.com/37421316/133723100-809ef0af-d92e-4279-bf1e-837e21e8f20c.png)

## Something like the above Screenshot

[2021-09-17 05:46] ShlokMohanty commented on #222
@aayush89890 , @eddiejaoude is this showing name when hovered over done or still needs to be done ?

[2021-09-17 05:50] ShlokMohanty commented on #218
@CodingSpecies is this issue being done or still we need to add the favicon ?

[2021-09-17 05:52] ShlokMohanty commented on #214
@aayush89890 i guess the extra white space should also be reduced it looks like only the upper half is filled and there's a lot of space below the icons ? whats your thought on this @FayasNoushad ?

[2021-09-17 05:58] CodingSpecies commented on #218
@ShlokMohanty this issue I have not began working on. Thanks

[2021-09-17 06:06] CodingSpecies commented on #218
If you want I can, but I will have to find a favicon, that won't affect copy right, unless we use something by eddiehub?

[2021-09-17 06:08] CodingSpecies commented on #218
maybe using something like this for the branding repo?

<img src="https://user-images.githubusercontent.com/624760/114314271-ea156a80-9af1-11eb-97ca-977be7565aa6.png" height="100" />

[2021-09-17 06:16] #220 closed

[2021-09-17 06:16] ShlokMohanty commented on #218
@CodingSpecies can we take the permission on this from @eddiejaoude ?

[2021-09-17 06:17] CodingSpecies commented on #218
Yes, That is a good idea @ShlokMohanty

[2021-09-17 06:17] aayush89890 commented on #222
Hi @ShlokMohanty this issue needs to be fixed.
If you want to give it a try go ahead.

[2021-09-17 06:24] #214 closed

[2021-09-17 06:32] aayush89890 commented on #214
I agree with you point @ShlokMohanty . We can increase the margin from 10px to 1em It will be dynamic and It will look good.
Attaching Screenshot for reference.
We can open a new issue, Let me know I will open the issue.

![image](https://user-images.githubusercontent.com/37421316/133735374-03f03105-ce3e-48dd-b5a3-a28db024fe5a.png)

[2021-09-17 06:34] aayush89890 commented on #107
As #214 issue is closed this is also fixed. We can close this. @FayasNoushad

[2021-09-17 06:53] Cahllagerfeld commented on #222
its a duplicate of #96

[2021-09-17 06:56] Cahllagerfeld commented on #218
I'd say you can just do it. In case eddie isnt fine with it, the PR will get closed but you still get your green squares for it (: So go for it 😄

[2021-09-17 06:57] Cahllagerfeld commented on #222
closed, reason see above (:

[2021-09-17 06:57] #222 closed

[2021-09-17 06:59] Cahllagerfeld commented on #197
I think thats an issue with the k8s-cluster. Not sure if this can be solved with a PR.

[2021-09-17 07:06] ShlokMohanty commented on #214
@aayush89890 i guess we should open this issue of removing white space so you can go ahead

[2021-09-17 07:15] Jassi10000 commented on #119
/assign

[2021-09-17 07:55] ShlokMohanty commented on #96
@Cahllagerfeld so we dont have have a code for this hovering effect ? so without this if we use the tooltip we are able to see the name of the user when hovered over right?

[2021-09-17 08:01] FayasNoushad commented on #107
Ok

[2021-09-17 08:01] #107 closed

[2021-09-17 08:15] aayush89890 opened #225 "Need To Increase margin right and bottom of Avatars To decrease White Space"
Bottom half of the home page is blank we can increase some margin to fill this gap.

## Actual Behavior

![image](https://user-images.githubusercontent.com/37421316/133748357-ef0e4132-892d-4da0-89ad-9cbf1ca9f457.png)

## Expected Behavior

![image](https://user-images.githubusercontent.com/37421316/133748730-f84badb9-d62e-43a6-b802-c9ad058d513a.png)

Example :
[code]

[2021-09-17 08:17] aayush89890 commented on #214
Done #225

[2021-09-17 08:24] eddiejaoude opened #226 "Automated testing"
**tools**
- Cypress
- Cucumber

**test steps**
- [ ] home page lists multiple users
- [ ] click on first/random user and check the data display is correct according to their json file

[2021-09-17 08:30] Cahllagerfeld commented on #96
We are using PrimeReact as Component Framework. You can take a look at the [Tooltips](https://primefaces.org/primereact/showcase/#/tooltip) they provide

[2021-09-17 08:36] voidz7 commented on #225
What if we add some kind of welcome screen or search system or @EddieHubCommunity logo etc on the home page 🤔 ?

[2021-09-17 08:40] kishoreandra commented on #191
I see there is no property like `onMouseEnter`, for primereact - may be other ways too

[2021-09-17 08:44] aayush89890 commented on #225
That's a great idea! Go ahead and create a issue for that.

[2021-09-17 08:53] rohan-kulkarni-25 commented on #218
Please discuss here :- https://github.com/EddieHubCommunity/LinkFree/discussions/206

[2021-09-17 09:40] rohan-kulkarni-25 commented on #226
Yes this will be required. I have never added any test or never worked with it but will like to work this time. Will you please guide me Eddie

[2021-09-17 12:15] kkhitesh commented on #204
Is anyone working on it, if not can I?

[2021-09-17 14:56] hellodeborahuk opened #227 "Add Tiktok"
Add Tiktok as an additional social network option with it's icon and primary colour.

Whether that's #010101, #69c9d0 or #ee1d52.

[2021-09-17 15:43] rohan-kulkarni-25 commented on #227
Hey !! Thanks for suggestions but I think this app or API will be mostly used for professional contact so adding TikTok to it is not required. **( It's also banned in Some countries )**
( Just a suggestion )

[2021-09-17 15:49] CodingSpecies opened #229 "Add Codewars to list of social media"
Is it possible to add codewars to the list of social media? Thank you.

[2021-09-17 16:01] ShlokMohanty commented on #229
@CodingSpecies  are y9ou talking about the below one:

![image](https://user-images.githubusercontent.com/59838234/133818930-515a334a-263b-4e7a-861b-b3355280fa78.png)

[2021-09-17 16:02] ShlokMohanty commented on #227
@rohan-kulkarni-25 so can we close this pr?

[2021-09-17 16:25] CodingSpecies commented on #229
yes @ShlokMohanty you can follow people here, and you do coding challenges

[2021-09-17 16:42] hellodeborahuk commented on #227
I guess I was seeing it from a developer content creator point of view like Instagram and Twitter.

[2021-09-17 17:02] ShlokMohanty commented on #229
@CodingSpecies yeah thats a good idea but like if you could give me the reason how it would help in adding to this linkfree like what  the purpose of adding the codewars here in the linkfree?

[2021-09-17 18:57] BOLT04 commented on #226
automated testing 💯 💯
Quick question: is there a URL these tests would use? I couldn't test the deployed version on  linkfree.eddiehub.org/

[2021-09-17 19:10] CodingSpecies commented on #229
@ShlokMohanty CodeWars is where people create questions, and code tests, where you go to solve, and get ranked higher. It is a bit similar to GitHub as people create, star, fork and follow each other and the work they do. People can also sync their github profiles to CodeWars.

On linkfree, it could have a codewars option, where it takes you to the profile, where you can follow others.

Like the g

[2021-09-18 05:15] rohan-kulkarni-25 commented on #227
Yeah we can go with Instagram and twitter but I think TikTok will go a little out of the way. Still I request maintainers to have a look here once

[2021-09-18 05:17] rohan-kulkarni-25 commented on #226
The deployed version is running on [LinkFree](https://github.com/EddieHubCommunity/LinkFree) Please have a look !

[2021-09-18 11:00] BOLT04 commented on #226
I had a look @rohan-kulkarni-25, but the app doesn't show up. Only a list of links to other sites like Netflix...
Also the link isn't with `https`, but even inputting it manually doesn't work.

[2021-09-18 16:03] Shivansh-yadav13 commented on #123
I would also like to work on this.

[2021-09-18 17:51] StarTrooper08 commented on #39
Hey ,can I take this issue?

[2021-09-18 18:27] amittri1025 commented on #191
Can I work on this issue ?

[2021-09-18 18:29] amittri1025 commented on #119
Can I work on this issue ?

[2021-09-18 18:31] amittri1025 commented on #75
I want to work on this issue

[2021-09-18 18:37] amittri1025 opened #238 "Paragraph under individual Profile is not centered and have no max-width"
Make Paragraph under profile centered and set max-width to it .

![sample-image](https://user-images.githubusercontent.com/74503582/133905158-c38f2271-9331-460a-a590-f2d18de9f89a.png)

[2021-09-19 01:10] FayasNoushad commented on #75
Feel free and add a pull request

[2021-09-19 05:41] AbhijithGanesh opened #239 "Head-React Icon"
The page continues to have the react-icon on header instead of this project's logo.

[2021-09-19 05:42] AbhijithGanesh opened #240 "[FEAT]: Dark Mode"
We need a dark theme based design for this project, currently there is only a light-theme version of the website.

[2021-09-19 05:45] rohan-kulkarni-25 commented on #240
Duplicate  of #123

[2021-09-19 05:46] rohan-kulkarni-25 commented on #239
Duplicate of #206

[2021-09-19 05:46] rohan-kulkarni-25 commented on #238
Please consider PR #209  while making changes

[2021-09-19 05:47] rohan-kulkarni-25 commented on #226
You need to refresh the ads will go

[2021-09-19 05:48] AbhijithGanesh commented on #239
Closing issue since it is repetitive.

[2021-09-19 05:48] #239 closed

[2021-09-19 05:48] AbhijithGanesh commented on #240
Closing issue since it is duplicate.

[2021-09-19 05:48] #240 closed

[2021-09-19 06:06] AbhijithGanesh opened #242 "[FEAT]: An Icon package"
Can we use an icon package like react-icons to easily add our Icons to the website instead of mounting inside Class Names.

[2021-09-19 06:25] AbhijithGanesh opened #243 "[ADD]: Addition of various other platforms💡"
Currently, the linkfree website only supports GitHub, twitter and YT, It would be useful if we have a broader list.

[2021-09-19 10:04] rohan-kulkarni-25 commented on #243
Yes that is true !! But I think keeping those socials which everyone will have will be better as this will maintain a consistency and let's be little professional. We should add those platfrom which will help us in reach. If we are adding some social which is not relevant and we are not active on that will be of no use.

[2021-09-19 10:24] rohan-kulkarni-25 commented on #39
Yeah That is good idea !! I think for Now
- Visual Studio Code
- Visual Studio
- Sublime

These will be enough we can update later if any

[2021-09-19 10:41] voidz7 commented on #39
Vim 📳

[2021-09-19 17:06] emmalearnscode commented on #25
I would like to work on this issue. Can someone please assign it to me?

[2021-09-19 20:24] Vyvy-vi commented on #123
Hey, @spy-1234 and @RagibAjmal and @Shivansh-yadav13!
Has any one of you started working on this?

[2021-09-19 20:31] Vyvy-vi commented on #243
Imho, since we're aiming at an opensource free alternative to LinkTree, it would be of value if we let people add links to all of the main social websites/platforms

[2021-09-19 21:10] #25 closed

[2021-09-19 21:13] eddiejaoude commented on #25
Thank you @emmalearnscode for the PR, great work 💥

[2021-09-19 21:14] Cahllagerfeld opened #252 "Add Milestone Feature"
Milestones for users, related to the existing Polywork-Feature.

The user should be able to add milestones to their profile. The milestones could be displayed in the Timeline-Component from PrimeReact.

[2021-09-19 21:23] voidz7 commented on #243
I agree with @Vyvy-vi  , I think most of the social media platforms should be added to LinkFree as we are making it an Opensource Alternative to Linktree which supports all the platforms . And also having just twitter , github and youtube would be waste of this project adding support for other  social media applications like tik-tok , Instagram , reddit would be fun and useful  .

[2021-09-20 01:32] AbhijithGanesh commented on #243
I totally agree with this, from the design perspective we might have same colour repeating a couple of times but I think that's okay.

[2021-09-20 03:50] Shivansh-yadav13 commented on #123
Yes

[2021-09-20 06:22] AbhijithGanesh commented on #243
I think this issue should be closed since the PR related to this was approved and a list of social media platforms have been added.

[2021-09-20 08:00] AbhijithGanesh opened #256 "Add issue forms and pull request template"
We need issue forms, bug forms and other templates to facilitate smoother workflow

[2021-09-20 08:07] AbhijithGanesh commented on #204
![image](https://user-images.githubusercontent.com/67182544/133972561-d58b98c3-fc98-4f98-941c-7931d85fdc7f.png)
I think it is acting in a circular manner where the firebase key would be needed to check the same PR ultimately causing actions to fail.

[2021-09-20 08:12] AbhijithGanesh opened #257 "{FEAT} Requirement of an Auto-Deploy"
Every time , when a pull-request is merged, Changes don't reflect until it is manually restarted. We need a CD application to handle this for us (I guess Github actions are one, I don't know in depth about CD and CI, correct me if I am inaccurate). It is tedious to manually deploy it after every merging.
 I don't know how similar this is to #62 , if this is a cloned issue, please let me know I sha

[2021-09-20 09:13] krishdevdb commented on #6
Is this fixed yet or I can work on this?

[2021-09-20 09:14] krishdevdb commented on #24
This issue shall be closed, already fixed in #32

[2021-09-20 09:15] #24 closed

[2021-09-20 09:15] schmelto commented on #24
thx @krishdevdb

[2021-09-20 10:15] ShlokMohanty opened #258 "running sonarqube and jenkins for static code analysis"
in this we will be building the test reports and then passing some build commands after that we would be doing some static code analysis using the sonarQube .
below link is for hacking out the sonarQube website :
https://www.sonarqube.org/

[2021-09-20 16:52] CodingSpecies opened #266 "Workflow errors"
I am not sure if this is duplicate, but every time a place an issue message, commit, or review, it always gives workflow errors. thanks

![image](https://user-images.githubusercontent.com/70807500/134042297-e531223f-755d-43de-84cc-6fd74d61c891.png)

[2021-09-20 16:57] rohan-kulkarni-25 commented on #266
Duplicate #204  I think this will be solved after solving that

[2021-09-20 17:03] CodingSpecies commented on #266
@rohan-kulkarni-25 should I close this?

[2021-09-20 17:07] rohan-kulkarni-25 commented on #266
Please Read the discussion on the issue if you thinks it is the same issue then feel free to close

[2021-09-20 17:11] CodingSpecies commented on #266
I think I will close it, once that is sorted, I think this will be too

[2021-09-20 17:11] #266 closed

[2021-09-20 17:20] ShlokMohanty commented on #258
@eddiejaoude can we add some tag to this issue like build/code analysis?

[2021-09-20 20:02] CodingSpecies opened #272 "package-lock.json keeps being altered."
Every single pull request made by others contains a commit that shows the package-lock.json being altered.
However, the user and creator of the pull-request hasn't done anything or made any changes. I think it automatically updates things such as the version every time someone forks and clones, and adds changes.

Thank you.

[2021-09-21 02:32] Zain-Muiz commented on #272
Heyy @CodingSpecies , I digged into this issue and looks like this is intended by npm. Whenever you run a `npm install` the package-lock.json file will get updated to have the newest version of dependencies. We have one possible solutions for this
1. I've found that there will be a new version of npm 5.7.1 with the new command `npm ci`, that will install from package-lock.json only ( Stack overflo

[2021-09-21 02:34] Zain-Muiz commented on #256
Can I work on this ? @AbhijithGanesh

[2021-09-21 02:38] AbhijithGanesh commented on #256
Feel free to, I think this issue was created for the community members. Work on this and we'll review.

Have a great day😄
@Panquesito7 and coding species, please note : I have asked Zain-Muiz to work on this.

[2021-09-21 03:26] AbhijithGanesh commented on #272
Can this please be added to the local gitignore of repositories? It will be useful because changes won't be staged until the community decides to upgrade a package version

[2021-09-21 05:48] CodingSpecies commented on #272
@Zain-Muiz I agree.
And as said, every time someone runs npm install it updates the dependencies, changing package-lock.json.
But I am not sure how to fix this, maybe, if we add it to the gitignore as @AbhijithGanesh explained, it might help too. thanks.

[2021-09-21 05:51] CodingSpecies commented on #256
This will help, as it will make it clearer in workflows, and how the maintainers, and others will understand each issue, as they are categorically listed, easier to navigate and sort.
Thank you for working on this @Zain-Muiz

[2021-09-21 08:33] #165 closed

[2021-09-21 09:06] aayush89890 commented on #272
```node_modules``` and ```package-lock.json``` they get created when we run npm install.
This files are not needed in the commit *we can add in the documentation.*
**We need to commit only those changes that we have made in the project.**
@CodingSpecies @Zain-Muiz @AbhijithGanesh

[2021-09-21 09:10] AbhijithGanesh commented on #272
Yes agreed, locally add package-lock.json to .gitignore everytime you work

[2021-09-21 09:40] aayush89890 commented on #272
Yes @AbhijithGanesh correct.

[2021-09-21 13:26] krishdevdb commented on #37
All of the official colors are clearly listed here :-) https://simpleicons.org/ It's also available if json, but the json will need heavy editing: https://github.com/simple-icons/simple-icons/blob/develop/_data/simple-icons.json

[2021-09-21 15:58] AbhijithGanesh opened #282 "We need to change the settings to allow auto-rebasing."
I believe it might be better if we allow auto-rebasing instead of manually fetching upstream. Is it possible to do so?

[2021-09-21 19:43] CodingSpecies commented on #272
That is another option, but we will have to make it clear to everyone, perhaps in the readme.

[2021-09-21 20:27] Panquesito7 commented on #272
I slightly edited the issue description to make it a beginner-friendly issue. Anyone is welcome to make a pull request! 🙂

[2021-09-22 05:36] cp2453789 commented on #133
Good

[2021-09-22 06:45] AbhijithGanesh commented on #282
Isnt that called rebasing?

[2021-09-22 06:54] harshraj8843 opened #291 "Input required and not supplied: firebase-key"
Have a look at this issue

![Screenshot from 2021-09-22 12-19-55](https://user-images.githubusercontent.com/54644599/134296138-237c694c-3a52-42a1-8938-95b873237499.png)

![Screenshot from 2021-09-22 12-22-09](https://user-images.githubusercontent.com/54644599/134296364-973e712c-1678-4590-a5c2-f6acdda234a8.png)

[2021-09-22 07:16] schmelto commented on #291
This is a duplicate with #204
closing this one :) hope this is fine for you

[2021-09-22 07:16] #291 closed

[2021-09-22 09:24] AbhijithGanesh commented on #282
I think it is upto the repository maintainers to do so.

[2021-09-22 09:26] veerbal1 opened #296 "Glassmorphism design"
Should we upgrade current design to Glassmorphism design, if will look beautiful...

[2021-09-22 09:57] SuperAayush commented on #85
Can I know more about the issue?

[2021-09-22 12:13] #256 closed

[2021-09-22 14:30] #204 closed

[2021-09-22 14:52] voidz7 commented on #296
Those who are like me wondering what is Glassmorphism , it is a new trend in UX/UI scene which are just transparency (frosted-glass) or blur  , vivid or pastel colors, and a light border or round corners .

### for eg
![image](https://user-images.githubusercontent.com/62803658/134366337-94337acd-2f70-461c-b029-db701ae1f336.png)

For more examples [here](https://dribbble.com/tags/glassmorphism)

[2021-09-22 14:53] voidz7 commented on #296
@veerbal1 From next time while making a issue about something try explaining it 👍🏼  btw great idea !

[2021-09-22 15:26] AbhijithGanesh commented on #282
Closing this issue, Reason: Irrelevant.

[2021-09-22 15:26] #282 closed

[2021-09-22 16:21] veerbal1 commented on #296
Thanks Bro

[2021-09-22 18:09] apsshrinet commented on #85
I think it is related to SEO.

[2021-09-23 07:09] #257 closed

[2021-09-23 10:38] shreyaansjain06 opened #302 "[DOCS] fork image not visible in dark mode"
### Description

After the click on the in the  line 1 in screenshot it looks empty which is not looking good so we should make some changes to make it look clear

### Screenshots

<img width="1181" alt="Screenshot 2021-09-23 at 4 04 50 PM" src="https://user-images.githubusercontent.com/86606251/134492955-203fefcf-5c26-470e-9a49-389fc5cc8176.png">

### Additional information

_No response_

[2021-09-23 11:38] schmelto commented on #302
https://github.com/EddieHubCommunity/LinkFree/blob/main/Contributing.md

[2021-09-23 14:47] WendallHersh commented on #226
do you need to have it in cucumber?

[2021-09-23 16:35] WendallHersh commented on #226
https://github.com/EddieHubCommunity/LinkFree/pull/305

[2021-09-24 04:59] ShlokMohanty commented on #302
@schmelto we mean to say that the fork repository symbol is not visible right ?
if I have understood the issue correctly?

[2021-09-24 05:52] niteshseram opened #306 "[DOCS] Typo in README.md"
### Description

There is a typo in the README.md file.
`LinkFree` should be `Linktree` if I am not wrong.
As you can see in the below screenshot-

### Screenshots

![typo](https://user-images.githubusercontent.com/51370246/134624563-ff079133-e259-4864-bf4f-fff8990b528e.PNG)

### Additional information

_No response_

[2021-09-24 06:13] schmelto commented on #302
Yes

[2021-09-24 06:55] niteshseram opened #308 "[FEATURE] Add commit hooks with Husky"
### Description

I think adding commit hooks will be really helpful to prevent unformatted or eslint issue code from being push into the repo

### Screenshots

_No response_

### Additional information

If this feature sounds good, I am ready to make a PR on this 😄

[2021-09-24 09:07] StarTrooper08 commented on #39
Alright

[2021-09-24 10:24] voidz7 commented on #306
Fixed in #309 can be closed 👍🏼 .

[2021-09-24 13:26] #306 closed

[2021-09-24 17:14] ShlokMohanty commented on #302
@shreyaansjain06 is there any space between the sentence as per me as discussed in this thread with @schmelto  there is no such space but yes the symbol of the fork repository is not visible we have to make that visible so should we close this pr or changes have to be done?

[2021-09-25 11:23] shreyaansjain06 commented on #302
We should make changes

[2021-09-25 15:24] ShlokMohanty commented on #302
like should we change the colour of the fork symbol maybe @shreyaansjain06 ?

[2021-09-26 10:08] #252 closed

[2021-09-26 10:13] eddiejaoude commented on #308
Yes great idea 👍

[2021-09-26 10:14] eddiejaoude commented on #258
Is there a GitHub Action for this available?

[2021-09-26 10:15] eddiejaoude commented on #242
Can you give some examples and a link?

[2021-09-26 10:23] eddiejaoude commented on #229
Yes we should add this to the social links option 👍

[2021-09-26 10:25] eddiejaoude commented on #227
I think there are developers using tiktok for knowledge sharing, so we should probably add it as an option then the user can decide if they want to use that feature

[2021-09-26 10:29] eddiejaoude commented on #170
What icons are missing that we need?

[2021-09-26 10:31] #173 closed

[2021-09-26 10:34] qwe123coder commented on #308
hey can I also work with you ?

[2021-09-26 10:34] eddiejaoude commented on #186
Looks good, left some comments on the PR 👍

[2021-09-26 10:35] eddiejaoude commented on #218
Great discussion everyone 👍 , I think using the EddieHub mascot for the favicon is a great idea, until we have something more specific

[2021-09-26 10:39] eddiejaoude commented on #225
@voidz7 I think search would be difficult now, but easier when we move it to the API? But if there is an easy way I am not away of, then we can try it 👍 Maybe started a new issue/discussion as it is not related to this one

@aayush89890 we use PrimeReact, so we use prebuilt classes where possible

[2021-09-26 10:41] #208 closed

[2021-09-26 10:42] eddiejaoude commented on #238
We could move the changes in #209 to a style and use it for the description too 👍

[2021-09-26 10:46] FayasNoushad commented on #170
- Telegram
- Discord
- Quora
- Stack Overflow
- Instagram
- Facebook
- LinkedIn
- GitLab

etc

[2021-09-26 10:49] eddiejaoude commented on #170
I just checked 1 example, Discord exists. Which ones are missing that are not available in the libraries we already use that we need to change to another library?

<img width="1663" alt="Screenshot 2021-09-26 at 11 47 57" src="https://user-images.githubusercontent.com/624760/134804608-7771523a-2b23-4f94-9d64-2863fb15ccdc.png">

[2021-09-26 10:51] FayasNoushad commented on #170
Use icons from [Simple Icons](https://simpleicons.org/). There are so many icons available.

[2021-09-26 10:51] eddiejaoude commented on #308
we have an example in our other repos if that helps https://github.com/EddieHubCommunity/api/blob/main/.husky/pre-commit

[2021-09-26 10:52] FayasNoushad commented on #170
Like [shields badges](https://github.com/badges/shields)

[2021-09-26 10:59] niteshseram commented on #308
Yes, Sure why not

[2021-09-26 11:00] niteshseram commented on #308
Thank you

[2021-09-26 11:07] aayush89890 commented on #225
Ok than, should I close this issue? @eddiejaoude

[2021-09-26 11:22] eddiejaoude commented on #225
Personally I think the spacing is ok. Probably best and you can create other issues and PRs 🤓 - thank you for the suggestion

[2021-09-26 11:23] eddiejaoude commented on #170
You keep saying "so many available" but which ones add value to the project to include another library?

You shared a list of socials to include, which ones are not available in the current library we use?

[2021-09-26 11:25] aayush89890 commented on #225
Sure. Thanks for you feedback @eddiejaoude .
Closing this issue.

[2021-09-26 11:25] #225 closed

[2021-09-26 12:37] ShlokMohanty commented on #227
@eddiejaoude so we need to add the tiktok logo or the icon when we visit the page of the contributors and there we are able to see the facebook and LinkedIn handles so we should add the tictok there ?
![image](https://user-images.githubusercontent.com/59838234/134808327-634a1aef-aad0-4d4b-b4aa-e2f109ed141e.png)
like below the twitter handle?

[2021-09-26 13:21] FayasNoushad commented on #170
https://github.com/EddieHubCommunity/LinkFree/issues/170#issuecomment-927282311

These icons

[2021-09-26 14:17] #302 closed

[2021-09-26 18:05] ShlokMohanty commented on #258
@eddiejaoude not sure but will check it and if available then yes we can try to solve it .

[2021-09-26 20:13] Yash621 commented on #218
@CodingSpecies can I work on this issue ? I am a beginner and want to start my journey in open source ,so can you assign me this issue ?

[2021-09-26 20:29] CodingSpecies commented on #218
@Yash621 I have begun adding this to a pr, but what we need is a real favicon that is suitable to this project, as what I am doing is a temporary favicon. If you would like, you could find a favicon that doesn’t go against copyright and we can use. Thank you!

[2021-09-26 20:47] Yash621 commented on #218
okay ,I will try to do it ,thank you!!

[2021-09-27 04:31] nayabatir1 commented on #238
Is this issue still open?

[2021-09-27 06:49] niteshseram commented on #308
@qwe123coder Are you still thinking of working together or should I start myself?

[2021-09-27 10:08] AbhijithGanesh commented on #243
Thank you for reopening this! Are there any changes you'd like to see ? (Schmelto and other members)

[2021-09-27 12:49] amittri1025 commented on #296
@veerbal1 Anyone working on this issue or should I start

[2021-09-27 12:50] amittri1025 commented on #238
This issue is solved

[2021-09-27 12:50] #238 closed

[2021-09-27 14:07] kkhitesh opened #328 "[FEATURE] Add Discord Profile with logo"
### Description

It will be great to have discord profile for connecting with folks.

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-27 17:04] san-coding commented on #229
I would love to work on this issue, i am new to open source ?

[2021-09-27 17:49] san-coding commented on #308
Hey, I am new. to open source, can I work on this ?

[2021-09-27 17:51] san-coding commented on #328
Hey, I am new to open source, can I work on this issue ?

[2021-09-27 17:57] Panquesito7 commented on #328
Feel free to work on this issue! If you need any help, let us know here or in our [**Discord server**](http://discord.eddiehub.org). 🙂

[2021-09-27 18:14] Panquesito7 commented on #229
Feel free to work on this issue. Let us know if you need any help here or in our [**Discord server**](http://discord.eddiehub.org). 🙂

[2021-09-27 18:27] san-coding commented on #328
Hey, would adding discord logo be enough ?

[2021-09-27 18:37] CodingSpecies commented on #229
@san-coding feel free to work on it!

[2021-09-27 19:31] san-coding commented on #229
do you mean adding an option for code wars here
<img width="577" alt="image" src="https://user-images.githubusercontent.com/65719940/134972786-65c04824-2b2c-4129-8335-ae8734750f21.png">

[2021-09-27 19:32] san-coding commented on #328
do you mean adding an option for code wars here
<img width="577" alt="image" src="https://user-images.githubusercontent.com/65719940/134972786-65c04824-2b2c-4129-8335-ae8734750f21.png">

[2021-09-27 19:44] Panquesito7 commented on #328
AFAIK, I think that's where you should add it.

[2021-09-27 21:23] #141 closed

[2021-09-27 21:36] #186 closed

[2021-09-28 07:24] qwel-exe opened #339 "[FEATURE] Make a landing page"
### Description

we can add a landing page telling about the linkfree etc

### Screenshots

_No response_

### Additional information

could i take up this for hacktoberfest

[2021-09-28 07:28] qwe123coder opened #340 "[FEATURE] Add codepen"
### Description

![image](https://user-images.githubusercontent.com/72848513/135042565-c4dc93b4-bd53-4375-a506-f6c96099d6d6.png)
add [this](https://codepen.io/) to linkfree

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-28 07:36] san-coding commented on #328
What should be the color for it and where are we importing the icons from whenever we write icon:"twitter"

[2021-09-28 07:56] san-coding commented on #229
@CodingSpecies does `primeicons` have code wars icon? and what hex color should I use ?

[2021-09-28 08:11] Cahllagerfeld commented on #339
Do you already have an idea or a mockup, how your landing page should look like? 😄

[2021-09-28 08:22] schmelto commented on #218
Reopening due we only have added a temporary favicon

[2021-09-28 08:38] qwe123coder commented on #339
yess i do

[2021-09-28 10:12] veerbal1 commented on #296
@amittri1025 I am working on it.

[2021-09-28 11:20] qwe123coder commented on #308
hey there could you share your skills I will find repos for you which are beginner friendly

[2021-09-28 13:56] san-coding commented on #328
This issue has already been resolved by #331

[2021-09-28 14:05] san-coding commented on #328
Yeah you're right

[2021-09-28 14:21] Panquesito7 commented on #296
I think this is already being implemented in #313.

[2021-09-28 14:39] CodingSpecies commented on #229
@san-coding I am not sure for the color, but this is the icon:

![image](https://user-images.githubusercontent.com/70807500/135109170-6d7559f1-8624-436c-8364-259b19e4e5c7.png)

[2021-09-28 14:41] CodingSpecies commented on #229
@san-coding i don't think primeicons do as i tried to search it there, and it didn't come up. Thanks.

Also, I am not a maintainer, so I can't assign you, maybe @Panquesito7 can? Thank you.

[2021-09-28 18:29] san-coding commented on #229
Thanks, since it is not there in can we add the link? will it display any logo for code wars ? or would adding the hex be enough for now

[2021-09-28 18:31] san-coding commented on #308
C,c++,java, python are the languages I am familiar with

[2021-09-28 18:34] san-coding commented on #227
neither does it have a `codewars` token, but an issue is open on this repo for adding `codewars`, so what do we do about it

[2021-09-28 18:35] san-coding commented on #137
is this issue still open?

[2021-09-28 18:41] Panquesito7 commented on #229
That depends. If CodeWars is provided in that library, then yes, it is just by adding the hex color. 🙂

[2021-09-29 03:29] akash-kumar44 commented on #328
Hey, can i work on this issue ?

[2021-09-29 03:33] san-coding commented on #328
Hey @akash-kumar44 thank you for showing interest in open source , this issue already has a pull request #331 , it is yet to be merged

[2021-09-29 03:38] san-coding commented on #229
Yeah, I just checked, unfortunately `codewars` logo is not present in [primefaces/primeicons](https://github.com/primefaces/primeicons/tree/master/raw-svg)

[2021-09-29 06:01] schmelto commented on #137
No this issue is resolved :) thanks for asking!

[2021-09-29 06:01] #137 closed

[2021-09-29 07:43] akash-kumar44 opened #352 "[Feature/Fix ] : Text color of LinkedIn link mixes with the bg-color, when hover"
### Description

The background color of LinkedIn and Instagram links remains white when hovered over them.

### Screenshots

![Screenshot (94)](https://user-images.githubusercontent.com/86745118/135223331-0a892727-630b-4eeb-9db9-81296e4f0d50.png)
![Screenshot (95)](https://user-images.githubusercontent.com/86745118/135223354-642eb50b-5833-41f4-899d-b9cfdbf5f53f.png)

### Additional information

N

[2021-09-29 07:48] Guneetsinghtuli opened #353 "ImageAlt can be relpaced with a Skeleton"
### Description

Image Alternative text shows up before the Avatar is rendered, The Alternate text can be replaced with the `Skeleton` of Prime react
So the user is able to see a skeleton rather than that Alternate text and after the avatar is rendered the skeleton disappears for it.

### Screenshots

![Screenshot 2021-09-29 at 12 58 16 PM](https://user-images.githubusercontent.com/48324492/135223

[2021-09-29 08:00] Guneetsinghtuli commented on #352
I would like to work on this issue

[2021-09-29 08:51] AbhijithGanesh commented on #353
Skeleton as in the emoji or something else?

[2021-09-29 09:04] Guneetsinghtuli commented on #353
By skeleton i mean
![Screenshot 2021-09-29 at 2 33 06 PM](https://user-images.githubusercontent.com/48324492/135237971-f35348b1-4b63-4a53-9510-13993aa5960f.png)

[2021-09-29 10:08] qwe123coder commented on #339
hey could i work on this for hacktoberfest

[2021-09-29 11:24] ZaidKhan2002 commented on #339
Sure

[2021-09-29 11:47] Cahllagerfeld commented on #353
I like this idea!

[2021-09-29 12:11] AbhijithGanesh commented on #353
Got it thanks, good idea

[2021-09-29 13:07] Guneetsinghtuli commented on #353
@AbhijithGanesh Can you assign this to me

[2021-09-29 13:10] AbhijithGanesh commented on #353
I actually don't have the access to assign people but I maybe able to help you out

[2021-09-29 14:19] ankityadavhere commented on #229
Hey, [React Icons](https://react-icons.github.io/react-icons) is a popular icon library. Can this is considered?
As it has almost all social media icons!

If you haven't done the pr yet, lemme know if I can do this for hacktoberfest 👀

[2021-09-29 14:45] PuneetDabral commented on #137
sir can you please give me any beginner friendly issue

[2021-09-29 15:33] san-coding commented on #229
Hey, @ankityadavhere , I am waiting for `hacktoberfest` to begin to open the PR for this👀

[2021-09-29 15:50] ankityadavhere commented on #229
So I can't make this PR :'(

Wish you luck 🚀

[2021-09-29 16:45] CodingSpecies commented on #229
I am not sure if this repo is signed up for hacktoberfest.

[2021-09-29 16:55] san-coding commented on #229
@ankityadavhere there are plenty of issues out there, you can contribute to my open source project [ShopOnline](https://github.com/sudhay23/ShopOnline-Web-App/issues), we are participating in hacktoberfest

[2021-09-29 17:19] deephunt3r commented on #229
Yeah! Eddie added `hacktoberfest` label to this issue 🎉

[2021-09-29 17:29] CodingSpecies commented on #229
Thank you for clarifying @deephunt3r !

[2021-09-29 17:55] AwsmNinad25 commented on #119
I would like to work on this issue.

[2021-09-29 18:05] san-coding commented on #229
I will add the the PR with the appropriate hex code

[2021-09-29 18:08] san-coding commented on #353
I think the alt text is more appropriate, because that is role `alt` attributes is supposed to play whenever picture is not rendered

[2021-09-30 04:21] AwsmNinad25 commented on #37
Can I work on this issue?

[2021-09-30 04:29] verma-kunal commented on #37
Hey sure!!
All the major social accounts have been added like linkedin, twitter , github, youtube, instagram

I think adding Twitch would also be good here
Here is the hex-code: `#9146FF`

you have to add this `src/Components/Links.js` after [this](https://github.com/EddieHubCommunity/LinkFree/blob/5d5c4a026821d32713b568580a2d265bfed21e8d/src/Components/Links.js#L14) line

[2021-09-30 04:37] krishdevdb commented on #37
Is their twitch logo in PrimeIcons though?

[2021-09-30 05:21] Cahllagerfeld commented on #353
I think when loading its fine to display a skeleton, the alt imo is when the image cant be loaded or displayed corretly

[2021-09-30 05:46] san-coding commented on #353
Yeah you're right

[2021-09-30 06:07] Sejal-16 commented on #96
Can i work on this issue ?

[2021-09-30 07:46] Omkar845 commented on #119
i would like to contribute

[2021-09-30 07:50] Omkar845 commented on #106
i would like to contribute

[2021-09-30 08:28] Sejal-16 commented on #106
can i work on this ?

[2021-09-30 09:23] StarTrooper08 commented on #106
Discord link PR is ready and also ready to merge I guess.
And Instagram link is added .
Any other social media link in your mind and if you are Confused how to make first open source contribution I m there to help.

Tag me ( @StarTrooper08 )

[2021-09-30 09:30] StarTrooper08 commented on #106
LinkedIn link is remaining I guess check for the closed PR.
If no one added linkedin you can add it😃

[2021-09-30 09:53] ankityadavhere commented on #227
[React Icons](https://react-icons.github.io/react-icons/icons) can be a great choice, as it has almost every icon the user will ever need!
I'd like to make a PR if the maintainers approve 😄  @eddiejaoude

[2021-09-30 11:02] krishguptadev commented on #218
Could I be assigned to this issue? btw is their a specific reason for the favicon being temporary so that I can take care of it?

[2021-09-30 11:06] krishguptadev commented on #85
Could I work on this issue?

[2021-09-30 11:17] ravi-varma-ankam commented on #134
Can I work on this issue for #hacktoberfest?

[2021-09-30 11:59] Sejal-16 opened #359 "Add a back button on profile Page"
### Description

There should be a back button on individual profiles page so that it enhances user experience. Once you have done viewing about one user , then you can press the back button and go ahead view other users:)

### Screenshots

![image](https://user-images.githubusercontent.com/65293021/135459906-68070f65-2334-442a-9fea-99e18819a7ef.png)

### Additional information

_No response_

[2021-09-30 12:01] san-coding commented on #227
@ankityadavhere a PR is already open for this issue #245

[2021-09-30 12:45] ankityadavhere commented on #229
I'm coming ...🚀 Awesome project! @san-coding

[2021-09-30 14:18] san-coding commented on #229
Thanks @ankityadavhere

[2021-09-30 16:31] nivendha commented on #359
Hi i would like to work ion this issue

[2021-09-30 20:26] Guneetsinghtuli opened #364 "Replace Avatars with Chip"
### Description

As the number of people creating their profiles is increasing it is becoming a bit difficult to find our IDs. We can try to replace the Avatars `only image` with Chip `image with the name`

### Screenshots

![Screenshot 2021-10-01 at 1 52 56 AM](https://user-images.githubusercontent.com/48324492/135525214-a28e5e9d-3e8c-4e63-a2e0-b11e9d831410.png)

### Additional information

I wou

[2021-09-30 21:39] Flolight commented on #134
Aggree indeed that it should something more generic but isn't this already the "links" array?
What would be the difference if not?

[2021-10-01 01:56] ravi-varma-ankam commented on #110
Can I work on this issue for hacktoberfest??

[2021-10-01 05:05] harshmathurx opened #368 "Add support for website link"
### Description

Can we add support for website links and discord links like this?

![image](https://user-images.githubusercontent.com/58532371/135568081-6d9a0913-d346-4bd7-a4a5-aeb5190a236e.png)

### Additional information

_No response_

[2021-10-01 05:05] harshmathurx commented on #368
I would also like to work on this

[2021-10-01 05:39] RoshanMhatre opened #372 "[FEATURE] Add instagram hover link"
### Description

Hey Eddie, I want to add the Instagram hover link.
Please assign the Hacktoberfest label to it and assign this issue to me.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-01 05:39] RoshanMhatre commented on #372
/assign

[2021-10-01 05:54] RoshanMhatre opened #373 "fix: change instagram color to dark original color"
### What would you like to share?

The current Instagram color is very light and hard to identify.
I want to add the official darker color of Instagram

Please add the Hacktoberfest issue to this and assign this issue to me.

### Additional information

_No response_

[2021-10-01 05:58] RoshanMhatre opened #374 "[FEATURE] Update my data"
### Description

I want to update my data.
If possible and if it's valid to do, add the Hacktoberfest label.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-01 06:02] schmelto commented on #374
Unfortunately this is not included in hacktoberfest.

[2021-10-01 06:08] RoshanMhatre commented on #374
Yep!

[2021-10-01 06:19] RoshanMhatre commented on #6
I believe it's fixed now

[2021-10-01 07:16] AbhijithGanesh opened #377 "[BUG] LinkedIn not matched"
### Description

Linkedin logo is not matched to the tab.

I shall patch it soon so please assign me to this!

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-01 07:18] qwe123coder opened #378 "duplicate json file"
### Description

there are 2 profiles for the same person
with the same links

### Screenshots

![image](https://user-images.githubusercontent.com/72848513/135580368-e73a44a1-5bbe-4e6c-bb2a-a5fa75c0e7b0.png)

### Additional information

to fix this bug we have to remove the  andres-bermeo.json file

[2021-10-01 07:19] eddiejaoude commented on #377
Assigned

[2021-10-01 07:19] eddiejaoude commented on #368
Great idea, website link is important 👍

[2021-10-01 07:19] eddiejaoude commented on #368
Assigned to you

[2021-10-01 07:20] eddiejaoude commented on #364
Great idea 👍

[2021-10-01 07:23] Krishnapro commented on #119
Hey I would like to work on #119 this issue can you assign me this, I'm beginner so I want to start with this type of issue.

[2021-10-01 07:24] ItsMeIshan commented on #378
hey, @qwe123coder  there are two files in of the name which one do we have to remove?
here's the ss.
![Screenshot 2021-10-01 at 12 52 56 PM](https://user-images.githubusercontent.com/65131563/135581537-41614a0d-ba19-475a-bded-72344e671941.png)

[2021-10-01 07:25] harshmathurx commented on #368
hey @eddiejaoude I made a PR #369

[2021-10-01 08:08] kkhitesh opened #381 "A typo in the bug Issue template"
### Description

There is a typo in the spelling of bug in Additional information section

### Screenshots

![image](https://user-images.githubusercontent.com/61322830/135586800-a200394e-4f2d-43c8-aba4-ef73de19bc13.png)

### Additional information

Check the line above 👆🏻

[2021-10-01 08:11] krishguptadev commented on #381
Can I work on the issue?

[2021-10-01 08:47] AwsmNinad25 commented on #37
@verma-kunal I have created a PR please have a look at it.

[2021-10-01 09:48] adityaraute opened #386 "Youtube Link not working"
### Description

Hey @stemount the youtube link you have mentioned directs me to a 404 page. See if you can improve this.

### Screenshots

![image](https://user-images.githubusercontent.com/43912470/135600495-95f7be36-2a76-4770-8f8b-1e962efacec9.png)

### Additional information

None

[2021-10-01 09:50] adityaraute opened #387 "[FEATURE] Consider removing the bubble"
### Description

The bubble, as can be seen in the screenshot, displays the number of links on the page. However, I wonder if it is of any use to the user.
I will suggest to consider getting rid of this bubble altogether.

### Screenshots

![image](https://user-images.githubusercontent.com/43912470/135600713-d12cf24a-04ee-42df-b2d2-ef2095470a9f.png)

### Additional information

_No response_

[2021-10-01 10:47] sudhay23 commented on #387
@adityaraute Can I work on this?

[2021-10-01 12:49] amittri1025 opened #390 "Add FontAwesome Library for Icons"
### Description

Adding fontawesome library for Icons would be better because Prime React is not supporting major icons

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-01 14:13] Aliencoder-75 opened #393 "[DOCS] Readme can be improved"
### Description

Readme is not properly organized which makes it hard to understand, and it feels a bit cluttered.

### Screenshots

![image](https://user-images.githubusercontent.com/87473057/135634945-cfc9e859-3ea0-4604-a07b-80d42419b515.png)

### Additional information

_No response_

[2021-10-01 14:16] tabhay563 commented on #386
In which file this link is presented

[2021-10-01 14:21] #381 closed

[2021-10-01 14:25] schmelto commented on #386
https://github.com/EddieHubCommunity/LinkFree/blob/main/public/data/stemount.json

[2021-10-01 14:27] schmelto commented on #373
what is the difference between this and #372?

[2021-10-01 14:29] schmelto commented on #243
Reopening due the issue should closed when the PR #323 is merged

[2021-10-01 14:30] Dhananjaymahajan2001 commented on #393
hwllo i would like to work on this issue so could you assign it to me

[2021-10-01 14:30] schmelto commented on #242
#390

[2021-10-01 14:32] schmelto commented on #226
@eddiejaoude is this closed by #380 ?

[2021-10-01 14:39] adityaraute commented on #387
I am not the moderator so can't assign you

[2021-10-01 14:49] RoshanMhatre commented on #373
For #372  , I want to add the hover effect, see when you hover on any link, it changes color and a transition occurs.
For this issue, there's nothing transition as such, but changing the color to official color, so when the static color of link changes.

[2021-10-01 14:50] schmelto commented on #387
done

[2021-10-01 14:56] AbhijithGanesh commented on #377
Thank you eddie

[2021-10-01 14:59] Guneetsinghtuli commented on #242
@eddiejaoude I think we can use Font Awesome as it provides `icons` of almost every social media platform and many more we will be needing like FB, Insta, YouTube, Discord .
You can have a look at their website https://fontawesome.com/

[2021-10-01 15:16] AbhijithGanesh commented on #242
Examples of an icon package:
- [React Icons](https://react-icons.github.io/react-icons/)
   - Easily addable as a package using npm and yarn
   - Very useful to integrate with React.
   - Diverse and supports various icons
- [Font-Awesome Icons](https://fontawesome.com/v5.15/how-to-use/on-the-web/using-with/react)
  - Diverse and supports various icons.

Can I work on adding a icon package if we n

[2021-10-01 15:25] amittri1025 commented on #242
Issue solved see #394

[2021-10-01 15:25] #390 closed

[2021-10-01 15:30] amittri1025 commented on #387
These bubbles would be useful if it could be seen on homepage by doing hover on profiles so that one can know how many profiles these guy have , without clicking on individual profile

[2021-10-01 15:31] amittri1025 commented on #387
hello @schmelto , this project is not participating in Hacktoberfest , what to do now ?

[2021-10-01 15:35] Dhananjaymahajan2001 commented on #393
#397
made some improvements
- YouTube link simplified
- note for participants in a separate section

[2021-10-01 15:58] amittri1025 commented on #229
#394 Changed Icon Library to **FontAwesome**

[2021-10-01 16:12] AbhijithGanesh commented on #242
It isn't, we were discussing an addition and waiting for conseus

[2021-10-01 16:22] manavmodi22 opened #399 "[FEATURE]UI Improvement-Home Page"
### Description

On the main page of LinkFree, it just shows the avatars of people part of the platform. Instead of _just_ the avatars, if there is provision of providing more information, that would make the platform much better.
Suggestions:

- [ ] 1. Cards interface having the avatar, name and description.
- [ ] 2. Carousels widget
- [ ] 3. List view
- [ ] 4. Hover and show

Maybe add a toggle

[2021-10-01 16:25] nasrob commented on #133
@nhcarrigan can you assign me this issue?

[2021-10-01 16:26] nasrob commented on #364
@eddiejaoude @Guneetsinghtuli can you assign me this issue?

[2021-10-01 16:30] Guneetsinghtuli commented on #364
@nasrob I was just about to make a PR within an Hour

[2021-10-01 16:35] AbhijithGanesh commented on #399
Can you please add a description for this issue?

[2021-10-01 16:39] AbhijithGanesh opened #400 "[FEATURE] Addition of purge-css"
### Description

We can add a purge css to remove unused css in this project, it will be useful as it'll benefit the developers.

### Screenshots

_No response_

### Additional information

[Docs](https://purgecss.com/)
I would like to know if this is possible and if it is I would like to be assigned to it.

[2021-10-01 16:53] orama254 opened #401 "[FEATURE] Add Icon for Website links"
### Description

Add an extra icon for website links

### Screenshots

#### Actual Result
![Actual result](https://user-images.githubusercontent.com/50571688/135658259-30256669-4b4b-46b1-bebf-657fa8986394.jpg)

#### Expected Result
![globe icon eddiehub](https://user-images.githubusercontent.com/50571688/135658052-4fcbabe6-f15b-41d7-9ad2-21abeb719f13.jpg)

### Additional information

_No response_

[2021-10-01 17:03] sanjana-98 commented on #401
Hi @orama254 can I take this up?

[2021-10-01 17:23] orama254 commented on #401
Hi @sanjana-98 I'm already working on it right now.

[2021-10-01 18:04] aaditya9899 commented on #27
hey can i work on this?

[2021-10-01 18:05] aaditya9899 commented on #364
Hey can i work on this if its still available?

[2021-10-01 18:34] Guneetsinghtuli commented on #242
I was also thinking that we were having a discussion over here and will have some kind of voting
But anyway @AbhijithGanesh I think Font Awesome will be more friendly as we will be just using a CDN and not the entire package, What do you think ?

[2021-10-01 18:36] AbhijithGanesh commented on #242
I think using react icons will be more suitable for other applications at the same time it's more versatile and contains more icons w.r.t font awesome package. Font awesome lacks support for certain applications like hashnode, Dev, etc

[2021-10-01 18:37] Krishnapro commented on #119
Hey please assign to me @eddiejaoude

[2021-10-01 18:41] Krishnapro commented on #110
Hey I would like to work on this issue #110 can you assign me this @eddiejaoude

[2021-10-01 18:44] Omkar845 commented on #401
can i contribute to this

[2021-10-01 18:49] Guneetsinghtuli commented on #242
But don't you think Font awesome will be enough to provide all the icons we will be needing and it Seems like React icons also provide Font awesome icons in a form of a package. So now we have 2 options either to use Font awesome from the package or the CDN
![Screenshot 2021-10-02 at 12 11 52 AM](https://user-images.githubusercontent.com/48324492/135671763-0a3ba254-df9e-4b3b-a654-d9a4ca920216.png)

[2021-10-02 02:28] muhon9 commented on #242
Font awsome will be better

[2021-10-02 05:07] RoshanMhatre commented on #373
Please accept this PR so I can make another one for other issue

[2021-10-02 05:11] #352 closed

[2021-10-02 05:16] #113 closed

[2021-10-02 05:20] Soham041201 opened #414 "[FEATURE] Creating a Navigation Bar for the Home Page"
### Description

Adding a basic nav-bar using prime react. A skeleton navigation bar, which can be updated and improved later

### Screenshots

A skeleton template of the navigation bar which can be updated later

![image](https://user-images.githubusercontent.com/79072777/135704595-ed8dc0ee-d08a-40bb-900e-637b9359e933.png)

### Additional information

_No response_

[2021-10-02 05:37] krishguptadev commented on #242
tbh I think we should either use Devicons or SimpleIcons they have almost every icon a dev needs

[2021-10-02 05:42] eddiejaoude commented on #377
Sorry @AbhijithGanesh I forgot this was assigned to you 🤦‍♂️

[2021-10-02 05:50] AbhijithGanesh commented on #377
It's okay, it's chill. It was Patched to make the comm better. It's okay

[2021-10-02 05:51] AbhijithGanesh commented on #242
We'll have a final poll today then?

[2021-10-02 06:02] Guneetsinghtuli commented on #242
I tried using both But Devicon they don't have icons for Instagram and discord but I like Simple icons.

[2021-10-02 06:03] krishguptadev commented on #242
So then let's do simple icons

[2021-10-02 06:03] krishguptadev commented on #242
I'll create a poll here in a discussion...

[2021-10-02 06:05] #359 closed

[2021-10-02 06:12] krishguptadev commented on #242
Check this: https://github.com/EddieHubCommunity/LinkFree/discussions/417

[2021-10-02 06:12] #377 closed

[2021-10-02 06:19] prsmahajan commented on #414
Can I work on this issue?

[2021-10-02 06:40] #378 closed

[2021-10-02 06:43] #96 closed

[2021-10-02 07:58] Soham041201 commented on #414
Actually I am working on this :)

[2021-10-02 08:47] #393 closed

[2021-10-02 10:58] orama254 commented on #401
This was resolved in a conversation at #403

[2021-10-02 10:58] #401 closed

[2021-10-02 13:54] iatharva commented on #387
Well, you can still contribute, cause it's about collaboration.

[2021-10-02 15:40] RoshanMhatre commented on #372
Please accept my PR #373 so that I can make another one for this issue.

[2021-10-02 15:57] harshmathurx opened #430 "[FEATURE] Add a block for username not found"
### Description

Current then you enter a username after `http://linkfree.eddiehub.org/`
It sends an alert pop up
I propose a not-found page with a link to `README.md` to let people register first

### Screenshots

![image](https://user-images.githubusercontent.com/58532371/135723795-b7ca8175-a40e-44a2-8255-8358fff0a20a.png)

### Additional information

_No response_

[2021-10-02 15:58] harshmathurx commented on #430
Please assign this issue to me> I have some ideas and I have implemented them in my own fork I'd like to push changes

[2021-10-02 16:36] amittri1025 opened #432 "[FEATURE] Improving Button Looks in Profile"
### Description

I think the corners of **button should be made** round and **border width** should be increased.

💡  NEW
![image](https://user-images.githubusercontent.com/74503582/135725031-9c04adfb-f9d7-4a43-ac7e-831addefb0b1.png)
⬅️ OLD
![image](https://user-images.githubusercontent.com/74503582/135725053-e2e9f0c0-d816-4feb-917b-631ad992ce00.png)

### Screenshots

_No response_

### Additional

[2021-10-03 10:31] merouanezouaid opened #437 "[FEATURE] Add Email to Social Media list"
### Description

LinkFree will mostly be used for professional contact so I think that adding Emails (Gmail, Outlook, etc...) is required.

### Screenshots

![image_2021-10-03_112951](https://user-images.githubusercontent.com/74367730/135749748-180b65af-2ef9-4971-ba72-fba5c90471f7.png)

### Additional information

Please assign me to it  I'm already working on it .. Thank you!

[2021-10-03 12:09] mohan-murali commented on #432
is anyone working on this?

[2021-10-03 14:13] krishdevdb commented on #437
Can I get this issue?

[2021-10-03 14:16] krishguptadev commented on #437
Can I work upon this issue?

[2021-10-03 14:20] krishguptadev commented on #432
Can I work on this?

[2021-10-03 14:30] krishguptadev commented on #400
My Question is that does purgecss work with PrimeReact? Else it seems a bit non-useful to me

[2021-10-03 14:32] krishguptadev commented on #399
By cards do you mean? Something like what github has:
![image](https://user-images.githubusercontent.com/91655303/135758389-4c9a2e94-ea53-4702-80fe-d7509a745fff.png)

If yes.. I guess we should keep it open to contributors for hacktoberfest. What do you think maintainers?

[2021-10-03 14:32] krishguptadev commented on #387
Yeah thanks... This is really needed!

[2021-10-03 14:34] krishguptadev commented on #387
Only issues labelled "Hacktoberfest" are counted but yet it's about collaboration things like Hacktoberfest are only small festivals of opensource not the reason for opensource.

[2021-10-03 14:37] krishguptadev commented on #386
I can fix this... I have asked steve for the link. I'll update the link as soon as I get a response from steve

[2021-10-03 14:41] krishguptadev commented on #368
I think this issue is fixed. Can this be closed?

[2021-10-03 14:43] krishguptadev commented on #353
Skeleton is a better ui/ux option. Let's go with it!

[2021-10-03 14:47] krishguptadev commented on #340
Kindly close this for the same reason as the pr

[2021-10-03 14:47] krishguptadev commented on #339
Are you still working? @qwe123coder

[2021-10-03 14:48] krishguptadev commented on #328
This has been added already... Could this issue be closed?

[2021-10-03 14:50] krishguptadev commented on #308
Sorry but this issue has been already assigned to someone else. We would love to answer all your questions here: https://discord.eddiehub.org (There's a channel that lists beginner friendly issues)

[2021-10-03 14:53] krishguptadev commented on #272
Can I make one pr fixing the readme?

[2021-10-03 14:56] nhcarrigan commented on #6
Yep I think this is good to go.

[2021-10-03 14:56] #6 closed

[2021-10-03 14:57] krishguptadev commented on #258
I think https://deepsource.io is a better options.. But only @eddiejaoude can do it

[2021-10-03 14:57] krishguptadev commented on #243
We are supporting more of these soon after our today's poll of icon libraries.

[2021-10-03 14:58] krishguptadev commented on #242
Should we end the poll now?

[2021-10-03 15:00] krishguptadev commented on #229
We are still choosing a icon library, currently that icon is not supported so this issue can be closed

[2021-10-03 15:00] krishguptadev commented on #227
We are still choosing a icon library, currently that icon is not supported so this issue can be closed

[2021-10-03 15:03] nhcarrigan commented on #133
Done 🙂

[2021-10-03 15:10] harshmathurx commented on #368
yes, I'll close it

[2021-10-03 15:10] #368 closed

[2021-10-03 15:10] krishguptadev commented on #226
I think this is to be closed 🤔

[2021-10-03 16:12] qwe123coder commented on #339
hey i am done but do you want to work on it ?

[2021-10-03 16:12] qwe123coder commented on #339
there are still few things to do do you want to do ?

[2021-10-03 16:12] #340 closed

[2021-10-03 17:06] suhail34 opened #443 "[enhancement]Adding Skeleton while profile is loading"
### Description

I think instead of ProgressBar there should be Skeleton when loading the profile
For reference : https://primefaces.org/primereact/showcase/#/skeleton

### Additional information

Changes to be made in
1. https://github.com/EddieHubCommunity/LinkFree/blob/main/src/Components/Socials.js
2. https://github.com/EddieHubCommunity/LinkFree/blob/main/src/Components/Home.js

If the featur

[2021-10-03 17:14] Guneetsinghtuli commented on #242
Yes I think we can end it

[2021-10-03 18:42] merouanezouaid commented on #437
I've already worked on it

[2021-10-04 02:24] krishguptadev commented on #437
Oh cool 🚀

[2021-10-04 02:36] krishguptadev commented on #242
I would love to work on this issue after the icon package is resolved

[2021-10-04 02:41] krishguptadev commented on #443
How does that affect the project? I think progressbars are better in terms of ux

[2021-10-04 02:51] krishguptadev commented on #339
Are the changes merged already?

[2021-10-04 02:53] krishguptadev commented on #197
This can't be solved with a pr.. I think we need a ssl certificate for this

[2021-10-04 02:58] qwe123coder commented on #339
nop i can put it in my folks and you can make a pr there

[2021-10-04 03:03] krishguptadev commented on #339
wdym? folks? How does this word fit here?

[2021-10-04 03:04] krishguptadev commented on #339
np if you are already working on it, continue.. I'll make fixes if I find any after your changes are merged

[2021-10-04 03:31] Panquesito7 commented on #339
I think they meant to say "fork's".

[2021-10-04 03:46] krishguptadev commented on #339
np I'll wait for them to complete and merge the changes

[2021-10-04 04:08] nivendha opened #445 "[FEATURE] Provide Placeholder for Profile page during loading"
### Description

It would be better to have a placeholder for the images and text button , rather than a progress bar for loading the profile page content

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-04 04:08] nivendha commented on #445
I like to work on this

[2021-10-04 04:19] krishguptadev commented on #445
imho Skeletons would be better...

[2021-10-04 08:22] StarTrooper08 commented on #134
Is anyone working on this issue?

[2021-10-04 15:15] RagibAjmal commented on #51
@stemount  @nhcarrigan
I was thinking of working on this issue but then I got to know that there is an action to run npm run lint in build.yaml and also  Linkfree already has ESlint
If there is   anything more to work on for this issue i would like to contribute

[2021-10-04 16:36] suhail34 commented on #443
Acually the progressBar was looking large so i tried using progressSpinner and it was looking good so i raised this issue

[2021-10-04 20:27] Omkar845 commented on #437
can i work on this issues plz

[2021-10-04 21:19] #353 closed

[2021-10-05 02:38] krishguptadev commented on #443
You can instead make the progress bar smaller 🙂

[2021-10-05 03:09] krishguptadev commented on #437
A pr has been already made, but you can look up to other issues :-)

[2021-10-05 11:03] #437 closed

[2021-10-05 11:03] eddiejaoude commented on #437
PR merged, there are other socials that can be added 👍

[2021-10-05 11:07] Omkar845 commented on #437
Can you assign me to add other social

[2021-10-05 11:38] Bhavyawahie commented on #443
Loading spinner certainly looks better as far as UI is concered

[2021-10-05 12:04] nivendha commented on #432
@krishguptadev u working on this? if not i will take

[2021-10-05 12:05] krishguptadev commented on #432
I didn't got assigned yet, so didn't start. But I would still love to work on this

[2021-10-05 12:07] krishguptadev commented on #443
I mentioned ux not ui 🙂 But if we wanna consider both of them, let's use skeletons for the complete project

[2021-10-05 16:41] suhail34 commented on #443
So should i close this issue

[2021-10-05 17:28] #364 closed

[2021-10-06 02:35] krishguptadev commented on #443
If you want you can make a pr for skeletons 🙂

[2021-10-06 02:41] krishguptadev commented on #133
@nasrob I think you should make a pr first, reviews can be made directly into the pr

[2021-10-06 18:11] Panquesito7 commented on #443
Feel free to make a PR. 🙂

[2021-10-07 06:04] Shivansh-yadav13 commented on #75
@FayasNoushad Can I make a PR for this?

[2021-10-07 06:05] krishguptadev commented on #75
@Shivansh-yadav13 Sorry but this issue in already been assigned to @amittri1025, You can work on this only if they aren't 🙂

[2021-10-07 06:09] FayasNoushad commented on #75
Yeah, You can.

[2021-10-07 23:21] Vyvy-vi commented on #372
Hey @RoshanMhatre
We appreciate the enthusiasm, _however_ it would be appreciated if this issue had more detail.

[2021-10-08 15:29] Guneetsinghtuli opened #478 "Errors: if user not found"
### Description

If we try searching for a person not present in the Linkfree just by changing the `URL`, Our Page and console are filled with errors maybe we can have a better solution by redirecting the user to the home page if the user is not found with an alert message saying `User Not found`.
Later we can have a `404` page

### Screenshots

![Screenshot 2021-10-08 at 8 49 06 PM](https://user-

[2021-10-08 15:37] Guneetsinghtuli commented on #478
Yes, I missed that issue my bad, I will close this issue then.

[2021-10-08 15:37] #478 closed

[2021-10-08 17:02] manavmodi22 commented on #399
Yes, I guess this is a good start.

[2021-10-08 17:11] manavmodi22 opened #480 "Issue with Rendering the Profile Images."
### Description

Apparently, the image loading is quite not normal. Sometimes it gets loaded fully, sometimes it displays the alt text. Normally this should not happen, on a fully functional internet connection.

### Screenshots

<img width="1364" alt="Screenshot 2021-10-08 at 22 36 01" src="https://user-images.githubusercontent.com/55242552/136596060-0f741e72-fa51-4354-8271-a28d93afb2e5.png">
<im

[2021-10-08 17:18] manavmodi22 opened #482 "[FEATURE] Enabling Insights for the User Profile Page"
### Description

Normal linktree provides the user an option to view insights like click counters, page visits, and the source, etc.
I am creating this issue and keeping the suggestions wide open on how the Analytics/User Insights can be enabled for the project. The goal is to ideate, cause making it the same as Linktree might not be possible but it is important that in some way the users on the p

[2021-10-08 18:24] AbhijithGanesh commented on #399
I don't think I have access

[2021-10-08 19:15] GaryNLOL commented on #480
I'm not sure, but I don't think this is an error of the website. According to the console, the images don't load because of an error with the status 429 (Too Many Requests), which is probably caused by the limit of requests that GitHub allows.

[2021-10-08 19:20] manavmodi22 commented on #480
@GaryNLOL isn't there any way we can fix it?

[2021-10-08 19:40] shashank-indukuri commented on #480
Instead of making the fetch for lists.json multiple times, It's ideal to maintain a global state. It may limit the number of requests to the user list.

[2021-10-09 05:08] #39 closed

[2021-10-09 06:41] shashank-indukuri commented on #480
I have an idea about maintaining the list.json in global state using context hook. But when I tried implementing it, I encountered an another issue while navigating from Profile component to the Home page. The state is resetting during the routing. Any suggestions?

[2021-10-09 07:51] sh-himanshu opened #487 "[FEATURE] Tweaks for chip component on homepage."
### Description

- Currently, the chip has uneven padding because of the circular profile picture.
- Hover state is barely noticeable because everything is closely arranged.

### Screenshots

Before           |  After
:-------------------------:|:-------------------------:
![Screenshot 2021-10-09 130129](https://user-images.githubusercontent.com/88159798/136649012-0129acde-a758-4c02-ac4d-e4b3878da

[2021-10-09 14:39] AbhijithGanesh commented on #400
Can the maintainers assign me this issue ? I would like to prepare a patch @krishdevdb

[2021-10-09 15:01] krishguptadev commented on #487
Cool, please open a PR so that we can check it out

[2021-10-09 15:03] krishguptadev commented on #400
Nope, I don't. I didn't even add my profile to Linkfree 😆

![image](https://user-images.githubusercontent.com/91655303/136663470-65345525-a8b7-4007-a664-201b1ddc8963.png)

[2021-10-10 05:37] sh-himanshu opened #491 "Profile Picture fails to load occasionally."
### Description

- This issue only happens rarely but I did face it 3 times till now. Mostly happens when page is reloaded several times.
- PrimeReact Avatar component provides an `onImageError` prop which can be utilized to reload the image or display a default avatar image.

### Screenshots

![image](https://user-images.githubusercontent.com/88159798/136683585-e66c9f2b-cac1-4776-925f-1ec52c1e5e9

[2021-10-10 05:46] krishguptadev commented on #491
Duplicate of https://github.com/EddieHubCommunity/LinkFree/issues/480. I request the maintainers to thus close this 🙂

[2021-10-10 05:47] sh-himanshu commented on #491
My Bad

[2021-10-10 05:47] #491 closed

[2021-10-10 07:28] #487 closed

[2021-10-10 11:56] krishguptadev commented on #110
I would like to work on this.

[2021-10-10 17:46] spy-1234 commented on #430
Please assign this issue.

[2021-10-10 18:43] spy-1234 commented on #308
hey, can I work on this issue.

[2021-10-11 02:06] krishguptadev commented on #308
Sorry But this issue has been already taken up. Please watch for other issues with the `help wanted` label for more opportunities

[2021-10-11 05:26] #75 closed

[2021-10-12 02:46] RiddhiDamani opened #501 "[FEATURE] Adding Logo to the HomePage"
### Description

How about adding a logo to the home page? I believe no portal is complete without having a logo of its own. I would like to present a logo to LinkFree and add it to the project repo.

### Screenshots

<img width="1435" alt="pic" src="https://user-images.githubusercontent.com/19336011/136882056-1379255f-4966-4e73-8bea-52ed71bfb5ef.png">

### Additional information

Do let me know i

[2021-10-12 03:38] krishguptadev commented on #501
Ohk! So you can make a PR instead :)

[2021-10-12 03:44] shashank-indukuri commented on #480
I have a working solution in my local repo to eliminate duplicate network calls for a list and maintaining a global state using Context API. Can I create a PR for this issue?

[2021-10-12 04:14] krishguptadev commented on #480
Yeah sure!

[2021-10-12 04:27] RiddhiDamani commented on #501
Does this qualify to be part of #Hacktoberfest2021? Thanks again!

[2021-10-12 06:30] RiddhiDamani commented on #501
Sure, I just came to know about it. No worries. The best logo design should be up on the portal. :) Thanks for letting me know @schmelto @krishguptadev

[2021-10-12 19:03] CodingSpecies opened #507 "[FEATURE] add LinkFree H1 to Homepage"
### Description

I am not sure if this is already an issue, but On linkfree, we just have a page of profiles, and a search bar, but not a heading or anything explaining this is LinkFree.
Maybe just above the search bar, we could have a H1 saying LinkFree.
Thank you.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-13 02:30] krishguptadev commented on #507
I've design a better page for LinkFree in LHD Learn:

![LinkFree](https://user-images.githubusercontent.com/91655303/137056693-c29b22c0-dd67-4d61-a23d-bbadc946cbd7.png)

Design file is available at Figma. Also, I can design the other pages as well :) What do you think @eddiejaoude? I really wanna make my first contribution to LinkFree :) Lemme know what you think!

[2021-10-13 05:57] schmelto commented on #507
#501

[2021-10-13 06:22] schmelto commented on #507
tose other issues are for the issue  @CodingSpecies specified in this issue :)

[2021-10-17 13:04] emmalearnscode opened #520 "[FEATURE] Add message when search returns no results"
### Description

Currently when the search doesn't return any results the page is blank and the footer jumps up under the search box. Instead, it would be clearer for users if there was a "No results found" message

### Screenshots

<img width="743" alt="Screenshot 2021-10-17 150154" src="https://user-images.githubusercontent.com/57045550/137628337-6b0323b8-5812-469f-8f07-db65ff70c06f.png">

### A

[2021-10-17 13:12] emmalearnscode opened #521 "[FEATURE] Search box needs a label"
### Description

For accessibility reasons the search input should have an associated label and the input field should have a name and id so that the two can be linked.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-17 13:16] EmmaDawsonDev opened #522 "[OTHER] Color contrast is problematic - discussion"
### What would you like to share?

The color contrast for youtube red, twitter blue and linkedIn blue is not sufficient to meet accessibility requirements. Suggestion that the text is black and the logos/borders are the correct social color but thought it would be good to open a discussion about this and see what others think.

### Additional information

_No response_

[2021-10-17 14:10] eddiejaoude commented on #520
Great idea, thank you Emma 👍

[2021-10-17 14:12] eddiejaoude commented on #522
Great idea to make these improvements 👍

[2021-10-17 15:14] emmalearnscode commented on #520
@mtwn105 I am unable to assign it but it’s fine for me if you want to work on it.

[2021-10-17 15:42] mtwn105 commented on #520
Hi @emmalearnscode Opened PR #524

[2021-10-17 18:15] emmalearnscode opened #525 "Link without text needs ARIA label"
### Description

The back arrow on personal profile pages doesn't have any text and therefore needs an aria label so that screen reader users know the purpose of the link and where it will take them

### Screenshots

<img width="538" alt="Screenshot 2021-10-17 201313" src="https://user-images.githubusercontent.com/57045550/137639754-7e6c6e95-31f0-426c-896f-d55749219127.png">

### Additional inform

[2021-10-17 21:08] JiaHua-Zou commented on #525
Hi, I would like to tackle this issue.

[2021-10-17 21:26] ryan-broguiere commented on #521
Hi, could I handle this issue?

[2021-10-18 01:50] krishguptadev commented on #521
[code]

You mean something like ☝️ but in react?

[2021-10-18 07:41] #525 closed

[2021-10-20 17:04] tamoghna-dey commented on #85
May I work on this issue ?

[2021-10-21 22:59] schmelto opened #545 "Search selection do net refresh on emtpy serarch"
### Description

The search selection will not provide all profiles when first searching for a user and than empty the search string.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-22 02:57] mohan-murali commented on #545
Can I work on this?

[2021-10-22 16:21] Athul0491 opened #549 "[FEATURE] Add default icon"
### Description

Add a default icon if icon doesnt exist

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-22 16:41] abrahamalen opened #554 "[add icon] a linkedin icon can be added"
### Description

Instead of an arrow on **Follow me on Linkedin** adding an icon there will be better and aesthetically cool.

### Screenshots

![image](https://user-images.githubusercontent.com/53680255/138492053-3dee03ec-d934-4ddf-93bf-419cfb65cbfc.png)

### Additional information

for designers a Behance or dribble option adding will be good

[2021-10-24 15:11] Guneetsinghtuli opened #599 "docker-compose file can be added"
### Description

A docker-compose file can be added to make it easy to use docker, it can also reduce the repetitive code in the Docker file for both production and development.

### Screenshots

_No response_

### Additional information

I would like to work on this issue as I am currently learning docker and would like to apply the learning. So please assign this issue to me.

[2021-10-24 19:06] CodingSpecies opened #601 "[OTHER] Loading page and profiles page differences."
### What would you like to share?

If you see the screenshots below, when the website is loading, it shows the first screenshot, website layout, but when it is loaded, all the profiles are aligned to the left, leaving a gap to the right. When it is loading, all the profiles are aligned to the center.

The differences between the loading page and the profile page is the border of each profile, the

[2021-10-25 14:40] Sachin-chaurasiya opened #605 "[Refactoring] Refactor the Components , Utils ,Constant and pages."
### What would you like to share?

Currently, We are just following a random folder structure but we should change it.

We should refactor our application like this.

Page
 - it only contains the API calls and components to render
 - no business logic

components
 - It will receive the props from the parent component and render the UI
 - it will include the business logic

Utils
  - it will includ

[2021-10-28 18:37] Vyvy-vi opened #616 "[FEATURE] Customisable Profile Themes"
### Description

In light of the changes made in #513, I think it would be really great if this gradient config is an "optional" enhancement that people could use in their profiles. An option in the data config files for a hex code or a "trigger" string, which defines the background for the page would be really great. Maybe we can call it **"theme"**

`/public/data/<file>.json`
[code]

### Screens

[2021-10-29 13:52] Pradumnasaraf opened #620 "Side margins are not consistent."
### Description

**Side margins on the landing page are not consistent, even though the page is at 100%.**

The problem arises in :

* PC
* Mobile
* Mobile with Desktop site enabled.

### Screenshots

### PC

![Screenshot 2021-10-29 181305](https://user-images.githubusercontent.com/51878265/139445824-4d8323b4-4c4f-4153-bd91-e80cbe18c261.png)

### Mobile

<p align="center"><img src="https://user-im

[2021-10-31 06:47] FidalMathew opened #623 "Place "Contribute on Github" at the navbar(Grey empty area)"
### Description

Instead of Footer being in place after the end of the content. The issue will be focusing on placing "Contribute on Github" at the navbar(Grey empty area).

### Screenshots

![image](https://user-images.githubusercontent.com/84982038/139571878-3cfbb857-9e7a-460a-870c-1753e76d70a6.png)

### Additional information

_No response_

[2021-10-31 14:20] #601 closed

[2021-11-01 04:24] mohan-murali commented on #623
I can work on this.

[2021-11-01 05:04] FidalMathew commented on #623
@mohan-murali I am not a maintainer, it's just an issue I found so I thought of mentioning it :)

[2021-11-01 05:24] krishguptadev commented on #623
This seems weird to me, footers are supposed to be at the bottom, not sticky like navbars 🤔

[2021-11-01 05:33] nhcarrigan commented on #623
I go back and forth with this in my own design.

It really depends on the rest of the layout.

[2021-11-01 06:25] FidalMathew commented on #623
@krishguptadev @nhcarrigan I would like to try to fix this issue. Shall I continue?

[2021-11-01 07:23] FidalMathew commented on #620
@Pradumnasaraf  I would like to work on this issue. I hope no one is working on it.

[2021-11-01 07:30] Pradumnasaraf commented on #620
Yes, go-ahead,
+ soon any maintainer will assign this to you.

[2021-11-01 08:13] mohan-murali commented on #620
@FidalMathew Oh you are working on this? I actually fixed this one.

[2021-11-01 08:57] FidalMathew commented on #620
Sorry, @mohan-murali I didn't check out this message. Thank you for giving me the opportunity to contribute.

[2021-11-01 09:19] Pradumnasaraf commented on #620
So you didn't open the PR after fixing @mohan-murali ?

[2021-11-01 09:23] mohan-murali commented on #620
No I was going to, but it was taken. And I checked that @FidalMathew  had already raised PR. Its fine. As long as it fixes the issue. :)

[2021-11-01 09:32] Pradumnasaraf commented on #620
Oh I see, still thanks for the effort

Just advice - if you find some Open issues, and you feel like you gonna work on it before start working on that, drop a message below the issue like `I'm working on this`/get assigned

[2021-11-01 09:33] Pradumnasaraf commented on #620
Sorry, I closed it by mistake,

[2021-11-01 12:27] Vyvy-vi commented on #623
Personally I think it's fine this way...
Esp. since whenever anyone screenshots their links, it most probably would include this little "Contribute on <i:github> vX.X.X" line, so others viewing the screenshots might be more prone to look into making additions.

Moreover, while footers are neat, on larger screens they really disconnect with the content, unless we structure the layout in a way there

[2021-11-01 12:35] #620 closed

[2021-11-01 12:41] #414 closed

[2021-11-01 12:43] Vyvy-vi commented on #414
closed by 9029abe

[2021-11-01 12:51] Vyvy-vi commented on #501
I would like to affirm - Adding Logos after designing them _adds value_, and thus _can_ count for hacktoberfest, though I think hacktoberfest has ended today

[2021-11-01 12:56] Vyvy-vi commented on #445
this issue has been resolved by fbac8f7

[2021-11-01 12:56] #445 closed

[2021-11-01 12:56] Vyvy-vi commented on #443
this issue has been resolved by fbac8f7

[2021-11-01 12:56] #443 closed

[2021-11-01 13:04] FidalMathew commented on #623
In the Eddiehub discord channel, Eddie told that it would be nice if we could put the "contribute on Github" in the grey area.
I would like to work on this issue.

[2021-11-01 13:28] Vyvy-vi commented on #339
Hey there, just checking in.
Are you still working on this issue @qwe123coder?

[2021-11-01 13:32] Vyvy-vi commented on #623
Oh, in the menu bar?
Sure, go on ahead.
I think that makes a lot of sense :)
Maybe you can merge this message with the github icon on there.

I would recommend that you _update_ the issue's title and description to reflect what changes you might be making.

[2021-11-01 13:44] Vyvy-vi commented on #191
Names do appear on the main page right now.

[2021-11-01 13:45] qwe123coder commented on #339
hey i forgot about this i will make my pr soon

[2021-11-01 13:58] Vyvy-vi commented on #387
the suggestion made by @amittri1025 is similar to what's proposed in #191

[2021-11-01 13:58] Vyvy-vi commented on #399
related to #144 #191 #122

[2021-11-01 14:54] mohan-murali opened #629 "User profile picture is not visible in profile page."
### Description

When we navigate to the users profile, we are not able to see the profile image. Its visible in the home page.

### Screenshots

![image](https://user-images.githubusercontent.com/26025710/139691368-6f90c189-fc0a-407a-98ed-084d59fe9266.png)

### Additional information

_No response_

[2021-11-01 14:55] mohan-murali commented on #629
I would also like to work on this if possible.

[2021-11-01 18:50] eddiejaoude commented on #507
Sorry for my slow reply.

I think the cards would take up more space, which would display less people on the page.

I guess there could be 2 display types
- condensed (what we have now)
- large (the card example you are showing)

This could be changed with a switch https://www.primefaces.org/primereact/showcase/#/inputswitch

[2021-11-01 18:51] eddiejaoude commented on #501
Thanks all for the collaboration, sorry we didn't look at the logo options yet. We will do it this week 👍

[2021-11-01 19:00] yogeshpaliyal opened #630 "Mobile Responsive"
### Description

Cards are shrinked

### Screenshots

![Screenshot_20211102-002713_Chrome](https://user-images.githubusercontent.com/9381846/139726218-d4db20c2-1392-44a8-8c65-0986e5eee903.png)

### Additional information

_No response_

[2021-11-01 19:19] CodingSpecies commented on #501
@eddiejaoude if you were to check the logo, here is a list of them all in the discussion : https://github.com/EddieHubCommunity/LinkFree/discussions/206#discussioncomment-1465924
there are also more being produced in other chat threads too.

[2021-11-02 03:24] mohan-murali commented on #630
I can work on this if no one is working

[2021-11-02 05:20] krishguptadev commented on #507
I can design both condensed and comfortable! We can have a switch like you said...

[2021-11-02 08:16] Vyvy-vi commented on #507
Imo, the condensed version could just be the current version... It looks alright, and idk if more work is needed there.

There is a small issue with using a switch though - Many people would like a dark mode switch. Imho, 2 switches would be quiet confusing.

[2021-11-02 09:07] #630 closed

[2021-11-02 13:33] Muhammed-Rahif opened #635 "Change website meta description"
### Description

## Issue :-
### Our website meta description is generated by create-react-app, it is still not changed :-
https://github.com/EddieHubCommunity/LinkFree/blob/d92c50dbe216a2e7aed0b73292088b65c79ffa66/public/index.html#L8-L11

## Where did I found it :-
### I found this issue when I share the link of our website to my friend on `whatsapp`, and he is a normal user and he don't know wh

[2021-11-02 14:32] Muhammed-Rahif commented on #635
I can work on this, but didn't started yet. I am waiting for response from maintainers...

[2021-11-02 16:18] krishguptadev commented on #635
You can start working :D Maintainers would see it soon!

[2021-11-02 16:33] Muhammed-Rahif commented on #635
Then can you please suggest a description ?! or use the the github repo description (Open source alternative to LinkTree) ?

[2021-11-02 17:11] Muhammed-Rahif commented on #635
@krishguptadev @TakshakRamteke take a look at #636

[2021-11-02 17:45] #629 closed

[2021-11-02 18:30] #635 closed

[2021-11-03 04:17] FidalMathew commented on #623
Guys, I am facing some troubles, the menubar is a UI component that has parameters - start, model, end.
The start and end are defined as of now and the model has to be assigned.
The model takes items, which need to be an array. Any Idea on how to add the content there?
One link I referred to is [LINK](https://bit.dev/primefaces/primereact/menubar?__cf_chl_jschl_tk__=pmd_3LfRNhJdUKaL1mj0hxCnTJ1ZcTa

[2021-11-03 07:26] schmelto opened #638 "[FEATURE] sort people on homepage by name not by username"
### Description

sort people on homepage by name not by username

### Screenshots

Before:
![image](https://user-images.githubusercontent.com/30869493/140022357-e21a1181-fcc6-4cbc-8111-36a1c8c3af37.png)
After:
![image](https://user-images.githubusercontent.com/30869493/140022393-bedecf5d-f6e8-4009-abba-108e00464b9a.png)

### Additional information

Sorting folks by name due the display-name is the

[2021-11-03 08:27] schmelto opened #640 "[OTHER] normalize name for sorting"
### What would you like to share?

We could normalize the names for sorting

### Additional information

[code]

https://www.youtube.com/watch?v=SRWrQMwGYsQ

[2021-11-03 08:44] #638 closed

[2021-11-04 07:20] mohan-murali commented on #623
Any idea where in the grey area you want this message?
If you want it to be at the end you can do something like
[code]

[2021-11-04 07:27] mohan-murali commented on #623
Otherwise you can add the contribute to the github in the items array like this
[code]

[2021-11-04 08:29] FidalMathew commented on #623
Thanks a ton @mohan-murali ! I will check it out

[2021-11-07 07:42] mohan-murali commented on #640
I can work on this.

[2021-11-09 13:39] emmalearnscode opened #648 "Github logo link is missing aria label"
### Description

The github logo in the search bar is a link but as it doesn't have any text it needs an aria-label to specify for screen readers where the link leads.

### Screenshots

<img width="295" alt="Screenshot 2021-11-09 142758" src="https://user-images.githubusercontent.com/57045550/140934106-1cb43153-0638-4361-bc12-fbfbc614bc36.png">

### Additional information

_No response_

[2021-11-09 13:42] emmalearnscode opened #649 "buttons nested inside of links"
### Description

The links to different social profiles are buttons wrapped inside of links which is not good semantically. Ideally they are just links and then they get styled according to the design. Alternatively they are buttons but given an aria role of link so that they are still accessible for screen readers.

### Screenshots

<img width="686" alt="Screenshot 2021-11-09 143146" src="https:/

[2021-11-09 13:44] emmalearnscode opened #650 "heading heirarchy incorrect"
### Description

On the individual profile page there is a h1 followed by an h4. A h1 should be followed by a h2 and size should be controlled by css to make the html semantically correct

### Screenshots

<img width="676" alt="Screenshot 2021-11-09 143337" src="https://user-images.githubusercontent.com/57045550/140934884-fbbe20f8-737b-4a88-96f5-f284543096d5.png">

### Additional information

_No

[2021-11-09 13:45] emmalearnscode opened #651 "Page can only have one main tag"
### Description

On the profile page there is a main tag nested inside of another main tag when there should only be one.

### Screenshots

<img width="337" alt="Screenshot 2021-11-09 143451" src="https://user-images.githubusercontent.com/57045550/140935127-20c80e06-fe22-43b8-af3f-5fa42814b385.png">

### Additional information

_No response_

[2021-11-09 14:43] krishguptadev commented on #651
+1, there could be more than one main tags but best not to have it just to contain another main tag.

[2021-11-09 14:44] krishguptadev commented on #648
aria-label="View source on GitHub"

[2021-11-09 14:53] emmalearnscode commented on #651
There should actually NOT be more than one <main> tag, that's the whole
point of having a main tag, it highlights what's considered the main
content of the page. Same as a page should only contain one <h1> tag.

On Tue, 9 Nov 2021 at 15:43, Krish Gupta ***@***.***> wrote:

[2021-11-09 14:56] krishguptadev commented on #651
AFAIK Main is supposed to be a container of the main content  in a element, but the best practice is to just contain the main element and use the tag once. Anyways I agree that in this case there should be no repetition of the tag

[2021-11-09 14:57] emmalearnscode commented on #649
No, the buttons don't appear to have an onclick handler currently

On Tue, 9 Nov 2021 at 15:52, Krish Gupta ***@***.***> wrote:

[2021-11-09 14:58] krishguptadev commented on #650
+1, add a span tag to contain the h4

[2021-11-09 15:00] emmalearnscode commented on #650
No span is needed, spans just clutter the html unnecessarily.

On Tue, 9 Nov 2021 at 15:58, Krish Gupta ***@***.***> wrote:

[2021-11-09 15:34] mohan-murali commented on #651
We can dynamically generate different content inside main tag, hence in code we might have more then one main tag, but in html there should be only one.

[2021-11-09 15:37] krishguptadev commented on #651
We don't need another main tag if one is being generated automatically

[2021-11-09 15:38] krishguptadev commented on #649
For sure!

[2021-11-09 15:39] krishguptadev commented on #650
How shall we style it then? I think we need a container like span to selected the text that has to be smaller.

[2021-11-09 15:58] #648 closed

[2021-11-09 16:03] #640 closed

[2021-11-11 13:24] SPARKY892 commented on #650
Assuming we would want to avoid inline styling for it, there is no class name currently assigned so a new one could be created for it then style in the css file? I am happy to pick this up if you haven't started on it @krishguptadev.

[2021-11-12 02:02] krishguptadev commented on #650
I haven't started, feel free to work on it :D

[2021-11-12 07:26] tanishagupta1 opened #658 "[FEATURE] Add hover effect to search button"
### Description

Currently, the cursor when hovered at the search button shows default arrow-pointer, we can change that to hand-pointer and  add color highlighting to the button.

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-12 09:24] Sfitzg opened #659 "[FEATURE] update releases to work with protected branches"
### Description

Hello @eddiejaoude

The current workflow for releases doesn't work with protected branches that require pull requests or branches that require status checks to pass before merging because the standard  `GITHUB_TOKEN` does not give admin access which is required to push to protected branches.

I have a workflow that will allow pushing to protected branches, it requires a Personal A

[2021-11-13 00:21] eddiejaoude commented on #605
Referencing the jsx discussion https://github.com/EddieHubCommunity/LinkFree/issues/612

[2021-11-13 09:16] Sfitzg commented on #605
👍🏻 For this Idea
I tried to work on an issue and I also got super confused as to the file structure wasn't sure what was a view or a component took me quite a while to understand what was what.

I'd like to propose that while doing the refactor you also use the folder method for components.
for example -

- Components (Folder)
     - ComponentName (Folder)
         - ComponentName.js (File)

[2021-11-14 05:16] Sachin-chaurasiya commented on #605
@Sfitzg thank you.

[2021-11-14 10:52] emmalearnscode opened #664 "Less margin/padding on mobile screens to maximize screen area"
### Description

There is a lot of padding round the links and cards on user profile page on mobile. This should be reduced to make better use of the space and means less text will be cutoff from the links

### Screenshots

<img width="161" alt="Screenshot 2021-11-14 114724" src="https://user-images.githubusercontent.com/57045550/141677920-68988af9-18e3-4a01-94df-319f09a20418.png">
<img width="161

[2021-11-14 10:55] emmalearnscode opened #665 "Card text needs consistent alignment on mobile"
### Description

On desktop the cards on the user profile page alternate between left and right aligned. On mobile all the cards are center aligned but their text is still left/right aligned which looks inconsistent. They should all have the same text alignment on mobile.

### Screenshots

<img width="287" alt="Screenshot 2021-11-14 114849" src="https://user-images.githubusercontent.com/57045550/1

[2021-11-14 19:21] Palaksharma23 commented on #658
@tanishagupta1 are you working on this issue ?
Can I take up this issue , I would love to work on it.

[2021-11-14 20:06] AbhinavMV commented on #665
Can i work on this issue?

[2021-11-14 20:11] AbhinavMV commented on #664
Can i work on this?

[2021-11-14 20:21] AbhinavMV opened #667 "Add Default Profile Image"
### Description

If an image is not visible we can show a default image with Initial character from name (eg: Like it is shown on gmail)

### Screenshots

![image](https://user-images.githubusercontent.com/35369843/141697187-bfc15093-1a8c-4b0e-90c1-babe59bf32f9.png)
![image](https://user-images.githubusercontent.com/35369843/141697241-a6bef51c-f150-458b-af3b-7915ddaaac79.png)

### Additional infor

[2021-11-15 02:57] mohan-murali commented on #665
Go ahead.

[2021-11-15 08:18] Sfitzg commented on #605
@Sachin-chaurasiya is this still being worked on ?

[2021-11-15 11:06] tanishagupta1 commented on #658
Hey I am working on this issue

[2021-11-16 00:43] stemount commented on #51
@Vyvy-vi @RagibAjmal @nhcarrigan good stuff, lint is good

[2021-11-16 00:43] #51 closed

[2021-11-16 00:55] stemount commented on #386
@krishguptadev @schmelto @tabhay563 @adityaraute thanks for the report! I've left this a bit late and opened a PR for review.

I didn't know YouTube only gave nice URLs to real youtubers ;-(

[2021-11-16 01:00] stemount opened #671 "[OTHER] Gitpod does not need its own Dockerfile"
### What would you like to share?

I noticed when quickly checking out the project with Gitpod that it was taking quite some time to load and this is due to the necessity of Gitpod needing to do additional tasks (like install npm) but also not be able to use caching for the workspace.

### Here's the low-down:
1. the `gitpod/workspace-full` already has npm installed
2. you can use `.gitpod.yml` ta

[2021-11-16 01:49] stemount commented on #659
@Sfitzg I'm fascinated about what made you raise this issue, what does this stop you doing?

Some related info:
https://github.community/t/best-practices-for-protected-branches/10204

If it is to release, then you can override these in your `repository settings > environments` and provide the needed environment variables.

![smscreenshot 2021-11-16 at 01 47 04@2x](https://user-images.githubusercon

[2021-11-16 03:59] sauradip007 commented on #339
has this issue been addressed yet?

[2021-11-16 04:22] krishguptadev commented on #339
Just checking in once more, @qwe123coder still working? 🙂

[2021-11-16 07:52] qwe123coder commented on #339
ya i diched it you can work on it if you want

[2021-11-16 07:54] Sfitzg commented on #659
The only real difference is that the workflow disables the includes admins checkbox and then re-enables it after the commit is pushed as I had a really hard time dealing with this and I figured that people could benefit from the updated workflow.

but I'm going to close this issue as you are correct this is not needed in this repo.

[2021-11-16 07:54] #659 closed

[2021-11-16 08:21] stemount commented on #659
@Sfitzg thanks for the explanation, I get it, I think this only applies when you actually do need to force push branches or straight to the main repository.

GItHub doesn't *really* support this but certainly can have environment-based (testing, prod, et al) secrets that Jinja (?) uses with `{{ secrets.blah }}`

[2021-11-16 08:23] stemount commented on #386
thanks @Vyvy-vi for merging, I don't think I can close this issue but @adityaraute thanks for the report - please close if this works :-D

[2021-11-16 08:37] #110 closed

[2021-11-16 08:49] Vyvy-vi commented on #386
Interesting, this should have been automatically closed after the merge 🤔

[2021-11-16 08:49] #386 closed

[2021-11-16 09:52] RayyanRNKJ opened #674 "fix: Icons Alignment"
### Description

The icons are not properly *vertically aligned* with the text in the button,
One of the most important UI Principles is **Alignment**, So without that Principle it seems, it is lacking something.

### Screenshots

![Group 14](https://user-images.githubusercontent.com/64679235/141960117-38b52bf8-a464-4695-85b1-227d40435207.png)

### Additional information

_No response_

[2021-11-16 10:01] RayyanRNKJ opened #675 "fix: Linkedin Icon"
### Description

The **Linkedin Icon** is missing in the link section,
It is missing without hovering, while hovering nothings changed.

### Screenshots

![Group 15](https://user-images.githubusercontent.com/64679235/141964274-4ad5d276-adc6-415e-94d0-dfd9cf5ffca1.png)

### Additional information

_No response_

[2021-11-16 11:06] emmalearnscode commented on #674
Which browser is this happening in?

[2021-11-16 11:53] krishguptadev commented on #674
I think this is in all the browsers 🤔

[2021-11-16 11:59] krishguptadev commented on #339
@sauradip007 feel free to work on this issue 😄

[2021-11-16 12:00] emmalearnscode commented on #674
I ask because I'm not seeing it on my browser.

[2021-11-16 12:02] krishguptadev commented on #674
The icon is not centred like the text. There is no inconsistency between the icons (they all are at the bottom). I think the vertical alignment of the icons comparing with the text is inconsistent

[2021-11-16 15:45] RayyanRNKJ commented on #674
The Mozilla Web Developer Edition Browser.

[2021-11-16 15:46] RayyanRNKJ commented on #674
Exactly.

[2021-11-16 16:09] emmalearnscode commented on #674
I’m not seeing this issue in either chrome or safari. I can check others later.

[2021-11-16 16:51] RayyanRNKJ commented on #674
Nowadays Cross-browser compatibility is an essential part.

[2021-11-16 16:55] emmalearnscode commented on #674
Of course, just trying to narrow down the problem first

[2021-11-16 18:43] Vyvy-vi commented on #339
I'm wondering, is a landing page needed?

(esp. considering the direction the project is taking with the user profiles grid on the main page)

[2021-11-16 18:49] Vyvy-vi commented on #130
closing this issue in favour of duplicates - #554 #106

Thanks for contributing to LinkFree!

[2021-11-16 18:49] #130 closed

[2021-11-16 18:50] Vyvy-vi commented on #675
duplicate of #130 #554 #106
dependent on #336

[2021-11-16 21:02] emmalearnscode commented on #658
Cursor is accessible as it is. Closing this issue.

[2021-11-16 21:02] #658 closed

[2021-11-17 02:34] RayyanRNKJ commented on #675
Sorry, I haven't searched this issue enough.
My bad.

[2021-11-17 02:35] RayyanRNKJ commented on #675
Sorry, My bad.
I haven't searched this issue enough.

[2021-11-17 02:35] #675 closed

[2021-11-17 02:49] mohan-murali commented on #674
I have checked in chrome, brave, firefox and edge. Doesn't seem to occur in any of these.

[2021-11-17 04:24] RayyanRNKJ commented on #674
Oh, but still for me its vertical alignment is not equal.

[2021-11-17 05:16] RayyanRNKJ commented on #674
While I am hovering on it, the vertical alignment is really visible for me.
![Screenshot from 2021-11-17 10-40-45](https://user-images.githubusercontent.com/64679235/142139089-471fed51-6f5f-4393-b944-4e80891f6c54.png)

[2021-11-17 05:34] mohan-murali commented on #674
Firefox : -
![image](https://user-images.githubusercontent.com/26025710/142140593-aaba8bb1-2c3f-4291-a548-23b6a280ded0.png)

Chrome: -
![image](https://user-images.githubusercontent.com/26025710/142140659-715d51b3-684c-429e-b4cc-54e26cd5af74.png)

Brave:-
![image](https://user-images.githubusercontent.com/26025710/142140721-e6061580-4473-4290-9569-3f094b1f14d3.png)

edge:-
![image](https://user-im

[2021-11-17 05:39] RayyanRNKJ commented on #674
Oh, I don't why the vertical alignment is not proper for me.
Maybe It depends on the OS I am using or the Browser I am using otherwise my screen height.

[2021-11-17 05:45] mohan-murali commented on #674
Might be. what browser and OS you are using?

[2021-11-17 07:07] RayyanRNKJ commented on #674
OS: Ubuntu 20.04
Browser: Mozilla Firefox Developer Edition

[2021-11-17 07:51] emmalearnscode commented on #674
If this is only happening on Mozilla Dev browser I don't think we should focus on it for now. The dev browser probably has some beta or experimental features which is affecting it which doesn't exist in any other browser and may not end up in production on the normal mozilla browser either.

[2021-11-17 07:52] krishguptadev commented on #674
Can this issue be closed for the same?

[2021-11-17 07:57] #674 closed

[2021-11-17 09:14] PritamReddy101 commented on #667
I would love to give this a try! Can i work on this issue?

[2021-11-17 13:51] RayyanRNKJ commented on #674
Totally Agree with that 💯

[2021-11-18 14:12] #649 closed

[2021-11-19 03:19] krishguptadev commented on #131
Why was this issue closed? Let us know if you need any help 🙂

[2021-11-20 02:08] #104 closed

[2021-11-20 02:08] #129 closed

[2021-11-20 02:25] Panquesito7 commented on #104
Ping. @eddiejaoude.

[2021-11-20 02:25] Panquesito7 commented on #129
Ping?

[2021-11-20 03:53] krishguptadev commented on #104
Also can you assign @eddiejaoude

[2021-11-20 15:45] Zishan-7 commented on #106
Hey @Vyvy-vi , I see that instagram and Linkedin links haven't been added yet. Can you assign me this issue?

[2021-11-20 15:47] krishguptadev commented on #106
#675 doesn't this add the LinkedIn icon

[2021-11-20 15:58] Zishan-7 commented on #106
No one has added Linkedin icon yet.

[2021-11-20 15:59] krishguptadev commented on #106
But there is a open PR for this 😅 Let's wait for the maintainers

[2021-11-20 16:01] Zishan-7 commented on #106
yea, sure, 😄

[2021-11-21 11:43] Zishan-7 commented on #482
@manavmodi22 That would be a great addition, but don't you think for that we will firstly have to make an login page for the users?
After logging in they can check insights for their account only.

[2021-11-21 13:01] krishguptadev commented on #482
Also, where are you gonna store the stats? Also are we sure to store the stats? 🤔

[2021-11-21 18:59] Zishan-7 commented on #482
We'll have to make a database for storing data and backend APIs or we can use firebase as it's much more convenient.

[2021-11-22 00:29] #671 closed

[2021-11-22 00:35] #664 closed

[2021-11-22 01:10] #651 closed

[2021-11-22 01:20] krishguptadev commented on #482
Humm, I don't think this will be a good idea to add insights.

[2021-11-22 02:10] #144 closed

[2021-11-22 02:15] krishguptadev commented on #144
Hey if this issue hasn't been fixed yet, I would like to know more and see If I can help.

[2021-11-22 02:17] krishguptadev opened #690 "[FEATURE] Implement Prettier GitHub Action"
### Description

Implement a GitHub Action to format files automatically

### Screenshots

_No response_

### Additional information

The conversation started at #689, I would love to work on this.

[2021-11-22 02:21] #665 closed

[2021-11-22 03:37] Zishan-7 commented on #482
I think it will be a good addition because it will make LinkFree much more like link tree.

[2021-11-22 03:57] krishguptadev commented on #482
Then maybe let's wait for the coming API... it would introduce a features that may help 😄

[2021-11-23 03:36] qwe123coder opened #693 "Missing Icon"
### Description

there used to be an arrow icon here
![image](https://user-images.githubusercontent.com/72848513/142967335-b69a8399-bf2a-42a0-8454-9b7d43ad80e0.png)

but I think it's not there because the icon is too light
because I can see a <i> tag for it

![image](https://user-images.githubusercontent.com/72848513/142967687-47c6cfff-bb90-4f58-8462-4b99c30211b8.png)

we can fix it by change the

[2021-11-23 03:48] krishguptadev commented on #693
If a color is defined, there is gonna be no icon. Maybe should remove the colors not in use.

[2021-11-23 03:51] Panquesito7 commented on #693
Looks like we need to use `link` instead 😅 @qwe123coder and I are working on this.

[2021-11-23 04:09] krishguptadev commented on #693
Hmm 🤔 So we need to change all the unsupported socials to `link`?

[2021-11-23 16:31] CodingSpecies opened #696 "Add GitHub Organisation profiles suggestion."
### Description

I just thought as an idea if it was possible for us to submit profiles of our organisations in LinkFree.
- Maybe, in the bio / description we can explain how to join the org/ what the org is about.
- However, this can not be any organisation, but only the ones you actual are the founder of.
- There could be a seperate page to view different organisations, or in the same page, but

[2021-11-23 17:52] #693 closed

[2021-11-23 19:19] emmalearnscode commented on #667
Since the avatar is right next to the name I don’t think that initials are necessary. A default profile icon should suffice for all missing profile images.

[2021-11-23 19:24] emmalearnscode commented on #690
I wonder if a pre-commit hook would be more useful so that code gets formatted locally before every commit.

[2021-11-23 19:39] Tejas-Teju commented on #616
@Vyvy-vi @Panquesito7
I am new to open source, can I work on this?

[2021-11-23 19:46] Panquesito7 commented on #616
@Vyvy-vi, will you still work on this? 😅

[2021-11-24 00:17] Vyvy-vi commented on #616
If you want to, go ahead! :)

[2021-11-24 01:52] Panquesito7 commented on #554
Closing as the LinkedIn icon is already there. 🙂

[2021-11-24 01:52] #554 closed

[2021-11-24 03:06] krishguptadev commented on #690
Not everyone uses `git` cli and especially keeps husky installed.

[2021-11-24 03:25] krishguptadev commented on #696
I like the idea, but don't support them to be displayed in a highlighted way.

[2021-11-24 04:21] harshrai654 commented on #667
Are you working on this issue?

[2021-11-24 07:36] CodingSpecies commented on #696
I was thinking as the user profiles are rounded, maybe the organisation profiles should have some different styling to perhaps look different to the user profiles. This is so you can see which ones are clearly organisations and what are not. @krishguptadev

[2021-11-24 07:45] krishguptadev commented on #696
But I don't think we need this. Organisation Profiles should be like normal profiles.

[2021-11-24 11:57] Recognizeyourself commented on #131
I have too much on my plate, that's why. If you want to do something go  ahead.

[2021-11-24 13:38] krishguptadev commented on #131
I think we do have some animations like buttons, avatar and links hover 👍 I think this is fixed...

[2021-11-24 15:31] CodingSpecies commented on #696
Yes @krishguptadev i don’t think it is necessary now. Thank you

[2021-11-24 15:32] krishguptadev commented on #696
Can the issue be closed for the same?

[2021-11-24 17:11] PritamReddy101 commented on #667
No I'm not, Sorry. Could you please assign this issue to someone else.

[2021-11-24 17:31] CodingSpecies commented on #696
I don’t know because I don’t have the answer if we  are able to add the organisations. Once I have the answer, then this can be closed @krishguptadev

[2021-11-24 17:42] Tejas-Teju commented on #616
Should we add a button called theme and select the color or gradient from color picker? and then save the value to the .json file?

[2021-11-24 18:00] emmalearnscode commented on #667
Thanks for letting us know @PritamReddy101 . Do you want it assigned to you @harshrai654  ?

[2021-11-24 18:06] harshrai654 commented on #667
Yeah sure.

[2021-11-24 21:05] emmalearnscode commented on #690
I don't think git cli is necessary for using pre-commit hooks. I quite often use the inbuilt git in vs-code and the pre-commit formatting hooks work just fine there in the projects that use them. I guess you mean that not everyone does npm install if they are adding a json file? But is there not some inbuilt format on save instructions in the prettier config that can solve this?

[2021-11-24 22:03] schmelto opened #701 "We should probably update the readme list of available icons"
We should probably update the readme list of available icons

_Originally posted by @emmalearnscode in https://github.com/EddieHubCommunity/LinkFree/pull/699#issuecomment-978301579_

[2021-11-25 03:03] krishguptadev commented on #616
that will be weird to integrate 😅 I think we can allow the user to add a gradient in the JSON directly...

[2021-11-25 03:14] krishguptadev commented on #701
Can I know that what icon are to be added?

[2021-11-25 03:17] krishguptadev commented on #690
As per what I know, people tend to use the github UI **directly** to add their profile 🙂

[2021-11-25 03:25] krishguptadev commented on #696
I just added a org, to clear the doubt 😄 #703

[2021-11-25 06:50] emmalearnscode commented on #701
Yes, this issue came directly from a comment in another thread so it is a bit vague. Portfolios are now using globe icon instead of link icon so globe needs adding to the readme section about available  icons

[2021-11-25 07:07] krishguptadev commented on #701
Globe icon has been fixed, #702

[2021-11-25 07:07] schmelto commented on #701
Closed in #702

[2021-11-25 07:08] #701 closed

[2021-11-25 13:51] ssensalo opened #708 "[FEATURE] Add globe icon to the list of accessible icons"
### Description

The globe icon is not available in the list of icons. This will add the globe icon to the icons list

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-25 14:17] emmalearnscode commented on #708
This got fixed in a pull request earlier today. Thanks for noticing though :)

[2021-11-25 14:17] #708 closed

[2021-11-25 15:57] CodingSpecies commented on #696
So now at LinkFree we can add our own organisation profiles, shouldn't this be made clear on the CONTRIBUTING.md or README.md?

[2021-11-25 16:42] #623 closed

[2021-11-25 18:09] CodingSpecies commented on #696
As I said in #704
To make only organisations come up in the search, maybe at the end of each profile name, the emoji 📛, which is the badge could be put. `EG: Eddie Hub 📛`.
When you put 📛 in the search all the organisations will come up, as they all have the same badge emoji in their name.

[2021-11-26 02:44] krishguptadev commented on #696
I think it is gonna be more of a badge rather than a emoji at the end of the name

[2021-11-26 03:56] Vyvy-vi commented on #696
Imo, I think there needs to be some form of distinction _atleast_ in the JSON schema for the org profile.
Maybe we can add some text about this being an org, in the profile(if we want).

From a maintenance point of view, it would be easier to out-right see it as an org., so that anyone can edit it's data..
(Also, in future we might want to make these open-accessed, instead of being linked through

[2021-11-26 10:28] schmelto opened #714 "[FEATURE] Sort Icons alphabetical in README"
### Description

Sort Icons alphabetical in README
https://github.com/EddieHubCommunity/LinkFree#available-icons

[2021-11-26 10:58] krishguptadev commented on #714
Can I work on this?

[2021-11-26 13:03] #714 closed

[2021-11-26 13:18] eddiejaoude commented on #696
I think if we have an *optional* `type` field in the json for `community` | `personal`

There could be multiple PRs
1. updating `community` profiles with the `type: community`
2. [optional] updating the `personal` to `type: community`
3. on homepage display the type in each chip
4. on the profile page display type at the top
5. filter search by type using dropdown

[2021-11-26 13:37] Vyvy-vi commented on #690
That's true though pre-commit hooks are kinda neat.
However, I personally think it's better to have pre-push hooks instead, since that way people don't have to wait for the CI process to run on every commit

[2021-11-26 13:40] Vyvy-vi commented on #616
yes, I think for colours, we can have some default color text values(like 'red', 'blue', etc etc. or maybe 'classic', 'modern', 'xyz' and if those aren't present, it uses colour hashes)

[2021-11-26 13:44] krishguptadev commented on #616
looks cool, a gradient could be a linear-gradient property... opening support for custom hex codes as well

[2021-11-26 14:18] Saurabhpatil-dev opened #717 "[DOCS] URL in Issue template has trailing '/' Config.yml"
### Description

Hello @krishguptadev , as per our conversation in my last PR in .github, you asked me remove the trailing '/'. SAO I found the same issue in here.

I have made the change. and creates a pull request related to it.

### Screenshots

![image](https://user-images.githubusercontent.com/55076843/143594461-e7a07e51-0077-4cff-afcb-f91d42b27a38.png)

### Additional information

_No respon

[2021-11-26 16:06] #717 closed

[2021-11-27 06:48] krishguptadev opened #723 "[DOCS] Update Email in Code of Conduct"
### Description

![image](https://user-images.githubusercontent.com/91655303/143671342-bed8ae1f-0275-4d11-b771-e716ce9fdbfc.png)

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-27 13:35] krishguptadev commented on #690
Can I work on this? (On a discord call it was decided github actions)

[2021-11-28 04:03] krishguptadev opened #730 "Username not found"
### Description

![image](https://user-images.githubusercontent.com/91655303/143729077-ecb0a2ff-6b17-42ac-9f9e-3504fb183b01.png)

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-28 04:06] krishguptadev opened #732 "Krishguptadev's avatar is too big"
### Description

While adding the avatar, I didn't notice that this performance issue would come up, so this is a fix until I come up with something that can provide custom size images using query params on the same URL

![image](https://user-images.githubusercontent.com/91655303/143729147-f17891a7-56fd-4f7a-b898-865d800e82af.png)

### Screenshots

_No response_

### Additional information

_No re

[2021-11-28 04:13] krishguptadev opened #734 "Usage of Avatars.github..."
### Description

![image](https://user-images.githubusercontent.com/91655303/143729292-1a259782-5ef5-45a0-972b-4394c8ca448f.png)

in https://github.com/EddieHubCommunity/LinkFree/blob/main/public/data/Kaushik.json

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-28 04:17] krishguptadev opened #736 "Use of twitter avatar url"
### Description

![image](https://user-images.githubusercontent.com/91655303/143729383-bb7f140d-feeb-495d-aea4-7e2cdf1a14e7.png)

in https://github.com/EddieHubCommunity/LinkFree/blob/main/public/data/givenkiban1.json

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-28 04:19] krishguptadev commented on #400
Hey there @AbhijithGanesh, do you need any help?

[2021-11-28 04:35] #734 closed

[2021-11-28 04:36] #723 closed

[2021-11-28 04:37] #732 closed

[2021-11-28 04:44] #730 closed

[2021-11-28 05:21] kr-anurag opened #738 "[Home Page] add a Home Page contaning info and docs about LinkFree to the website"
### Description

Hey there!
This issue is about adding a Home Page to LinkFree, like rather than directly showing all the Contributors, it should first show a Home Page, including docs, and some MetaData, now GitHub works too! But it would be great if it's added to the WebSite itself

I'm adding this issue to collect feedback!

### Screenshots

_No response_

### Additional information

_No respon

[2021-11-28 05:25] krishguptadev commented on #738
Duplicate of https://github.com/EddieHubCommunity/LinkFree/issues/339

[2021-11-28 05:27] kr-anurag commented on #738
oof, apparently i should see pre-existing issues and PRs before making new ones 🤦

[2021-11-28 05:31] krishguptadev commented on #738
No worries, but can you close this one though?

[2021-11-28 05:55] kr-anurag commented on #738
ah yep, sure!

[2021-11-28 05:55] #738 closed

[2021-11-28 17:13] CodingSpecies commented on #27
Is anyone currently working on this issue? This is beause it has been open for a while now. If anyone needs help, feel free to ask!
Thank you.

[2021-11-28 17:15] CodingSpecies commented on #119
@Vyvy-vi I think this issue can be closed, as this pr which is merged - #603 - covers it.
Thank you.

[2021-11-28 17:17] CodingSpecies commented on #131
@Recognizeyourself @krishguptadev if this issue doesn't need covering, can it be closed?
Thanks.

[2021-11-28 17:20] CodingSpecies commented on #134
Isn't this issue sorted, as we are now able to add links for our own websites and portfolios:
![image](https://user-images.githubusercontent.com/70807500/143778781-515f9e5d-29dc-49b6-bf6d-046e1ff32ba4.png)
I have added my own website:
![image](https://user-images.githubusercontent.com/70807500/143778792-42e13015-8412-471b-88b2-94b8e94dc9db.png)

[2021-11-28 19:03] Vyvy-vi commented on #690
Go on! I think it would be great if the action only runs on the `pull_request` event when PR is `opened`, `reopened` or `edited` and makes a commit only if the files don't pass prettier.

[2021-11-28 19:26] Vyvy-vi commented on #616
That can be neat!
There's so much room to customise in here, once an MVP version of this is created.

[2021-11-28 23:22] Vyvy-vi commented on #119
Thank you @CodingSpecies

[2021-11-28 23:22] #119 closed

[2021-11-28 23:26] Vyvy-vi commented on #134
I think it is, however do we need anything custom for newsletter links?

[2021-11-29 01:52] Tejas-Teju commented on #616
Can anyone help me understand it a bit more? any other platform to discuss more on this than GitHub?

[2021-11-29 02:54] krishguptadev commented on #616
Discord?

[2021-11-29 02:55] krishguptadev commented on #616
so it would be `styles={{ background: profile.background ?? '#fff' }}` I believe.

[2021-11-29 03:10] krishguptadev commented on #134
the envelope icon works for newsletters and emails.

![image](https://user-images.githubusercontent.com/91655303/143802765-e87eedee-7a77-4a1c-97a1-761c59c2b1d7.png)

[2021-11-29 06:13] qwe123coder commented on #696
we could also add like a badge telling its a org

[2021-11-29 10:59] Vyvy-vi commented on #616
I think it makes sense to discuss this in the issue itself so that we can maintain the context.
But certainly, feel free to ask any questions on our discord server - http://discord.eddiehub.org/

[2021-11-29 13:17] #736 closed

[2021-11-29 21:11] #690 closed

[2021-11-30 07:51] Sachin-chaurasiya commented on #605
@Sfitzg As changes are being made continuously so it will take more time to complete this.

[2021-11-30 08:00] krishguptadev commented on #605
You can mark the PR if any draft for now then 🙂

[2021-11-30 11:35] Vyvy-vi commented on #134
Looks fine...
I guess we can close the issue for now

Thanks for contributing to LinkFree!

[2021-11-30 11:35] #134 closed

[2021-12-01 07:03] krishguptadev opened #751 "Onhover, blog btn invisible"
### Description

On hover ->
![image](https://user-images.githubusercontent.com/91655303/144187418-bb5a461b-1d0c-4cb6-89ce-50f7c2f29cb2.png)

No Hover ->
![image](https://user-images.githubusercontent.com/91655303/144187439-db3d7d4e-5574-478d-8cf4-b7e1d176a2df.png)

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-01 07:04] krishguptadev opened #752 "btn alignment incorrect."
### Description

Blog posts btn in https://linkfree.eddiehub.org/avneesh0612 has wrong alignment.
![image](https://user-images.githubusercontent.com/91655303/144187527-37de065e-0df3-4d8e-aa79-55d50b655943.png)

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-01 07:46] harshrai654 commented on #667
@emmalearnscode can you review the changes.

[2021-12-01 16:47] #751 closed

[2021-12-01 17:36] Panquesito7 opened #755 "[OTHER] Add a sponsor button in the repository"
### What would you like to share?

I think we should add a sponsor button on this repository as well. CC: @eddiejaoude.

### Additional information

_No response_

[2021-12-01 17:43] #752 closed

[2021-12-01 19:14] theriyazo opened #757 "[FEATURE] Add Icon for University or School to use in Milestone Section"
### Description

When adding graduation details in the milestones section of the profile, there is no school or university icon.

An Icon such as YouTube, Github in Milestone list if made available, those who want to add their graduation can make use of it.

- [ ] Added Icon for Uni/School

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-01 19:22] CodingSpecies commented on #757
Maybe as a graduation, @theriyazo ,
something like a graduation hat like this:
<img src="https://cdn-icons-png.flaticon.com/512/0/422.png" height=100 />

or a school/education something like this:
<img src="https://icon-library.com/images/book-icon-transparent/book-icon-transparent-25.jpg" height=100 />

[2021-12-01 19:23] CodingSpecies commented on #757
Maybe as a graduation, @theriyazo ,
something like a graduation hat like this:
<img src="https://cdn-icons-png.flaticon.com/512/0/422.png" height=100 />

or a school/education something like this:
<img src="https://icon-library.com/images/book-icon-transparent/book-icon-transparent-25.jpg" height=100 />

[2021-12-02 03:32] krishguptadev commented on #755
It is already there, https://github.com/EddieHubCommunity/LinkFree/blob/main/.github/FUNDING.yml, @eddiejaoude maybe just needs to turn it on in the settings?

[2021-12-02 13:26] #667 closed

[2021-12-02 16:20] Pradumnasaraf opened #761 "[OTHER] Adding a Preview "How to use LinkFree with GitPod" in GIF format"
### What would you like to share?

* Tutorial - How to use LinkFree with GitPod and view it in the browser.
* Adding GIF below GitPod Button

### Additional information

_No response_

[2021-12-02 16:21] Pradumnasaraf commented on #761
I am working on this issue :)

[2021-12-02 16:27] Pradumnasaraf opened #762 "[OTHER] Adding a new milestone in `eddiejaoude.json`"
### What would you like to share?

- Adding the **"GitHub Star 2021"** milestone to `eddiejaoude.json`

### Additional information

N/A

[2021-12-02 16:28] Pradumnasaraf commented on #762
I am working on this issue :)

[2021-12-03 09:29] vinzvinci commented on #757
I like the first one :D

[2021-12-03 12:22] krishguptadev commented on #757
+1, for vinz suggestion

[2021-12-03 17:59] #762 closed

[2021-12-03 18:11] #761 closed

[2021-12-04 09:11] krshkun opened #766 "[FEATURE] Optimization for images"
### Description

We could download and store the images in `public/` prebuild and then fetch from there instead, this will allow us control to optimize and compress images :D

### Screenshots

![Uploading image.png…]()

### Additional information

_No response_

[2021-12-05 06:31] krishguptadev opened #769 "[DOCS] Make the template template-y"
### Description

In the [to add your profile section](https://github.com/EddieHubCommunity/LinkFree#-to-add-your-profile) we have Eddie's profile and we've seen incidents where people just use Eddie's info and don't update the template for the things they don't use. Maybe we shall make it more template-y. See https://github.com/EddieHubCommunity/LinkFree/pull/767#pullrequestreview-823279601

### S

[2021-12-05 22:01] theriyazo commented on #757
I too like the hat one.
Great choice @vinzvinci and @krishguptadev

[2021-12-06 02:13] #131 closed

[2021-12-07 11:35] Pradumnasaraf opened #773 "[DOCS] Updating LinkFree Preview (README)"
### Description

Updating the LiknFree preview picture in README.

### Screenshots

## Current:
![old](https://user-images.githubusercontent.com/51878265/145021923-1a58f8de-4662-4350-b3be-9e03650dd1b0.png)

## Updated one:

![Screenshot from 2021-12-07 17-04-14](https://user-images.githubusercontent.com/51878265/145022063-641fc0bb-bab5-4b6d-ab34-ae64dd53a863.png)

### Additional information

N/A

[2021-12-07 11:44] krishguptadev commented on #773
I would like to work on this 🙂

[2021-12-07 11:55] Pradumnasaraf commented on #773
In my opinion, It's very beginner-friendly. I think letting some newcomers resolve this issue :)

[2021-12-07 11:57] krishguptadev commented on #773
oops, I've already made the PR now 😅

[2021-12-07 12:00] Pradumnasaraf commented on #773
Haha, No worries :nerd_face:

[2021-12-07 13:44] Pradumnasaraf opened #777 "[DOCS] Adding the new supported icons in the README"
## Description

### Adding the new supported icons to the README
Some Are
- Book
- Dollar

[2021-12-07 13:47] krishguptadev commented on #777
The following icons are supported
https://github.com/EddieHubCommunity/LinkFree/blob/204f6c4e7f43d7fcc1dcae84e5ab70aa271d65a5/src/config/links.json#L1-L26

IE, the dollar is not supported 🙂 It is just that you can use all icons available in <https://www.primefaces.org/primereact/showcase/#/icons> if you don't want the colours 👍

[2021-12-07 17:33] Panquesito7 opened #779 "[BUG] Missing type parameter"
### Description

*If you've already forked this repository, skip to step 3*

1. Fork the repository [here](https://github.com/EddieHubCommunity/LinkFree/fork).
2. Make a new branch named `add_type_parameter`.
3. Go to [`public/data/taravis.json`](https://github.com/EddieHubCommunity/LinkFree/blob/main/public/data/taravis.json) (remember to open that file in your fork!).
4. After line 2, add the fo

[2021-12-08 03:07] Pradumnasaraf opened #780 "[DOCS] Remove extra backward slash"
### Description

### Remove extra backward slash

* Line Permanent [Link](https://github.com/EddieHubCommunity/LinkFree/blob/be46fba3fd551fd23cc089d7b6ea376b2e29e64f/README.md?plain=1#L131)

Before Changes:

`For example: http://linkfree.eddiehub.org/eddiejaoude\`

After Changes:

`For example: http://linkfree.eddiehub.org/eddiejaoude`

### Screenshots

![Screenshot from 2021-12-08 08-21-44](https

[2021-12-08 03:58] unnikrishnan2002 commented on #777
Hey , I would love to contribute to this issue . Can you please brief the issue once more , I didn't understand it clearly 😄

[2021-12-08 04:05] VaibhavUpreti commented on #780
Hey! Can i take this.

[2021-12-08 04:09] Pradumnasaraf commented on #780
Yes Go Ahead

[2021-12-08 05:02] VaibhavUpreti commented on #779
Hi can i work on this.

[2021-12-08 10:39] Pradumnasaraf commented on #777
#### You have to add the remaining icon (picture) which is supported in LinKFree

----

#### You have to add it here

![Screenshot from 2021-12-08 16-01-34](https://user-images.githubusercontent.com/51878265/145193140-7d355db7-54a2-46fa-b805-a83cbfaedcdf.png)

 If You still have a problem come on Discord and have an open discussion :)

[2021-12-08 11:30] unnikrishnan2002 commented on #777
Ahh! Got it thanks 👍

[2021-12-08 14:28] RagibAjmal commented on #757
@theriyazo I would like to work on this

[2021-12-08 16:37] #780 closed

[2021-12-08 16:43] #773 closed

[2021-12-08 16:49] Vyvy-vi commented on #779
closed by 180c66b in #782

[2021-12-08 16:49] #779 closed

[2021-12-08 16:51] Vyvy-vi commented on #757
@RagibAjmal Feel free to open a PR!

[2021-12-08 19:25] Panquesito7 opened #785 "[DOCS] Capitalize `t` in the `Youtube` word"
### Description

*If you've already forked this repository, skip to step 3*

1. Fork the repository [here](https://github.com/EddieHubCommunity/LinkFree/fork).
2. Make a new branch named `capitalize_t`.
3. Go to [`README.md`](https://github.com/EddieHubCommunity/LinkFree/blob/main/README.md) (remember to open that file in your fork!).
4. In line 145, replace the current content with the following

[2021-12-08 19:28] #769 closed

[2021-12-08 21:02] kristin-wiseman commented on #785
Hi David,

I'd really like to try tackling this issue. I'm brand new to web development, but I did a short github tutorial and have already forked this repository. Thank you!

[2021-12-09 00:20] Panquesito7 commented on #785
Amazing! 🚀 Feel free to work on it. 😃

[2021-12-09 02:31] krishguptadev commented on #785
@Panquesito7 I think this issue can be closed now 🙂

[2021-12-09 03:10] krishguptadev commented on #480
Isn't this issue fixed already?
![image](https://user-images.githubusercontent.com/91655303/145327639-c8d5d449-a8e8-4f1f-80da-438749667095.png)

[2021-12-09 03:15] Pradumnasaraf opened #787 "[DOCS] Replace long screenshot with a GIF"
### Description

## Instead of a long screenshot of (LinkFree Preview) add an animated GIF scrolling down.

### Screenshots

### Image that needs to be replaced

![Screenshot from 2021-12-09 08-36-24](https://user-images.githubusercontent.com/51878265/145327366-bcc9dbc4-2dcb-4fa9-8ec6-7879e3b88d15.png)

### Additional information

Profile -  http://linkfree.eddiehub.org/eddiejaoude

For Video to G

[2021-12-09 03:17] #785 closed

[2021-12-09 03:25] Kira272921 opened #788 "[DOCS] Make `C` to `c` in the word `Connects`"
### Description

*If you have already forked the repository, skip to step 3*

1) Fork this [repository](https://github.com/EddieHubCommunity/LinkFree/fork)
2) Create a branch named `lowercase_c`
3) Open the [`README.md`](https://github.com/EddieHubCommunity/LinkFree/blob/main/README.md) file, make sure that you are opening the file in your fork
4) In line 2, replace the current content with the fo

[2021-12-09 03:26] krishguptadev commented on #788
why is `C` supposed to be a cap? neither is it starting a sentence nor a proper noun

[2021-12-09 03:27] Kira272921 commented on #788
🤔 I mentioned to make it lower case c

[2021-12-09 03:32] krishguptadev commented on #788
I thought that the code block you added was supposed to be edited 😅

[2021-12-09 03:36] Kira272921 commented on #788
It's the other way around 😄

[2021-12-09 05:43] vr513 commented on #650
Hi I want to contribute to this project!

[2021-12-09 06:07] krishguptadev commented on #650
@vr513 This issue has been already taken up, feel free to take the other issues 🙂

[2021-12-09 06:20] RamK777-stack commented on #787
@Panquesito7 Can i work on this ?

[2021-12-09 07:33] prahladjshenoy commented on #788
Please give feedback for PR. This is my first PR.

[2021-12-09 08:15] Kira272921 commented on #788
@prahladjshenoy Hey! I guess you haven't created a PR, but you have committed the changed to your fork

Do these following steps to create a PR 😄

- Open the `lowercase_c` branch in your fork
- You would see a button called `contribute`, click on that
![image](https://user-images.githubusercontent.com/90365542/145359095-3d658fe7-d48c-4fc4-a359-6f95a4a8a799.png)

- Then fill in the details and crea

[2021-12-09 08:23] krishguptadev commented on #788
Wait there are 2 PRs already for this 😱

[2021-12-09 08:32] Kira272921 commented on #788
😨 They could have could that they are working on this issue by commenting here

[2021-12-09 09:00] Vyvy-vi commented on #787
Go ahead, @RamK777-stack!
(maybe, we can get one that has consistent scroll speed?)

[2021-12-09 12:13] unnikrishnan2002 commented on #777
Hey @Pradumnasaraf I added the dollar and book icon. Rest of the icons are not there in Prime React

[2021-12-09 12:34] #788 closed

[2021-12-09 16:51] Panquesito7 opened #792 "[DOCS] Fix commas"
### Description

### Description

*If you've already forked this repository, skip to step 3*

1. Fork the repository [here](https://github.com/EddieHubCommunity/LinkFree/fork).
2. Make a new branch named `missing_comma`.
3. Go to [`cypress/integration/search.feature`](https://github.com/EddieHubCommunity/LinkFree/blob/main/cypress/integration/search.feature) (remember to open that file in your for

[2021-12-09 16:54] amm98d commented on #792
Hi, I would like to take this, if possible :)

[2021-12-09 16:56] Panquesito7 commented on #792
Sure, feel free to work on it! 😄

[2021-12-09 17:13] LancelotHayward commented on #787
This is my first time using GitHub so I hope I haven't wasted @RamK777-stack 's time but I did this:
![linkfree 787](https://user-images.githubusercontent.com/82458069/145441873-258b4567-3a6f-45cf-a882-b545c111fbb3.gif)
(Sorry if this is is considered malpractice or rude)

[2021-12-09 19:48] CodingSpecies commented on #787
@LancelotHayward thank you for contributing to this issue! 🎉
This is not malpracticing, but contributing to open source, and giving ideas and help to others!
**This GIF is more smooth, but I think to make it better, please can we slow the scroll, so you can read the words on the screen.**
Maybe, after that is sorted, @RamK777-stack can use your gif, to make a pull request!
Thank you.

[2021-12-09 21:07] LancelotHayward commented on #787
I slowed it down 50% and attempted to make a pull-request. Somehow I managed to mess that up though as there was an additional line I did not add. I also can't seem to edit or delete my pull request so I just left a comment. Overall, failure on my part ;(
I also failed to mention the issue id but I credited you both I think?
https://github.com/EddieHubCommunity/LinkFree/commit/489882e5863d07f592d2

[2021-12-09 21:09] Panquesito7 commented on #787
Looks better, but still too fast, can't read the text properly.

[2021-12-09 22:06] LancelotHayward commented on #787
![linkfree 787 slow](https://user-images.githubusercontent.com/82458069/145483113-3eec620d-d3b4-41ff-9839-cf986bcd41cf.gif)
I slowed it down another 25%, how does that feel?

[2021-12-09 22:20] Panquesito7 commented on #787
What if you make it a little bit slower? That one looks good but still too quick, IMO.

[2021-12-09 23:39] shashank-indukuri commented on #480
The pull request is created for it. It has to be reviewed. fix: rendering profile images (#480) #504

[2021-12-10 03:13] Pradumnasaraf commented on #777
No problem, add those only :)

[2021-12-10 04:17] #792 closed

[2021-12-10 05:53] unnikrishnan2002 commented on #777
Okay cool

[2021-12-10 07:48] RamK777-stack commented on #787
No problem, looks good. carry on

[2021-12-10 09:27] LancelotHayward commented on #787
![linkfree 787 slower](https://user-images.githubusercontent.com/82458069/145550608-d4b785a0-614a-446a-a7df-6707e72cf6af.gif)
Is this satisfactory?

[2021-12-11 02:11] #242 closed

[2021-12-11 02:11] #258 closed

[2021-12-11 05:23] #787 closed

[2021-12-11 05:30] #777 closed

[2021-12-11 10:03] theriyazo commented on #757
This needs to be a little small and have padding.

[2021-12-11 10:24] RagibAjmal commented on #757
![Screenshot 2021-12-11 at 3 54 15 PM](https://user-images.githubusercontent.com/73844685/145673179-31e68025-1a65-426d-a832-ce69bd193d8f.png)
Is this fine

[2021-12-11 14:32] CodingSpecies opened #798 "Hacktoberfest info on README.md"
### What would you like to share?

I was wondering if it is neccessary to keep the hacktoberfest notice on the readme, right now, as it is not hacktoberfest until next year.
![image](https://user-images.githubusercontent.com/70807500/145680138-0bf2d637-e7ff-4469-a3b5-24f1ad678fa3.png)

Maybe, we could make it a dropdown, like this:

<details close>
  <summary> Note for Hacktoberfest</summary>
  <b

[2021-12-11 14:35] krishguptadev commented on #798
This looks like a good-first-issue, let's let first times contribute!

[2021-12-11 17:26] theriyazo commented on #757
Yes, @RagibAjmal that's great work!

[2021-12-11 19:03] CodingSpecies commented on #757
Yes it seems good and padded also thank you for changing the sizing @RagibAjmal

[2021-12-12 04:20] Pradumnasaraf opened #800 "[DOCS] Change the available Icon table structure."
### Description

In recent changes, the list of icons becomes too long as well as the README.

### Changes
- Have 3 columns instead of 2 column

### Screenshots

Before Changes:

![Screenshot from 2021-12-12 09-30-02](https://user-images.githubusercontent.com/51878265/145700055-6ebf29f0-2f07-4fa4-ae18-a38011cb5f9b.png)

After Changes:

![Screenshot from 2021-12-12 09-37-48](https://user-images.git

[2021-12-12 04:20] Pradumnasaraf commented on #800
I will be working on this issue :)

[2021-12-12 11:33] arghyab0 commented on #798
Hey, can I take this issue up ?

[2021-12-12 13:06] krishguptadev commented on #798
Sure!

[2021-12-12 13:36] mikeysan commented on #197
Where are we with this? I got a warning from Google Chrome today asking if I wanted to run or proceed with visiting the site.

[2021-12-12 14:00] mikeysan opened #802 "[FEATURE] Ability to search for language and technology that members use"
### Description

After reading a question and answer on Discord about contributing to Python projects. It occurred to me that there is actually no way of knowing what each member is into without going through each profile. (I got distracted while typing this so let me clarify).

When I do I search for "Python", I get no responses as, rightfully, no one is called Python. However, I propose we could

[2021-12-12 17:19] emmalearnscode commented on #802
Nice idea 👍

[2021-12-12 19:31] #798 closed

[2021-12-13 11:58] nathgoutam93 opened #805 "[DOCS] Available icons names are misleading"
### Description

I found many users has their icon's key value first letter in uppercase, which causing a problem of not showing icons in milestone

### Screenshots

![firefox_Twn30Smhuc](https://user-images.githubusercontent.com/91387097/145808204-e5df95f2-c86b-475b-9ec8-620d26e31b99.png)
before fixing the issue

![firefox_b2glkj4bC8](https://user-images.githubusercontent.com/91387097/145808194-8

[2021-12-13 13:21] krishguptadev commented on #805
I think we should update the readme

[2021-12-13 13:22] nathgoutam93 commented on #805
yup that would be easier way but if you want the issue fixed by code . i had already fixed the issue . so i can make a pull request

[2021-12-13 13:42] RagibAjmal commented on #757
Thanks for you feedback @theriyazo @CodingSpecies  Can I make a PR then?

[2021-12-13 13:50] #800 closed

[2021-12-13 13:50] schmelto commented on #800
closed in #801

[2021-12-13 14:06] Vyvy-vi commented on #757
sure, go ahead!

[2021-12-13 15:20] RagibAjmal commented on #757
I have made  a PR, but its failing in build and test . I tried googling but couldn't resolve it , Does anyone know how to solve it

[2021-12-14 07:48] Tejas-Teju commented on #616
I am following below to customize the background, please let me know the right method:
1. In public/data/<file>.json file I am assuming there is a key called "theme" where the users will add background-color
**Note**: At present there is no key called "theme" in the JSON files, but in case if it is present then add the customized theme else add default value i.e. White.
2. Background should remain

[2021-12-14 17:42] emmalearnscode opened #812 "Name Alignment issues on mobile"
### Description

In the individual profile pages there are some alignment issues of the name and username if they are long (see screenshots). Taken on iPhone XS for screen size reference but could also be a problem at other widths.

### Screenshots

![8089DDEE-360E-455D-879F-58CB656D7DB9](https://user-images.githubusercontent.com/57045550/146051195-a0fd7174-c533-43e9-bc88-cf6a6b80655f.png)
![59156

[2021-12-14 20:30] GaryNLOL opened #814 "[DOCS] Add progress bar to Gitpod gif"
### Description

The Gitpod gift is pretty long (54,870s according to [this page](http://gifduration.konstochvanligasaker.se/)). As a result, it is hard to know how much of the duration of the gift is left. In my view, adding a progress bar to it would be a great enhancement.

### Screenshots

![image](https://user-images.githubusercontent.com/46727048/146074635-45f71c92-aec8-49c6-9d26-e706d0be73e

[2021-12-15 02:53] eddiejaoude commented on #802
What about having a tags section in people's profiles that can be searched?

[2021-12-15 06:46] Tausifqureshi786 commented on #802
That sounds good, So would there be a filter dropdown on the homepage of the app which filters the profiles based on the technology tag?

[2021-12-15 06:47] Tausifqureshi786 commented on #802
I would love to work on this by the way.

[2021-12-15 18:34] #812 closed

[2021-12-16 06:25] Vyvy-vi commented on #802
I'm wondering, could we have a search bar that functions like GItHub search?

[2021-12-16 06:38] Tausifqureshi786 commented on #802
If we wanna do that in order to check for the profiles with the technologies as well as the usernames then we'd have to possibly filter on two things; one profile name and second the technology(react, python, etc) in `searchHandler` at src/Components/Home/Users.js. But still the individual user data will have to be changed too.

[2021-12-16 14:06] Vyvy-vi commented on #802
That's true...
Maybe for a preliminary version of this , we can maybe get the tags badges and fetch by tags

[2021-12-16 15:16] Vyvy-vi commented on #616
I think you'd want to modify the https://github.com/EddieHubCommunity/LinkFree/blob/main/src/Components/UserProfile/User.js file

[2021-12-16 15:17] JKirito commented on #802
A tag system would be beneficial as they will help filter data easily and will also help in future features development.
I think we have to change the data in /public/data/*.json as there is no correct way to determine the tech stack members use. Some have mentioned that data in their bio and in many of them it is not even present.

[2021-12-16 15:18] emmalearnscode opened #818 "[DOCS] Add info about type: community to readme"
### Description

It is now possible to add an organisation/community profile to the json data. However, there is nothing in the readme about this.

Suggestion: add information to "To Add Your Profile" section informing about the available types: personal and community

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-16 15:30] Vyvy-vi opened #819 "[FEATURE]: Integrate React-Icons with the project"
### Description

There's been a long delay in the choice of icon package used, and this can be mitigated by choosing something like react-icons, which makes it easier to swap through different icon packs, without needing to change the supporting library used.

What does success look like?:
- [ ] Having react-icons included amongst the packages installed on running `npm install`
- [ ] Replacement o

[2021-12-16 17:20] Tejas-Teju commented on #616
@Vyvy-vi, I made changes and created a PR-[820](https://github.com/EddieHubCommunity/LinkFree/pull/820) please review it.

[2021-12-16 17:29] Tejas-Teju commented on #819
I can work on this once I finish [feature-616](https://github.com/EddieHubCommunity/LinkFree/issues/616)

[2021-12-16 18:21] Rupesh-1302 commented on #819
I would like to work on this issue

[2021-12-17 03:33] krishguptadev commented on #818
Linked to https://github.com/EddieHubCommunity/LinkFree/pull/821

[2021-12-17 07:30] Rupesh-1302 commented on #819
What icon should i use if the icon is not on the valid list (Default Icon)

[2021-12-17 07:31] Rupesh-1302 commented on #819
Which icon should I use if the icon is not on the valid list (Default Icon)

[2021-12-17 08:47] nathgoutam93 commented on #191
hey, is anyone working on this issue? if not, i would like to work on it .

[2021-12-17 08:50] JKirito opened #822 "Searching by Community or Personal profile"
### Description

I think we can improve search function without changing much of the Search bar UI, we can use something like type:community|personal, just like github search functionality __is:open__, etc... .Also, to make the search work either we have to make two seperate folders for containing personal profiles and other with community profile __OR__ we can decide to have a better naming synta

[2021-12-17 09:19] Vyvy-vi commented on #822
that would be great, and maybe we can combine the functionality with the discussion on tags: https://github.com/EddieHubCommunity/LinkFree/issues/802#issuecomment-995477598

[2021-12-17 11:18] JKirito commented on #822
yes, also i just realised that the user data filtering is done from a file list.json, we can change it to include __type__ and then the changes can be done on searching part for filtering by type

[2021-12-17 18:53] #818 closed

[2021-12-18 07:38] vr513 commented on #106
If Nobody's working on this I am willing to contribute

[2021-12-18 07:56] krishguptadev commented on #106
WIP: https://github.com/EddieHubCommunity/LinkFree/pull/823

[2021-12-18 09:54] mikeysan commented on #802
I like the idea of using tags. For users that do not currently use tags in their profile, we could encourage them (and new additions) to do so.

[2021-12-19 08:32] eddiejaoude opened #826 "image upload"
### What would you like to share?

![209202411_3046525032242071_4471131358647459234_n](https://user-images.githubusercontent.com/624760/146668623-7d4363ac-0713-49e2-a087-ce3249046068.jpg)

### Additional information

_No response_

[2021-12-19 08:32] #826 closed

[2021-12-19 13:31] #805 closed

[2021-12-20 00:05] #819 closed

[2021-12-20 11:16] nathgoutam93 opened #829 "[DOCS] docs - update icons in readme"
### Description

As prime icons got replaced with react icons,
Some new icons got added as well .
But docs are  still not updated yet , These are the newly added icons :

1.instagram
2.linkedin
3.twitch
4.dev.to
5.codewars
6.hashnode
7.graduation-hat

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-20 12:20] emmalearnscode commented on #757
Added in PR #823

[2021-12-20 12:20] #757 closed

[2021-12-20 12:22] emmalearnscode commented on #549
Added as part of PR #823

[2021-12-20 12:22] #549 closed

[2021-12-20 12:25] #372 closed

[2021-12-20 12:31] emmalearnscode commented on #106
React icons was added with PR #823 I'm going to close this issue as it encompasses a lot of different icons but if any icons are still missing please open individual issues for each one :)

[2021-12-20 12:31] #106 closed

[2021-12-20 12:46] hellodeborahuk commented on #227
Can I try please?

[2021-12-20 12:59] emmalearnscode commented on #227
Yes, that's the file. You will need to import it then add it to the switch statement. I'll assign it to you, just let us know if you get stuck with anything and we'll gladly help :)

[2021-12-20 14:18] krishguptadev opened #830 "[FEATURE] Add more icons"
### Description

react-icons supports a lot of icons, add all the font awesome icons that you think should be added.

### Screenshots

_No response_

### Additional information

I would like to work on this

[2021-12-20 14:56] emmalearnscode commented on #830
Please be more specific in which icons you want to add. These would actually be great first time issues if there was one issue per icon, instead of lumping it into one.

[2021-12-20 14:59] emmalearnscode commented on #696
Since the original issue has been done, can we take Eddie's suggestions and turn each into it's own issue so that they're easier to keep track of?

[2021-12-20 17:51] CodingSpecies commented on #696
That would be helpful. Do you want me to create separate issues and then close this one @emmalearnscode

[2021-12-20 18:13] emmalearnscode commented on #696
@CodingSpecies if you’ve got time then that would be great, otherwise I can do it tomorrow 😊

[2021-12-20 19:55] CodingSpecies opened #833 "How to make a distinct difference between organisation profiles, and personal."
### What would you like to share?

## There should be a way to make a difference between the personal and organisation profiles:

### As said by @eddiejaoude :

I think if we have an optional type field in the json for community | personal

There could be multiple PRs

1. Updating `community` profiles with the `type: community`
2. [optional] updating the `personal` to `type: community`
3. On homep

[2021-12-20 19:55] CodingSpecies commented on #833
@emmalearnscode is this a good issue to close the other one? #696

[2021-12-20 20:01] emmalearnscode commented on #833
I actually meant that 1 - 5 could each be 5 separate  issues so that different people could work on them and when they’re done the pr would close the specific issue. As it is now all 5 would have to be complete to close the issue. I’ll close this one for now so we can make 5 separate ones.

[2021-12-20 20:01] #833 closed

[2021-12-20 20:07] emmalearnscode opened #834 "[FEATURE] differentiate between communities and personal profiles on homepage"
### Description

It is now possible to add profile types, either community or personal. These should be differentiated on the homepage in some way (accessible, not just by colour) so that it’s easy to see which profiles are communities. This could be in the form of a badge/icon added to the chip of community profiles as an example.

### Screenshots

_No response_

### Additional information

_No r

[2021-12-20 20:10] emmalearnscode opened #836 "[FEATURE] community profile pages marked as community"
### Description

It is now possible to add types community or personal to profiles. Community profiles should clearly mark somewhere at the top of the profile page that it belongs a community, in order to differentiate it from personal pages.

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-20 20:13] emmalearnscode opened #837 "[OTHER] add type community to community profiles"
### What would you like to share?

It is now possible to create community profiles with type: community. Check through all the profiles and see if any look like communities that need the type: community adding to their json data.

### Additional information

_No response_

[2021-12-20 20:16] emmalearnscode commented on #829
I think we also need to add ticktok to the list.

[2021-12-20 20:20] #696 closed

[2021-12-20 20:22] CodingSpecies commented on #833
Ok, I will create 5 seperate @emmalearnscode

[2021-12-20 20:25] emmalearnscode commented on #833
@CodingSpecies no need, it’s already done 😊

[2021-12-20 20:26] CodingSpecies commented on #833
Thank you  @emmalearnscode

[2021-12-20 21:37] Tausifqureshi786 commented on #802
What should be the name of the property for filtering the technology in the profile. I feel that tag is a good prop and then we can ask people to add the tag and the appropriate technology to it in their profile. But how can the code be tested without having the necessary data to filter upon? Is there a testing library set up that could be used? Would appreciate some ideas.

[2021-12-21 03:37] krishguptadev commented on #837
I've already added them 🙂

[2021-12-21 03:41] krishguptadev commented on #830
Have a look at https://fontawesome.com/v5.15/icons?d=gallery&p=2&s=brands&m=free I want the social platform icons from these to be filtered out and used

[2021-12-21 19:57] #227 closed

[2021-12-22 07:11] Rupesh-1302 opened #840 "Arrow icon on profile page not appearing"
### Description

## Cause
primeIcon is used to display arrow Icon instead of React-Icon

![image](https://user-images.githubusercontent.com/82814375/147050622-2a933797-60e9-4cee-8d1a-636dfcb99de7.png)

### Screenshots

![image](https://user-images.githubusercontent.com/82814375/147049941-706f3a4b-d24d-4aee-b85d-6591020a55c3.png)

### Additional information

I would like to work on it

[2021-12-22 08:28] #191 closed

[2021-12-22 13:07] #840 closed

[2021-12-22 13:08] emmalearnscode commented on #837
If you’re sure they’re all up to date then I’ll close this issue 👍

[2021-12-22 13:08] #837 closed

[2021-12-22 14:49] emmalearnscode opened #845 "[DOCS] update icons table with icon name to use in components/json"
### Description

The table of icons currently has the name and icon, however the name doesn’t always correspond to what is used in components/json. For example, PayPal is paypal. graduation hat is graduation-hat etc. I suggest either adding an extra column for usage instructions to the table or including it alongside the name in the name box.

### Screenshots

![5D8B5FE5-2D97-4BA1-A374-3E06BFC194F

[2021-12-22 14:51] emmalearnscode commented on #830
Please be specific, which of the 400+ icons do you want?

[2021-12-22 15:18] emmalearnscode commented on #399
As the profiles are now shown as chips with avatar and name and a hover effect is applied to show how many links they have in their profile, I’ll close this issue for now. Feel free to open new issues if you have ideas for how the ui could be improved further, preferably with a mock-up so it’s easy to visualise the changes.

[2021-12-22 15:18] #399 closed

[2021-12-23 03:52] krishguptadev commented on #830
The social media platforms like DEV, Dribble, gitlab

[2021-12-23 06:04] nathgoutam93 opened #847 "Names that are too long , Not getting wrapped properly"
### Description

As you can see on the below screen shot.

The names that are too long , causing a problem of not getting wrapped properly which distorting the avatar image.

To solve this :
1. The layout Should be rows instead of columns in small devices
2. We should add character limit for the names.

The 2nd point is not necessary for now ,
It will be implemented when data will be taken as a in

[2021-12-23 09:54] Vyvy-vi commented on #830
I would recommend opening a new issue with more specifics or editing this one with a markdown list of the icons you would like to add.
(closing it for now...)

[2021-12-23 09:54] #830 closed

[2021-12-23 10:23] Vyvy-vi commented on #834
I think to keep things concise, we can use the word `org` in the badge

[2021-12-23 16:30] abdussalam02 opened #852 "Error in Icon"
### Description

In my JSON file, I have added a telegram icon but in the gitpod it's rendering globe icon.

### Screenshots

_No response_

### Additional information

_No response_

[2021-12-23 16:57] emmalearnscode commented on #852
More info: The icon telegram-plane needs importing into the getIcons file and adding to the switch statement.

[2021-12-23 19:13] nathgoutam93 commented on #852
I think it's already added but the name is currently set to "send"

[2021-12-23 19:35] emmalearnscode commented on #852
I think it would be best to use the official one from font awesome so it matches all the others

[2021-12-23 20:55] abdussalam02 commented on #852
I agree with her

[2021-12-23 21:03] abdussalam02 opened #853 "Icon and text isn't visible on hover"
### Description

When I hover on the Telegram link the icon and text become invisible. I have attached some screenshots have a look.

### Screenshots

![Screenshot (32)](https://user-images.githubusercontent.com/87809119/147291209-618b076a-e689-449e-ac31-5ce84000c747.png)
![Screenshot (33)](https://user-images.githubusercontent.com/87809119/147291213-b2c812f3-e1ac-405d-afbb-1bc7b3f07dd5.png)

###

[2021-12-23 22:18] emmalearnscode commented on #853
Thanks for raising the issue, this is probably linked to the missing telegram icon as this issue was happening before for linked in. We can check it once that issue is resolved to see if it is still a problem

[2021-12-23 22:35] emmalearnscode commented on #853
Telegram needs adding to the list in config/icons.json and we also need a fallback hover state for when the icon doesn’t exist

[2021-12-23 23:42] #829 closed

[2021-12-24 02:27] krishguptadev commented on #852
#851 fixes this AFAIK

[2021-12-24 05:12] Rupesh-1302 commented on #852
No I have not added the telegram link. I have added only those links mentioned in the config/icons.json because I was not sure about the colours of the icon.

[2021-12-24 05:16] Rupesh-1302 commented on #852
Due to the absence of telegram icon it's rendering the default icon. (I.e. globe)

[2021-12-24 06:05] krishguptadev commented on #852
fixed by #851

[2021-12-24 08:32] emmalearnscode opened #855 "[OTHER] add tiktok colour"
### What would you like to share?

In the config/icons.json file add a hash colour code for tiktok icons.

a link to their colour palette: https://www.onlinepalette.com/tiktok/

### Additional information

_No response_

[2021-12-24 15:14] Shivansh-yadav13 commented on #853
It is not invisible but it changes to white color.

[2021-12-24 16:10] #855 closed

[2021-12-24 16:32] #853 closed

[2021-12-24 16:33] #852 closed

[2021-12-24 16:39] #847 closed

[2021-12-24 21:00] BSlaven commented on #845
Did you have something like this in mind with parentheses showing usage:
![parentheses](https://user-images.githubusercontent.com/55027209/147372088-2a5073c8-465f-471a-b237-786a8f602d4f.png)

[2021-12-24 21:01] BSlaven commented on #845
Or maybe additional column Usage:
![column](https://user-images.githubusercontent.com/55027209/147372105-c3a9a6cf-5e14-4edf-8a08-f105c18be97c.png)

[2021-12-24 21:02] BSlaven commented on #845
If we go with the column option maybe we could drop the number of total columns to 6 instead of 9.

[2021-12-24 22:03] emmalearnscode commented on #845
Thanks for making some mocks @BSlaven 👍🏻 My preference is the extra column but as you say dropping it down to 2 icons per row. Let’s see if any others have a preference

[2021-12-25 08:45] #296 closed

[2021-12-26 14:38] iason9 opened #860 "Text not showing when hover"
### Description

an issue about the text on the links not showing when hovering with the mouse (see screen shot below)

### Screenshots

![Screen Shot 2021-12-26 at 2 58 11 PM](https://user-images.githubusercontent.com/19413521/147411392-ec1121a7-67e7-4548-b70b-de16addf5989.png)

### Additional information

its for the website link the other links work

[2021-12-26 16:25] BSlaven commented on #860
In <profilename>.json file for this profile as icon value is set to "website". Other profiles which have links to their websites used "globe".

There is no designated color for that value in config/links.json file.

I assume the problem is here somewhere.

[2021-12-26 20:19] iason9 commented on #860
Yes i think thats the issue as well

[2021-12-26 20:51] emmalearnscode commented on #860
Yes, we need to add a default value for the button hover if links.icon doesn't exist in the icon config file. I noticed this the other day, just hadn't got round to raising an issue so thanks for raising it @iason9

[2021-12-27 11:21] nathgoutam93 commented on #400
Hey there @Vyvy-vi looks like current assignee is no longer working on it and he's not active . Can I work on this issue. I already made an PR but @emmalearnscode suggested to ask before taking over.

[2021-12-27 12:25] BSlaven opened #866 "Input and version span weird position on small screen"
### Description

On small screens tag showing version ends just underneath the input element.

This happens on screens with less than 340px in width, so I am not sure we really need to address this.

Thoughts?

### Screenshots

![Screenshot (49)](https://user-images.githubusercontent.com/55027209/147471579-75368ee8-1fa9-4986-b17a-4af9a6421d8b.png)

### Additional information

_No response_

[2021-12-27 13:06] Vyvy-vi commented on #400
It would have been great if this message was sent before a PR, though I think there's no harm in working on 3 month stale issues

[2021-12-27 14:03] krishguptadev commented on #866
Small q: the smallest device is 350px right? So why do we need to fix this?

[2021-12-27 14:05] nathgoutam93 commented on #400
oh, yeah I should have 😅

[2021-12-27 14:48] BSlaven commented on #866
Yeah, I said I am not sure we need to addresss this.
But I have a phone that displays this 'issue'. That is how i found it.