[2021-12-27 21:42] Vyvy-vi commented on #866
though, ideally we can probably write a fix for it?
(maybe center the text whenever screen gets too small?)

[2021-12-28 02:41] krishguptadev commented on #866
maybe remove the text?

[2021-12-28 06:42] Vyvy-vi commented on #866
Either can work...
Personally, I'd prefer for it to be centered below the searchbar on smaller screens. (It takes away some of the sleek-ness, but the version number and the github link are important)

[2021-12-29 17:13] Cahllagerfeld opened #867 "add prettier"
### Description

We're having some PRs failing the prettier-check, because the prettier-check runs before the actual write. To prevent this we need to take care of prettier in the development phase or adjust the action in my opinion.
### Screenshots

[2021-12-30 02:24] krishguptadev commented on #867
Isn't the `--check` flag, only executed when it is a PR?

[2021-12-30 07:19] Abjcodes opened #871 "[FEATURE] Centering the search bar"
### Description

The search bar is currently placed on the left-most side, but it would be better if it's centered since it's easier to notice and reach.

### Screenshots

![Center search bar](https://user-images.githubusercontent.com/42151354/147729896-3230ac92-061d-4a9a-b371-3949748d6904.png)

### Additional information

_No response_

[2021-12-30 08:49] Cahllagerfeld commented on #822
I like this idea!!

[2021-12-30 12:17] JayTailor45 commented on #871
Hello, I can work on this. Can you assign it to me?

[2021-12-30 16:43] #867 closed

[2021-12-31 02:21] #123 closed

[2021-12-31 07:48] Shivansh-yadav13 commented on #871
![147729896-3230ac92-061d-4a9a-b371-3949748d6904](https://user-images.githubusercontent.com/87603425/147810486-7491ddbf-941f-42e8-a849-ff943f175e42.png)

what do you think about this? ^^^

[2021-12-31 17:52] alex-anson commented on #522
Hello there!
I was thinking I could make up a couple of quick mockups for this issue... I'd post them here, and we could discuss which (if any) we'd like to try out!!
(Then I'd code it up and open a PR 🤓)

[2022-01-01 06:41] varghesejose2020 opened #886 "Add mastodon Icon"
### Description

https://mastodon.social/about

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-01 10:55] lavakush07 opened #888 "Add snapchat icon"
### What would you like to share?

## Hey,In the social media icons we can add ***Snapchat*** icon too in that

* Because snapchat can outreach to many other people who want to use linkfree

### Additional information

_No response_

[2022-01-01 13:35] krishguptadev commented on #888
I'd like to work on this + code forces (which was requested previously and rejected because of the icon package thing)

[2022-01-02 02:22] #599 closed

[2022-01-02 04:53] piyush-1234 commented on #888
I'll work on this.

[2022-01-02 05:41] piyush-1234 commented on #886
i ll work on this.

[2022-01-02 06:30] piyush-1234 commented on #866
![ff](https://user-images.githubusercontent.com/76208964/147868064-ff60991b-c644-4501-ba25-41a20ee83d04.PNG)

[2022-01-02 15:48] emmalearnscode commented on #871
I actually prefer the search bar to the left. Maybe we can wait for more discussion to see what others prefer before assigning this

[2022-01-02 16:11] emmalearnscode commented on #522
@alex-anson some mock ups would be great! There might be a few more colours that need adding to the list since we added more icons (or maybe the design can cover all buttons so there is never a problem when new icons are added)

[2022-01-03 07:51] developer-diganta opened #900 "[FEATURE] Use search engine for Search"
### What would you like to share?

I was thinking if we can implement [FuseJs](https://fusejs.io/) for search?

### Additional information

_No response_

[2022-01-03 08:21] unnikrishnan2002 opened #901 "[FEATURE] Add a share profile function to the Linkfree profiles"
### Description

The basic idea is to implement a share function which will copy the url of the profile to the clipboard so that you can share it with anyone .

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-03 08:27] avneesh0612 opened #902 "[FEATURE] share to socials icon"
### Description

Add options to share profiles to social media like Facebook, Twitter, etc. in profiles easily.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-03 10:57] emmalearnscode commented on #901
It would be great to see a mock up of this and #902 to get some ideas of how it could look

[2022-01-03 10:58] emmalearnscode commented on #902
It would be great to see a mock up of this and #901 to get some ideas of how it could look

[2022-01-03 10:59] emmalearnscode commented on #900
Can you explain a bit more about it and how it could benefit the project

[2022-01-03 11:31] avneesh0612 commented on #902
Yeah maybe just add a clipboard or link icon too for copying?

[2022-01-03 14:51] Kira272921 commented on #902
👀 Maybe a button which would create a tweet, just like the tweet button in hashnode

[2022-01-03 15:14] avneesh0612 commented on #902
Yeah that is what I meant @Kira272921 👀

[2022-01-03 15:39] divyanshraj0408 opened #904 "[DOCS] <description>"
### Description

### The Problem
In order to add a profile to the project, after doing the necessary changes and adding the profile **we can't see our profile in the main menu of the project or search it up** but at https://localhost:3000/username only.
### Solution
This problem can be simply solved by running the `npm run generate` command in the terminal. We can update this is in the documentati

[2022-01-03 19:33] #860 closed

[2022-01-04 06:39] unnikrishnan2002 commented on #901
We can simply add a button which will copy the link of your profile to the clipboard. We could just place it below the links . But for that we need to shift the milestone section to bottom. I feel that we would need a discussion to find where should we place the button. But anyway the idea is to copy the message to clipboard and also display a message to the user telling that the link has been cop

[2022-01-04 06:57] avneesh0612 commented on #901
I was thinking icon-based, so it goes with social media 🤔

[2022-01-04 07:04] unnikrishnan2002 commented on #901
Yeah of course we can customise accordingly. I jus put it for demonstration purpose 👍

[2022-01-04 07:10] avneesh0612 commented on #901
ah cool!

[2022-01-04 15:20] EmmaDawsonDev opened #911 "[OTHER] Center when only one milestone (on large screen)"
### What would you like to share?

If someone includes only one milestone on larger screens eg desktops it's positioned to the right which looks slightly odd (IMO). I suggest we add a check to see how many milestones there are and if there's only one then the milestone should be centered, more than one the styling can remain as it is currently.

<img width="941" alt="Screenshot 2022-01-04 160238"

[2022-01-04 17:20] digambar-t7 opened #912 "[FEATURE] A Back to top button"
### Description

The site has a lot many profiles which makes it too lengthier. On scrolling the page, we can go deep down. In this case, it would become easier to get back to the top by clicking on this BACK TO TOP button.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-04 18:24] developer-diganta commented on #900
@emmalearnscode I am not sure if this will be of some huge help but I thinkFuseJs can help get close search results. For example, if someone's name is Jenny and someone types just Jeny then FuseJs can list out the name (it does it on the closeness of the word entered by the user).

[2022-01-04 18:35] emmalearnscode commented on #912
Good idea!

[2022-01-04 19:52] developer-diganta commented on #911
@emmalearnscode
Hello! Would this look OK?
![image](https://user-images.githubusercontent.com/65999534/148115770-3382ec87-74e5-4178-8308-58d058fc7e1e.png)

[2022-01-04 20:00] digambar-t7 commented on #912
------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Hey there,
             I have created the Back-to-top-btn & made the required changes. But, I am not able to push it to my custom-made git-branch.
I am facing errors related to eslint. I have added the error below. I tried a lot

[2022-01-04 20:10] emmalearnscode commented on #912
@digambar-t7 try running this in your terminal ```npm run lint -- --fix``` If it doesn't fix it then please share a screenshot of your code, it looks like you may have a missing bracket somewhere according to the error

[2022-01-04 20:15] digambar-t7 commented on #912
@emmalearnscode
It points to having an error in a css file.
![Screenshot from 2022-01-05 01-42-31](https://user-images.githubusercontent.com/92970968/148118282-74c8b9ca-ccd9-49b4-a4a0-7ba3ef13088b.png)

[2022-01-04 20:23] emmalearnscode commented on #912
Try commenting out the css you added to see if it actually is the css file or something else

[2022-01-04 20:46] digambar-t7 commented on #912
@emmalearnscode
Yes, without css it works fine.
But whenever I add css and try to commit, the error appears again.

[2022-01-04 20:51] emmalearnscode commented on #912
@digambar-t7 ok, can you take a screenshot of the css code and share it?

[2022-01-04 21:02] digambar-t7 commented on #912
![Screenshot from 2022-01-05 02-30-49](https://user-images.githubusercontent.com/92970968/148123520-3a29130c-6ccf-4b9d-a269-2059a1ed02b7.png)

[2022-01-04 21:03] CodingSpecies commented on #229
Is there any updates on this? Thank you.

[2022-01-04 21:14] emmalearnscode commented on #912
Ok, I can't see any errors but it could be that you accidentally deleted a semi-colon somewhere else in the css. My suggestion to narrow it down is to go through and comment out one CSS block at a time. When the error goes away then you've found which block is causing issues, then if you can't see the error comment out line by line until the error goes away.

[2022-01-04 21:16] digambar-t7 commented on #912
Actually, I just fixed it by creating js objects for style & using them in the inline way.

[2022-01-04 21:17] emmalearnscode commented on #912
Just another tip too - we are using a CSS library in this project called Prime React so things like margins and padding, flex etc you should use prime react classes. Inline styling is not recommended.

[2022-01-04 21:19] digambar-t7 commented on #912
Ok I will change it to this :)

[2022-01-04 21:22] emmalearnscode commented on #911
Maybe keep it the same width as the buttons? But otherwise, yes, that's what I was thinking.

[2022-01-05 03:28] Rahulbaran opened #917 "[DOCS] need improvement in avatar part of docs"
### Description

In the avatar part of the docs , It should be clearly mentioned that one just have to add his/her **Github username** with `.png` extension and the website will automatically fetch your Github avatar.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-05 11:11] developer-diganta commented on #911
![image](https://user-images.githubusercontent.com/65999534/148208200-fb9e324c-912f-42fa-bad3-99f9c0c0d0ea.png)
This one is for large screen sizes.
But if the screen gets smaller, the width decrease (until Timeline corrects itself). I tried using w-70 class but it does not seem to work.
![image](https://user-images.githubusercontent.com/65999534/148208384-6b3598c8-8008-46fa-930f-4fe3ed97765c.png)

[2022-01-05 15:22] #888 closed

[2022-01-06 07:00] Abhijit-Dixit opened #923 "[BUG] Mascot/ Logo incorrectly aligned"
### Description

In the "Profile not found" error page, the mascot is incorrectly aligned to the left, center alignment seems more natural and symmetrical.

### Screenshots

![bug1](https://user-images.githubusercontent.com/41284892/148341339-b4ff30aa-f278-4663-8afb-2cfb60cef484.PNG)

### Additional information

_No response_

[2022-01-06 08:02] ishaanbedi commented on #923
Hi! I'd like to work on this issue! Can you assign it to me?

[2022-01-06 08:41] emmalearnscode commented on #923
@ishaanbedi sorry, the person who raised the issue has already submitted a pull request

[2022-01-06 12:36] #923 closed

[2022-01-06 13:54] ChuksMbanaso commented on #871
left is better tho. I havent seen a search bar in the middle. The left side is much better

[2022-01-06 14:27] Shivansh-yadav13 commented on #871
Left is good :+1:

[2022-01-06 14:38] #901 closed

[2022-01-06 14:38] #902 closed

[2022-01-06 14:40] Rahulbaran commented on #917
Please assign me this, so I can work on it

[2022-01-06 14:43] krishguptadev commented on #917
Sure! @Rahulbaran feel free to work on it :D

[2022-01-06 17:59] #912 closed

[2022-01-07 08:48] #904 closed

[2022-01-08 07:35] Cahllagerfeld opened #932 "[OTHER] Use Consistent Node-Versions in Actions"
### What would you like to share?

Some Actions run on Node v16, while others run on Node v14. We aren't having a node-version specified in the `.gitpod.yml`, so it also uses Node v16. We should be consistent on this and run all Actions on the latest Node LTS, which is v16

### Additional information

_No response_

[2022-01-08 08:13] MadhaviMandalia commented on #766
Hello @krishguptadev ,

Can you explain a bit more about it?

[2022-01-08 09:47] MadhaviMandalia commented on #836
Hello @emmalearnscode ,

Can you explain a bit more?

Thanks & Regards.

[2022-01-08 11:36] abhishekgite446 commented on #871
Left is good from my perspective as well :)

[2022-01-08 11:54] abhishekgite446 opened #934 "[FEATURE] Add a test to check the URL links are not broken"
### Description

Add one more test in user.feature to check if the url(s) mentioned on the user page are in correct format.

### Screenshots

_No response_

### Additional information

Happy to pick up this task :)

[2022-01-08 13:44] Abhijit-Dixit opened #935 "[FEATURE] Add name pronunciation audio clip to user profile"
### Description

For implementation, I was thinking to add a field (to `your-username.json` in the directory `public/data`) holding public gdrive link to user's audio file. This would work well with curent no database arrangement, as we can play it right from the link.

### Screenshots

![image](https://user-images.githubusercontent.com/41284892/148646052-024865d4-bb50-4d9b-90f0-1450b9af10f9.png)

[2022-01-08 14:09] #932 closed

[2022-01-08 19:33] #917 closed

[2022-01-08 20:45] emmalearnscode opened #940 "[OTHER] Use prime-react classes on chip"
### What would you like to share?

Instead of using custom CSS, where possible we should change to prime react.

Task:
1. Remove the following 3 lines of css from Home.css:
<img width="238" alt="Screenshot 2022-01-08 212923" src="https://user-images.githubusercontent.com/57045550/148659380-949af743-94b8-4ed5-99c5-aaa9e35ee625.png">

2. Add the following classes to the <Chip> component in User.js:

[2022-01-08 20:53] emmalearnscode commented on #836
This is a bad example as it's the only community we have currently listed and it has the word community in the title but imagine it only stood 'EddieHub' as the title. We would want something at the top to mark that this is a community page and not just a personal page.
<img width="942" alt="Screenshot 2022-01-08 215128" src="https://user-images.githubusercontent.com/57045550/148659666-9edf2d41-55

[2022-01-08 21:09] emmalearnscode opened #941 "[OTHER] Use prime react classes on chip text"
### What would you like to share?

As we are using prime react we should remove the custom css and replace with prime react classes.

1. Remove the following CSS from Home.css:
<img width="215" alt="Screenshot 2022-01-08 220523" src="https://user-images.githubusercontent.com/57045550/148660042-c94d2cb5-d431-4c04-9357-4f6e42794c71.png">

2. Replace with these prime react classes in the User.js comp

[2022-01-09 03:54] krishguptadev commented on #507
Can someone fix this?

[2022-01-09 08:24] Abhi-paul16 commented on #941
I want to work on this issue can you please assign me

[2022-01-09 09:44] emmalearnscode commented on #941
Hi @Abhi-paul16 someone has already made a pull request for this one but keep an eye out as I will be listing similar ones soon

[2022-01-09 10:20] Hat52 commented on #940
Hi, I would link to work on this issue.

[2022-01-09 10:23] emmalearnscode commented on #940
Hi @Hat52 someone already made a pull request for this issue but I’ll post some more similar issues soon so keep an eye out 😊

[2022-01-09 12:12] Susmita-Dey commented on #522
@eddiejaoude  I think the colors of the marked ones can be changed to different colors to make it look prettier. Otherwise this could be made a little lighter green color.
![image](https://user-images.githubusercontent.com/79099734/148681591-8ec0d88b-e1bd-47d1-a9c9-8e93b06b25cd.png)

[2022-01-09 12:16] nirbhay12345 opened #946 "[BUG] Copy to clipboard in the Share to social media icons is not working"
### Description

The following button is not working in the `share to social media`
 - copy to clip board

I tried clicking the button few times and it does not seem to copy the contents of the link. Instead it selects the contents of the description in the profile.

I am using BRAVE BROWSER.

At the time of this issue the linkfree is at the v0.58.3

### Screenshots

![ezgif-3-9210861ce8](https://

[2022-01-09 14:01] Abhi-paul16 commented on #946
Hey Nirbhay , I want to work on this issue would you please assign me.

[2022-01-09 14:56] emmalearnscode commented on #946
thanks for catching this issue. I just checked and a similar thing is happening in Chrome and it's throwing a console error.
<img width="389" alt="Screenshot 2022-01-09 155551" src="https://user-images.githubusercontent.com/57045550/148687724-c7e0c4c8-970c-4c4f-92ac-8ab80958495c.png">

[2022-01-09 15:17] emmalearnscode opened #948 "[OTHER] Use prime react classes for button container width"
### What would you like to share?

1. Remove the following CSS from Links.css:
<img width="229" alt="Screenshot 2022-01-09 161100" src="https://user-images.githubusercontent.com/57045550/148688461-efae8a09-e7df-41f0-b003-e6fbef402e23.png">

2. Replace with sm:w-9 md:w-7 on line 23 of Links.js
<img width="332" alt="Screenshot 2022-01-09 161125" src="https://user-images.githubusercontent.com/5704555

[2022-01-09 17:20] git-devansh commented on #948
Hi, I would like to work on this issue

[2022-01-09 17:32] Abhi-paul16 commented on #946
@emmalearnscode  can you help me in this all things working fine in development server.

[2022-01-09 17:40] Abhi-paul16 commented on #946
https://user-images.githubusercontent.com/68468264/148693853-b6a684f3-a212-4d94-a5ab-6a7f9ef5470c.mp4

[2022-01-09 18:29] emmalearnscode commented on #946
This is going to be hard to test as it's working in development but the copy to clipboard function is async and returns a promise so I wonder if the toast should be chained inside a .then block (see the examples here: https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/writeText )

[2022-01-09 18:36] digambar-t7 opened #950 "Camouflaged close btn of 'Link Copied' dialog box."
### Description

When we are trying to copy link of any profile to the clipboard, a dialog box pops up. The close btn of this dialog box(green box in the ss) is not visible enough. It has been camouflaged with the background.

### Screenshots

![Screenshot from 2022-01-10 00-04-15](https://user-images.githubusercontent.com/92970968/148695721-dd36b635-7e69-4241-a1fd-3542883b9e11.png)

### Additiona

[2022-01-09 18:37] digambar-t7 opened #951 "[FEATURE]Hovering the social media icons"
### Description

The icons shown in the ss are not having any hovering styles.

### Screenshots

![Screenshot from 2022-01-10 00-04-15](https://user-images.githubusercontent.com/92970968/148695808-6eeee8cc-b0e1-4460-89bf-e6f0c7fbe311.png)

### Additional information

_No response_

[2022-01-09 18:39] emmalearnscode commented on #946
Hmm, I also found some information that this web API only works on https and we are currently using http so that may also be causing an issue

[2022-01-09 18:43] emmalearnscode commented on #950
I don't think the dialog (toast) has a close button, it's programmed to automatically disappear after a few seconds.

[2022-01-09 18:49] digambar-t7 commented on #950
Yeah it does closes after few seconds but there's still a close-button. Either we must completely  remove it and let the dialog-box close automatically or must improve the button. Because it points out the incompleteness of the design.

[2022-01-09 18:53] emmalearnscode commented on #950
I think I just realised what the problem is and it's hopefully being solved in another pull request. When we updated the icons package to react icons the prime icons got removed. However some of the prime components use prime icons as part of their design and are now not showing correctly. The person working on the profile filter noticed this earlier and has added it back in so hopefully when that

[2022-01-09 18:56] digambar-t7 commented on #950
Okay that will be better

[2022-01-09 19:03] Abhi-paul16 commented on #946
@emmalearnscode  Thanks for sharing it and helping.

[2022-01-09 19:28] Hat52 commented on #951
Hi, I would like to take up this challenge.

[2022-01-09 21:06] Vyvy-vi commented on #911
Hey @developer-diganta!
Since you tweaked around with this for a bit, I assigned this issue to you (if you'd like to work on this?)

[2022-01-10 01:59] code3z commented on #387
@Vyvy-vi Can I try this? I'll make a Figma design first.

[2022-01-10 02:02] code3z commented on #387
Should the profile card display the profile icons (github, twitter, personal site)? What about the username?

[2022-01-10 02:03] code3z commented on #482
Should the analytics be public or private?

[2022-01-10 07:52] unnikrishnan2002 opened #955 "[DOCS] update the demonstration gif"
### Description

Since the Linkfree profile had some UI changes like share feature etc . I think the gif should be updated to show the latest version of the app.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-10 09:59] digambar-t7 commented on #951
Hey @Vyvy-vi @emmalearnscode I have made the required changes in the code & made a pr #952.
Please review it & let me know if some changes are needed.

[2022-01-10 16:22] #822 closed

[2022-01-10 18:20] adityaraute commented on #387
This issue is only for removing the bubble

[2022-01-11 02:02] code3z opened #961 "[FEATURE] Better Homepage Buttons/Cards"
### Description

The homepage is filled with fancy button-like links to showcase the people using linktree. However, I thought they could use some improvement. I made a Figma design for buttons that I think are better than the current ones.

Figma link:
https://www.figma.com/file/2CF0qrDUGWwDZSwT1sjag4/Untitled?node-id=0%3A1

### Screenshots

![image](https://user-images.githubusercontent.com/7730

[2022-01-11 02:10] ChuksMbanaso commented on #961
Your figma designs are better. i'd def go with the round-hover type

[2022-01-11 02:12] ChuksMbanaso commented on #955
yeah, that will be convenience

[2022-01-11 02:14] ChuksMbanaso commented on #935
This is a good idea tho

[2022-01-11 02:17] ChuksMbanaso commented on #836
uhm, so you want the Eddiehubcommunity to be replaced by just community, so folks will know it not a personal page???

[2022-01-11 04:45] TakshakRamteke commented on #961
@code3z  The design is great ,

although i think you could have added a bit more white space to it because it kinda looks crammed as it is right now,
also in my opinion having those social media icon's there is just adding extra bit of details to the design.
As the card's are not that big so legibility might become a issue on some devices (not quite sure), another point to be noted is that all the

[2022-01-11 04:53] MadhaviMandalia commented on #836
Hello @emmalearnscode ,
I want to contribute on this issue please assign me

Thanks & Regards.

[2022-01-11 07:59] emmalearnscode commented on #961
Thanks for your ideas @code3z however, I think this is going to make the homepage look way too cluttered. Less is definitely more, especially when there are so many profiles being shown at once.

[2022-01-11 08:19] emmalearnscode commented on #836
No, we shouldn't replace it but have an extra banner somewhere in the header that points out that this is a community profile. I will try to do some mock ups later to show what I mean more clearly.

[2022-01-11 08:20] emmalearnscode commented on #836
@MadhaviMandalia Sure, you are now assigned.

[2022-01-11 08:44] digambar-t7 opened #964 "[FEATURE] Custom Title"
### Description

Hey there,
             Can we change the title dynamically. Like if someone lands on the profile page then the title would be something related to the Profile itself.

For Example:    'Profile name' | LinkFree

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-11 09:13] aliraza944 commented on #964
Is this dynamic title change only for the profile page or for all the pages?

[2022-01-11 09:32] schmelto commented on #961
Could we provide this as a quick embedded link for implementing in other websites?

[2022-01-11 09:34] schmelto commented on #955
sure @khushbooag4

[2022-01-11 09:38] emmalearnscode commented on #964
Which title do you mean?

[2022-01-11 10:15] RishiKumarRay opened #965 "[FEATURE] Adding a Docker Compose file"
### Description

Adding a Docker Compose file

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-11 10:22] aliraza944 commented on #964
page title or document title

[2022-01-11 10:42] MadhaviMandalia commented on #836
@emmalearnscode can we use an icon which only represents a Community

[2022-01-11 11:24] digambar-t7 commented on #964
I mean the document title which appears on the tabs of the browser.

[2022-01-11 14:36] RishiKumarRay commented on #965
Can you assign me this and I can work on this

[2022-01-11 15:00] emmalearnscode commented on #965
Can you explain why this would be beneficial to the project? I don't know anything about docker - what does a docker compose file do? Why should we have one in this project?

[2022-01-11 15:19] nathgoutam93 commented on #387
Hey there, looks like this issue is no longer exist . So we should close this issue . right?

[2022-01-11 15:20] RishiKumarRay commented on #965
This project already has Dockerfile , now if you want to run this in a container first you have to build a image then run which is a time consuming. Now if we add a docker compose here , it will run this application in a single command . Also if your priority is not running this in Dockerized environment do let me know , I am happy to close this issue.

[2022-01-11 15:33] emmalearnscode commented on #965
I have no idea, but there may be other maintainers who think this is a good idea. Leave the issue open and collect some more opinions on it from others :)

[2022-01-11 16:46] code3z commented on #961
Noted.

I know, that was the point - to tell what has been added without the buttons.

I think it could be done efficiently without affecting performance. I might just remove the social icons though, I’ll make a new version tonight.

Yeah, but maybe it would look a little different on other websites. Like with a “view on linkfree” text. Maybe open another issue for this?

[2022-01-11 17:02] emmalearnscode opened #969 "[DOCS] Add warning about not adding package.json To contributing.md"
### Description

Many people accidentally add and commit their package.json and package-lock.json files when contributing their profile. I suggest making the contribution guidelines clearer, maybe with a warning not to add these files and not to use git add .

It could be added somewhere here in the contributing.md file:
![286BDA27-C849-423A-A31D-4EE40826EC35](https://user-images.githubusercontent

[2022-01-11 18:21] digambar-t7 commented on #964
Is it right if someone's  issue is being addressed by someone else's pull request.

[2022-01-11 18:29] emmalearnscode commented on #964
Usually it’s best to ask to be assigned, even if you are opening the issue and intend to fix it yourself, otherwise it’s not clear that it’s being worked on and others can think it’s up for grabs. Not everyone who opens an issue intends to fix it themselves (or knows how) so it’s quite common in open source that the person making the pull request is not the same person that opened the issue.

[2022-01-11 19:49] nathgoutam93 commented on #969
would like add this point :
Only if any changes made to the installed packages then package.lock.json  files are allowed to push.

[2022-01-11 22:30] code3z commented on #961
@ChuksMbanaso I'm glad you like it :smiley:

@TakshakRamteke @emmalearnscode How about this version without the social icons:
![image](https://user-images.githubusercontent.com/77302900/149031370-8fde0071-d6dc-448f-9a03-32b13c915a26.png)

@schmelto How about this larger version with more information for embedding on other sites?
![image](https://user-images.githubusercontent.com/77302900/149031523

[2022-01-12 00:37] code3z commented on #834
How about this? @Vyvy-vi
![image](https://user-images.githubusercontent.com/77302900/149043117-3b4e01c1-b424-4575-8ad5-4cf9e7b2f23d.png)

[2022-01-12 01:00] code3z opened #972 "[FEATURE] Small Design Improvement for selecting between community/personal/all"
### Description

I made a mockup to show how styled radio buttons could provide a nicer-looking and easier to use alternative to the current select box. It will take one click to select instead of two, and it will make better use of the space.

### Screenshots

![image](https://user-images.githubusercontent.com/77302900/149045071-31cd8090-b9b5-43c6-b719-d59bec172026.png)
![image](https://user-imag

[2022-01-12 06:59] unnikrishnan2002 opened #973 "[FEATURE] Display a message to the user when the link is copied to clipboard"
### Description

In the share feature when the user selects to copy the link to clipboard . It should notify the user that the link is copied.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-12 07:01] unnikrishnan2002 commented on #973
@avneesh maybe you should have a look at that :eyes:

[2022-01-12 08:37] emmalearnscode commented on #973
It does in development but there’s an issue with copy to clipboard in production because the site is not on https which stops the copy api from working. It was raised in an issue the other day.

[2022-01-12 08:39] emmalearnscode commented on #973
I’ll close this as a duplicate of #946

[2022-01-12 08:39] #973 closed

[2022-01-12 08:43] unnikrishnan2002 commented on #973
Sure

[2022-01-12 09:07] #940 closed

[2022-01-12 09:07] #941 closed

[2022-01-12 09:24] Hat52 commented on #969
I would like to add this point in the documentation.

[2022-01-12 11:05] emmalearnscode commented on #950
This got fixed in another pull request so I'll close this one. Thanks for raising the issue!

[2022-01-12 11:05] #950 closed

[2022-01-12 14:39] whoiskekeanyway opened #978 "[OTHER]"
### What would you like to share?

The SSL Certificate at http://linkfree.eddiehub.org/ has expired. Please look into it.
@eddiejaoude
Thanks

<img width="318" alt="Screenshot 2022-01-12 at 15 51 51" src="https://user-images.githubusercontent.com/71834585/149160946-8b083d0b-7c34-4acb-b11e-6dac0b7baec1.png">

### Additional information

_No response_

[2022-01-12 15:19] krishguptadev commented on #978
Duplicate of #197

[2022-01-12 17:48] adityaraute commented on #387
Those bubbles are visible after hovering. Wouldn't say doesn't exist.

[2022-01-12 18:09] nathgoutam93 commented on #387
This bubble issue was about the bubble in the user profile not the user chips in home page .

This issue was fixed in a PR I made and some of us decided to add the bubble in the chips instead .

[2022-01-12 18:11] adityaraute commented on #387
alrighty then

[2022-01-12 18:11] #387 closed

[2022-01-12 18:30] MadhaviMandalia commented on #972
Hello @code3z ,
Are you making a PR for it if not let me contribute on this issue
Please let me know

Thanks & Regards.

[2022-01-12 21:53] code3z commented on #972
@MadhaviMandalia I haven’t started any code, feel free to work on it.

[2022-01-13 06:56] lavakush07 opened #982 "Add Social icon"
### Description

## In the social icon section we can add  the icon of [Medium](https://medium.com/) too..

- Medium is mostly used by the programmers these days to blog their posts..

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-13 07:08] MadhaviMandalia commented on #982
Hello @lavakush07 ,
Can I raise PR for this issue?

Thanks & Regards.

[2022-01-13 08:52] emmalearnscode commented on #982
Sure @MadhaviMandalia When adding an icon it needs to be added in three files. First import it from react icons into the components/Icons/GetIcons.js file and add it to the switch statement. Then in config/links.json add a hex color code for the icon. Finally, update the available icons table in the readme. Feel free to ask any questions if you need help.

[2022-01-13 08:53] emmalearnscode commented on #978
I'll close this as it's a duplicate but thanks for flagging the issue!

[2022-01-13 08:53] #978 closed

[2022-01-13 08:56] emmalearnscode commented on #961
I still personally think that it's going to make the homepage look more cluttered. I would like to see a mockup of a whole page of these chips compared to how it looks now.

[2022-01-13 11:16] lavakush07 commented on #982
Yeah,Go ahead.. 😊
- I wanted to do it.,but np

[2022-01-13 11:34] emmalearnscode commented on #982
@lavakush07 Oh sorry, next time you raise an issue write in the additional info that you want to be assigned and that'll help to know not to assign someone else :)

[2022-01-13 11:46] lavakush07 commented on #982
Yeah cool.. looking forward to contribute more to the eddiehub organisation🚩.

[2022-01-13 15:07] vikasganiga05 opened #983 "[BUG] Copy to Clipboard not working in Firefox Browser"
### Description

When the copy to clipboard button is clicked it throws the error `navigator.clipboard is undefined`. I am using Firefox v95.0.2 browser. I did some [research](https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined), I found that `navigator.clipboard` is only available when the site you're browsing has a secure origin (HTTPS). [http://linkfree.eddiehub.org/](

[2022-01-13 15:37] ramanjitsingh-hub commented on #983
I would like to work on this issue. I am new to open source but familiar with PR . Can anyone help me with this issue?
Any suggestions are appreciated

[2022-01-13 16:30] emmalearnscode commented on #983
Duplicate #946

Please continue the discussion in the open thread.

[2022-01-13 16:30] #983 closed

[2022-01-13 16:34] emmalearnscode commented on #946
@eddiejaoude we have a bug in the copy to clipboard on production being caused because the site is hosted on http instead of https and the api doesn't work on http. Is upgrading to https something you are planning to do with the project?

Maybe we should comment out the copy to clipboard icon/functionality if this is not something that can be resolved at this time? Or do you have another suggestio

[2022-01-13 16:51] DevCassie commented on #946
Upgrading to https sounds like a good idea to me. If that were to happen, every link in the code (if there is any). Should be with https instead of http.

[2022-01-14 01:31] code3z commented on #961
Ok, do you have a figma design for the homepage I can edit?

[2022-01-14 01:34] eddiejaoude commented on #946
Thanks @emmalearnscode 👍 yes we plan to move to https, but i need some help with the Kubernetes config/setup - let me reach out to some people as i would like to do this on a live stream

[2022-01-14 01:38] eddiejaoude commented on #978
Thanks all for collaborating 👍 we will fix soon

[2022-01-14 06:59] vikasganiga05 commented on #983
Sorry, I thought it's a new issue. I will add this to #946 issue.

[2022-01-14 07:01] vikasganiga05 commented on #946
### Description

When the copy to clipboard button is clicked it throws the error `navigator.clipboard is undefined`. I am using Firefox v95.0.2 browser. I did some [research](https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined), I found that `navigator.clipboard` is only available when the site you're browsing has a secure origin (HTTPS). [http://linkfree.eddiehub.org/](

[2022-01-14 08:31] nirbhay12345 commented on #946
I think for the time being this could be a helpful solution. Since it prevents the broken site.

Further this bug can be removed as mentioned by @eddiejaoude

What are others views?
@emmalearnscode

[2022-01-14 10:50] emmalearnscode commented on #946
My concern with adding the workaround is that it's not acutally possible to test it in development as the copy to clipboard is working on localhost. Therefore, we won't know if it works until pushing to production. Then when we finally do upgrade to https, there will be unnecessary code which we might forget to remove. My feeling would be to comment out the sharing link and just leave the three wo

[2022-01-14 11:05] #982 closed

[2022-01-14 12:36] developer-diganta commented on #911
@emmalearnscode @Vyvy-vi Shall I open a PR for this?

[2022-01-14 15:07] rohan-kulkarni-25 commented on #972
Nice Addition @code3z  !! The UI actually looks so clean !

- @MadhaviMandalia Once we get the design accepted by Team let's work on this ! This will avoid wastage of your time.
- I think the design is good and we can go with that !!

[2022-01-14 15:10] schmelto commented on #972
Like the design 👍

[2022-01-14 15:23] emmalearnscode commented on #972
Yes, nice design 👍

[2022-01-14 19:40] emmalearnscode opened #988 "[OTHER] A-Z getIcons file"
### What would you like to share?

Currently all the icons in the switch statement inside the component getIcons.js are in a random order. It would be much easier to see which are already in the project if the icons for each case were in alphabetical order A-Z.

### Additional information

_No response_

[2022-01-14 19:42] emmalearnscode opened #989 "[OTHER] A-Z config/links.json"
### What would you like to share?

Currently the icons names inside this file are in a random order. It would be much easier to see which ones already exist and avoid duplication if the icons were in alphabetical order A -Z

### Additional information

_No response_

[2022-01-14 19:45] emmalearnscode opened #990 "To Top button not accessible with keyboard"
### Description

The return to top button is currently not accessible to anyone using a keyboard to tab through the site. The button needs a tabindex=0 attribute adding and once pressed the focus of the site should be moved to the top of the page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-15 03:50] snehaljos commented on #948
Hi, @emmalearnscode is the issue still open?

[2022-01-15 04:15] nirbhay12345 commented on #946
Yeah I did not thought of this. This might turn out to be an overhead later. I agree that it should be commented.

[2022-01-15 08:06] emmalearnscode commented on #948
@snehaljos thanks for asking! It’s already being worked on but similar issues remain so keep an eye out for when they are posted

[2022-01-15 16:55] RishiKumarRay opened #996 "Arranging the icons of readme in order"
### Description

The ICONS are not in order

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-15 16:56] RishiKumarRay commented on #996
@emmalearnscode please assign me

[2022-01-15 21:08] #988 closed

[2022-01-15 21:08] #989 closed

[2022-01-16 22:21] abhishekgite446 commented on #934
I tried investigating if this can be done using Cypress, but unfortunately I was not able to find a solution. Just for the the reason Cypress explicitly does not support testing in multiple tabs, there are workaround if you have **target** property but in our application all the buttons in the user page dow not have href, target properties hence it is difficult to do this using Cypress. If anyone

[2022-01-17 03:42] rohan-kulkarni-25 commented on #996
Hey @RishiKumarRay !!
- Thanks for showing interest.
- Please mention the snap of icons which you want to add space between.
- This will help moderators to review the PR

[2022-01-17 17:52] #650 closed

[2022-01-18 14:42] digambar-t7 opened #1003 "[FEATURE] Custom wallpaper"
### Description

I want to have a custom wallpaper on each profile page.
For the old profiles we can have a default wallpaper .
Can I proceed with this?

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-18 15:49] emmalearnscode commented on #1003
There are several discussions about custom themes for profiles , see #616 #133 ,  but as yet we are not sure how to ensure things like accessibility with color contrast etc can be kept to the required standard we have not gone ahead with any profile themes so far. I'll close this issue as a duplicate but feel free to comment in 616 or 133 if you have any design suggestions which will uphold accesi

[2022-01-18 15:49] #1003 closed

[2022-01-19 07:39] #951 closed

[2022-01-19 08:05] lavakush07 opened #1005 "Adding DEV as social icon"
### Description

- We can add the [DEV](https://dev.to/) in the social icons.
- The reason behind adding the **DEV** is these days, the dev is acting as a social media for most of the developer communities.
- In _dev_ the people posts their blogs,podcasts,videos etc..

- I want to work upon this issue..

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-19 09:16] schmelto commented on #1005
Ups messed a little bit with the tittle 😅

I assigned you :)

[2022-01-19 11:43] lavakush07 commented on #1005
Hey @schmelto , Sorry the dev social icon is already present.I came to know this,just now while I was looking into the code.U can close this issue.Thank u for your presence and sry for wasting ur time.

[2022-01-19 12:38] #1005 closed

[2022-01-19 16:13] WarenGonzaga opened #1006 "[FEATURE] Add Polywork as Link"
### Description

I saw popular supported buttons but it would be great if we add the polywork.com link to the linkfree.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-19 17:47] YuriDevAT opened #1007 "Change <h4> in Profile.js to meet A11Y requirements"
### Description

**Problem**
In the Profile.js component, the name surrounded by `<h1>` tags is followed by the username surrounded by `<h4>` tags.

W3C points out that it is necessary to keep the rank of headings in descending order and not skip a rank.

For more information about A11Y in the context of headings, see the official documentation of [W3C](https://www.w3.org/WAI/tutorials/page-struct

[2022-01-19 18:14] emmalearnscode commented on #1007
This is already fixed. Thanks for raising an issue and if you notice anything else that needs fixing don’t hesitate to raise another.

[2022-01-19 18:14] #1007 closed

[2022-01-20 10:23] Susmita-Dey opened #1010 "Add HackerRank Icon"
### Description

I wanted to add my **HackerRank profile** link to my **LinkFree** page but I found there's no such icon present in the README.md file to be used . I request to add the HackerRank icon to the README.md file so that people like me can use it.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-20 11:16] emmalearnscode commented on #1010
It will need adding in 3 places
1. GetIcons.js component
2. Config/links.json
3. Readme

Do you want to be assigned?

[2022-01-20 11:21] Susmita-Dey commented on #1010
Yes sure. It would be great.

[2022-01-20 17:12] jcubic opened #1016 "[FEATURE] Change buttons to links"
### Description

I have experience with SEO and buttons are bad for

* UX
* Accessibility
* SEO

If something is a link to another website it should be a real link, not a button.

Also, real links (without `rel="nofollow"`) can really help Open Source projects. If someone will create a profile with links to his project's official websites.

I'm not sure how much in this community are actual FOSS a

[2022-01-20 19:02] emmalearnscode commented on #1016
They are buttons due to using prime react components but they have an aria role of link so they should be rendered as links in the dom and be accessible.

[2022-01-20 21:43] jcubic commented on #1016
@emmalearnscode ok, what about SEO. The button is useless. What about UX, there is no link at bottom of the page, you have no idea where the link will point. This is not how you create links on the web platform. If something is a link it should be `<a href="...">`.

[2022-01-21 06:46] Zishan-7 commented on #972
Hey @MadhaviMandalia ,
Are you still working on this issue?
If not, please let me know I would love to contribute.
Thanks.

[2022-01-21 06:59] Zishan-7 commented on #866
Hey @Vyvy-vi ,
I would love to work on this issue, can you assign it to me?

[2022-01-21 19:27] emmalearnscode commented on #1016
I hadn’t noticed that the url preview was missing, well spotted. I do agree that it should be a link, I’m not sure how easy it is to keep the prime react styling if we change it though.

[2022-01-21 20:51] jcubic commented on #1016
I can try to read the code and create PR. if this is something that will be accepted.

[2022-01-21 22:46] jcubic commented on #1016
I've just checked on https://bit.dev/primefaces/primereact/button in dev tools, Changing

`<button>` from generated HTML into `<a>` make no difference in the look of a button.

The only issue is with `:hover` effect. The CSS uses `:enabled` pseudo-class that doesn't work with links.

[2022-01-21 23:26] nhcarrigan commented on #1016
I agree with jcubic here - buttons should be buttons, links should be links. We can style an `a` element however we want, but using a `button` isn't semantic.

[2022-01-22 14:02] alex-anson commented on #522
@emmalearnscode @eddiejaoude
Sorry for the delay 🤓
What does everyone think of these ideas?

For hover idea number two, I would propose adding a dark variant for each of the properties in `src/config/links.json`, for example: `"globe-dark": "#595959",`

Also, I have a question -- is the goal to meet AA or AAA standards?

Let me know your thoughts! All feedback is welcome.

![original](https://user

[2022-01-23 18:29] #990 closed

[2022-01-23 18:31] #1010 closed

[2022-01-23 18:44] emmalearnscode commented on #1016
Did you want to be assigned to this issue @jcubic ?

[2022-01-23 18:53] jcubic commented on #1016
@emmalearnscode Ok, If everyone agrees to this change. I can change buttons to links.

[2022-01-24 18:39] #1006 closed

[2022-01-24 19:04] jcubic opened #1031 "Bad level of autoindent on GitPod link"
### Description

When you open the GitPod link it has all set up in the container but the linter for the code is 2 spaces but the auto-indent in the editor is 4 spaces so it's hard to write proper code. Small changes (like #1025) are not the issue but bigger changes can drive you crazy and can lead to abandoning the editing.

### Screenshots

_No response_

### Additional information

_No response

[2022-01-25 07:23] vish-han opened #1032 "[FEATURE] Light/Dark Mode"
### Description

Hey Everyone👋!
I think there should be a switch to toggle between light And dark mode.

I'm willing to work in this issue if the maintainers are happy to assign me😀.

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-25 18:45] #1016 closed

[2022-01-25 18:48] #969 closed

[2022-01-26 18:09] Mohith234 opened #1037 "Link is not being copied to the clipboard"
### Description

While looking into the website of **LinkFree**, I figured out that when we click on the share button on anyone's profile ,
A popup appears showing 4 options , and upon clicking
- Facebook : Opens their Facebook profile to share the **Linkfree profile**.
- Twitter : Opens their Twitter profile to share the **Linkfree profile**.
- Linkedin : Opens their Linkedin profile to share the

[2022-01-26 20:10] emmalearnscode commented on #1037
Thanks for raising this issue, we are aware of it and the fix requires an upgrade to https so it’s currently blocked until Eddie gets some help to upgrade it. I’ll close this as it’s a duplicate of #946

[2022-01-26 20:10] #1037 closed

[2022-01-28 14:22] vikasganiga05 opened #1043 "[FEATURE] Add Showwcase Icon"
### Description

We can add the [Showwcase](https://showwcase.com/) in the social icons. Showwcase is a professional network built for developers to connect, build community, and find new opportunities.

### Screenshots

It's a showwcase profile page of [Tapas Adhikary](https://www.showwcase.com/atapas398)

![showwcase profile page](https://user-images.githubusercontent.com/74750414/151562682-d5ba

[2022-01-28 15:26] vasantisuthar commented on #1043
I want to work on this issue can you assign me @emmalearnscode

[2022-01-28 16:27] emmalearnscode commented on #1043
Sure. When adding an icon it needs adding in 3 places.
1. It needs importing from react icons and adding to the switch in GetIcons.js,
2. it needs a color code adding in config/links.json
3. and it needs adding to the readme.

The first 2 files are in alphabetical order, readme is not yet ordered so it can be placed anywhere.

[2022-01-28 18:48] KendallDoesCoding opened #1045 "[FEATURE] [Add gitlab icon to linktree]"
### Description

Add gitlab icon to linktree

### Screenshots

_No response_

### Additional information

_No response_

[2022-01-28 19:03] KendallDoesCoding commented on #1045
I dont think a lot of people will be using Gitlab though? So, I don't think yall NEED to add this, coz people can use website links to the svg for now: https://about.gitlab.com/images/press/press-kit-icon.svg, but yall can take a call on this.

[2022-01-28 19:17] Panquesito7 commented on #1045
That won't work as excepted, we don't use icons that way.
Many people use GitLab, though. For example, I use it.

[2022-01-28 19:20] emmalearnscode commented on #1045
Sure, this can be added. To add it needs importing from react icons in getIcons.js and adding to the switch statement in alphabetical order, a colour needs adding in config/links.json (also alphabetical) and it needs adding to the readme

[2022-01-28 19:21] KendallDoesCoding commented on #1045
Ok, then maybe I use it less lol

[2022-01-30 01:43] eddiejaoude commented on #755
Oh yes, I needed to turn it on 🤦‍♂️ thank you all 🔥

[2022-01-30 01:43] #755 closed

[2022-01-30 08:08] #605 closed

[2022-01-30 18:21] KendallDoesCoding commented on #1045
Do I need to do this?

[2022-01-30 18:56] emmalearnscode commented on #1045
If you want to do this issue then you will need to do all the steps, if you want to leave the issue for someone else to be assigned then that's also fine :)

[2022-01-31 06:09] KendallDoesCoding commented on #1045
Ok cool! I'm not too good at react stuff so I'll leave this to someone else to do.

[2022-01-31 14:52] vikasganiga05 commented on #1043
Hey, @vasantisuthar Do you need any help with this? Let me know.

[2022-01-31 14:55] krshdev commented on #1043
Hey @vikasganiga05, Looks like their PR has been merged already, this issue hasn't been closed yet, so could you or one of the maintainers, do the neatful?

[2022-01-31 15:23] vikasganiga05 commented on #1043
No, The showwcase icon is not added to `README.md`, `src/config/links.json` and `src/Components/Icons/GetIcons.js`.

[2022-01-31 15:40] krshdev commented on #1043
I got confused because of the merged PR mentioned 😅 Sorry about that.

[2022-01-31 17:24] vasantisuthar commented on #1043
hey @vikasganiga05, I am working on it, if I ran into any issue, I'll ask. Thanks

[2022-01-31 18:59] vikasganiga05 commented on #1043
It's okay. :smile:

[2022-01-31 19:00] vikasganiga05 commented on #1043
That sounds great :+1:

[2022-01-31 19:18] Umayarz18 commented on #522
@alex-anson I do like that second idea a lot! Does the contrast ratio for each of these hover links meet AA or AAA standards? (Just curious 😃 )

[2022-02-02 14:06] kaxada commented on #1045
@KendallDoesCoding I can jump onto this. Do I need to first get assigned or its a matter of first fix pull request!?

[2022-02-02 14:47] emmalearnscode commented on #1045
@kaxada Go ahead, I will assign you :)

[2022-02-02 15:32] kaxada commented on #1045
@emmalearnscode interesting. let me navigate this

[2022-02-02 15:44] KendallDoesCoding commented on #1045
Thanks

[2022-02-02 23:29] alex-anson commented on #522
@Umayarz18
Cool!! Most of them meet AAA. (There's one that doesn't even meet AA. 😳 )
The mockup is more about the concept, I suppose -- I hadn't even checked the ratios until just now. And I wasn't sure which we were aiming for -- I'd asked "...is the goal to meet AA or AAA standards?" in my last post. 😁

Do you know which we're trying to adhere to?
I appreciate your feedback!! 🙏

[2022-02-03 07:26] KendallDoesCoding opened #1055 "[OTHER] CSS not formatted"
### What would you like to share?

Css not formatted properly

### Additional information

_No response_

[2022-02-03 07:30] KendallDoesCoding opened #1056 "[OTHER] JS not formatted"
### What would you like to share?

Js not formatted

### Additional information

_No response_

[2022-02-03 07:42] emmalearnscode commented on #1055
Can you please share a screenshot to show what you mean?

[2022-02-03 07:43] emmalearnscode commented on #1056
Again, please share a screenshot.

[2022-02-03 07:47] KendallDoesCoding commented on #1055
Its formatted but can be formatted better, I made a PR to work on this #1054

[2022-02-03 07:48] KendallDoesCoding commented on #1056
@emmalearnscode Theres no problem as of such, it just can be formatted better, I made a PR to work on this #1054

[2022-02-03 07:48] emmalearnscode commented on #1055
We already have a linter in place with formatting rules to make it consistent across different users. If you format it according to other rules the builds will fail.

[2022-02-03 07:50] KendallDoesCoding commented on #1055
True. Closing

[2022-02-03 07:50] #1055 closed

[2022-02-03 07:50] #1056 closed

[2022-02-03 10:20] KendallDoesCoding opened #1060 "[OTHER] Update KendallDoesCoding.json"
### What would you like to share?

Update my bio

### Additional information

_No response_

[2022-02-03 15:05] krshdev commented on #1060
I do not think there is need to make issues for these 😅

[2022-02-03 15:07] KendallDoesCoding commented on #1060
Ok lol, closing!

[2022-02-03 15:07] #1060 closed

[2022-02-04 19:52] PhilipBDev opened #1062 "[FEATURE] Random User Profile"
### Description

Hello! 👋 I've never contributed to an open source project before, but I had an idea for LinkFree.

A button next to search that brings up a random user profile! I always love the random page feature of wiki sites, so I thought this would be a fun way to browse each other's profiles on the site. The link will update every time the page is refreshed.

Let me know what you think! I d

[2022-02-06 06:50] emmalearnscode commented on #1062
I really like this idea! However, I would reconsider the design of the button next to the search because to me it does not communicate the purpose and It shouldn’t need a hover tooltip.

it would be great to see what others think too.

[2022-02-06 14:23] #1045 closed

[2022-02-06 14:26] KendallDoesCoding commented on #996
@emmalearnscode @rohan-kulkarni-25 I'm down to do this if @RishiKumarRay needs help. Can you assign me on this too?

[2022-02-06 14:30] KendallDoesCoding commented on #1032
Do you think something like on my website will work for this or do you want another kinda of design like a moon or something?

https://mogulchristmas.kendalldoescoding.gq/

There's a toggle between dark and light mode in the top right of the website.

[2022-02-06 14:31] KendallDoesCoding commented on #480
Yes, I tried searching for a profile too and it didnt render and when I reloaded the page it worked.

[2022-02-06 14:43] KendallDoesCoding opened #1069 "[FEATURE] Tell no, of profiles added to the Linkfree database"
### Description

Mostly, everyday one or two profiles get added, so a text field above the current button "Profile Type" or below that telling how many profiles are added will really be nice, according to me.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-06 14:47] KendallDoesCoding opened #1070 "[FEATURE] Filter by coding language"
### Description

In the file where users need to make their profile, they can put the languages they code in, for eg, this is what I will put in:

```"languages": "HTML", "CSS", "JAVASCRIPT", "PYTHON"```

Then, a button like the "Profile Type" button on the main page of Linkfree to filter out the languages and show the people that put those languages in their profile.

Idk, what the purpose of Lin

[2022-02-06 14:49] KendallDoesCoding commented on #934
To enhance the idea, sites exist like downdetector I think, where you can see if the site is down, someone can even make a script to do this, so if the site on any profile is down, github-actions automatically makes a issue thread in this repo and when it comes back it will auto-close the issue

[2022-02-06 14:51] KendallDoesCoding commented on #964
@digambar-t7 If you still want to fix the issue, feel free to suggest changes, etc or ask @aliraza944 if he's fine with you making another PR on this as #968 hasnt been merged yet.

[2022-02-06 14:59] KendallDoesCoding opened #1072 "Update github icon color on main page"
### Description

On the site, in instances "Contribute on <github icon> v0.62.3" the <github icon> is purple, while that looks good, the original github icon is black, so it is better if it's black right?

### Screenshots

_No response_

### Additional information

Will see if I can work on this, but I'm not sure so if someone else wants to take this up, please go ahead. Thanks

[2022-02-06 14:59] digambar-t7 commented on #964
Thanks but I already moved on.
And as he has already raised a PR then there is no sense in doing it again.

[2022-02-06 15:00] KendallDoesCoding commented on #964
Ok, just informed you coz #968 anyway hasn't been merged.

[2022-02-06 15:07] KendallDoesCoding commented on #961
I think this too, but it's still worth a try and let's see how it looks, coz overall it looks better. Although, if the profile has lots of links, it will look bad.

[2022-02-06 17:55] KendallDoesCoding commented on #886
I haven't heard of mastodon and don't think many people use it.

[2022-02-06 17:57] KendallDoesCoding commented on #1062
i like the idea too

[2022-02-06 17:58] KendallDoesCoding commented on #834
You can filter profiles by personal and community right? But a badge would still be good ig.

[2022-02-06 17:58] KendallDoesCoding commented on #834
Yes this looks good!

[2022-02-06 17:59] KendallDoesCoding commented on #339
Any update on this?

[2022-02-06 18:05] KendallDoesCoding opened #1075 "[OTHER] Site marked as not secure"
### What would you like to share?

For some reason, the site doesn't have ```https://``` it has ```http://`` missing the s at the end. It can be coz the site was made a long time ago, so the site is marked as "Not Secure" at least for google (idk about other browsers. The site works if you add s in the end though, but that's a even worse not secure, so idk who has permissions with the hosting stuf

[2022-02-06 18:08] KendallDoesCoding opened #1076 "[OTHER] Deploy after every commit."
### What would you like to share?

According to me, it would be better if the site deploys after every commit in this repo, I use that for my personal projects, and it's very good. I think it will be better, instead of users creating their profiles and waiting for 2-7 days at max for it to show up on the site.

### Additional information

Idk if this is possible with the hosting, which I believe i

[2022-02-06 19:04] emmalearnscode commented on #1076
It has to do with the versions. Adding a profile counts as a chore and doesn’t bump the version number, fixes and features bump the version number and therefore trigger the site to deploy.

[2022-02-06 19:06] emmalearnscode commented on #1075
Eddie is working on this, it will be coming but has something to do with the kubernetes cluster IIRC

[2022-02-06 19:08] emmalearnscode commented on #1070
Thanks for raising the issue, it seems to be a duplicate of #802 so I’ll close this one for now. Feel free to add your comments there instead

[2022-02-06 19:08] #1070 closed

[2022-02-06 19:09] KendallDoesCoding commented on #1076
Ok

[2022-02-06 19:09] #1076 closed

[2022-02-06 19:10] emmalearnscode commented on #996
Let’s give @RishiKumarRay a couple of days to respond, then if they’re no longer interested or don’t answer you can take over this issue @KendallDoesCoding

[2022-02-06 19:10] KendallDoesCoding commented on #1075
Ok, so should I keep this issue open or should I close it?

[2022-02-06 19:11] KendallDoesCoding commented on #802
What my comments are on this, a little different way of doing it #1070 :

In the file where users need to make their profile, they can put the languages they code in, for eg, this is what I will put in:

"languages": "HTML", "CSS", "JAVASCRIPT", "PYTHON"

Then, a button like the "Profile Type" button on the main page of Linkfree to filter out the languages and show the people that put those langua

[2022-02-06 19:11] KendallDoesCoding commented on #1070
Ok, thanks a lot.

[2022-02-06 19:12] KendallDoesCoding commented on #996
Ok. Thanks!

[2022-02-06 19:17] emmalearnscode commented on #1075
You can leave it open as I don’t think there’s a duplicate, it just won’t get assigned to anyone yet

[2022-02-06 19:20] KendallDoesCoding commented on #1075
Yeah, nobody can do this except the EddieHub team anyway, and as I said in the description, I think only @eddiejaoude has access to the hosting.

[2022-02-06 19:22] KendallDoesCoding opened #1077 "[OTHER] Icon path"
### What would you like to share?

Where's the path with the icon which is in the title of the tab.. I wanted to work on a PR so was wondering.

### Additional information

_No response_

[2022-02-07 04:14] RishiKumarRay commented on #996
@emmalearnscode Sorry , I got busy with some other stuff , i forgot about this issue , please assign @KendallDoesCoding , I will do something else later on. Thanks

[2022-02-07 05:34] KendallDoesCoding commented on #996
👍 , No problem!

[2022-02-07 06:06] emmalearnscode commented on #996
No problem, thanks for letting us know.

[2022-02-07 06:41] KendallDoesCoding commented on #996
@emmalearnscode Thanks for assigning me.

[2022-02-07 06:46] KendallDoesCoding commented on #996
Icons in alphabetical order:
Android
Microsoft
Apple
PayPal
Discord
Slack
Envelope
Telegram
Facebook
Twitter
GitHub
Vimeo
Globe
YouTube
Link
Book
Dollar
Instagram
LinkedIn
Twitch
DEV.to
Hashnode
Codewars
Graduation Hat
TikTok
Send
Search
Left Arrow
Snapchat
Codeforces
Medium
Polywork
GitLab

[2022-02-07 06:47] KendallDoesCoding commented on #996
Icons in alphabetical order:
Android
Apple
Book
Codeforces
Codewars
DEV.to
Discord
Dollar
Envelope
Facebook
GitHub
GitLab
Globe
Graduation Hat
Hashnode
Instagram
Left Arrow
Link
LinkedIn
Medium
Microsoft
PayPal
Polywork
Search
Send
Slack
Snapchat
Telegram
TikTok
Twitch
Twitter
Vimeo
YouTube

[2022-02-07 07:47] aroramrinaal opened #1079 "Copy Link Option [NOT WORKING]"
### Description

The **Copy Link** option which appears after clicking the share option is not working.

### Screenshots

<img width="1438" alt="Screenshot 2022-02-07 at 1 11 02 PM" src="https://user-images.githubusercontent.com/90490253/152745897-b8a47766-f4c3-4ba2-a85c-a3dfdf88143f.png">

### Additional information

This is My First Open Source Issue.

[2022-02-07 11:24] emmalearnscode commented on #1079
Thanks for noticing, this is a duplicate so I’ll close it for now.

[2022-02-07 11:24] #1079 closed

[2022-02-07 11:27] KendallDoesCoding commented on #1079
I'll see if I can fix this, can you please mention the original issue?

[2022-02-07 11:27] KendallDoesCoding commented on #996
This is more hard to do than I thought lol

[2022-02-07 11:31] emmalearnscode commented on #1079
It's because of the http not secure issue, the copy/paste API only works on https so it's blocked until that is fixed.

[2022-02-07 11:36] KendallDoesCoding commented on #1079
Ok, cool

On Mon, 7 Feb 2022 at 17:01, Emma Dawson ***@***.***> wrote:

[2022-02-07 11:40] aroramrinaal commented on #1079
Ok , Thanks for letting me know.

On Mon, Feb 7, 2022 at 5:06 PM Kendall Pinto ***@***.***>
wrote:

[2022-02-07 16:24] KendallDoesCoding commented on #1077
Waiting for a reply on this

cc: @Panquesito7 @emmalearnscode

[2022-02-07 18:04] KendallDoesCoding commented on #1077
Yeah maybe. Im talking about the icon on the title of the page.
![image](https://user-images.githubusercontent.com/84712013/152845884-2a012298-5032-48db-8ba6-048740a68c25.png)

[2022-02-07 18:04] KendallDoesCoding commented on #1077
Found the path: https://raw.githubusercontent.com/EddieHubCommunity/LinkFree/main/public/favicon.ico

[2022-02-07 18:04] #1077 closed

[2022-02-07 18:07] KendallDoesCoding opened #1085 "Various Rendering Issues"
### Description

First issue I found, is that no profile avatars render for some loads of the site. Second issue, I've found is that the search bar doesn't load for some loads of the site too. Third issue I've found is certain profile avatars don't load, unlike the first issue, it's only for 1-3 avatars though.

The first issue is faced majority of the time, the second and third issue happens only

[2022-02-07 18:09] KendallDoesCoding commented on #480
I had another kind of issue but simillar to this #1085

[2022-02-07 22:22] Umayarz18 commented on #522
@alex-anson  not sure which we are going for either. I personally think AAA if possible is best since accessibility is something I feel is neglected a lot for beginners. Showing an AAA (except the one 😳) compliant design would be a good example for the developers contributing here.

Hoping @emmalearnscode  might have an answer 😄

[2022-02-08 07:25] emmalearnscode commented on #522
AAA is the highest accessibility level but it's difficult to achieve in all areas. Most websites are expected to reach AA, government and other critical organizations are expected to be AAA. Of course we can try to reach AAA as much as possible if we choose to.

[2022-02-08 10:10] emmalearnscode commented on #1085
Can you check in your console if your getting a 429 error message when the avatars don't load, it could be that with so many profiles we're hitting the github API rate limit. Screenshots of console errors would be appreciated too.

[2022-02-08 10:11] KendallDoesCoding commented on #1085
[code]

[2022-02-08 10:11] KendallDoesCoding commented on #1085
console log, above

[2022-02-08 10:14] emmalearnscode commented on #1085
Ok yes, we’re hitting the rate limit for the GitHub api

[2022-02-09 16:47] MassiiNechiche opened #1091 "[FEATURE] Infinite scroll"
### Description

the first page loads all the users at a time, would be cool to add Infinite Scroll that automatically adds the next page when hiting the bottom, saving users from a full page load if there is plenty of users to diplay.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-09 18:58] KendallDoesCoding opened #1094 "[FEATURE] Autoscroll"
### Description

A tiny button, to auto scroll around the page and see all the coders in Linkfree

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-09 21:33] emmalearnscode commented on #1094
Can you elaborate on what you mean. Do you have an example website that does this?

[2022-02-09 21:37] emmalearnscode commented on #1069
Nice idea 👍 if anyone wants to create a mock up of what this could look like feel free.

[2022-02-10 02:43] KendallDoesCoding commented on #1069
Ig it can look something like this?
[image: image.png]

On Thu, 10 Feb 2022 at 03:07, Emma Dawson ***@***.***> wrote:

[2022-02-10 06:19] emmalearnscode commented on #1075
Duplicate #197

[2022-02-10 06:19] #1075 closed

[2022-02-10 07:52] KendallDoesCoding commented on #1094
![image](https://user-images.githubusercontent.com/84712013/153361716-cd670ea2-078d-4a9d-a30f-fa8d517ad8b9.png)
Example Site (button located down on the site): https://tabs.ultimate-guitar.com/tab/queen/dont-stop-me-now-chords-80655

[2022-02-10 09:45] KendallDoesCoding opened #1099 "[FEATURE] SECURITY POLICY"
### Description

Add a security policy to report security vulnerabilities. This can be added by creating **SECURITY.MD** preferably in the .github directory.

### Screenshots

_No response_

### Additional information

I'll be down to work on this, just provide me where users can report security issues, in discord, email or in this repo itself.

cc: @emmalearnscode @Panquesito7 @eddiejaoude

[2022-02-10 10:19] KendallDoesCoding commented on #1085
Yeah, but it's only sometimes, so ig its not really a problem?

[2022-02-10 11:25] KendallDoesCoding opened #1105 "[FEATURE] Update filter by profile types"
### Description

The 3 filter options in order under profile types are as follows:

Personal
All
Community

According to me, it will be better if it's in the following order:
Personal
Community
All

or

Community
Personal
All

Preferably, the first one.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-10 12:31] KendallDoesCoding opened #1106 "[OTHER] 2 people with same name."
### What would you like to share?

What, if 2 people have the small name, will the urls end be 1?

For eg: Abhijith Ganesh.. Their url is http://linkfree.eddiehub.org/AbhijithGanesh

If there's one more person with that name, what will their url be?

### Additional information

_No response_

[2022-02-10 16:10] emmalearnscode commented on #1094
I don't think this is needed and can imagine it's not great for accessibility. I can understand in the example that you might want the page to autoscroll so you can play the music but I don't see that as a usecase here.

[2022-02-10 16:12] KendallDoesCoding commented on #1106
So, isn't it common for 2 people to have the same github username, or does github not allow that? I'm not sure. I think github doesn't allow that. Just wanted clarification. Thanks

[2022-02-10 16:12] #1106 closed

[2022-02-10 16:13] KendallDoesCoding commented on #1085
Sometimes, not all avatars are loaded, 97/100 are loaded, sometimes 99/100. Sometimes, none are loaded, I think how many avatars open also depend a bit on my internet speed.

[2022-02-10 16:15] KendallDoesCoding commented on #1094
I mean, this is also kinda a Coding Network? Where people can find collaborators, like I, contacted one person who was in Linkfree (Actually who made a thread in support) giving them feedback and asking for help on a small thing, so a autoscroll can be useful so it scrolls and you can see all the profiles, but yeah... I get what yall mean.... Closing!!

[2022-02-10 16:37] emmalearnscode commented on #1085
I have contacted those that have a 404 profile pic in the past couple of weeks

[2022-02-10 16:49] KendallDoesCoding commented on #1085
That's kinda related to this problem. I don't think its a big deal if some pfps are invisible, i mean it is but not as big of a deal than all the pfps not loading.

[2022-02-10 17:29] KendallDoesCoding commented on #1069
@emmalearnscode Let me know if I should share the image again... I shared it on email so ig that didnt work?

[2022-02-10 18:29] KendallDoesCoding commented on #946
For now, till this issue gets resolved, maybe remove the copy to clipboard icon?

[2022-02-10 18:34] KendallDoesCoding opened #1111 "[FEATURE] CODEOWNERS"
### Description

Assign people in the @EddieHubCommunity to be a reviewer for PR's automatically using the Codeowners file.

For eg, if it has to do with public/data directory, assigns the main people that review add profile PR's, @emmalearnscode @Panquesito7 @schmelto @krshdev .

This will help organize everything in this repo.

### Screenshots

_No response_

### Additional information

Only con

[2022-02-10 18:40] emmalearnscode commented on #1111
RIP to our notifications 😂 Anyone is open to review code on eddiehub, and as all maintainers are volunteers they dedicate the time they can which sometimes means some patience is required until we can get round to it. I personally prefer not to be tagged in every PR, I check often enough to see updates and being tagged all the time causes extra noise that might mean something important gets missed

[2022-02-10 18:42] emmalearnscode commented on #1105
I was thinking this was a duplicate but couldn’t find another issue like it. Then I realised I wrote it in my notepad and never wrote it up here. I think they should be in alphabetical order and that would work well since ALL is the default anyway.

[2022-02-10 18:44] emmalearnscode commented on #1069
Yes, please share it again, it’s not visible

[2022-02-11 02:20] nhcarrigan opened #1113 "Issue with GitHub Avatar URLs"
### Description

Refreshing the page results in 429 errors from GitHub on all of the avatars we are fetching. We may need a better approach for this.

### Screenshots

<img width="837" alt="image" src="https://user-images.githubusercontent.com/63889819/153528168-2c232966-5877-47e3-acc5-2ce25a1611a5.png">

<img width="1860" alt="image" src="https://user-images.githubusercontent.com/63889819/1535283

[2022-02-11 04:05] krshdev commented on #1113
Duplicate of #1085

[2022-02-11 04:10] krshdev commented on #1111
Yes, I agree with emma, you don't need to mention us all the time, we will triage the issue 🙂  and I'm not a maintainer (letting you know because you mentioned me 😳) .

Also I don't think this is needed, unless we want the project to be like => The PR won't get merged until the code owner reviews.

[2022-02-11 04:11] krshdev commented on #1085
These need to be redeployed to be fixed?

[2022-02-11 04:14] nhcarrigan commented on #1113
Thanks for catching that!

[2022-02-11 04:14] #1113 closed

[2022-02-11 04:17] nhcarrigan commented on #1111
Actually, this isn't a terrible idea. We could use the CODEOWNERS file to assign the LinkFree team, and pair that with the [repo settings](https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team) to enable round robin review.

This way, we could set it so one of the team members gets assigned to a PR, but it'll cycle through and we won't g

[2022-02-11 04:34] krshdev commented on #1111
Maintainers still get notifs because they are subbed to the repo

[2022-02-11 04:35] nhcarrigan commented on #1111
I'm not lol

It would also help us designate a specific maintainer to spearhead each PR - so we aren't getting conflicting reviews.

[2022-02-11 06:03] KendallDoesCoding commented on #1105
According to me, My suggestions are the best, but even in alphabetical order is the next best thing, better than it is now, so we can proceed!

[2022-02-11 06:04] KendallDoesCoding commented on #1069
![image](https://user-images.githubusercontent.com/84712013/153544672-d26cfe4b-d99a-4d75-a38e-7e5f392d3c79.png)

[2022-02-11 06:18] KendallDoesCoding commented on #1105
Lol, that sounds funny but what I meant to say was, according to me my suggestions look good, but we can do it in alphabetical order, I'm a new coder and would never say

:
Personal
Community
All

or

Community
Personal
All

[2022-02-11 06:20] KendallDoesCoding commented on #1111
Yeah, I wont ping yall next time, ik yall read all the PR's.

Closing this with everyones comments, anyone is welcome to review PRs in EddieHubCommunity.

[2022-02-11 06:20] #1111 closed

[2022-02-11 06:24] eddiejaoude commented on #1105
But you did say that, and that was my point. It is not what you say, it is how you say it. I recomend focusing on collaboration first rather than pushing your personal preferences, as we are seeing this a lot from you. Please think and re-read before you send your messages as they can offend other people in the community.

[2022-02-11 06:27] KendallDoesCoding commented on #1105
Yes. that's totally my mistake. Really sorry for that.

[2022-02-11 06:27] nhcarrigan commented on #1099
Generally, security issues should be reported privately (to avoid making an exploit public before a fix is issued). This might be one that Eddie needs to look at.

[2022-02-11 06:44] KendallDoesCoding commented on #1085
Yup, but I think a new release will come soon?

On Fri, 11 Feb 2022 at 09:41, Krish Gupta ***@***.***> wrote:

[2022-02-11 06:48] KendallDoesCoding commented on #1099
True. For my personal projects, I just put a contact security email which I own and sometimes a Google form to report security issues, yall can put a email, discord or something like a Google Form too in SECURITY.md if yall like. There shouldn't be any security issues in the future, but incase there is, it's better to have a security.md file. Let Eddie have a look at it and make a decision.

[2022-02-11 06:50] KendallDoesCoding commented on #1085
Eddie created a release and its fixed on my end, but https://github.com/Recognizeyourself.png gives a issue.

[2022-02-11 06:50] KendallDoesCoding commented on #1113
I'm only getting the error for https://github.com/Recognizeyourself.png..

[2022-02-11 06:53] KendallDoesCoding commented on #1072
Information on the other instance:
@BSlaven You've not it in the footer in #1081 but not on the top.

Screenshot:
![image](https://user-images.githubusercontent.com/84712013/153548695-9340450a-007e-486f-a99f-ea3dc66bb930.png)

Please do the needful because the github icon is black not purple 😆 .

Thanks a lot!
Kendall Does Coding

[2022-02-11 06:56] emmalearnscode commented on #1072
@KendallDoesCoding maybe you could have been more specific when you opened the issue. Please don’t ping BSlaven telling them to do more in case they don’t have time, anyone is able to help resolve the issue.

[2022-02-11 06:58] KendallDoesCoding opened #1114 "[OTHER] Which profile uses this icon?"
### What would you like to share?

The GitHub user whoose username was Recognizeyourself changed their username and now it's updated and giving a error in console. Can someone, in their free time help me find whose GitHub username was Recognizeyourself before/icon link was https://github.com/Recognizeyourself.png ?. Thanks

### Additional information

_No response_

[2022-02-11 07:01] KendallDoesCoding commented on #1072
Sorry about that, I meant in both locations/instances. Sorry for pinging BSlaven too.

[2022-02-11 07:03] KendallDoesCoding commented on #1091
I like the idea.

[2022-02-11 07:41] schmelto commented on #1069
I'm not sure what actual value such a counter would bring to the website. I think most of the people will not go to the "main" homepage rather than the actual user profile. But this would only my personal opinion on this topic.

[2022-02-11 08:57] BSlaven commented on #1072
No problem @KendallDoesCoding. I am on it.

[2022-02-11 09:02] KendallDoesCoding commented on #1072
Thanks, Sorry for the inconvenience.

[2022-02-11 11:41] emmalearnscode commented on #1114
I have contacted them via their Twitter profile and asked them to update

[2022-02-11 13:10] KendallDoesCoding commented on #1114
Thank you but what is the users name? I would like to debug something.

[2022-02-11 14:41] emmalearnscode commented on #1114
The file is recognizeyourself.json, name Yash Verma

[2022-02-11 14:43] KendallDoesCoding commented on #1114
Ok, thanks

On Fri, 11 Feb 2022 at 20:11, Emma Dawson ***@***.***> wrote:

[2022-02-12 06:08] Pranav016 opened #1118 "[FEATURE] Enable caching of dependencies to save build minutes"
### Description

- In `.github/workflows/build.yaml` we can cache the dependencies based on changes in `package-lock.json` .
- This will help make our build much faster.
- Since for free tier, only 2000 build minutes/month are allotted on github actions servers, if in future the project becomes very large, we can take advantage of caching and keep the build times low.

#### I would like to work on

[2022-02-12 13:07] abdussalam02 opened #1119 "Icons not working"
### Description

Graduation Hat and Dev.to icon is not rendering on the website and globe icon is rendering instead of graduation hat..

### Screenshots

![Screenshot (42)](https://user-images.githubusercontent.com/87809119/153712570-56b298e6-7891-4f3c-9f75-30b5f636ab8f.png)

### Additional information

_No response_

[2022-02-12 14:23] krshdev commented on #1119
I've made a PR for fixture about grad hat, unsure about dev.to

[2022-02-12 14:59] emmalearnscode commented on #1114
Is there an actual issue here or can this be closed? I have contacted the account owner via Twitter and they are aware of the problem and will fix it when they get time

[2022-02-12 15:38] KendallDoesCoding commented on #1119
Ig we can merge this issue with #1085? Cause, that's reporting render issues too. But this is a different kinda issue altogether, so let me know.

[2022-02-12 15:39] KendallDoesCoding commented on #1119
If you reload the page, does it render? That's what I faced for #1085

[2022-02-12 15:44] KendallDoesCoding commented on #1114
Ok cool, let me just do a final check and will close accordingly

[2022-02-12 15:47] KendallDoesCoding commented on #1114
Yup, the only issue that seems to be there is that his pfp, github url and maybe insta account urls don't work... So, let them update it when their free....... Closing

[2022-02-12 15:47] #1114 closed

[2022-02-12 15:55] KendallDoesCoding commented on #1085
I found another issue, should I get the description or put it in the thread, please let me know.

[2022-02-12 16:04] KendallDoesCoding opened #1121 "[OTHER] How does Conventional Changelog Action create CHANGELOG.MD"
### What would you like to share?

I would like to know how Conventional Changelog Action works as I too want to this in my project. I pasted the exact same code of the workflow of releases.yml, into my project but that didn't work for some reason. Please help me out.

### Additional information

Feel free to move this to discussions as it's not related to Linkfree, I can't post it on the discord

[2022-02-12 16:06] emmalearnscode commented on #1085
Issues and corresponding pull requests are easier to keep track of if each problem has its own issue. That way they can be worked on by different people too. So please go ahead and open a new issue with as much detail as possible, thanks.

[2022-02-12 16:08] krshdev commented on #1121
Hi 👋  I suggest opening discussions instead of issues for this :) You don't need to ping everyone, we shall and will see your queries.

Can I get a link to your implementation to diagnose the issue?

[2022-02-12 16:14] KendallDoesCoding commented on #1121
Will move this to discussions. Yes... I was trying to avoid pinging anyone
but they made the file lol, so thought they would know something about it
so pinged, but won't next time.

I did it in a personal organization repo, I think so you will have to
accept the github organization request.

On Sat, 12 Feb 2022 at 21:38, Krish Gupta ***@***.***> wrote:

[2022-02-12 16:15] KendallDoesCoding commented on #1121
Seems that I have deleted the repo, or can't find it rn. Making on on my profile and will make you collabarotor.

[2022-02-12 16:15] abdussalam02 commented on #1119
you can see the screenshot but maybe the icon and background color are same maybe that's why it's showing white bg

[2022-02-12 16:17] abdussalam02 commented on #1119
i don't think it's the same problem #1085

[2022-02-12 16:17] KendallDoesCoding commented on #1119
there is a icon call out issue with one icon, i think, it has a space instead of a -

[2022-02-12 16:17] KendallDoesCoding commented on #1119
Neither do I, let it remain in this repo.

[2022-02-12 16:20] KendallDoesCoding commented on #1121
REPO LOCATED HERE @krshdev : https://github.com/KendallDoesCoding/release-testing/

I will have to make a new discussion thread, let the maintainers do it so this thread will remain as it is if they tap the "Convert to Discussion" button.

[2022-02-12 16:23] abdussalam02 opened #1122 "[FEATURE] Center the links"
### Description

I think we should center the social link and icon it will look much better

### Screenshots

![Screenshot (43)](https://user-images.githubusercontent.com/87809119/153719308-a3853e5d-0eac-4662-8bbc-b52c08c56302.png)

### Additional information

_No response_

[2022-02-12 17:28] krshdev commented on #1121
Hey @KendallDoesCoding did you add this token? https://github.com/KendallDoesCoding/release-testing/blob/main/.github/workflows/release.yml#L18

[2022-02-12 17:30] KendallDoesCoding commented on #1121
I tried doing it in the original repo, but idk if i did it correctly, how do I make a token?

[2022-02-12 17:34] KendallDoesCoding opened #1123 "[FEATURE] Add text on main page"
### Description

The reason I created #1077 was because I had a idea, the icon can show up here with the text "Linkfree" in a epic font:

![image](https://user-images.githubusercontent.com/84712013/153721781-4cca418e-994c-4f71-9f22-375b0418231e.png)

I only think this will be good on the MAIN/HOME page.

### Screenshots

_No response_

### Additional information

If, there's coding needed in HTML

[2022-02-12 18:05] emmalearnscode commented on #1122
In terms of accessibility it’s better to have them left aligned as it makes it easier to read for people with visual impairments or dyslexia

[2022-02-13 05:40] KendallDoesCoding commented on #1121
Awaiting for reply Krish!

[2022-02-13 06:54] schmelto commented on #1121
[code]

With this it should work

[2022-02-13 07:57] KendallDoesCoding commented on #1121
wdym, i can't understand.. can you make a pr?

[2022-02-13 08:11] krshdev commented on #1121
Github -> Settings -> Developer Settings -> Personal access token with repo perms, then the repo settings and actions -> add the secret with the name of `CHANGELOG_RELEASE`, @schmelto suggested a alternative, using the default gh token, I will make the PR :)

[2022-02-13 08:21] KendallDoesCoding commented on #1121
Thanks for the detailed explanation, testing now.

On Sun, 13 Feb 2022 at 13:41, Krish Gupta ***@***.***> wrote:

[2022-02-13 08:25] KendallDoesCoding commented on #1121
Doesn't seem to work?

![image](https://user-images.githubusercontent.com/84712013/153745111-9bd5badb-1034-464e-94aa-816134a31f19.png)

[2022-02-13 10:44] krshdev commented on #1121
Your commit message should be bumpable

Eg: `feat: new feature` or `fix: stupid bug`

![image](https://user-images.githubusercontent.com/91655303/153749583-e81c197d-d183-496b-a7a1-a067b69ace42.png)

[2022-02-13 16:16] schmelto commented on #1121
Your commit message should have the message starting with fix: etc. that the action is triggered

[2022-02-13 16:18] KendallDoesCoding commented on #1121
Oh ok

[2022-02-13 16:22] KendallDoesCoding commented on #1121
Perfect it works... Closing for now... Will re-open if face a issue

[2022-02-13 16:22] #1121 closed

[2022-02-13 21:01] #1072 closed

[2022-02-13 21:02] #1119 closed

[2022-02-14 11:57] KendallDoesCoding commented on #197
Well, that mostly happens unless it detects some virus or something on the website.. weird.

[2022-02-14 12:01] KendallDoesCoding commented on #197
What's weird though is that https://www.eddiehub.org/ is secure and linkfree isn't?

[2022-02-14 12:02] KendallDoesCoding commented on #197
Or use a free SSL as suggested by @[praveenscience](https://github.com/praveenscience)

[2022-02-14 19:01] KendallDoesCoding opened #1127 "[FEATURE] Auto-update github if username changes."
### Description

A api or something to have a look every 10 minutes if the github username exists, if it doesn't create a issue thread and a PR fixing the issue thread, updating the github avatar url and github url, according to new username, using commit history.

### Screenshots

_No response_

### Additional information

It may be confusing coz I didn't explain well lol.

[2022-02-14 19:04] KendallDoesCoding commented on #1122
I think this way it will look better, yeah.

[2022-02-16 10:25] viroopaksh-utrayak commented on #1062
yea this idea is cool but what about the searching history

[2022-02-19 20:44] Ash-KODES commented on #871
I think Left is better for a search bar so,I think you can close this issue

[2022-02-20 11:59] KendallDoesCoding opened #1139 "Incorrect names displaying"
### Description

There are a bunch of incorrect names displaying.. I searched for "Kendall" to make sure my profile was deleted properly and Aayush showed under my name for one time, reloaded the page, did it again and Aayush showed under Lokesh Digari.. If tapped it takes to the correct profile but why is Aayush's pfp showing?

### Screenshots

Aayush:
![image](https://user-images.githubuserconte

[2022-02-20 17:17] Pranav016 opened #1140 "Copy link feature not working"
### Description

Copy link feature not working and neither is the toast showing up (that I saw in the code) after the link was to be copied.

I would like to try and fix this, please assign.

### Screenshots

![image](https://user-images.githubusercontent.com/54665036/154855219-de77934a-aa31-4e16-95b3-0a3cacf7590d.png)

### Additional information

_No response_

[2022-02-20 17:31] emmalearnscode commented on #1140
This is a duplicate and also blocked by the need to upgrade to https. Thanks for noticing but I’ll close it for now.

[2022-02-20 17:31] #1140 closed

[2022-02-20 17:50] Pranav016 commented on #1140
Can you please direct me to the copy of this issue? I couldn't find the issue that is why asking..

Also I have found that this code here is returning a javascript promise that acc to me is not being handled correctly and this info might be useful for someone trying to fix the issue.
![image](https://user-images.githubusercontent.com/54665036/154856471-e473969e-9b28-41d2-ace0-8f918fe11f8b.png)

Ca

[2022-02-20 18:51] emmalearnscode commented on #1140
It is #946

[2022-02-21 08:03] krshdev commented on #218
Not stale yet (comment to remove stale)

[2022-02-21 08:03] krshdev commented on #501
Not stale yet (comment to remove stale)

[2022-02-21 11:58] Vyvy-vi commented on #1127
I think this could be an option, but Idk feels weird that we'd be tracking and updating people's data without asking them first.
Maybe when we switch to data stored in the API, this type of tracking can be added to the API...

[2022-02-21 11:59] Vyvy-vi commented on #1123
That could be a neat place to have the title in, however, we might need to check how this gets rendered in mobile mode first.

[2022-02-21 12:07] Vyvy-vi commented on #1105
I think an order with "All" at the bottom would be undesirable since it's the default setting. It makes sense to keep the default option at the top, as stated by emmalearnscode.

From the above discussion, it looks like the order proposed by @KendallDoesCoding isn't wanted right now.
Moreover, there's also a  lack of reasoning behind why that order is needed, besides it stated as "the best".
This

[2022-02-21 12:07] #1105 closed

[2022-02-21 13:41] emmalearnscode commented on #1139
What operating system/browser are you getting this error on? And what are the exact steps to make it happen? I haven't been able to replicate it yet but that doesn't mean there isn't something wrong.

[2022-02-21 14:09] KendallDoesCoding commented on #1127
Yeah, but the issue is, many people forget to update their pfp when the change their github username, and until 1-2 months later, its as it is, and their pfp isn't working.. If the pfp doesn't work even the profile sometimes gets messed up (see #1139 )

[2022-02-21 14:11] KendallDoesCoding commented on #1123
Using css (This is what I know, it may be possible with JS or Node too), you can set it to not show the text on mobile if it's rendering bad, but will show on desktop, laptop, maybe iPad coz I think it will look great if we include this.

[2022-02-21 14:14] KendallDoesCoding commented on #1105
I think it will be better, if the order is

"Personal"
"Community"
"All"

cause, it makes it easier for the user to tap just the next one, all will automatically open, but I do think it will be better with this format, but if this isn't a valid reasoning, then feel free to not inculde :), it was just a suggestion.

[2022-02-21 19:16] Nnadivictory25 commented on #1127
You can still update to your latest profile info anytime in the json file

[2022-02-21 19:33] emmalearnscode commented on #1139
We can leave it open for a while to see if anyone else reports something similar

[2022-02-22 06:15] KendallDoesCoding commented on #1139
Ok cool

[2022-02-22 15:45] abdussalam02 commented on #1122
Should I close the issue if the matter is decided..?

[2022-02-22 16:24] KendallDoesCoding commented on #1122
Keep it open even if its decided coz someone will commit/make a PR and when merged this will auto get closed.

[2022-02-23 15:42] vasantisuthar commented on #1062
yeah the idea is good

[2022-02-23 20:07] CodingSpecies commented on #1062
@PhilipBDev maybe icons like these could be used:
![0D6218F2-E3F2-4A72-A14B-B893A495AD12](https://user-images.githubusercontent.com/70807500/155399316-e8f7d296-ec65-4032-b5a8-aaece3a91fcb.png)

[2022-02-23 20:27] CodingSpecies commented on #1062
or maybe to make it more obvious that it is a random user @PhilipBDev :
<img src="https://www.kindpng.com/picc/m/80-800188_random-user-random-icon-png-transparent-png.png" height=200 />

[2022-02-23 20:50] emmalearnscode commented on #1062
To me something like Google’s I’m feeling lucky button comes to mind, maybe we should create a few mock-ups with different texts/icons (we have anything from react icons and prime react buttons to play with)

[2022-02-24 14:29] darkknight20032001 commented on #218
is there anyone available???i need to contribute to this project

[2022-02-24 15:24] CodingSpecies commented on #218
@darkknight20032001 yes, we are here to help. If you wish to contribute, feel free. See the discussion, as there is favicons and inspirations there: https://github.com/EddieHubCommunity/LinkFree/discussions/206

Any help or questions feel free to ask.

[2022-02-24 18:53] KendallDoesCoding commented on #836
Good idea!

[2022-02-25 07:25] KendallDoesCoding commented on #1139
Got another instance of this error when I turned on my vpn (when i turn on the vpn my internet is very slow so I believe this issue is cause when internet is slow the pfps get messed up a bit?)

[2022-02-25 07:27] KendallDoesCoding commented on #1139
On the site, it loads and shows the other pfp for 2 mins and then shows the actual pfp.. I believe this issue is because when it loads the pfp loads, when I search for a certain profile, sometimes the pfp displays of the profile that was there before I typed the text for 1-3 secs, even tho it's not really a BAD issue. We should work on a fix for it.

[2022-02-25 07:28] KendallDoesCoding commented on #1139
Got a snapshot fast, this time the issue lasted around 5-6 secs.
Eddie incorrect pfp:
![image](https://user-images.githubusercontent.com/84712013/155673155-90e24e33-bba5-45bb-a4c7-515ba4834a98.png)

Eddie's pfp:
![image](https://user-images.githubusercontent.com/84712013/155673215-e4ae6de9-f5c8-4065-9357-84f49316e692.png)

[2022-02-25 20:38] adityaraute commented on #1139
Would there be a way to clear Cache at every reload? And is that ideal?

[2022-02-26 11:59] eddiejaoude opened #1151 "[FEATURE] Events for timeline / milestones"
### Description

- It would be great to share events in our timeline / milestones
- Filter by event types

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-27 04:14] krshdev commented on #400
Not yet stale...

[2022-02-27 04:16] krshdev commented on #1151
Hey @eddiejaoude, by this do you mean that, We have a type for each event, like achievement, publication, etc like Polywork/Stack Overflow Stories (Discontinued)

[2022-02-27 19:30] Hugher256 commented on #1091
I am pretty new to open source but I think I can handle this task. Can this be assigned to me?

[2022-02-28 13:44] schmelto commented on #1122
Closing this due to comment of emma https://github.com/EddieHubCommunity/LinkFree/issues/1122#issuecomment-1037358252

[2022-02-28 13:44] #1122 closed

[2022-02-28 13:47] schmelto commented on #1091
@Hugher256 feel free to takle this issue! I assigned you

[2022-02-28 13:49] schmelto commented on #1043
@vasantisuthar are you still working on this?

[2022-02-28 13:51] schmelto commented on #886
@piyush-1234 you still up for this?

[2022-02-28 14:44] KendallDoesCoding commented on #1099
This should be added in all the projects/repos under EddieHubCommunity, I highly recommend it.

[2022-02-28 14:57] vasantisuthar commented on #1043
The showwcase icon is not on any font illustration platform so I have created an issue in font-awesome for the icon to be added. Here is the link to the issue https://github.com/FortAwesome/Font-Awesome/issues/18631, and we can vote it so the icon can be added shortly.

[2022-02-28 15:26] nhcarrigan commented on #1099
Thanks for the reminder on this! I'll reach out to Eddie again shortly.

[2022-02-28 15:42] nhcarrigan commented on #1099
Awesome - going to open this up for first time contributors.

A PR which resolves this issue will:

- Create a `SECURITY.MD` file in the root project directory.
- Add text to that file along the lines of "Please do not create GitHub issues for security vulnerabilities. Instead, report them via `http://eddiejaoude.io/contact`.

[2022-02-28 16:00] eddiejaoude commented on #1099
Thank you @KendallDoesCoding but it is probably better to leave these to someone who is new to open source

[2022-02-28 16:36] KendallDoesCoding commented on #1099
Please let me know if I should create a issue similar to this in every repo, or is it fine in this repo, and it's just understood we gotta do this in every repo?

[2022-02-28 16:39] KendallDoesCoding commented on #1099
Ok will do!

[2022-02-28 16:51] anthonychinwe commented on #1099
Hello, please can I work on this issue?

[2022-02-28 16:52] eddiejaoude commented on #1099
Sure @anthonychinwe , but please only do it for 1 repo, so others can get green squares too 🤓

[2022-02-28 16:56] anthonychinwe commented on #1099
Okay, I'll work on only the current root repo

[2022-02-28 17:13] KendallDoesCoding commented on #1099
I'll work on the other repo.

[2022-02-28 17:16] eddiejaoude commented on #1099
@KendallDoesCoding I know you are keen, but please see my message from before - you already raised the issues on other repos, and I mentioned I was keen for others to do this so they can get some practice with open source

[2022-02-28 17:19] KendallDoesCoding commented on #1099
yeah but you told Anthony they can make a PR in one issue? I thought the
same applies for me, if not no worries :)

On Mon, 28 Feb 2022 at 22:46, Eddie Jaoude ***@***.***> wrote:

[2022-02-28 17:50] emmalearnscode commented on #1099
Kendall, you already raised at least 10 issues today, share the squares :) Maybe if no one else claims them within a week or two you can go round and add the issues where needed.

[2022-02-28 17:58] KendallDoesCoding commented on #1099
Fair enough... Will do :)

On Mon, 28 Feb 2022 at 23:20, Emma Dawson ***@***.***> wrote:

[2022-02-28 22:12] #1099 closed

[2022-03-01 02:32] #122 closed

[2022-03-01 04:20] vish-han commented on #948
Hey @emmalearnscode!! If this is issue is still open , can u please assign me.....😊

[2022-03-01 06:40] vish-han commented on #948
Thanks for assigning 😁

[2022-03-01 06:42] emmalearnscode commented on #948
No problem, have fun and let us know if you need help with anything

[2022-03-01 07:52] CodingSpecies commented on #501
Please can this issue be reopened?
thank you.

[2022-03-01 08:23] KendallDoesCoding commented on #1099
Thanks Tom

[2022-03-01 17:50] KendallDoesCoding commented on #218
Why is the label as "[🚧 status: blocked](https://github.com/EddieHubCommunity/LinkFree/labels/%F0%9F%9A%A7%20status%3A%20blocked)". Is this issue not being worked on as of now?

[2022-03-01 18:33] CodingSpecies commented on #218
@KendallDoesCoding this issue is blocked as we have a discussion #206
Where we are making logos for this project. Once we finalise on a logo, this issue will no longer be blocked!

[2022-03-01 18:35] KendallDoesCoding commented on #218
Ok cool!

[2022-03-02 12:23] mohammed-muddassir opened #1158 "[OTHER] update CoC email to link"
### What would you like to share?

Change contact email to link in Code Of Conduct

### Additional information

_No response_

[2022-03-02 15:28] krshdev commented on #1158
Hey @mohammed-muddassir 👋 This issue is not meant to be on my repo, please make on EddieHub repos 😅

[2022-03-03 08:16] Ash-KODES commented on #996
Can I do this @KendallDoesCoding ?

[2022-03-03 08:22] emmalearnscode commented on #996
Go ahead @Ash-KODES

[2022-03-03 17:38] #1158 closed

[2022-03-04 13:38] Kazybekkh opened #1161 "[FEATURE] <Copy the link button>"
### Description

User can tap a button that copies the link of (for example, Twitter) to the clipboard

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-05 05:50] Vallejoanderson commented on #1161
Sounds interesting. I am new here. I would like to help but I would maybe need some guidance too since I'm learning React (not sure if it's good to show some weakness in these scenarios :) ).

[2022-03-05 18:03] emmalearnscode commented on #1161
Can you explain more about what you mean? Which button? As far as I know you can already right click the ‘follow me on…’ buttons and copy the link

[2022-03-05 18:51] Kazybekkh commented on #1161
Hey! Thanks for your comment! The issue is solved. I have thought maybe we could add a button like on GitHub where you just copy the link instead of going to the website but after trying out the demo, quickly realized it’s pointless.
I was thinking that the website will immediately switch to the app without my permission, leaving me without the ability to copy the link and share it someone. I apol

[2022-03-05 18:52] #1161 closed

[2022-03-07 02:26] #400 closed

[2022-03-07 03:12] Vallejoanderson opened #1168 "[OTHER] [Removing] Stale.yml file."
### What would you like to share?

![image](https://user-images.githubusercontent.com/48649209/156961529-d44c64a6-50df-4bf5-b0df-e789e86b9231.png)

### Additional information

_No response_

[2022-03-07 12:20] santhoshbala0178 commented on #1069
@KendallDoesCoding, Can I work on this as my first issue.?

[2022-03-07 12:26] santhoshbala0178 commented on #1123
@KendallDoesCoding  @Vyvy-vi  I can work on this issue, and check the responsiveness as well.

[2022-03-08 06:24] #1085 closed

[2022-03-08 07:37] schmelto commented on #1123
@santhoshbala0178 go for it :)

[2022-03-13 21:20] frankiefab100 commented on #996
@emmalearnscode can I work resolve this? I make a PR now

[2022-03-13 22:26] Ash-KODES commented on #996
Sorry for the delay guys,I was busy with my university exams,,,I will make a PR in next one day if i fail to do that then you can definetly work on it:))

[2022-03-13 23:03] frankiefab100 commented on #996
Alright

[2022-03-15 06:57] VaibhavArora19 commented on #1032
Can I work on this issue.

[2022-03-15 07:17] schmelto commented on #1032
Sure @VaibhavArora19

[2022-03-15 18:34] Ash-KODES commented on #996
Thankyou for sorting it @KendallDoesCoding,It helped:)

[2022-03-16 07:28] #996 closed

[2022-03-16 15:54] VaibhavArora19 commented on #1032
Hey I am a beginner with react so I wanted to ask that I can do this by manipulating DOM with javascript right.. like adding or removing css classes based on value that can be changed using useState or is there any other approach I should use?

[2022-03-17 06:11] DeepanshuDaksh77 opened #1185 "[Name Recomendations] <correct the name recommendation feature of linkfree>"
### Description

in linkfree the name recommendation is not working properly , like for word B it is recommending all the names that include the word b instead of recommending those profiles that start with the word B

### Screenshots

![Screenshot 2022-03-17 at 11-39-28 LinkFree](https://user-images.githubusercontent.com/97582830/158747651-17b6635e-673b-4946-99a0-83f48d7d83a2.png)
![Screenshot 20

[2022-03-17 08:32] VaibhavArora19 commented on #1032
@schmelto

[2022-03-17 09:15] schmelto commented on #1032
I would suggest try to look for a standard approach for Prime react which we are using in this project. I found something like this not sure if it works https://stackoverflow.com/questions/68327342/how-can-one-have-a-theme-switcher-in-primereact
Maybe someone else can give some guidance.

[2022-03-17 10:14] VaibhavArora19 commented on #1032
Okay... I'll try this.

[2022-03-17 11:25] #866 closed

[2022-03-17 11:28] emmalearnscode commented on #1185
I’m not sure if this is a good idea. Say that I want to search for someone but I only remember their last name, or a part of their name, then they won’t show up in the search if it only matches the beginning.

[2022-03-17 13:05] DeepanshuDaksh77 commented on #1185
oh yeah! i never thought about that . That's a good point.

[2022-03-17 13:05] #1185 closed

[2022-03-18 04:51] kiritocode1 commented on #1127
ask them beforehand , same as facebook , just put up " we use some data "

[2022-03-22 08:39] KarlGusta opened #1192 "[FEATURE] On mobile, back button to be far left and github version to be far right"
### Description

While looking at a profile, the go back button can be positioned left and the GitHub icon can be positioned right instead of centering both.

### Screenshots

![WhatsApp Image 2022-03-22 at 11 34 07](https://user-images.githubusercontent.com/33565767/159440636-18a13a7b-b6de-4be8-b603-582cdba421cc.jpeg)

### Additional information

_No response_

[2022-03-23 04:36] Pradumnasaraf opened #1195 "[DOCS] Move the supported Icons to a seprate file."
### Description

- Move the [Available Icons](https://github.com/EddieHubCommunity/LinkFree#available-icons) section from the README to a file name `icons.md`

- Also, add a message in the README for the contributors to check the available icon file.
It can something like this, and hyperlink the icon's file.
_"Check [`Icons.md`]() for the all the supported icons"_

### Screenshots

Section to be m

[2022-03-23 09:52] Pierstoval opened #1197 "[FEATURE] Allow creating LinkFree instances for single person"
### Description

For now, if you want to host LinkFree, you have to host the whole profiles database.

If you want to host only an instance for yourself (like I did there this morning for testing purposes: https://links.piers.tech/pierstoval), you will have to remove the rest of the database.

I haven't digged into the code source yet, but would it be possible to add a switch somewhere to specify

[2022-03-24 04:47] VaibhavArora19 commented on #1032
Hey!! Can you assign this issue to someone else I tried this method but did not get the specified result. I think someone much more experience in React should work on this issue as it requires theme changing in runtime.

[2022-03-24 05:52] Vyvy-vi commented on #1197
While it would be really neat to have self-hosted instances for LinkFree, that might divulge from our project goal - "Link-sharing pages for community member discovery". Somewhere down the line, this would be linked with our community API and our discord bot, which might make setting up user-specific instances slightly complex.

However, if you're interested in setting up a personal instance, feel

[2022-03-24 05:53] Vyvy-vi commented on #1197
One thing we could look into is -
Making a fork of LinkFree or a branch on Linkfree that's user-specific (for single users)

[2022-03-24 08:23] schmelto commented on #1032
@VaibhavArora19 no worries feel free to check out one of our other issues if you want :)

[2022-03-24 10:38] Pierstoval commented on #1197
I will try this out during a live-stream next wednesday then 👍

[2022-03-25 11:46] vikasganiga05 commented on #1195
Hi Pradumna, that's a great idea. When icons are moved to their separate file (ICONS.md) the README.md file will look minimal. Thanks for the idea :)

[2022-03-26 13:12] kishoreandra commented on #1195
Dear @Pradumnasaraf, as per your suggestion moved it to a separate file and added a link ...

How about the text as "Check [Icons.md](https://github.com/EddieHubCommunity/LinkFree/issues/1195) for the all the **_supported_** icons" instead "Check [Icons.md](https://github.com/EddieHubCommunity/LinkFree/issues/1195) for the all the **_available_** icons"

please suggest, btw its my first contributi

[2022-03-26 13:48] Pradumnasaraf commented on #1195
Absolutely, it was just an suggestion, go ahead with is best suitable 😄,
Welcome to Open Source

[2022-03-27 10:06] #1195 closed

[2022-03-27 12:03] #948 closed

[2022-03-30 13:45] Pierstoval commented on #1197
@Vyvy-vi Done in #1207, please check it out if you're interested in a cross-compatible way that keeps the original behavior whenever nothing is done 😉

[2022-03-31 00:52] eddiejaoude opened #1208 "user data file in root of project with invalid json"
### Description

user data file in root of project with invalid json

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-31 13:04] #1208 closed

[2022-04-03 05:22] #1197 closed

[2022-04-03 05:23] eddiejaoude opened #1215 "Tests for single user mode"
### Description

Single user mode needs to have tests - testing the application switches correctly every time between single user and multi-tenancy is important

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-03 13:37] Pradumnasaraf opened #1219 "fix: User profile type"
### Description

Bug: A user has selected their profile type as **community** instead of **personal**
Profile data  - [`abh139.json`](https://github.com/EddieHubCommunity/LinkFree/blob/main/public/data/abh139.json)

Fix: Changing the profile type to **personal**

### Screenshots

Also, it's showing, when we filter the profile

![Untitled design](https://user-images.githubusercontent.com/51878265/1

[2022-04-03 15:16] goobric opened #1221 "[DOCS] Make getting started more inclusive"
### Description

The Prerequisites; Installation Steps; and To Add Your Profile
for a person who is truly 'new2tech' (and not necessarily a 'code-newbie') this is very daunting and a completely new language.
Not inclusive for a person who is 'new2tech'

### Screenshots

![220403_eddieHubDoc](https://user-images.githubusercontent.com/23141638/161434806-1d88b3c4-ff1c-4c9d-b295-16cd9ca27fd4.png)

###

[2022-04-03 18:51] emmalearnscode commented on #1221
I wonder if a link to a YouTube video showing these steps would be a good idea.

[2022-04-03 18:53] #1219 closed

[2022-04-03 20:54] goobric commented on #1221
most definitely 👍
sign posting to resources that explain these concepts in a simple way (so that a 10yr old could understand) would be very beneficial.

[2022-04-04 12:08] KarlGusta opened #1225 "[DOCS] Add a Wiki for documentations"
### Description

Add a Github Wiki tab where we can have links to the documentation, contributing links, and the youtube page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-06 12:36] KarlGusta commented on #1221
I would also suggest we have a Wiki that can have links to the various get started tutorials. Also a documentation part on the website where we can edit from GitHub?

I would like to work on this if the maintainers would allow.

[2022-04-06 16:43] goobric commented on #1221
I have created a basic file with links to resources to assist with downloading LinkFree
please amend if anything is incorrect
https://github.com/goobric/linkfreeInformation

[2022-04-06 19:33] emmalearnscode commented on #1221
This looks like a great start. I wonder if we should have it as a general document within the organisation that can be linked to  from all repos (I don't see anything super specific to LinkFree although I only looked at it briefly so I might've missed something?) and I wonder if some of Eddie's github videos should also be included as reference material.

[2022-04-06 22:25] schmelto commented on #1221
Agree with Emma

[2022-04-07 05:30] emmalearnscode commented on #1225
We tend not to use the wiki section in eddiehub repos. If this is specific to linkfree then it should have its own md file, if it’s more generic then maybe it should be part of the support repo and something we can link to from all other repos.

[2022-04-07 14:54] Susmita-Dey commented on #1151
The idea is great. Before creating it, I think we should create a mockup of the idea and discuss about it.

[2022-04-07 16:03] emmalearnscode commented on #1221
That’s a great point @goobric I just read through and it would definitely make sense to move that warning

[2022-04-08 07:52] KarlGusta commented on #1151
It is a great idea. Would love to see a mockup I can wrap my head around.

[2022-04-08 09:35] Susmita-Dey commented on #1151
Do you have made a mockup already?

[2022-04-08 12:36] KarlGusta commented on #1151
I would love to make a mockup. Can the idea be more elaborate or maybe links to apps that have implemented it? Thanks.

[2022-04-08 15:24] EmmaDawsonDev opened #1227 "Points explanation"
### Description

Add an explanation of what the points system means to the contributing.md

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-08 15:26] emmalearnscode opened #1228 "[DOCS] add skill set needed for contributing"
### Description

In the contributing.md or readme add the skill set needed in order to contribute to the repo

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-09 06:18] Dhruv-Gajjar commented on #1032
Hey @schmelto i would like to know if this issue is still open.?

[2022-04-09 06:43] schmelto commented on #1032
Sure go for it @Dhruv-Gajjar

[2022-04-09 06:53] Dhruv-Gajjar commented on #1032
@schmelto i am really new to open source can you guide me a bit about in which file do i have to add this feature? It would be of great help.

[2022-04-11 05:10] schmelto commented on #1032
@Dhruv-Gajjar maybe this helps also nur completely sure where and how to implement this

[2022-04-11 20:10] goobric commented on #1221
please excuse my naivety, who has the responsibility to amend/update the instructions for the LinkFree project?
Can I submit a PR with proposed alterations?

[2022-04-11 20:45] emmalearnscode commented on #1221
Yes, you can make a PR. No one person/group is responsible for the instructions, everyone can contribute to improve them.

[2022-04-13 07:20] schmelto opened #1232 "[OTHER] User `devgossips` not found"
### What would you like to share?

[LinkFree](https://github.com/EddieHubCommunity/LinkFree)/[public](https://github.com/EddieHubCommunity/LinkFree/tree/main/public)/[data](https://github.com/EddieHubCommunity/LinkFree/tree/main/public/data)/devgossips.json
### User not found
![image](https://user-images.githubusercontent.com/30869493/163121419-662634fb-c26b-4172-bd82-b636eb630074.png)

### Soluti

[2022-04-15 14:26] gefgu commented on #955
Hi! Can I work on this issue?

[2022-04-16 03:56] KarlGusta commented on #1151
Hello @Susmita-Dey. Like this one?

![Events for LinkFree](https://user-images.githubusercontent.com/33565767/163660496-d5a8aa19-2684-4e25-942d-851cc8d03dc3.jpg)

Here is a link to it: https://www.figma.com/file/YhOrcJqIkUEgqkMquhCFgi/Untitled?node-id=0%3A1

[2022-04-16 04:21] Susmita-Dey commented on #1151
@KarlGusta LGTM.
@eddiejaoude @emmalearnscode Kindly check it.

[2022-04-17 09:56] shivam-sharma7 commented on #1228
i want to add this feature

[2022-04-18 01:54] shivam-sharma7 opened #1240 "[FEATURE] Create a Contribution/Resources.md file where Contributors can find some helpful videos links"
### Description

## Feature
- Create a Contribution/Resources.md file where People can find some helpful videos links, how to get started with open source? such as following videos links.

### Screenshots
![Screenshot (102)](https://user-images.githubusercontent.com/91419219/163840768-9fe87087-02a6-44db-a082-deda3777cd12.png)

![Screenshot (101)](https://user-images.githubusercontent.com/91419219/

[2022-04-18 06:36] eddiejaoude commented on #507
Sure I can reopen

[2022-04-21 18:31] #1228 closed

[2022-04-23 14:50] ezinneanne opened #1244 "[DOCS] package-lock.json changes"
### Description

**There should be information concerning the package-lock.json.**
**The modification in the package-lock.json is automatic, I think users should be informed to revert the changes before creating a pull request.**
**Maybe not everyone encounters it but for those who do, I think they should be informed on time.**

### Screenshots

![My own case](https://user-images.githubusercontent

[2022-04-23 21:47] schmelto commented on #1244
https://github.com/EddieHubCommunity/LinkFree/blob/main/CONTRIBUTING.md
In the point 8 there is a warning that package lock json should not be committed but I think this can be easily not seen

[2022-04-24 18:26] emmalearnscode commented on #1244
Yes, the warning is already there but how to make it more visible?

[2022-04-24 19:08] goobric opened #1245 "[FEATURE] references/links to external resources to support download & using LinkFree"
### Description

Reference to external links to resources, to support the new user to download and install LinkFree

### Screenshots

_No response_

### Additional information

Here is a file I have created. Please adjust/amend as necessary
[linkfree.md](https://github.com/EddieHubCommunity/LinkFree/files/8550341/linkfree.md)
.

[2022-04-25 13:38] goobric opened #1247 "[DOCS] Change organization of README.md"
### Description

Changed the organization of the README.md

### Screenshots

![220425_EHC_LF_readme01](https://user-images.githubusercontent.com/23141638/165100282-db1b1950-295e-4ad6-afaf-0ef1b73befb3.PNG)
![220425_EHC_LF_readme02](https://user-images.githubusercontent.com/23141638/165100289-7eb3f739-34fe-44f0-9070-f1e26f5818a2.PNG)
![220425_EHC_LF_readme03](https://user-images.githubusercontent.c

[2022-04-25 18:40] emmalearnscode opened #1248 "[DOCS] add missing comma"
### Description

In readme.md in the example profile which users can copy, there is a missing comma in the milestone section between description and url

[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-25 19:42] PeroHub commented on #1248
@emmalearnscode I will like to work on this, please

[2022-04-25 20:01] emmalearnscode commented on #1248
Sure, go ahead @PeroHub

[2022-04-26 10:33] donmarvex commented on #1244
Should it be explicitly stated that users should **_untrack_** the **package-lock.json** file before pushing changes to the repo?
This should prevent maintainers from having to remind users about this, avoid repetition essentially.

Would that serve the purpose? Since point 8 in the docs already pretty much informs everyone about this. I also believe it's the duty of every contributor to **_uncond

[2022-04-26 11:09] donmarvex commented on #1244
Perhaps after running npm install, contributors should be required to immediately untrack changes made to the package.json and package-lock.json files?

This could be done with one line of code:

[code]

The implication of this would be to include it in the Installation Steps after step 4.
4. _Install dependencies with npm install_
5.  In the CLI, run
[code]
This should make it more visible should

[2022-04-26 12:02] donmarvex commented on #1244
Untracking the file will always prevent any changes or modifications to be staged. Although, contributors will still have to avoid using "git add" or "git add ."

I think indicating contributors should untrack the file immediately after running _npm install_ in step 4 of **_Installation Steps_** in **_README.md_** should solve this and in addition include this notice/caution ⚠️ among the bullet po

[2022-04-26 22:09] ezinneanne commented on #1244
Yes I agree

[2022-04-27 19:44] #1248 closed

[2022-04-28 04:06] Shivam-Katare commented on #1032
Hey! @schmelto I want to try this issue.So, can I work on this issue?

[2022-05-02 15:23] nhcarrigan opened #1264 "[FEATURE] Revamp Home Page"
### Description

Currently, the home page loads a bunch of avatars from GitHub. If you refresh this, you'll hit rate limits on the avatars.

This rate limit impacts your GitHub use as well - I was locked out of GitHub for about 20 minutes today.

We want to fix this in two steps:

- [x] First, we want to update the home page to no longer display avatars. This should be a relatively quick fix.
- [

[2022-05-02 17:28] emmalearnscode commented on #1247
Thanks Mikel for your suggestions. Did you want to make a pr for this too?

[2022-05-02 22:41] eddiejaoude commented on #1264
Great idea 👍 I like the idea of having udseful info there!

We could always have it display 10 random ones as examples later, maybe the mods?

[2022-05-05 04:13] SohamRatnaparkhi opened #1272 "[OTHER]"
### What would you like to share?

My pull request (#1271) has been merged but the LinkFree link hasn't been generated yet as to when I go to the link provided in README and join my username to it - it says 'Profile not found'. Am I supposed to do something more or will the LinkFree link be generated in the future? Actually, I am new in this domain and have no idea how it works.
Thank you!

### Ad

[2022-05-05 09:36] ihtishamKhan opened #1273 "Add icons to icons.md"
### Description

Add programming language icons to icons.md, I have used a couple of icons in my PR, someone suggested adding an issue so it can be added to the documentation

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-05 17:42] emmalearnscode commented on #1272
Hi Soham, thanks for contributing. The website doesn’t get automatically deployed when a profile is added so it can take some time for profiles to appear as the maintainers either have to trigger it manually.

[2022-05-05 17:42] #1272 closed

[2022-05-05 17:42] emmalearnscode commented on #1273
Can you be specific about which icons you would like added?

[2022-05-05 19:43] SohamRatnaparkhi commented on #1272
Okay, thank you!

[2022-05-06 06:56] alokVerma749 commented on #871
left is fine

[2022-05-06 07:52] ihtishamKhan commented on #1273
I needed node js and laravel
I already added that in my PR but reverted back, I am waiting so one of my PR accepted

[2022-05-06 18:01] emmalearnscode commented on #1273
Anyone taking this issue should:
1) import the icons in the components/icons/getIcons file
2) add colour codes for the icons in config/links.json
3) add icons to icon.md

(All the icons should be placed alphabetically)

[2022-05-06 18:06] emmalearnscode commented on #1264
If someone wants to do the first issue only should they just remove all the avatars from the chips?

[2022-05-06 19:15] dev-vinny commented on #1273
can I add font awesome's node.js and laravel icons in icons.md?

[2022-05-06 19:18] emmalearnscode commented on #1273
@dev-vinny yes, of course. But please add them to all three files as I mentioned in my previous comment. The font awesome icons can be imported directly from react icons.

[2022-05-06 21:06] dev-vinny commented on #1273
Hey!
I just added icons and wrote code in mentioned files. Kindly point out my mistakes and corrections I should.

[2022-05-07 10:11] #1192 closed

[2022-05-07 10:21] emmalearnscode opened #1277 "Update avatar to https"
### Description

The user profile in public/data/vickygupta.json has a http link for their avatar which throws a mixed content warning in the terminal.

Please update the avatar to use https

### Screenshots

<img width="270" alt="Screenshot 2022-05-07 122004" src="https://user-images.githubusercontent.com/57045550/167250182-1a1bcc64-bb93-45de-b431-054a404725f5.png">

### Additional information

_

[2022-05-07 10:21] emmalearnscode commented on #1277
@viki4545 I believe this is your profile, if you would like to update it yourself.

[2022-05-08 08:31] badmus306 opened #1281 "Request"
### What would you like to share?

added a new data info

### Additional information

_No response_

[2022-05-08 09:27] emmalearnscode commented on #1281
Can you explain in more detail what you mean by data info?

[2022-05-09 16:30] #1277 closed

[2022-05-10 06:22] steveanthony999 opened #1285 "[FEATURE] Persist Profile Type selection when navigating back from user's page"
### Description

Persist Profile Type selection when navigating back from user's page

https://user-images.githubusercontent.com/55010070/167561491-9e8b49bf-bf72-45d5-bdf3-69cf73595601.mov

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-10 11:35] Santosh1176 commented on #1273
Hi, I am trying to add icons to respective files. I have couple of doubts:
Are these icons from font awesome library?
The url in icons.md doesn't appear to be a FA url. could you please help me on this.

[2022-05-10 11:42] #1273 closed

[2022-05-10 11:46] #1281 closed

[2022-05-10 16:27] #1232 closed

[2022-05-12 02:07] Pradumnasaraf opened #1290 "[DOCS] uneven Icon size in `icons.md`"
### Description

- Uneven size of the supported icon in linkfree

### Screenshots

![Screenshot from 2022-05-12 07-34-08](https://user-images.githubusercontent.com/51878265/167977709-c29f34df-31c8-4133-b286-bff62a467d37.png)

### Additional information

_No response_

[2022-05-13 04:30] #1240 closed

[2022-05-13 04:31] shivam-sharma7 commented on #1240
This issue close now

[2022-05-14 04:05] frazie commented on #339
Is the landing page still needed for the project?
I'd be glad helping out if it hasn't been assigned yet? 😃

[2022-05-15 15:37] nhcarrigan commented on #1264
Yes, if someone wants to help but isn't ready to write the copy for the new home page, removing the avatars would be the key change.

IMHO, this isn't necessary - given that the goal is to rewrite the homepage. Removing the avatar icons is really just a bandaid to resolve the rate limit issues until we have the time to do the full revamp.

[2022-05-16 08:34] schmelto opened #1297 "[DOCS] Update links in readme"
**this issue is first timer friendly**

### Description

Links in the readme are outdated due Domain changed.

New domain https://linkfree.eddiehub.io/

### Screenshots

![175044A1-6F48-4E41-86B6-E59DBFBDD39E](https://user-images.githubusercontent.com/30869493/168552256-4a412055-05c3-4aae-8cc6-c37fb57a5113.jpeg)

### Additional information

_No response_

[2022-05-16 11:08] ioanat94 commented on #1297
I should be able to tackle this. Can this be assigned to me? :)

[2022-05-16 11:49] schmelto commented on #1297
sure @ioanat94

[2022-05-16 17:05] #1290 closed

[2022-05-16 17:39] #1297 closed

[2022-05-17 07:54] eddiejaoude opened #1301 "[FEATURE] Profile keywords / tags list"
### Description

It might be a good idea for people to list some keywords/tags, these could be used for skills, interests etc

Profile json data would need this...

[code]

### Screenshots

Display under bio text

<img width="1535" alt="Screenshot 2022-11-11 at 11 50 58" src="https://user-images.githubusercontent.com/624760/201334911-5d56858a-f554-41d0-9b26-16014df2dc9f.png">

### Additional infor

[2022-05-17 08:00] eddiejaoude opened #1302 "[FEATURE] stats on link clicks"
### Description

Add a database to collect stats on user's link clicks

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-17 08:10] eddiejaoude commented on #482
I like this idea, we will need people to authenticate to see their stats (private), and we will need to move it to a database

[2022-05-17 08:10] eddiejaoude commented on #1302
Duplicate of https://github.com/EddieHubCommunity/LinkFree/issues/482

[2022-05-17 08:10] #1302 closed

[2022-05-17 08:11] eddiejaoude commented on #935
This is a great idea!

[2022-05-17 08:12] eddiejaoude commented on #965
I use Docker Composer when I have multiple containers, I have not used it for when there is just 1 file.

Adding the file won't hurt though and will help when we adda DB etc

[2022-05-17 08:23] Zishan-7 commented on #482
@eddiejaoude Yes, we will have to make a fresh new backend
I would suggest we can use ExpressJs for that and MongoDB for the database

[2022-05-17 09:27] Kemmie001 opened #1303 "[FEATURE] Add a skeleton loader to the avatar"
### Description

While the avatar is still been fetched a skeleton loader CSS can be displayed in place of the avatar text just like when the other details are still been fetched.

### Screenshots

![loading avatar](https://user-images.githubusercontent.com/60070132/168778377-ecbde06c-7f79-4e8c-96c0-91697f3d17df.png)

### Additional information

_No response_

[2022-05-17 11:05] emmalearnscode commented on #1303
Thanks for the suggestion. However, we’ve actually decided to remove the image as it’s maxing out the GitHub api rate limit too quickly (there is an open issue for it) and will eventually be replacing the chips entirely on the front page with something else

[2022-05-19 10:49] eddiejaoude commented on #972
Great discussion everyone! Remember we use PrimeReact, there are many pre-built components available, for example https://www.primefaces.org/primereact/toolbar/

[2022-05-19 11:15] eddiejaoude commented on #1031
Thanks for letting us know 👍

[2022-05-19 17:02] Sulagna-Dutta-Roy opened #1305 "Add my profile to linkfree"
### What would you like to share?

I want to contribute my profile to this linkfree

### Additional information

_No response_

[2022-05-20 02:04] ekand commented on #1264
I'm going to give this a try.

[2022-05-20 16:43] emmalearnscode commented on #1305
Sure, go ahead

[2022-05-20 18:13] mylonjones commented on #1244
Why not add package-lock.json in the .gitignore file?

[2022-05-21 19:33] #1303 closed

[2022-05-22 12:03] eddiejaoude commented on #961
Great idea and discussion! As the homepage is so big now, we are looking to remove this from the homepage, please see https://github.com/EddieHubCommunity/LinkFree/issues/1264

So I will close for now, please add suggestions to #1264

[2022-05-22 12:03] #961 closed

[2022-05-22 12:05] eddiejaoude commented on #834
This looks great! However the home page is too large now and slow, plus hits GitHub's rate limit

We are looking to redo the home page, I will close this, but please leave ideas here https://github.com/EddieHubCommunity/LinkFree/issues/1264

[2022-05-22 12:05] #834 closed

[2022-05-23 07:13] Jai-Solania-29 commented on #1245
I would love to work on this issue. Can you please guide me on how to get started ?

[2022-05-23 17:32] goobric commented on #1247
hi Emma,
Is this regarded as an 'issue' that needs to have a pr?
If so, how do I submit a pr for this issue? Do I re-write the linkfree readme file and then submit it?

[2022-05-23 20:43] emmalearnscode commented on #1247
Hi Mikal, yes you got it, to update the documentation you fork and clone the repository, make a new branch, make changes to the readme.md file in your branch, then commit and push your changes and finally make a pull request. If you want to have a go and get stuck at any stage just let us know

[2022-05-24 10:02] eddiejaoude commented on #480
I think this is due to the rate limit on GitHub's API

We are planning to refactor the home page as the list is so long now

Here is the issue
https://github.com/EddieHubCommunity/LinkFree/issues/1264

[2022-05-24 10:03] eddiejaoude commented on #522
Great discussion everyone 🔥

I think if we can continue to make little improvements, not everything has to be done perfect in one go - any little improvements will definitely help

[2022-05-24 10:30] hasnainmakada-99 opened #1320 "Add showwcase icon in icons.md"
### What would you like to share?

Please add Showwcase icon, Showwcase is a network built for developers so it will be great if anyone adds the showwcase icon in icons.md we can add the showwcase icon in our linkfree also

If you want to checkout showwcase here is the [link](https://showwcase.com)

### Additional information

_No response_

[2022-05-24 12:45] eddiejaoude commented on #946
https has now been added to the LinkFree project and I just tested the copy link and it works 🎉

Thank you all for the great collaboration 🔥

[2022-05-24 12:45] #946 closed

[2022-05-24 12:51] eddiejaoude commented on #1118
Interesting idea @Pranav016 , we have not got anywhere near the limit of our usage allowance and I don't think the wait time is that long.

Thank you for raising the PR, I left a comment in there

Sorry for taking so long to respond

[2022-05-24 13:00] eddiejaoude commented on #197
Thank you for raising and the collaboration 👍

We now have SSL for our EddieHub projects on our Kubernetes cluster

[2022-05-24 15:33] vikasganiga05 commented on #1320
Hi @hasnainmakada-99 , There is already an issue was created for the addition of showcase icon #1043 . Thank You :pray:

[2022-05-24 15:34] hasnainmakada-99 commented on #1320
Ok @vikasganiga05 I'm closing this one

[2022-05-24 15:34] #1320 closed

[2022-05-25 10:23] emmalearnscode commented on #480
This should be fixed now with PR #1306

[2022-05-25 10:23] #480 closed

[2022-05-25 10:27] emmalearnscode commented on #339
@frazie Yes, we are thinking of removing the chips entirely and replacing with a description of the project. You can see an updated issue here #1264 if you're interested. Task 1 has been completed but the second task which is slightly larger is still outstanding.

[2022-05-25 10:30] #871 closed

[2022-05-25 18:59] Panquesito7 opened #1324 "[BUG] Graduation Hat icon missing a hyphen"
### Description

There are plenty of profiles using the graduation hat without a hyphen (similar to `Graduation Hat`). The correct syntax is `graduation-hat`. This bug should be fixed as fast as possible.

Search for `Graduation Hat` on this repository, and you will find the profiles using the graduation hat wrongly.
If you have any questions/comments or need any help, let us know below! 🙂

### Sc

[2022-05-25 19:35] emmalearnscode commented on #1324
Maybe we could add the alternative without the hyphen to the icons file so it doesn’t matter which is used?

[2022-05-26 09:08] emmalearnscode commented on #1264
Question: should we keep the search functionality in some form or remove that too since the profiles will no longer be shown on the main page?

[2022-05-26 09:09] eddiejaoude commented on #1264
What about a search page which only displays search results rather than all the results at first?

[2022-05-26 09:14] emmalearnscode commented on #1264
Sounds like a good idea 👍

[2022-05-26 10:39] sahajkedia opened #1326 "Link broken in the "Built with love" button of the CONTRIBUTING.md file"
### Description

In the CONTRIBUTING.md file, the link is broken, it doesn't take to eddiehub.org, and it gives a 404 error page.

### Screenshots

![Screenshot (150)](https://user-images.githubusercontent.com/64389239/170471958-9e5c7d0c-e2aa-4fac-a521-373db79968e5.png)
![Screenshot (149)](https://user-images.githubusercontent.com/64389239/170471967-3550af2b-d179-45be-b97d-3e393fb72be8.png)

### A

[2022-05-26 14:32] vikasganiga05 opened #1328 "[FEATURE] Allow hyperlinks in profile's bio section"
### Description

It will be a nice feature that allows users to add hyperlinks in their bio section. Users can add links to their previous & current works, contributions, etc.

### Screenshots

A user profile data, Which has a link in bio :point_down:
[code]

![image](https://user-images.githubusercontent.com/74750414/170501011-9434d32c-9b4d-4b14-bda2-c104b6d1e067.png)

![image](https://user-image

[2022-05-27 04:55] eddiejaoude commented on #187
Thank you for the suggestion 👍

We are removing the list of users on the home page as there are too many, so I will close this for now

[2022-05-27 04:55] #187 closed

[2022-05-27 05:04] eddiejaoude commented on #1062
We are planning on removing the list of people from the homepage, I wonder if we could pick some random users to display on the homepage?

[2022-05-27 05:07] eddiejaoude commented on #836
@MadhaviMandalia I have unassigned it for now, let us know if you wish to make the changes and we can reassign it again

[2022-05-27 05:37] eddiejaoude commented on #218
We have one of the EddieHub mascots for the favicon, so I will close this for now

[2022-05-27 05:37] #218 closed

[2022-05-27 09:34] schmelto commented on #1062
What about displaying some kind of demo of linkfree in the homepage and in this wrapper use every time a new random profile

[2022-05-28 07:52] kalijonn opened #1334 "links property is not optional. generate.js breaks when links are not defined."
### Description

Hi,

README says that links is optional. But not having 'links' property at all, breaks generate.js. Looks like this is addressed in ProfilePage where we check if 'links' exist before mapping.

This currently doesn't break because there are no profiles without the 'links' property.

Also, upon further inspection, I've noticed that the 'linkCount' property generated is unused. This

[2022-05-28 09:22] eddiejaoude commented on #1062
@schmelto do you have an example of what you mean by demo? I initially thought a video, but if we are to have a random profile each time could you elaborate a bit more

[2022-05-28 11:45] schmelto commented on #1062
Will provide some feedback after my vacation

[2022-05-28 13:28] eddiejaoude commented on #1062
Thanks Tom! Enjoy your adventures!

[2022-05-29 15:14] emmalearnscode commented on #1328
Isn’t this the purpose of all the links and milestones under the bio though?

[2022-05-30 05:17] Eshan-Sharma opened #1338 "[OTHER] Add Eshan-sharma"
### What would you like to share?

I want to add my profile to the linkfree project. Please review.

### Additional information

I have added my socials and blogs on medium and hashnode links. My first contribution to projects other than hello worlds 😊

[2022-05-30 08:47] schmelto commented on #1062
I assumed a landing page / homepage like this with some explanation text what linkfree is ( how to add a profile etc) and a sample "screenshot" of the random profile as live demo of how linkfree for you will look like when you create a profile there.

![image](https://user-images.githubusercontent.com/30869493/170954334-111d4e2c-22af-43aa-93d5-8369bf25a082.png)

[2022-05-30 09:27] KarlGusta commented on #1264
@nhcarrigan
Our ultimate goal:
1. Show a description of what LinkFree is. This can be a text?
2. How to add a profile. This can be thumbnails of videos on how to add a profile?
3. How to share with a friend. This can be a video too?

[2022-05-30 18:14] eddiejaoude commented on #1062
Thanks Tom! Great idea 👍

[2022-05-30 18:20] eddiejaoude commented on #1062
Something like this for the demo ....
![device_mock-up_1](https://user-images.githubusercontent.com/624760/171043860-8a3705bd-0568-43a2-b430-9b723cc24b7f.png)

[2022-05-31 00:50] vikasganiga05 commented on #1328
Yes, your right. But in some cases, the user decides to include links in his bio. Then it will render as a text.

[2022-05-31 08:25] KarlGusta opened #1343 "[FEATURE] Consistency in profile names"
### Description

- Names appearing on the profile need to be consistent. For instance, John Doe not JOHN DOE or J.D or j123.
- Also, it should be two names instead of one e.g. Eddie Jaoude instead of Jaoude.

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-31 08:58] #1338 closed

[2022-05-31 09:11] emmalearnscode commented on #1343
I think this is down to personal preference. Not everyone is comfortable sharing all of their names for example.

[2022-05-31 16:33] #1343 closed

[2022-06-01 13:36] #1264 closed

[2022-06-01 17:07] ezinneanne commented on #1244
This is a good idea, can it be done

[2022-06-01 19:07] CodingSpecies opened #1352 "[DOCS] Where is the table of icons in the README?"
### Description

I have not been on LinkFree repo for a while, but now when I try to see where the table of icons you could add (the github icon, the twitter and codewars etc.) I can not seem to find it. Has it moved somewhere else? I would like to know where it is so I could update my profile. Thank you.

[2022-06-01 19:21] CodingSpecies opened #1353 "add labelling to guide where profiles are"
### What would you like to share?

I don't know if it is in process, but on the website when I tried to find where the list of profiles are, and it wasn't clearly labelled to be where the magnifying glass is. Maybe there should be a text label saying `Search Profiles`: Maybe it should go where the red highlight is on the screenshot below:
![image](https://user-images.githubusercontent.com/70807500

[2022-06-01 19:24] CodingSpecies opened #1354 "What is single user mode?"
### What would you like to share?

Please can someone explain to me what the single user mode will do because I don't know whether I should add my username, but first I would like to know what it will do. Thank you.

![image](https://user-images.githubusercontent.com/70807500/171485504-d04a2eff-08d9-45ad-bb5c-a54be64e1664.png)

### Additional information

_No response_

[2022-06-01 22:31] schmelto commented on #1354
If you want to host linkfree by yourself and only display your portfolio I'm single user mode is the way to go

[2022-06-02 07:20] donmarvex commented on #1244
Also it's important for every contributor to have the exact dependency trees replicated from `package-lock.json` anytime `npm install` is run.

Adding it to `.gitignore` would not automatically stop the file from being tracked, so the reason why any changes to the lock file should not be committed.

[2022-06-02 09:59] emmalearnscode commented on #1352
There is a link to available icons in the readme file, but for quick access you can find the table in the icons.md file.

[2022-06-02 09:59] #1352 closed

[2022-06-02 11:09] CodingSpecies commented on #1352
Thank you @emmalearnscode .

[2022-06-02 11:12] CodingSpecies commented on #1354
Thank you for clarifying @schmelto .

[2022-06-02 11:12] #1354 closed

[2022-06-02 11:48] emmalearnscode commented on #1244
It’s not recommended to add package-lock to gitignore. However, I’ve just been reading that using ‘npm ci’ instead of ‘npm I’ can prevent the problem. But that would also require that people read the instructions carefully, which seems to be the main problem here.

[2022-06-02 11:51] schmelto commented on #1354
If the documentation is not clear maybe we have to adjust it.

[2022-06-02 12:32] CodingSpecies commented on #1354
Maybe we should put what you explained to me into the documentation, and it would be clearer:

[2022-06-07 19:46] CodingSpecies commented on #1353
@skirianov yeah, the point of LinkFree is not only to have your own profile, but to explore and find out about others profiles too. But when I checked the website, a home page had been added, and had replaced the list of profiles. After looking around, the search icon took me to the profiles.

However, I do not think that the search icon displays/means : "see the profiles here".

[2022-06-07 19:49] skirianov commented on #1353
Two things I can think of here:

- we can implement something similar https://codepen.io/MarcoGuglielmelli/pen/bGxJee and in the expanded field to add the button "See all users" (idea is, that I don't see a point to see the list of **all** users especially if it will grow to thousands)
- replace the search Icon with other more self-descriptive icon and keep same functionality

[2022-06-07 20:07] CodingSpecies commented on #1353
Maybe we should have a more self explanatory icon to display the profiles.

[2022-06-10 10:06] dunyanong opened #1371 "Theme Option"
### Description

It would be a great idea to have a dark theme option for the website because some people may prefer dark themed websites

A toggle button can be built for the user to select the option of white theme or dark theme

### Screenshots

![toggle button](https://user-images.githubusercontent.com/97597966/173042640-4019dce1-c1d7-411b-b113-a10f4f41562e.jpeg)

### Additional information

_

[2022-06-10 19:29] emmalearnscode commented on #339
Eddie built the first iteration of the landing page on a live stream a couple of weeks ago so I'll close this issue now. Feel free to take a look at the current page and raise new issues if there are things you'd like to see added.

[2022-06-10 19:29] #339 closed

[2022-06-10 19:32] emmalearnscode commented on #1371
Thanks for the suggestion. This is a duplicate of issue #1032 so I'll close this one for now. Feel free to add any additional comments or ideas you have in that thread.

[2022-06-10 19:32] #1371 closed

[2022-06-11 10:07] RaheemAmer opened #1375 "[FEATURE] Add Dark Mode"
### Description

It's a simple one but I think it's gonna make the website looks more awesome

[2022-06-11 10:43] Kanika637 opened #1378 "The links in the profile section of the user do not redirect to next page."
### Description

The social links in the profile section of the user in LinkFree do not redirect to a new page, they open in the same page.

### Screenshots

![2e](https://user-images.githubusercontent.com/84350895/173184471-bd821fe3-90fe-4a4c-9ed7-1637d6ecfbf0.png)
![1e](https://user-images.githubusercontent.com/84350895/173184474-7219037e-4984-43fc-a296-09a3a4e575ce.png)

### Additional informat

[2022-06-11 16:34] emmalearnscode commented on #1375
Thanks for raising this issue. It's a duplicate of #1032 so feel free to add any further comments there.

[2022-06-11 16:34] #1375 closed

[2022-06-13 08:58] KarlGusta commented on #1378
Opening on a new tab is a good idea. If the maintainers are okay, I can work on it with their blessings.

[2022-06-13 11:47] nitishsaini706 opened #1384 "The search bar"
### Description

When hover over search bar user should be able to search or when click on search bar user should be redirected to search page,
It gives better user experience as compared to user clicking search button to search users

### Screenshots

![navbar](https://user-images.githubusercontent.com/39373956/173347031-457761a6-7dda-4db3-9eb7-5c57b3c29e92.png)

### Additional information

_No r

[2022-06-13 16:06] PritamSarbajna commented on #1384
hello, I'm new to open source contribution. Can I try to fix this issue ?

[2022-06-13 17:59] PritamSarbajna opened #1386 "[DOCS] CONTRIBUTING.md needs improvement"
### Description

It will be great if it includes more info about what `git add public` is and how we can include different files which we just changed for newbies like me

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-15 20:58] emmalearnscode commented on #1384
Hi @nitishsaini706 Can you explain in more detail what you would like to happen? What would the user see when they hover the search bar? How would this work on mobile where there is no hover available?

We might want to add other things into the menu bar at a later date - how would that work if the entire menu bar redirects to the search page on click? Is there some other way that the search funct

[2022-06-15 21:02] emmalearnscode commented on #1378
It's actually best practise and better for accessibility not to open links in new tabs/windows unless it causes the user to lose something they're already doing eg filling in a form. This is because not everyone can see that a new tab/window has opened and screen readers don't automatically announce that a new tab/window has been opened which can lead to  confusion about which tab is open and the

[2022-06-16 20:13] #1326 closed

[2022-06-17 06:44] KarlGusta commented on #1378
As an advocate of a11y, this is great advice Emma. I didn't know it before.

[2022-06-17 10:50] PeroHub commented on #1384
@emmalearnscode
I think the search bar on the homepage should stand alone and not be inside the menu bar. So now, when users search for something, it will redirect them to the search page by filtering the result for them.

[2022-06-18 14:39] RohitKS7 opened #1394 "add hover effect on scrollToTop-btn"
### Description

I think a hover effect does not look bad on the scroll-to-top button, So I added one and want to know others' opinions on this.
Also pulled a request for a merge.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-19 18:13] emmalearnscode commented on #1091
We have decided to take the project in a different direction and therefore no longer plan to implement this feature at this time. Thanks for taking the time to raise the issue and we look forward to collaborating in the future.

[2022-06-19 18:13] #1091 closed

[2022-06-19 18:13] #1305 closed

[2022-06-19 22:30] Adit0507 opened #1397 "[OTHER] Add Aditya Kumar Singh"
### What would you like to share?

I would like to add my profile here on LinkFree 😊.

### Additional information

_No response_

[2022-06-19 22:54] Panquesito7 commented on #1397
Hey there! Welcome to the community. 🎉
For sure! You can submit your profile to the repository; there's no need to ask. :)

Check the [`README.md`](https://github.com/EddieHubCommunity/LinkFree#readme) file to see the instructions on how
to add your profile. If you need any help, let us know! Thanks. 😄

[2022-06-19 22:59] Adit0507 commented on #1397
Thank you !!!!

[2022-06-20 03:37] bishal7679 commented on #1397
@Adit0507 You are welcome.

[2022-06-21 06:22] 03amir commented on #1353
@CodingSpecies  can I work on this issue?

[2022-06-21 06:24] CodingSpecies commented on #1353
@03amir yes feel free to work on this! Thank you.

[2022-06-21 09:09] schmelto commented on #1139
I think we can close this now as no one else reported similar issues and due to the refactor of the page pictures are also not displayed anymore on the search page

[2022-06-21 09:09] #1139 closed

[2022-06-21 09:10] schmelto commented on #1139
feel free to reopen if the issue still occurs

[2022-06-21 12:35] sumeyye-uzgor commented on #1069
@KendallDoesCoding i would like to work on issue if it is not closed?

[2022-06-21 13:04] eddiejaoude commented on #1069
Profile visits would need a database behind it, it is currently only a frontend app. This is something we could look to do in the future once a database/api is connected

[2022-06-21 22:37] sumeyye-uzgor commented on #1151
Hello, i am new on open source, but i would like to handle this pr if it is okay :)

[2022-06-21 22:55] emmalearnscode commented on #1151
Hi @sumeyye-uzgor I think this issue needs some more discussion before it’s ready to tackle. It would be great to get some more details from Eddie about how he envisioned this looking/working

[2022-06-22 19:27] emmalearnscode commented on #507
This has now been added with the homepage redesign Eddie did a couple of weeks ago.

[2022-06-22 19:27] #507 closed

[2022-06-23 05:44] aoponcedeleon commented on #1384
@emmalearnscode  I think the main confusion with the search function is that, at first glance, it's styled similarly to a whole search bar. @nitishsaini706 wants to eliminate this confusion by styling the whole nav bar as a search bar.

What I would suggest is to just group the search icon to the right with the github version badge and adjust the border styles to make it more evident that this is

[2022-06-25 02:55] RakeshSangem opened #1407 "[OTHER] PR merged, Can't see profile"
## Yesterday PR merged successfully without any errors

![Screenshot (38)](https://user-images.githubusercontent.com/107752425/175755523-944c22eb-7230-4261-b9c8-97b4215da4c2.png)

## I can't see my profile at https://linkfree.eddiehub.io/search
 Could you take a look at the issue
![Screenshot (39)](https://user-images.githubusercontent.com/107752425/175755626-94ba1d64-b781-48b3-916a-9f092085313b.p

[2022-06-25 10:32] AnshuPathak-88825 commented on #1407
I think it will available soon it was also happen with me  too now my profile is visible

[2022-06-25 10:34] RakeshSangem commented on #1407
Does it take some time to update?

[2022-06-25 10:49] AnshuPathak-88825 commented on #1407
yes

[2022-06-25 10:55] RakeshSangem commented on #1407
My PR was merged 15 hours ago. Does it take this much time to update?

[2022-06-25 11:02] AnshuPathak-88825 commented on #1407
My PR was merged 3 days ago now i can access my profile

[2022-06-25 11:16] eddiejaoude commented on #1407
We try to collect some profiles together then deploy.

Is the documentation not clear, can we improve this?

[2022-06-25 11:30] AnshuPathak-88825 commented on #1407
![Screenshot from 2022-06-25 16-56-44](https://user-images.githubusercontent.com/78332454/175771485-d53438ca-5894-44cf-982b-ec0a9d531d50.png)
yes I had same query
@eddiejaoude can I raise issue to improve readme file ?

[2022-06-25 11:44] eddiejaoude commented on #1407
Sure 👍

We currently have this in the docs

[2022-06-25 11:54] RakeshSangem commented on #1407
Yeah! Thanks for letting me know Eddie!

I went back to the documentation and read about it.

My suggestion:

**Note: your profile might not be displayed after your PR is merged because we collect some profiles together and deploy the project.**

Make it highlight to grab attention

[2022-06-25 12:01] eddiejaoude commented on #1407
Sure, submit a PR and one of the maintainers can review it 👍

Please reference this issue in the PR

[2022-06-25 19:16] AnshuPathak-88825 commented on #1407
Done pls merge it @eddiejaoude

[2022-06-29 15:17] Dharmik48 opened #1415 "Unnecessary scroll bars on the home page"
### Description

The homepage of LinkFree has an unnecessary vertical scroll bar even though there is on content below it. And on a smaller width screen, there is an unnecessary horizontal scroll bar because of the image overflowing.

This does not have a good impact on the user experience.

### Screenshots

Vertical scrollbar:
![image](https://user-images.githubusercontent.com/64529217/176472562-

[2022-06-30 00:47] AshMudra opened #1417 "[README] adding gitpod directions to the INSTALLATION STEPS section"
### Description

At the bottom of the Installation Steps section is a line that says "Alternatively, skip all the steps by using gitpod."

I attempted to install and use Gitpod. It seemed to be working but I got confused when trying to commit my changes. So I closed the Gitpod session and started over to make my change in Github.

I'm not sure what the steps are, or how to successfully bridge the

[2022-06-30 07:28] schmelto opened #1418 "Mobile view error when text is to long"
### Description

When viewing for example eddies profile the website looks like in the screenshot below. In my opinion it is because of the long text for the yt channel.

### Screenshots

![2F4AB263-8912-46AB-8E09-7CE7D1073820](https://user-images.githubusercontent.com/30869493/176618749-5342d7f3-7d7c-4e9e-920e-332c1f507666.jpeg)

### Additional information

Device: iPhone 13 mini
Browser: Safari

[2022-06-30 08:48] jaynarayan-vaishnav opened #1419 "[FEATURE] Add uptime Badge"
### Description

Add an uptime badge from [monitoring repo](https://github.com/EddieHubCommunity/monitoring) for LinkFree. Refer to these [docs](https://upptime.js.org/docs/badges)

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-30 09:04] thevinitgupta commented on #1418
I would like to work on this issue @eddiejaoude

[2022-06-30 18:06] Arushisingh23 opened #1424 "we can add more social link sites many are still left"
### Description

slack discord and many more

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-01 15:55] ianujvarshney commented on #1424
i can fix this issue. could you assign me. i am mern stack developer i did create many website please assign me.  i have no any badge.

[2022-07-01 15:55] ianujvarshney commented on #1424
i can fix this issue. could you assign me. i am **mern stack** developer i did create many website please assign me.  i have no any badge.

[2022-07-01 17:22] emmalearnscode commented on #1424
Can you explain what you mean in more detail. Do you want the icons to be added so that they can be used in the profiles or do you mean something else?

[2022-07-01 17:24] emmalearnscode commented on #1417
I agree, the instructions could definitely be made clearer

[2022-07-02 08:57] friedger opened #1431 "[FEATURE] Json schema"
### Description

Define a json schema for the profile file. This would enable better tool support.

Suggested schema : https://schema.org/Person

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-02 09:46] #1407 closed

[2022-07-02 14:28] Shivam-Katare opened #1432 "[FEATURE] Profile Hover Effect"
### Description

It would be great if we hover on "LinkFree" profiles and we can see their profile picture too.  This feature will help us to find the profile easily that we are looking for and it will enhance the UI of the project too.

### Screenshots

![Untitled design](https://user-images.githubusercontent.com/91705825/177004519-c6b2fda8-5a08-479b-a3a6-12291ddd0958.png)

It is the sample scree

[2022-07-02 19:27] emmalearnscode commented on #1432
We removed the profile pictures because they were causing us to hit the github API rate limit too often. If we had this kind of functionality on hover then we would start making lots of unnecessary API calls again.

[2022-07-02 21:55] cperezcapote commented on #1215
I would like to work on this issue @eddiejaoude

[2022-07-03 10:48] #955 closed

[2022-07-03 12:25] Shivam-Katare commented on #1432
Okay, I had one more thing on my mind that is it would be good if we put "Linkfree Profile Details" into an interactive eye-catching card? We can also add some hovering effects too. I am talking about the user's name, profile picture, and social links.

[2022-07-03 19:31] emmalearnscode opened #1437 "Move the menu bar out of main and into a header component"
### Description

At the moment the menu bar is inside the main element on the homepage and search page but on the profile page it is sitting outside of the main element.

All 3 should ideally be moved out of the main element and into a header element that sits above the main element.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-03 19:33] EmmaDawsonDev opened #1438 "Add visually hidden info to learn more buttons"
### What would you like to share?

On the profile pages with milestones, there are several buttons/links which say learn more. This is not very helpful to screen reader users. We could add some visually hidden text so that screen reader users get more context about what they will learn more about when clicking on the button.

### Additional information

_No response_

[2022-07-03 19:35] emmalearnscode opened #1439 "Links need distiguishing"
### What would you like to share?

On the homepage there are two text links: Eddie Jaoude and instructions. However, they are not visually marked as links aside from color which means people who don't perceive color can't tell that they are links. The links should stand out from the rest of the text either with underlines or bold text or some other styling that indicates that these are clickable.

[2022-07-03 19:50] EmmaDawsonDev opened #1440 "Links flash red when clicked"
### Description

The links seem to have an active state which briefly turns them red when clicked which doesn't really fit with the rest of the design. The color should be removed.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-03 23:44] 87prashant opened #1442 "[Style]: Make `ShareProfile` component responsive"
### What would you like to share?

![Screenshot 2022-07-03 195217](https://user-images.githubusercontent.com/106697681/177044111-84032c62-1d34-4dc7-a767-59cb5a706e83.png)

### Additional information

_No response_

[2022-07-04 10:50] #1418 closed

[2022-07-05 01:30] 87prashant commented on #1439
Yes, a little bit of focus needs to find out that they are links for normal people too.

[2022-07-05 03:44] 87prashant commented on #1438
I think possible the solution could be:
- Adding extra brief text with lean more
  e.g. Learn more (visit Youtube channel/Github profile)

@emmalearnscode could you suggest other effective ways to achieve this.

[2022-07-05 08:06] jcubic commented on #1031
Looking at the issue description and GitPod it seems this is fixed.

[2022-07-05 09:17] PeroHub commented on #1440
Yes, the color flashes very fast... I'll fix this

[2022-07-05 09:55] Dharmik48 commented on #1437
I would like to work on this issue. Can you please assign it to me?

[2022-07-05 19:19] SquatCub commented on #1384
Very good suggestions. I don't know if this thread is dead but I'd like to work in this issue if possible.

[2022-07-05 19:27] SquatCub commented on #1334
Hello there, I like your suggestion. I have already notice about that issue and I'd like to work to solve it if possible.

[2022-07-06 01:30] cperezcapote opened #1453 "Linter is unable to find cypress global variable"
### Description

When I edit file `cypress/integration/common/actions.js`, I get the `eslint` error showed on the screenshot.

This issue is preventing me from actually commit my changes because of the `pre-commit` instructions.

I also noticed that the `cypress` folder is not included on the `lint` command in `package.json`, I think it would be a nice addition.

### Screenshots

<img width="1077"

[2022-07-06 04:27] eddiejaoude commented on #1453
This is great, thank you 👍

[2022-07-06 06:14] Aayushd18 opened #1455 "[FEATURE] Add revealing animations to links"
### Description

We can add some animations to links when we open a profile. It will enhance the look of the page.

### Screenshots

![Slide animation](https://media.giphy.com/media/B8K0335IwQwakORVhq/giphy.gif)

### Additional information

[Link to package](https://www.npmjs.com/package/react-awesome-reveal).

I would like to work on it.

[2022-07-07 15:40] Aayushd18 commented on #1455
One way is to have a preference variable in the user's json file because I only see the user's data is saved in that file only. We can retrieve the preference from there and set the animations on/off. If you have any suggestions, it will be great to know.

[2022-07-08 05:23] Dharmik48 commented on #1415
I have already fixed it and raised a Pull Request.

[2022-07-08 11:09] msabirz commented on #1438
There can be couple of things:
1. Add small tooltip popover for short info
2.  Small one liner beside the button element.

[2022-07-08 16:48] Yoshemith commented on #1438
Hi everyone 🙋🏻‍♂️, I'm a newcomer trying to contribute in this OSS project and I was thinking if i can work on this issue. I'm planning on adding a small tooltip popover just as @msabirz suggested with the extra info as @87prashant mentioned.

[2022-07-08 17:48] #1453 closed

[2022-07-08 17:50] eddiejaoude commented on #1215
Sure, thank you @cperezcapote 👍

[2022-07-08 17:55] emmalearnscode commented on #1438
Unfortunately a tooltip pop up will only make this more inaccessible.

[2022-07-08 17:59] msabirz commented on #1438
Another way is we can have small 'i' icon which will have toggle functionality and on click it will show small desp.

[2022-07-08 18:04] KlausMikhaelson commented on #1442
Hello @87prashant is this issue resolved ? if not than can it get assigned to me ?

[2022-07-08 18:06] 87prashant commented on #1442
Probably, I was waiting for review of PR

[2022-07-08 18:06] KlausMikhaelson commented on #1424
@emmalearnscode I guess she meant to say that we should add the socials link of discord and slack on the site so if it's still not resolved than can I work on it ? @Arushisingh23

[2022-07-08 18:09] KlausMikhaelson commented on #1442
@87prashant okay thanks for the quick response ! will lookout for other issues !

[2022-07-08 18:23] emmalearnscode commented on #1424
discord and slack are already available.

[2022-07-08 18:28] Yoshemith commented on #1438
Like @msabirz mentioned, that could be another way to do it. What I was doing was something like this, look:

<img width="599" alt="Screen Shot 2022-07-08 at 13 09 04" src="https://user-images.githubusercontent.com/87047389/178047385-1cc83a28-1052-477f-aeaf-edca9807a475.png">

Basically a small one liner describing where we're going (like on hover). But another solution would be something like thi

[2022-07-08 18:49] emmalearnscode commented on #1438
Ideally the buttons will say where the link leads as in the second image. But I’m not sure if we have something in the data that could be used already as the text.

‘Check it out here’ is no more useful than ‘learn more’. Imagine you cannot see the page and are cycling through a list of links. 5 links all titled ‘check it out here’ mean nothing without the visual context clues, just as ‘learn more

[2022-07-08 19:04] KlausMikhaelson commented on #1424
Ooo okay, sorry I forgot to check that

[2022-07-08 19:27] aditya172926 opened #1465 "Fails to Compile with react-scripts 4.0.3"
### Description

The LinkFree site is failing to compile with `npm start` when using `react-scripts=="^4.0.3"`, installed with the command `npm install` on package.json

When the version of `react-scripts` is downgraded to 4.0.1, the compilation works just fine.

### Screenshots

<img width="960" alt="compile_fail" src="https://user-images.githubusercontent.com/54861484/178056150-51e4d3b7-e615-459

[2022-07-08 20:12] Yoshemith commented on #1438
Ohh, I finally see what you mean. Reading some documentation of [Prime React](https://www.primefaces.org/primereact/button/) it seems that right now there is no accessibility support for the buttons. But I was thinking in using just a normal button and using the attribute `aria-label` for accessibility and work from there.

Regarding the text, I didn't find something in the data to use it as the d

[2022-07-08 20:17] Yoshemith commented on #1438
So far, what I've been doing is creating a normal button (no libraries) and making the UI of the button as similar as the prior button (primereact/button). Check it out:

<img width="412" alt="Screen Shot 2022-07-08 at 15 10 47" src="https://user-images.githubusercontent.com/87047389/178064087-a57e4cfb-b2ee-4bc2-9aec-080616993c91.png">

How it looks like:

<img width="368" alt="Screen Shot 2022-07

[2022-07-08 20:33] emmalearnscode commented on #1438
It’s an interesting idea but I think we will run into trouble with things like dollar, globe, book etc as that won’t make sense.

 We are considering moving away from prime react although I think it should be possible to add an aria label. we should also be using links not buttons.

This is a tricky little problem, let’s keep thinking and discussing

[2022-07-08 22:33] Yoshemith commented on #1438
You're right, it is possible to use `aria-label` attribute of the button just as it was before (my bad, didn't try that til' now). Now, I'm thinking of using a default text for things like dollar, globe, book, etc. The default text could be "Learn more on this website". It's just a thought, I'd like to know what you think.

[2022-07-09 04:07] cperezcapote commented on #1032
Hey @schmelto I would like to work on this issue.

[2022-07-09 10:21] Aayushd18 commented on #1455
@emmalearnscode your thoughts about it.

[2022-07-09 11:10] ShreyaPrasad1209 commented on #1384
@emmalearnscode is this issue still active? If yes, I'd like to work on it.

[2022-07-09 19:04] Yoshemith commented on #911
Hi @emmalearnscode, Is this issue still active? Can I work on this one?

[2022-07-10 09:55] Cahllagerfeld opened #1470 "[FEATURE] Migrate to Next.js"
### Description

By moving to next.js we could add and use several features by benefiting from the server component:

1. Use SSR to prerender our pages on the server for performance optimization
1. Maybe use [ISR](https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration) to dynamically re-render the index page to highlight a different profile every day on the index page

[2022-07-10 09:59] eddiejaoude commented on #1470
Great ideas! 👍

[2022-07-10 13:29] Cahllagerfeld commented on #1470
When displaying the amount of clicks, we can't use Static-Side-Geneartion, as this data needs to be dynamic and can't be prefetched

[2022-07-11 06:37] chhetri28 commented on #1069
For now can't we just show the number of profile added on the data file, just count the number of files on the data folder and show it on the frontend?

If that's possible can I work on it?

[2022-07-11 14:22] emmalearnscode commented on #964
Closed via #1475

[2022-07-11 14:22] #964 closed

[2022-07-11 17:59] #1439 closed

[2022-07-11 18:02] emmalearnscode opened #1478 "bug: Back arrow navigates to wrong page"
### Description

If you search for a profile from the search page, choose a profile page then click the arrow icon in the menu on the profile page to back it takes you directly to the home page and not back to the search page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-11 19:08] andrewkykoo commented on #1478
@emmalearnscode Hi! Can I work on this issue? Thanks!

[2022-07-11 19:19] emmalearnscode commented on #1478
Sure!

[2022-07-11 19:45] ShorunTech opened #1480 "Border Radius"
### Description

Adding Border Radius to the Milestone Card holder.

### Screenshots

![Screenshot (41)](https://user-images.githubusercontent.com/61280687/178345600-50dceb26-f74e-4300-9416-c1167a9c1ca5.png)

### Additional information

_No response_

[2022-07-11 21:13] andrewkykoo commented on #1480
Hi! I would like to work on this issue. Thanks!

[2022-07-12 18:08] #1386 closed

[2022-07-12 18:10] emmalearnscode commented on #1378
I'll close this and the associated pull request since it's more accessible to leave them as they currently are.

[2022-07-12 18:10] #1378 closed

[2022-07-12 19:17] #1478 closed

[2022-07-13 11:07] #836 closed

[2022-07-13 11:52] #1437 closed

[2022-07-14 09:00] Davidchaudhary opened #1492 "Add my profile to Linkfree"
### What would you like to share?

I want to contribute my profile to linkfree.

### Additional information

_No response_

[2022-07-14 17:11] vaib1343 commented on #1455
Hey, I can work on this issue.

[2022-07-14 19:43] ArkaprabhaChakraborty opened #1497 "[DOCS] Add workflow diagrams and description"
### Description

As per the discussion on EddieHub discord, we can add the documentation about Linkfree's github actions. Overall workflow documentation would help users/contributors find out how each event is triggered during the deployment and release phases.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-15 08:22] Aayushd18 commented on #1455
Hey I had some progress on this, you can enhance it further if you want. I have made a pull request, you can work on it from there.

[2022-07-15 10:30] 87prashant opened #1500 "(feat): Add the profile in the app itself"
### Description

#### (Not sure about the feasibility)
We can add the feature of adding a new profile in the application itself through some form rather than adding profile through the  `username.json`

It would be very easy to add the profile then.

[2022-07-15 19:58] ArkaprabhaChakraborty commented on #1497
Can I be assigned this?

[2022-07-15 20:46] eddiejaoude commented on #1497
sure

[2022-07-16 06:46] eddiejaoude commented on #1465
Thank you for raising the issue 👍 , I now see more people having the issue.

I have updated the major version and push to branch `update-deps` for people to test

[code]

[2022-07-16 13:55] #1465 closed

[2022-07-16 22:52] Aniket1026 commented on #1032
can I also work on this issue ? would love to contribute in this issue

[2022-07-17 15:39] Arushay commented on #1500
Yeah it can be possible but I think its better if we leave it like that at least beginners are learning "basics" like
How to contribute?
How to write a good json file?
How to make a good pull request?
How to use Git?

[2022-07-17 17:41] AakashRaj20 commented on #1328
Hey is this issue fixed or can I try this?

[2022-07-17 17:48] AakashRaj20 commented on #1328
/assign

[2022-07-18 02:19] yashwanthSRIVAT commented on #1069
We can add something like this:
 <b>6563 users have been using LinkFree on their social media accounts!</b>

Adding the word <b><i>developers</i></b> instead of <b>users</b> will render LinkFree's image as a product for especially made for developers
 <b>6563 <i>developers</i> have been using LinkFree on their social media accounts!</b>

Would love to add this

[2022-07-18 04:07] kumarsonsoff3 commented on #1500
**I'm 100% agreed with @Arushay, our main motto for this project is to help out people to get started with open-source.**
In the complete process, many beginners learn a lot including the points **Arushay** mentioned.

Apart from all these, If we do so, then we'll have to add authentication to the web app so that no one can edit others' data, because there will be no role of maintainers.
It will b

[2022-07-20 11:51] #1440 closed

[2022-07-21 07:41] EmmaDawsonDev commented on #1500
I think there are plans to add a backend eventually and then this will be feasible. But the way it works now allows people to practice the whole git flow from forking cloning to making a pull request without having to make massive changes so it’s a great learning opportunity.

[2022-07-21 10:15] #1500 closed

[2022-07-23 07:26] SohamRatnaparkhi opened #1522 "[DOCS] Markdown issue"
### Description

The starting section of [CONTRIBUTING.md file](https://github.com/EddieHubCommunity/LinkFree/blob/main/CONTRIBUTING.md) is written in a code block and as a result of which the links in it are not hyperlinks.
As a result,  I intend to make a PR to solve it.

### Screenshots

![image](https://user-images.githubusercontent.com/92905626/180595174-03aaea9d-64e0-4b8f-84d5-bbc56ead337f.p

[2022-07-24 00:50] loftwah opened #1524 "[OTHER] Optimize Images"
### What would you like to share?

ImgBot runs on my account and I spotted some optimization opportunities in LinkFree. You can check them out [here](https://github.com/loftwah/LinkFree/pull/2), I am pretty sure that ImgBot is free for open source projects. It will give you a total reduction in image size of 17%

### Additional information

_No response_

[2022-07-24 06:17] #1522 closed

[2022-07-24 06:47] #1415 closed

[2022-07-24 20:42] #1492 closed

[2022-07-29 09:49] KarlGusta opened #1537 "Format GetIcons imports in ascending order"
Sort the imports of the GetIcons for readability.

[2022-07-31 17:19] Kartik2220 commented on #1353
in which file i have to change for this issue?

[2022-07-31 19:59] #1537 closed

[2022-08-01 06:28] JealousGx commented on #1470
Hey @eddiejaoude, is this migration open source as well? Means can I, and anybody contribute to the nextjs branch?

[2022-08-01 06:53] eddiejaoude commented on #1470
hi @JealousGx , yes it is, here is the (draft) work in progress Pull Request https://github.com/EddieHubCommunity/LinkFree/pull/1471

[2022-08-01 09:49] JealousGx commented on #1470
@eddiejaoude Mind providing MongoDB URI for the db connection? The connection is null and thus the data...

[2022-08-01 10:00] eddiejaoude commented on #1470
I just pushed to this PR the updated the docs in the README and added an `.env.example` file where you can copy this file to `.env` (update the connection as required)

Thank you for the feedback 👍

[2022-08-03 18:39] RayanAbid commented on #1524
Hi. So do you mean that we need to replace the images that are currently not optimized?

[2022-08-04 01:54] loftwah commented on #1524
They are in the LinkFree repository, I have imgbot setup by default and it picked it up when I made a fork. I thought I should raise an issue to let everyone know that there is an opportunity to reduce the current image sizes if they would like to. It doesn't have to be done by a bot, [Squoosh](https://squoosh.app/) is a free web app that will do the same thing. It will increase loading times for

[2022-08-04 17:17] code-with-onye opened #1570 "The profile hover does not work properly on mobile screens."
### Description

When you hover over a profile card on a mobile device, the background turns white, rendering the text invisible.

### Screenshots

![ezgif com-gif-maker](https://user-images.githubusercontent.com/85189857/182911691-10069f67-356b-49a4-a08b-f7d157549b56.gif)

### Additional information

_No response_

[2022-08-04 17:55] RayanAbid commented on #1570
Hi, can you please share a screenshot?  I would love to work on this issue. If it can be assigned to me.

Are you talking about this? Seems to be working fine.

<img width="392" alt="Screen Shot 2022-08-04 at 10 54 52 PM" src="https://user-images.githubusercontent.com/68749736/182918216-74bfd200-ffd4-4700-b5a0-8c9b5aa97d1a.png">

[2022-08-04 18:40] RayanAbid commented on #1570
Well, I tried to solve it. But we seem to be using onMouseOver and onMouseOut that's why it's behaving like that on mobile.

[2022-08-04 21:06] code-with-onye commented on #1570
yea, i noticed that also

[2022-08-04 21:11] code-with-onye commented on #1570
There has to be a better way, in my opinion. is not in fact user friendly

[2022-08-05 13:10] kartikgajjar7 commented on #1227
hey Emma i would like to work on this issue can you assign it to me ?

[2022-08-06 06:50] EmmaDawsonDev commented on #1570
We’re in the process of migrating from prime react css to tailwind. Hopefully it’s something that will be solved by that.

[2022-08-06 07:03] RayanAbid commented on #1570
CAn I be assigned something in the migration process? I'm familiar with Reactjs and tailwind css. Just something to get me started. Looking to contribute to open source. @EmmaDawsonDev  Thanks.

[2022-08-06 07:14] code-with-onye commented on #1570
This is fantastic, and I'd love to help with the migration as well.

[2022-08-06 07:19] EmmaDawsonDev commented on #1570
Feel free to take a look at the nextjs branch. Eddie is working on it so probably best to ask them if there’s anything you can help with or if you notice something in the branch you can make a PR to that branch instead of to main

[2022-08-06 07:20] RayanAbid commented on #1570
Thanks.

[2022-08-06 07:37] code-with-onye commented on #1570
Notes, thanks

[2022-08-06 11:27] kartikgajjar7 commented on #1227
hey  Emma can you give me context about what i ve to add

[2022-08-06 15:38] vaib1343 commented on #911
Hi @EmmaDawsonDev can raise PR for this issue?

[2022-08-06 15:43] vaib1343 opened #1577 "[OTHER] Enabling unit test"
### What would you like to share?

So right now we are not testing the component which we have build. We can unit test the react component with React testing library + Jest or enzyme + Jest.

### Additional information

_No response_

[2022-08-06 17:21] EmmaDawsonDev commented on #1227
If you look at the labels that can be applied to each issue they range from points: 1, 2, 3, 5, 8, 13. This means that issues labeled with 1 or 2 take the least amount of time and knowledge up to 13 which is much more complex and expected to require much more time, knowledge and expertise in order to complete. 1 point might be expected to take less than an hour whereas 13 could take several days t

[2022-08-07 13:55] vaib1343 commented on #1480
Hi can I work on issue. If nobody is working on it.

[2022-08-07 17:17] Njong392 commented on #1328
I think what Emma means is that there is already a section for links below the bio section. Adding hypertext in the bio would maybe seem like redundancy in my opinion...

[2022-08-07 18:12] kiritocode1 commented on #1480
hey Can i Work on this Issue , ill finish it asap ,

[2022-08-07 19:02] vikasganiga05 commented on #1328
Yes, should i close this issue?

[2022-08-08 07:32] rudrakshkarpe commented on #1497
I'd like to work on this issue if it's not don yet?

[2022-08-08 07:37] ArkaprabhaChakraborty commented on #1497
Well, I have been a bit busy lately, sorry  :). You can take it tho as :)

[2022-08-08 18:17] schmelto commented on #1497
Sure @rudrakshkarpe

[2022-08-09 16:49] rohitdasu commented on #965
hi @eddiejaoude can you assign this ticket to me?

[2022-08-10 07:58] eddiejaoude commented on #965
@rohitdasu sure, just to let you know, we have started a docker composer file in the new version of LinkFree here https://github.com/EddieHubCommunity/LinkFree/blob/nextjs/docker-compose.yml

Let me know if yo still want the ticket

[2022-08-10 14:00] rohitdasu commented on #965
Hi @eddiejaoude i've checked the [docker-compose.yml file](https://github.com/EddieHubCommunity/LinkFree/blob/nextjs/docker-compose.yml). I think it's not completed, if we docker-compose up it won't run the Next.js image file and also i've seen that there is a mongodb service issues. As you know in docker database data will be deleted after we stop the container. so i can prevent it by adding volu

[2022-08-11 17:01] MadhuSaini22 commented on #1524
Does anyone is working on his issue?

[2022-08-11 17:03] MadhuSaini22 commented on #1497
@rudrakshkarpe Are you working on this issue?

[2022-08-11 17:08] MadhuSaini22 commented on #1384
Does anyone is working on this issue, if not I'm interested to work on :)

[2022-08-11 17:15] MadhuSaini22 commented on #1470
@eddiejaoude Thanks for running this mind blowing community :)

[2022-08-12 17:39] RealSollyM opened #1589 "[OTHER] Add RealSollyM Profile"
### What would you like to share?

I would like to add my profile here on LinkFree, thank you.

### Additional information

_No response_

[2022-08-13 03:30] kumarsonsoff3 commented on #1589
Hi @RealSollyM, to add your profile to LinkFree, follow the steps given in the [Readme.md](https://github.com/EddieHubCommunity/LinkFree#-prerequisites) file.
And then, create a PR, including your profile data! Let us know if you need any help with this! :)

[2022-08-13 13:10] SaptarshiSarkar12 opened #1592 "[FEATURE] Add Showwcase icon to the icons list."
### Description

**Showwcase** is a professional networking platform for coders to connect and look for new opportunities.
I request to add **showwcase** icon.

### Screenshots

_No response_

### Additional information

Showwcase link : https://www.showwcase.com/

[2022-08-13 13:17] krshkun opened #1594 "[OTHER] Bump version before v2"
### What would you like to share?

We are building v2 but haven't bumped to v1 first. We need to bump to v1

### Additional information

_No response_

[2022-08-13 13:21] SaptarshiSarkar12 commented on #1592
## I have worked on this issue and made a [PR](https://github.com/EddieHubCommunity/LinkFree/pull/1593)
Please check that out.

[2022-08-13 19:21] Amyx000 opened #1596 "[FEATURE] Share profile icon need hover effect"
### Description

Share profile icon don't give the feel of a clickable item. It needs some kind of hover effect like increasing its size.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-14 03:49] kumarsonsoff3 commented on #1592
I'm closing this issue because it is a duplicate issue of #1043.
As per my knowledge [Vasanti Suthar](https://github.com/vasantisuthar) is already working on this one! You can have a look there at #1043, conversation there might help you in someway!

[2022-08-14 03:49] #1592 closed

[2022-08-14 04:39] PritamSarbajna commented on #1596
Hey I'd like to work on it

[2022-08-14 04:53] krshkodes commented on #1596
Sure @PritamSarbajna!

[2022-08-14 04:56] Amyx000 commented on #1596
I have already made if, check te pull request
https://github.com/EddieHubCommunity/LinkFree/pull/1597

[2022-08-14 05:22] krshkodes commented on #1596
Oh sorry @Amyx000 @PritamSarbajna! There is already a PR 👍

[2022-08-14 05:31] aryans1319 opened #1601 "[DOCS] <Improve documentation>"
### Description

We could improve the starting line of documentation to be more catchy in first sight!

### Screenshots

![asd](https://user-images.githubusercontent.com/72180855/184523913-a2b6ed2c-a86d-4ca7-ba00-ddb73f12d6ba.jpg)

### Additional information

_No response_

[2022-08-14 07:05] #1589 closed

[2022-08-14 08:18] eddiejaoude commented on #1470
Thank you @MadhuSaini22 for the great feedback ❤️ To be honest, the mods, ambassadors and members run the community and they are amazing 🔥

[2022-08-14 15:49] thamerla opened #1606 "nextjs: Eddie's profile doesn't load due to a missing property"
### Description

Steps taken:
- Cloned the full repo
- Switched to nextjs branch
- Followed the quickstart of the branch
- Went to Eddie's profile at localhost:3000/eddiejaoude

### Screenshots

![image_bug](https://user-images.githubusercontent.com/18537226/184544583-3a7128f7-82f6-4a09-9047-2cd36a2f2a2e.png)

### Additional information

_No response_

[2022-08-14 18:35] eddiejaoude commented on #1606
Thanks for raising.

Q. Did you start a mongo DB?
Q. Did you copy the `.env.example` file to `.env` and add the mongo url

I did have a bug, that I fixed recently, try pulling the latest changes in `nextjs` branch

[2022-08-15 14:28] thamerla commented on #1606
Thanks for the reply
Q. Did you start a mongo DB?
-> Yes
Q. Did you copy the .env.example file to .env and add the mongo url
 -> Yes

I already had the newest changes. It turned out that the variable MONGODB_URI wasn't parsed correctly. After adjusting it worked.

How about providing a sample value in ``.env.example`` so that the  format of the mongodb variable is clear to the developer - i.e.  ``

[2022-08-15 14:42] eddiejaoude commented on #1606
Oh, sorry the `.env.example` is empty 🤦‍♂️ let me put something in there.

Btw I have this in mine...
[code]

[2022-08-15 16:19] kabir0x23 commented on #1334
This is LinkFree, where we can share our links in one place,
if there will be no links, then why would anyone like to use these apps?

will update the readme.MD

[2022-08-15 16:23] kabir0x23 opened #1611 "[DOCS] Links shouldn't be optional"
### Description

Links shouldn't be optional

This app is called LinkFree, if there will be no links in the user profile,
then what will be the use case for apps like LinkFree

### Screenshots

![image](https://user-images.githubusercontent.com/44284877/184674384-74934cfd-a1cf-4c3a-b3f4-444c61b51558.png)

### Additional information

_No response_

[2022-08-15 17:03] thamerla opened #1612 "[OTHER] Adapt the gitpod environment to work with nextjs"
### What would you like to share?

Current gitpod environment is tailored to work with the react version, but not the nextjs version - i.e. it lacks mongodb. Also, there's  no warning about that in the README,

### Additional information

Related to #1606 (issues around creating your own dev environment) and #1601 (improving the docs)

[2022-08-16 02:46] jasham commented on #1480
@ShorunTech if this issue is not fixed can you please assign it to me.

[2022-08-16 03:42] jasham opened #1614 "DB connection not initiated in api/statistics/total.js for next.js."
### Description

When user opens localhost:3000 of next.js version in index.js file have /api/statistics/totals url which is calling api/statistics/total.js and in this file db connection is not made due to which getting MongooseError: Operation `stats.findOne()` buffering timed out after 10000ms error.

### Screenshots

![image](https://user-images.githubusercontent.com/23471755/184793314-a0a6e3f

[2022-08-16 03:47] eddiejaoude commented on #1614
Good spot, thank you 👍

Would you like to fix it or I can do it?

[2022-08-16 05:37] jasham commented on #1614
Please assign it to me I will fix it.

[2022-08-16 05:38] eddiejaoude commented on #1614
Sure, assigned to you 👍

[2022-08-19 14:36] RakeshSangem opened #1629 "[DOCS] update npm clean install"
### Description

Changed `npm install` to `npm ci` for clean installation of the dependencies.

[2022-08-20 06:24] Vedant-Manjrekar commented on #1596
Is this issue closed? If not I would like to work on it.

[2022-08-20 06:58] Amyx000 commented on #1596
@Vedant-Manjrekar I have already worked on the issue, the PR is in process.

[2022-08-20 08:15] Vedant-Manjrekar commented on #1032
Hello! I tried implementing the toggle button for Dark and Light mode and it works well also passes all the test cases.
So if the maintainers allow i can make a pull request for the same.

Button is placed next to the version indicator.

**ScreenShots of the Implementation:**

<img width="1439" alt="Screenshot 2022-08-20 at 1 37 04 PM" src="https://user-images.githubusercontent.com/93585735/185735

[2022-08-20 09:43] kartikgajjar7 commented on #1629
hey  rakesh i would like to work on this issue can you explain briefly in which file i should make changes?

[2022-08-20 11:48] RakeshSangem commented on #1629
Hey @kartikgajjar7, Someone has already brought up the issue, and it was merged.

That is why my PR was closed.

[2022-08-20 13:11] SaptarshiSarkar12 opened #1639 "[OTHER] Application to be the maintainer of this project."
### What would you like to share?

I want to help the maintainers in their work by taking a part of their work to be done by me. So, I request you to give me the privilege of writing, merging and maintaining this repository.

### Additional information

_No response_

[2022-08-20 13:21] Vedant-Manjrekar commented on #501
What happened about this issue, currently there is no logo on the website. If provided with Logo I can add it to the website.

Assuming [Link Free](http://linkfree.eddiehub.io/) is the website as there is one more website named "Link Free" although [Link Free](http://linkfree.eddiehub.io/) is mentioned in the README.

[2022-08-20 13:51] CodingSpecies commented on #501
@Vedant-Manjrekar we are in the process of choosing a logo #206 , though it is not active at the moment.

[2022-08-20 15:54] Vedant-Manjrekar commented on #1596
@Amyx000 Ok, No Problem

[2022-08-20 17:22] Vedant-Manjrekar commented on #501
Can you assign me this issue, once you all choose the logo?

[2022-08-20 18:57] CodingSpecies commented on #501
@Vedant-Manjrekar I am not a maintainer and @RiddhiDamani might still wish to work on it.
Thank you.

[2022-08-21 03:02] Vedant-Manjrekar commented on #501
FIne @CodingSpecies , @RiddhiDamani if you need any help feel free to ask.

[2022-08-22 10:28] SaptarshiSarkar12 commented on #1639
@eddiejaoude Would you please make me a maintainer of this repository.

[2022-08-22 11:25] #1639 closed

[2022-08-22 13:46] SaptarshiSarkar12 commented on #1639
okay @eddiejaoude

[2022-08-22 19:04] ChinmayMhatre opened #1652 "[DOCS] Adding clearer commit instructions"
### Description

I noticed in many of the pull requests contributors often commit a changed `package-lock.json` file since it is changed after running `npm`. An instruction could be added to the readme to push just the users `json` file.

### Screenshots

![image](https://user-images.githubusercontent.com/51131670/185998657-32bbf244-2328-4566-a923-df4162e8abee.png)

### Additional information

_No

[2022-08-24 12:08] kumarsonsoff3 commented on #1652
That's true that many folks commit dependencies files!
But this is because they **Don't Read Docs**, because it's clearly mentioned in the [Contributing.md](https://github.com/EddieHubCommunity/LinkFree/blob/main/CONTRIBUTING.md#github-docs-for-syncing) to not to commit `package-lock.json`.

Also, in the [Readme.md](https://github.com/EddieHubCommunity/LinkFree/blob/main/README.md#%EF%B8%8F-instal

[2022-08-24 12:28] ChinmayMhatre commented on #1652
Umm.. I think if it is a repeating issue. Putting a note in the readme would make it easier for the reviewers as well.

[2022-08-26 06:24] ChinmayMhatre opened #1672 "[FEATURE] A better navigation icon"
### Description

I looked up the website while adding my own profile. The magnifying glass icon didn't seem very intuitive to me at first. Couldn't figure out at first glance that that's where I needed to go to look at all the profiles. My suggestion would be a button telling that's where all the profiles are.

### Screenshots

![image](https://user-images.githubusercontent.com/51131670/186836202-

[2022-08-26 18:25] Njong392 commented on #1672
I kind of agree. I initially thought that was a search bar, and only after clicking in the icon itself did I really understand what it was for. Maybe we could switch up the approach to letting people know that that's how you can view all the profiles.

[2022-08-29 04:22] kumarsonsoff3 commented on #1652
That's fine, but since it's already mentioned to run `npm ci`, there will be no changes in lock file, if they read `Readme`. So I don't think there is a need for this!!

Let's see what other maintainers think on this! CC @EmmaDawsonDev

[2022-08-29 08:30] nathgoutam93 commented on #1672
Imo, the landing page should have a call to action button instead of "see eddie jaoude's profile as an example",
saying something like "see profiles 🔎"  or  "search for profiles 🔎" then "Want to add your profile? Read the instructions" below.

[2022-08-29 10:20] schmelto commented on #1672
I like the idea of a call to action.

[2022-08-29 15:18] verma-kunal opened #1680 "[FEATURE] Integrating Kubescape with LinkFree"
### Description

Kubescape is a K8s open-source tool providing a multi-cloud K8s single pane of glass, including risk analysis, security compliance, RBAC visualizer and image vulnerabilities scanning.
More info [here](https://github.com/kubescape/kubescape)

Idea: To integrate Kubescape with the LinkFree project, to make it more secure!

### Screenshots

_No response_

### Additional information

[2022-08-29 15:45] eddiejaoude commented on #1680
[code]

[2022-08-29 16:42] Pradumnasaraf opened #1682 "[FEATURE] Add linkfree-cli support"
### Description

### Changes required

#### 1) Add `linkfree-cli` as devDependencies

Steps:

- Fork the repo
- Then run
[code]
---

#### 2) Add a script in the `package.json` file.

[code]

### Additional information

Link to CLI repo - https://github.com/Pradumnasaraf/LinkFree-CLI
Link to NPM rej - https://www.npmjs.com/package/linkfree-cli

[2022-08-29 17:07] #1680 closed

[2022-08-29 17:07] #1682 closed

[2022-08-29 17:09] AkshithBellare commented on #1672
I think because the entire navbar looks like a search bar, first-time visitors might take some time to realise only the icon is clickable. Adding the phrase "search for profiles" might make it more obvious.

[2022-08-29 17:31] thamerla opened #1684 "Fix the scope of GitHub actions"
### Description

Actions are triggered too often by changes that shouldn't cause those actions to start

1. Detect all actions that need to be adjusted
2. Fix them

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-29 17:37] #1684 closed

[2022-08-29 17:43] Pradumnasaraf opened #1686 "[FEATURE] Add linkfree-cli support"
### Description

### Changes required

#### 1) Add `linkfree-cli` as devDependencies

Steps:

- Fork the repo
- Then run
[code]
---

#### 2) Add a script in the `package.json` file.

[code]

### Additional information

Link to CLI repo - https://github.com/Pradumnasaraf/LinkFree-CLI
Link to NPM rej - https://www.npmjs.com/package/linkfree-cli

[2022-08-29 21:02] Njong392 commented on #1672
I think the search bar thing should be removed altogether, maybe go for a button or better still, a CTA like @nathgoutam93 suggested because it's not serving as a search bar even though it looks like one.

[2022-08-30 09:38] Dun-sin commented on #1686
hi, can i work on this?

Also adding it as a dev dependency should mean right? correct me if i'm wrong

[code]

[2022-08-30 11:47] maharshi-sinha commented on #1686
+1

[2022-08-31 09:31] #1596 closed

[2022-08-31 11:36] prajapati55 commented on #1614
Hi @eddiejaoude,
If @jasham not working on this issue. Can I pick this issue?

[2022-08-31 11:54] jasham commented on #1614
Hello @prajapati55 this issue is fixed please have a look https://github.com/EddieHubCommunity/LinkFree/pull/1615

[2022-08-31 11:56] schmelto commented on #1614
Resolved in #1615

[2022-08-31 11:56] #1614 closed

[2022-08-31 11:57] prajapati55 commented on #1614
@jasham Thanks for informing.

[2022-08-31 14:08] Panquesito7 opened #1698 "[BUG] Update the Discord icon in the readme"
### Description

The Discord icon in the `icons.md` file is currently outdated. It should be fixed immediately.
You can get the Discord logo from here: https://discord.com/branding

### Screenshots

![image](https://user-images.githubusercontent.com/51391473/187696973-58e4e2d0-0157-4a0f-92f2-1f6baa292299.png)

### Additional information

This is a good first issue. Please leave it open to beginner

[2022-08-31 14:39] Pathholder1806 commented on #1698
Hey @Panquesito7 !
I would like to contribute to this issue

[2022-08-31 14:43] Pathholder1806 commented on #1698
Hey @Panquesito7
I would like to contribute to this issue.

[2022-08-31 14:52] Pathholder1806 commented on #1698
Hey @Panquesito7 !
I have opened a PR kindly review it!

[2022-08-31 16:01] Pathholder1806 commented on #1698
Hey @Panquesito7 !
Is the issue up for merging or will it to stay open? 😀

[2022-08-31 16:17] ferreiratiago opened #1706 "[FEATURE] Use reviewpad to fail a pull request when changing someone else profile"
### Description

A user should be able to **only** change his own profile and not someone else profile.

If this happens the pull request should fail.

We can use [reviewpad](https://github.com/reviewpad/reviewpad) for that.

### Screenshots

_No response_

### Additional information

Update [reviewpad](https://github.com/EddieHubCommunity/LinkFree/blob/main/reviewpad.yml) configuration.

[2022-08-31 16:22] ferreiratiago opened #1707 "[OTHER] Add description to label on reviewpad configuration"
### What would you like to share?

Right now, the [reviewpad](https://github.com/EddieHubCommunity/LinkFree/blob/main/reviewpad.yml) configuration has labels, but theses labels have no `description`.

The idea of this issue is to add the `description` property to the `labels`.

### Additional information

Suggestion

[code]

[2022-09-01 03:14] #1707 closed

[2022-09-01 04:51] kumarsonsoff3 commented on #1629
Closing this one, as it's already resolved by #1628 and #1642

[2022-09-01 04:51] #1629 closed

[2022-09-01 20:02] thamerla opened #1712 "[FEATURE] Integrate LinkFree with Twitter lists"
### Description

[Twitter lists](https://help.twitter.com/en/using-twitter/twitter-lists) is a feature that enables one to create a separate list of users and see their content. Basically, think about it as a custom social media timeline.

The idea 💡 here is to to programmatically create a Twitter list of LinkFree users who have their Twitter handle:
- Preprocess the data that's already in the rep

[2022-09-02 07:23] anirudhp26 commented on #1712
I would Like to work on this feature

[2022-09-02 07:24] anirudhp26 commented on #1712
@thamerla

[2022-09-02 09:25] ChinmayMhatre commented on #1698
Once the PR is merged, issue will be closed.

[2022-09-02 09:30] ChinmayMhatre commented on #1706
Could you explain a bit how this could be done. I could give it a try.

[2022-09-02 10:35] anirudhp26 commented on #1712
@Pradumnasaraf @eddiejaoude I would like to work on this feature, but this requires moderators or code owners consent for making "Twitter Developer's" Account on behalf of linktree
What should i do?

[2022-09-02 10:44] eddiejaoude commented on #1712
Thank you for your energy! I think we should wait a bit and discuss this, because some people may not want this, so it would need to be an opt in

Let's wait for others to share their thoughts on it.

In the meantime have a look at our NextJS branch in the LinkFree project as we are migrating to that and any help appreciated

[2022-09-02 10:47] anirudhp26 commented on #1712
@eddiejaoude Sure

[2022-09-02 11:41] #1686 closed

[2022-09-03 05:01] #1698 closed

[2022-09-04 12:08] ChinmayMhatre commented on #1652
I looked at the `reviewpad.yml` file and got an idea. I saw there is already a rule to check if only one file is added. We could use that to give out a automated message containing the instructions when more than one file is changed or added.

[2022-09-04 21:10] RealSollyM opened #1721 "fix: profile-addition spelling"
### Description

The "chore: profile-addition" label is misspelt.

### Screenshots

_No response_

### Additional information

_No response_